---
title: Ingria Songbook
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сборник песен церкви Ингрии</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <script src="/scripts/abcjs-basic-min.js" type="text/javascript"></script>
    <script src="/scripts/base.js" type="text/javascript"></script>
  </head>
  <body>
    <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/icon.png" width="28" height="28" alt="Logo"/>
        </a>
        {% include 'partials/burger.njk' %}
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          {% include 'partials/links.njk' %}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/playbook/" class="button is-link">
                <span class="is-size-5">Я в церкви</span>
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <div class="field">
              <input id="showMusicSheet" type="checkbox" name="showMusicSheet" class="switch is-info is-medium">
              <label for="showMusicSheet">Ноты</label>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main class="container">{{ content | safe }}</main>
  </body>
</html>