---
title: Ingria Songbook
---
doctype html
html(lang="en")
    head
        include /partials/base/head.pug
    body
        include /partials/base/scripts.pug
        include /partials/navbar/index.pug
        main !{content}
