---
layout: layouts/base.njk
---
<div>
    <nav id="hymn-pagination" class="pagination is-centered" role="navigation" aria-label="pagination"></nav>
    <div>{{ content | safe }}</div>
    <div>Раздел: {{ section }}</div>
</div>