h3 ГОСПОДИ, ПОМИЛУЙ (Kyrie)
div(ref="abc-kyrie")
    #kyrie-abc.abcString(hidden).
        M:4/4
        L:1/4
        K:Ab
        A A A A | G2 !fermata! F2 | z A A A | A-G !fermata! A2 | A A A A | G-F G2 |]
        w: Гос-по-ди, по-ми-луй! Хрис-тос, по-ми - луй! Гос-по-ди, по-ми - луй!
    #kyrie-paper.paper
    #kyrie-lyrics.lyrics Господи, помилуй! Христос, помилуй! Господи, помилуй!