h3 ОТПУЩЕНИЕ ГРЕХОВ
p.is-italic После того как литург объявил прощение грехов.
div
    b Приход:
    div(ref="abc-ameno")
        #ameno-abc.abcString(hidden).
            M:4/4
            L:1/4
            K:F
            F2-E2 | F4 |]
            w: А - минь.
        #ameno-paper.paper
        #ameno-lyrics.lyrics Аминь.
