<div class="block mt-3">
    <h3>ПРИВЕТСТВИЯ</h3>
    <p>
        <b>Литург:</b> Господь да пребудет с вами!</p>
    <p>
        <b>Приход:</b> И с духом твоим.</p>
</div>
<div class="block">
    <h3>МОЛИТВА</h3>
    <p class="is-italic">После того кака литург произнес молитву:</p>
    <p>
        <b>Приход:</b> Аминь. Аминь.</p>
</div>