.block.mt-3
  h3 ПРИВЕТСТВИЯ
  p
    b Литург:
    |  Господь да пребудет с вами!
  p
    b Приход:
    |  И с духом твоим.
.block
  h3 МОЛИТВА
  p.is-italic После того кака литург произнес молитву:
  p
    b Приход:
    |  Аминь. Аминь.