<h1>ИСПОВЕДАНИЕ ГРЕХОВ</h1>
<p class="is-italic">После того, как литург произнес призыв к покаянию, приход молитвенно склоняет головы или встает на колени, произнося одну из следующих молитв:</p>
<br/>
<p>Из глубины взываю к Тебе, Господи! Господи, услышь голос мой. Да будут уши твои внимательны к голосу молений моих. Если Ты, Господи, будешь помнить беззакония - Господи, кто устоит, Но у тебя прощение, да благоговеют пред Тобою. Поэтому, Господи, будь благ и милостив ко мне. По великой милости Своей очисти меня от согрешений моих, омой меня от баззаконий моих и грехов моих. Ибо беззакония мои я сознаю, и грех мой всегда предо мною. Господи, помилуй меня! Во имя Сына Твоего Возлюбленного, Господа нашего, Иисуса Христа.</p>
<h1>ГОСПОДИ, ПОМИЛУЙ (Kyrie)</h1>
<div class="tile is-child box music-sheet">
    <div class="abcString" hidden>
X:1
M:C
L:1/4
K:Am
A A A A | G2 F2 | z A A A | A-G A2 | A A A A | G-F G2 |]
w: Гос-по-ди, по-ми-луй! Хрис-тос, по-ми - луй! Гос-по-ди, по-ми-луй!
    </div>
    <div id="hymn-paper" class="paper"></div>
</div>