div.block.mt-3
    h3 СЛАВА И БЛАГОДАРЕНИЕ
    div#ordinary.block
        h4 В обычные и праздничные дни
        include /partials/content/gloria.pug
    div#advent.block
        h4 В Адвент
    div#lent.block
        h4 В Великий Пост
