<div class="block mt-3">
    <h3>СЛАВА И БЛАГОДАРЕНИЕ</h3>
    <div class="block ordinary">
        <h4>В обычные и праздничные дни</h4>
        {% include "partials/penitence-gloria.njk" %}
        <br/>
        {% include "partials/penitence-laudamus.njk" %}
    </div>
    <div class="block advent">
        <h4>В Адвент</h4>
    </div>
    <div class="block lent">
        <h4>В Великий Пост</h4>
    </div>
</div>