<div class="block mt-3">
    {% include "partials/penitence-prayers.njk" %}
</div>
<div class="block">
    {% include "partials/penitence-kyrie.njk" %}
</div>
<div class="block">
    {% include "partials/penitence-absolution.njk" %}
</div>