.block.mt-3
    h3 СИМВОЛ ВЕРЫ
    p
        b Литург:
        |  Вместе из глубины сердца исповедуем перед Господом нашу святую христианскую веру.
    h5 Апостольский Символ Веры
    p Верую в Бога Отца, Всемогущего, Творца неба и земли;
    p И во Иисуса Христа, Единородного Сына Божия, Господа нашего, зачатого от Духа Святого, рожденного от Марии Девы, пострадавшего при Понтии Пилате, распятого, умершего и погребенного, сошедшего во ад, воскресшего из мертвых в третий день, вознесшегося на небеса, сидящего одесную Бога, Всемогущего Отца, откуда Он придет судить живых и мертвых.
    p Верую в Духа Святого, во Святую Вселенскую Церковь, в общение Святых, в отпущение грехов, воскрешение плоти и жизнь вечную.
    h5 Никейский Символ Веры
    p Верую во единого Бога Отца, Вседержителя, Творца неба и земли, всего видимого и невидимого.
    p И во единого Господа Иисуса Христа, Сына Божия, Единородного, от Отца рожденного прежде веков, Бога от Бога, Света от Света, Бога истинного от Бога истинного, рожденного, не сотворенного, единосущного Отцу, Им жеЕвхаристическое Богослужение все сотворено, сошедшего с небес ради нас и спасения нашего ради, и воплотившегося от Духа Святого и Марии Девы и вочеловечившегося, и распятого за нас при Понтии Пилате, страдавшего и погребенного, и воскресшего в третий день по Писанию, и восшедшего на небеса, и сидящего одесную Отца, и снова грядущего со славою судить живых и мертвых, Его же царствию не будет конца.
    p И в Духа Святого, Господа животворящего, от Отца и Сына исходящего, с Отцом и Сыном споклоняемого и сопрославляемого, говорившего через Пророков. И во единую, Святую, Вселенскую и Апостольскую Церковь. Исповедую единое + крещение во оставление грехов, ожидаю воскресения мертвых и жизни будущего века.