---
layout: layouts/base.njk
---
<section class="hero is-small is-primary has-text-centered">
  <div class="hero-body">
    <p class="title">Сборник песен Церкви Ингрии</p>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-centered">
      <ul>
        <li>
          <a href="/hymns/">Оглавление</a>
        </li>
        <li>
          <a href="/playbook/">Свой плейлист</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<section class="hero is-small is-warning has-text-centered">
  <div class="hero-body">
    <p class="subtitle">Находится в разработке</p>
  </div>
</section>