---
layout: layouts/base.pug
---
section.hero.is-small.is-primary.has-text-centered
  .hero-body
    p.title Сборник песен Церкви Ингрии
  .hero-foot
    nav.tabs.is-centered
      ul
        li
          a(href="/hymns/") Оглавление
        li
          a(href="/playbook/") Свой плейлист
section.hero.is-small.is-warning.has-text-centered
  .hero-body
    p.subtitle Находится в разработке