---
layout: layouts/base.njk
---

{% block js %}
    <script src="/scripts/playbook.js" type="text/javascript"></script>
{% endblock %}
{# List #}
<div class="box p-5 m-5">
    <div class="title">Какие песни поем?</div>
    <ul id="song-list" class="block"></ul>
    {# Buttons #}
    <div class="block field has-addons">
        <div class="control is-expanded">
            <input id="song-input" class="input" type="text" placeholder="Номер гимна"/>
        </div>
        <div class="control">
            <button id="add-song-btn" class="button is-primary">
                Добавить
            </button>
        </div>
    </div>
</div>
{# Start #}
<div class="block">
    <button id="start-btn" class="button is-link is-medium is-fullwidth" disabled="true" onclick="start()">
        Поехали
    </button>
</div>