---
name: 1
section: Адвент
title: Господь, открой небес врата
authors:
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ. Новосибирск, 2002
abcNotation: |
    X:1
    M:3/4
    L:1/4
    K:G
    F | "Em"G2 G | "Am"A2 A | "Em"B2 B |
    w: Гос-подь, от-крой не-бес вра-
    "Em"(F G) A | "Em"E2 E | "Em"(E F G) | "F#"F2 F | "H7"F2 F |
    w: -та, * при-ди, жа-ле-*я и лю-бя. На-
    "Em"G2 G | "Am"A2 A | "Em"B2 B | "Em"(F G) A | "Em"G2 G |
    w: деж-да на-ша и меч-та, * мы так стра-
    "Am"E2 E | "Am"E "H7"^D | "Em"E "Припев:"G/ A/ | "G"B B A/ G/ |
    w: -да-ем без Те-бя. Ал-ли-луй-я, ал-ли-
    "D"A D A | "Em"G (GA G) | "D"F2 G/ A/ |
    w: -луй-я, ал-ли-луй-**я! Ал-ли-
    "G"B B A/ G/ | "D" A D A | "Em" G (GA "H7"F) | "Em"E |]
    w: луй-я, ал-ли-луй-я, ал-ли-луй-**я!
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя, аллилуйя, аллилуйя!
Аллилуйя, аллилуйя, аллилуйя!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Господь, открой небес врата,
Приди, жалея и любя.
Надежда наша и мечта,
Мы так страдаем без тебя
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Приди, Спаситель наш, приди,
Развей ненастье, светлый луч!
Росой небесной снизойди
Сквозь мрак ночной и груды туч.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
О Отчий Сын, мольбе внемли,
Сними вину с детей земли.
Прощенье людям подари
И сумрак сердца озари.
{% endverse %}
{{ chorus() }}
