---
name: 10
section: Адвент
title: О Иисус Спаситель
authors:
  - Мельхиор Тешнер, 1615
  - Пауль Герхардт, 1653
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисус Спаситель,
Надежда всех людей,
Господь и Искупитель,
Краса души моей!
Твоим небесным светом
Даруй мне благодать
Тебя смиренно встретить
И с верою принять.
{% endverse %}
{% verse "2" %}
Твой ветвями маслины
Путь прежде устлан был,
А я лишь гимны ныне
В хвалу Тебе сложил.
Твое я буду имя
Всего превыше чтить
И ревностно отныне
Тебе всегда служить.
{% endverse %}
{% verse "3" %}
О Боже мой, страдая,
Меня Ты искупил:
Когда за грех из рая
Навек я изгнан был,
Когда за прегрешенья
Я должен был страдать –
Пришел Ты утешенье
И радость вновь мне дать.
{% endverse %}
{% verse "4" %}
Тебя что побудило
Сойти с небес наземь? –
Всемилосердья сила,
Любовь Твоя ко всем.
Чтоб людям дать спасенье,
Оставил Ты престол,
Для страшного мученья
На землю Ты сошел.
{% endverse %}
{% verse "5" %}
Не думайте всечасно
О горестях своих,
Ведь Бог-Отец всевластен
Избавить нас от них.
Бог близок. Он охотно
С плеч любящих Его
Снимает гнет заботы
И горестей ярмо.
{% endverse %}
{% verse "6" %}
Запомни же все это
Ты сердцем, род людской!
Приходит час рассвета,
Спаситель близок твой.
Приди скорей, Спаситель!
Мы ждем Тебя! Приди!
Оправданных в обитель
Блаженную введи!
{% endverse %}
