---
name: 100
section: Пасха
title: Ныне день настал великий
authors:
  - Финляндия, Северное Саво
  - Иоанн Франк, 1653
  - Перевод: Рабочая группа ЕЛЦИ, 2013
  - на основе перевода Б. Казачкова, 1992
---
{% verse "1" %}
Ныне день настал великий,
Милости и света день,
Торжества и ликованья:
Иисус пленил наш плен!
Сам восстав из тьмы могилы,
Вечно жить Он дал нам силу.
{% endverse %}
{% verse "2" %}
Где теперь твоя победа,
Ад, - и смерть, и грех, и гнет?
Древний змий, князь тьмы от века
Власть над нами не возьмет.
Победил его Спаситель,
Верующих Искупитель.
{% endverse %}
{% verse "3" %}
Были некогда рабами
Беззаконья и греха,
Смерти страх довлел над нами,
Погружались в бездну зла.
Ныне нет нам принужденья,
Всем Христос – Освобожденье!
{% endverse %}
{% verse "4" %}
Фараон, царь нечестивый,
В водах моря потоплен,
Голиаф, силач хвастливый,
Вновь Давидом побежден.
Прочь же, древний страх, губитель,
Нам теперь Христос Властитель!
{% endverse %}
{% verse "5" %}
Христиане, торжествуйте:
Наш Спаситель победил,
В благодарности ликуйте:
День великий наступил.
Распрощались мы с грехами,
Смерть не властвует над нами.
{% endverse %}
{% verse "6" %}
Вы воспряньте, сердце, разум,
Восхвалять Царя Христа!
Славословь, язык, воспойте
Благодарные уста!
Песню новую слагаем
Милость Божью прославляем!
{% endverse %}
