---
name: 101
section: Пасха
title: Surrexit Dominus vere
authors:
  - Жак Бертье (1923-1994)
  - Русский текст: А. Куличенко
---
{% verse "1" %}
Surrexit Dominus vere. Alleluia, alleluia.
Surrexit Christus hodie. Alleluia, alleluia.
{% endverse %}
{% verse "2" %}
Ныне воскрес наш Спаситель, аллилуйя, аллилуйя!
Ныне Христос из гроба восстал, аллилуйя, аллилуйя!
{% endverse %}
