---
name: 102
section: Пасха
title: Аллилуйя! Аллилуйя! Пойте сердцем и душой!
authors:
  - Р. Х. Причард, 1844
  - В. Ч. Дикс, 1867
---
{% verse "1" %}
Аллилуйя! Аллилуйя!
Пойте сердцем и душой!
Пойте Богу песнь хваленья,
Гимны радости святой.
Тот, Кто был распят на древе,
Умирал за нас на нем,
Царь Небес восстал из мертвых
С бесконечным торжеством.
{% endverse %}
{% verse "2" %}
Узы смерти ныне сняты,
Жизнь из гроба родилась.
Он воскрес, и жизнь бессмертья
В наши души пролилась.
Победил Христос, и люди
Видят правды торжество.
Мы восстанем к жизни вечной
Воскресением Его.
{% endverse %}
{% verse "3" %}
Ты воскрес, и мы воскреснем.
Дай всем сердцем воспринять
Радость вечного спасенья
И живую благодать,
Чтоб, живя сердцами в небе,
Здесь мы дали плод живой,
Чтоб, на зов Небес собравшись,
Вечно были мы с Тобой.
{% endverse %}
{% verse "4" %}
Аллилуйя! Аллилуйя!
Слава Богу вечных сил.
Аллилуйя Иисусу,
Ад и смерть Он победил!
Аллилуйя Духу Божью!
Святость и величье в Нем! 
Аллилуйя! Аллилуйя!
Славу Троице поем!
{% endverse %}
