---
name: 103
section: Пасха
title: Горит зарею свод небес!
authors:
  - Николай Герман, 1560
  - Томас Хартманн, 1604
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Горит зарею свод небес!
Христос, Спаситель мой, воскрес!
Он мрак рассеял, грех попрал
И свет, и жизнь мне даровал.
Аллилуйя!
{% endverse %}
{% verse "2" %}
Три дня лишь Искупитель мой
Был поглощен могильной тьмой.
На третий день гробницу Он
Расторг, и грех был побежден.
Аллилуйя!
{% endverse %}
{% verse "3" %}
Воитель, нет врагов таких,
Чтоб не сразил Ты власти их,
И груз греха с души моей
Ты снимешь силою Своей.
Аллилуйя!
{% endverse %}
{% verse "4" %}
Воскрес Он! Что ж мне унывать?
Господь пришел меня спасать.
Оставит пусть весь мир меня –
Христос со мной, и счастлив я.
Аллилуйя!
{% endverse %}
{% verse "5" %}
Моя отрада Он, мой щит,
Меня от зла освободит.
Я у Него найду покой,
К Нему стремлюсь я всей душой.
Аллилуйя!
{% endverse %}
{% verse "6" %}
Христос воскрес, Им я прощен,
И в Нем я с Богом примирен!
Он к царству праведных меня
Зовет, от гибели храня.
Аллилуйя!
{% endverse %}
{% verse "7" %}
За всю любовь и благодать
Тебя мы будем восхвалять
И здесь, и там, когда в свой час
К Себе в обитель примешь нас.
Аллилуйя!
{% endverse %}
