---
name: 104
section: Пасха
title: Хвала Тебе, Иисус Христос
authors:
  - Николай Герман, 1560
  - Томас Хартманн, 1604
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Хвала Тебе, Иисус Христос,
Что Ты наш грех на крест вознес,
И смертью смерти власть попрал,
И к новой жизни нас призвал!
Хвала Тебе!
{% endverse %}
{% verse "2" %}
Тебя мы славим в этот час:
Ты снял греха оковы с нас,
О, помоги смиренно нам
Идти лишь по Твоим стопам!
Хвала Тебе!
{% endverse %}
{% verse "3" %}
Отец и Сын и Дух Святой,
К Тебе возносимся душой!
Услышь молитвы нашей глас
И ныне, и в грядущий час!
Хвала Тебе!
{% endverse %}
