---
name: 105
section: Пасха
title: Великий праздник наступил
authors:
  - Николай Герман, 1560
  - Николай Герман, 1560
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Великий праздник наступил,
Он радость людям подарил.
Христа сегодня торжество.
Повержен враг у ног Его.
Аллилуйя!
{% endverse %}
{% verse "2" %}
И змея древнего - вражду,
Все страхи ада и нужду,
И смерть, и горе - всё попрал
Христос, из мертвых Он восстал.
Аллилуйя!
{% endverse %}
{% verse "3" %}
Нам с этих пор смерть не страшна,
Она теперь обречена
Пред силой Божьей отступить,
Он смертью смерть смог победить!
Аллилуйя!
{% endverse %}
{% verse "4" %}
За этот дар мы ныне все
Поем хвалу, Христос, Тебе!
Греха оковы не страшны,
Свободны мы и спасены!
Аллилуйя!
{% endverse %}
