---
name: 106
section: Пасха
title: Ты, Господь, мне жизни свет
authors:
  - Берлин, 1653
  - Берлин, 1653
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ты, Господь, мне жизни свет,
Ты мой мир и воскресенье.
Ты живешь – мне смерти нет,
Ты мне кровью дал спасенье.
И ведешь меня с Собой
К вечной жизни, в край родной.
{% endverse %}
{% verse "2" %}
Верны Господа слова:
Искупленье нам отрада.
Он воскрес, наш Вождь, Глава,
Он попрал все силы ада.
И мы следом за Главой
Входим в царственный покой.
{% endverse %}
{% verse "3" %}
Я войду на брачный пир, 
Там узрю Тебя, Спаситель!
Радость вечную и мир 
Мне дарует Искупитель.
Там, Господь мой, я душой
Буду вечно жить с Тобой!
{% endverse %}
