---
name: 107
section: Пасха
title: Жив Христос! А с Ним и я.
authors:
  - Берлин, 1653
  - Х. Ф. Геллерт, 1757
---
{% verse "1" %}
Жив Христос! А с Ним и я.
Смерть, скажи, где твое жало?
Тот, Кто умер за меня,
Новой жизни дал начало.
И меня Он воскресит.
Он – Спаситель мой и щит!
{% endverse %}
{% verse "2" %}
Жив Христос! Ему дана
Власть под небом и на небе.
Он призвал к Себе меня,
Мне дает чудесный жребий.
Что сказал, то совершит.
Он – Спаситель мой и щит!
{% endverse %}
