---
name: 108
section: Пасха
title: То зерно, что в землю, словно в смерть, ушло
authors:
  - Франция, 15 век
  - Дж. М. Кэмпбелл Крум, 1928;
  - Ю. Хенкис, 1978
  - Перевод: А. Тихомиров
---
{% verse "1" %}
То зерно, что в землю, словно в смерть, ушло,
Молодым побегом по утру взошло.
Так и любовь, что мертвою слыла:
Словно всходы в поле, жизнью вновь полна.
{% endverse %}
{% verse "2" %}
В пыль и грязь втоптали Божию любовь,
На кресте распяли, положили в гроб.
Но ночь прошла, и третий день настал,
И любви Властитель из могилы встал.
{% endverse %}
