---
name: 109
section: Вознесение
title: Что стоите в изумленье
authors:
  - Польша, 16 век
  - Польша, 16 век
  - Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
Что стоите в изумленье,
Слуги робкие Христовы?
Славьте радость вознесенья,
Обещанье жизни новой!
{% endverse %}
{% verse "2" %}
Люди, радостно воспряньте,
Пойте Господу, ликуя:
«Аллилуйя! Аллилуйя!
Аллилуйя! Аллилуйя!»
{% endverse %}
{% verse "3" %}
От рассвета до захода
Славьте Господа псалмами:
Стал Христос Царем народов,
Стали мы Его сынами.
{% endverse %}
{% verse "4" %}
Нет иных владык Вселенной,
Нет иного совершенства:
Ты – Единый, несравненный,
Наша радость и блаженство.
{% endverse %}
{% verse "5" %}
О, вознесшийся во славе,
Наш Господь, Освободитель!
Ты всё Тот же милосердный
Пастырь Добрый и Спаситель.
{% endverse %}
{% verse "6" %}
Лейся громко, песнь святая,
Поднимите взоры снова:
В небесах для нас сияет
Царство светлое Христово!
{% endverse %}
