---
name: 11
section: Адвент
title: Омойте безотложно
authors:
  - Франция, 1557
  - Валентин Чило младший, 1642
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Омойте безотложно
Вы верою сердца,
Чтоб воспринять, как должно,
Избранника Отца.
По милости лишь дал
Нам Бог обет спасенья
И ради искупленья
Он Сына нам послал.
{% endverse %}
{% verse "2" %}
Вы радостно встречайте
Иисуса своего,
Сердца приготовляйте
К пришествию Его.
Исправьте все пути:
Что высоко - понизьте,
Что низко, то повысьте,
Чтоб мог Он к вам войти.
{% endverse %}
{% verse "3" %}
Свое Ты милосердье
Мне, Боже, окажи,
Принять Тебя усердье
Мне в сердце Ты вложи.
К Тебе взываю я:
Приди, пребудь со мною.
Устами и душою
Я восхвалю Тебя.
{% endverse %}
