---
name: 110
section: Вознесение
title: Соединим хваленья песнь
authors:
  - Сборник Нижегородского Прихода ЕЛЦИ
---
{% verse "1" %}
Соединим хваленья песнь
Мы с хором вышних сил,
Единых в общем торжестве,
Поющих Богу гимн!
{% endverse %}
{% verse "2" %}
Величат ангелы Христа,
Кто в небо вознесен,
И мы поем хвалу Тому,
Чьей кровью мир спасен.
{% endverse %}
{% verse "3" %}
Иисус достоин честь принять
И власть на небесах!
Да будет Он благословен
И ныне, и в веках!
{% endverse %}
{% verse "4" %}
Пусть имя светлое Его
Величит вся земля!
Велико наше торжество
В обители Царя!
{% endverse %}
