---
name: 111
section: Вознесение
title: На воскресение Христа
authors:
  - Мартин Лютер, 1529
  - Эрнст Зоннеман, 1661
  - Русский сборник лютеранских гимнов, 1915
---
{% verse "1" %}
На воскресение Христа
Мое все упованье,
И бремя тяжкое креста
Несу я без роптанья.
Где Он, Глава наш, быть и нам,
Господь наш по Своим стопам
Введет в Свои владенья.
{% endverse %}
{% verse "2" %}
На Небеса Христос взошел.
Великими дарами
Меня к спасению привел.
Там, у Отца, над нами,
В Его обители святой
Моя душа найдет покой,
Нерушимый скорбями.
{% endverse %}
{% verse "3" %}
Благоволи меня принять,
Услышь мои моленья!
Ты мне даруешь благодать
Среди мирских волнений,
И с радостью душа моя,
Когда сей мир покину я,
Наследует спасенье.
{% endverse %}
