---
name: 112
section: Пятидесятница
title: Лишь Дух Святой влечет сердца
---
{% verse "1" %}
Лишь Дух Святой влечет сердца
С греховного пути,
Чтоб дать им радость без конца
И в правде соблюсти.
{% endverse %}
{% verse "2" %}
Лишь Дух Святой вселяет в нас
Безмерную любовь,
Его огонь во всякий час
Горел во тьме веков.
{% endverse %}
{% verse "3" %}
Лишь Дух Святой несет дары,
Что так желанны нам,
Он в твердой вере нас хранит
И мир дает сердцам.
{% endverse %}
{% verse "4" %}
Лишь Дух Святой помог познать
Господню благодать.
О Дух Святой, мы ждем, приди,
Наставь и освяти!
{% endverse %}
