---
name: 113
section: Пятидесятница
title: Дух Святой, Дух благодати
authors:
  - Р. Робинсон, 1735-1790
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Дух Святой, Дух благодати.
Милость Божью нам открой
И сердца сюда пришедших
К пенью дружному настрой!
Научи нас петь ту песню,
Что в небесной высоте
Ныне хор поет небесный
О Спасителе Христе.
{% endverse %}
{% verse "2" %}
Нас храни во всех невзгодах,
Как доныне нас хранил.
Укрепляй нас год от года
В вере твердой и любви!
Дай нам силу, дай нам мудрость
Не сойти с Твоих путей.
Да пребудем неизменно
В святости и чистоте!
{% endverse %}
