---
name: 114
section: Пятидесятница
title: Приди, Дух Святой, утешитель
authors:
  - И. Б. Кёниг (Германия, 1691-1758)
---
{% verse "1" %}
Приди, Дух Святой, утешитель,
В сердечной царствуй глубине,
Ты высшей мудрости учитель,
Открой святую волю мне.
Учи меня познать Творца,
Учи любить Отца.
{% endverse %}
