---
name: 115
section: Пятидесятница
title: Дух Святой, небесный свет
authors:
  - Орландо Гиббонз, 1623
  - Эндрю Рид, 1817
---
{% verse "1" %}
Дух Святой, небесный свет
В сердце грешное излей,
Чтобы тьмы исчез и след,
Убоясь его лучей.
{% endverse %}
{% verse "2" %}
Дух Святой, Твоим огнем
Сердце слабое очисть,
Долго грех гнездился в нем,
Отравляя мою жизнь.
{% endverse %}
{% verse "3" %}
Дух Святой, возвесели
Сердце скорбное мое;
Язвы, раны исцели,
Песни славы да поет.
{% endverse %}
{% verse "4" %}
Дух Святой, приди в тиши,
Поселись в душе моей,
Всех кумиров сокруши,
Воцарись навеки в ней.
{% endverse %}
