---
name: 116
section: Пятидесятница
title: Повей, Дух Божий, вновь
authors:
  - Англия, 1770
  - Э. Хэтч (1835-1889)
---
{% verse "1" %}
Повей, Дух Божий, вновь,
Открой источник благ,
Чтоб проявлял Твою любовь
Во всех моих делах.
{% endverse %}
{% verse "2" %}
Повей, Дух Божий, вновь
И сердце так очисть,
Чтоб отдалилась от грехов
Моя земная жизнь!
{% endverse %}
{% verse "3" %}
Повей, Дух Божий, вновь,
Чтоб в этом мире злом
Я исповедовал Тебя
И верен был во всем.
{% endverse %}
{% verse "4" %}
Повей, Дух Божий, вновь,
Чтоб смерти я не знал,
Чтоб сердцем и душой вовек
Иисуса прославлял!
{% endverse %}
