---
name: 117
section: Пятидесятница
title: О Дух Святой, мы молим Тебя
authors:
  - Виттенберг, 1524
  - 12 век (куплет 1);
  - Мартин Лютер, 1524 (куплеты 2-4)
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Дух Святой, мы молим Тебя
Средь сокрушений к нам нисходя,
Готовь к концу Ты нас жизни благому
И к миру нас веди неземному.
Христос, помилуй!
{% endverse %}
{% verse "2" %}
О света Свет, Ты нас озари
И благодатью нас одари,
Пусть будет с нами Господь постоянно
И нас ведет к Отчизне желанной!
Христос, помилуй!
{% endverse %}
{% verse "3" %}
Соблазны мира все обличи
И нас любви Своей научи,
Чтобы ее мы во всем проявляли
И только Божьей воли искали.
Христос, помилуй!
{% endverse %}
{% verse "4" %}
О Утешитель, нас посети,
Коль смерти страх настигнет в пути.
Дай веру твердую в Божье прощенье
В ответ на все врага обвиненья.
Христос, помилуй!
{% endverse %}
