---
name: 118
section: Пятидесятница
title: О Сотворитель Дух, приди
authors:
  - На основе гимна 9 века Veni Creator Spiritus
  - На основе гимна 9 века Veni Creator Spiritus
  - Перевод: Михаил Левин, 1998
---
{% verse "1" %}
О Сотворитель Дух, приди,
Вкусить дай неба благодать
И души верных посети,
Чтоб в вере Божьей пребывать.
{% endverse %}
{% verse "2" %}
Даров небесных благодать,
Ты сила Сына и Отца,
Могущий зренье даровать
И к вере привести сердца.
{% endverse %}
{% verse "3" %}
О наша Мудрость, наш удел,
Сердца холодные согрей
И хрупкость бренных наших тел
Исполни крепостью Твоей.
{% endverse %}
{% verse "4" %}
Врага навеки изгони,
Да будет в душах Твой покой,
Да отвратимся мы от зла,
Что искушает род людской.
{% endverse %}
{% verse "5" %}
Веди нас к Господу Отцу
И дай познать нам Сына путь,
О Дух, дыхание любви,
До дней скончанья с нами будь.
{% endverse %}
{% verse "6" %}
Отцу Небесному хвала,
Во славе с Ним Воскресший Сын
И Дух, что укрепляет нас.
Бог свят! Бог вечен! Бог един!
{% endverse %}
