---
name: 119
section: Пятидесятница
title: Духом Твоим, о Господь мой
authors:
  - Илкка Куусисто, 1979
  - Пия Перкиё, Анна-Майя Райттила, 1979
  - Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Духом Твоим, о Господь мой,
Тихо коснись меня,
Освети шаги мои
Вечного светом дня.
{% endverse %}
{% verse "2" %}
Духом Святым мое сердце
Ты освети до дна
И надежду пробуди
На одного Христа.
{% endverse %}
{% verse "3" %}
Ты ободри меня, Боже,
Страх мой, как дым, развей
И призванье укажи
Здесь, на земле Твоей.
{% endverse %}
{% verse "4" %}
Очи открой, о Дух Божий,
И освяти меня,
Чтоб со мною мои друзья
Славили здесь Тебя.
{% endverse %}
{% verse "5" %}
Духом Твоим, о мой Боже,
Ты пробуди меня,
Чтоб Тебя благодарил,
Жизнью всей возлюбя.
{% endverse %}
