---
name: 12
section: Адвент
title: Слава Господу Отцу!
authors:
  - Староцерковная мелодия в обработке М. Лютера, 1524
  - Генрих Гелд, 1658
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Слава Господу Отцу!
Верный Слову Своему,
Он, свершая Свой завет,
Шлем нам помощь и совет.
{% endverse %}
{% verse "2" %}
Вот уж несколько веков
Многие из праотцов
Говорили про Христа,
Искупителя греха.
{% endverse %}
{% verse "3" %}
То для них была тогда
Лишь чудесная мечта.
То, что видели во сне,
Днесь исполнилось вполне.
{% endverse %}
{% verse "4" %}
Непорочной Девы Сын
Мира взял грехи один
И за грешный род людской
На тяжелый вышел бой.
{% endverse %}
{% verse "5" %}
Слава, Господи, Тебе,
Слава вечно и везде!
О, молю, Себе пути
В моем сердце обрети!
{% endverse %}
{% verse "6" %}
От нечистых мыслей всех,
От греховности утех
Сердце Ты освободи
И обитель в нем найди!
{% endverse %}
{% verse "7" %}
Будь, Христе, всегда со мной,
Ибо немощен дух мой
 И соблазны сатаны
Для меня еще сильны.
{% endverse %}
{% verse "8" %}
Змея Ты поверг пятой,
Чтоб искупленных Тобой
Не пугал уж Судный час,
Ведь Ты принял смерть за нас.
{% endverse %}
