---
name: 120
section: Пятидесятница
title: Предвечный Дух, приди и свет любви излей
---
{% verse "1" %}
Предвечный Дух, приди и свет любви излей
И царство правды утверди в сердцах Твоих детей,
И царство правды утверди в сердцах Твоих детей.
{% endverse %}
{% verse "2" %}
Дай чувствовать, что в нас и с нами вечно Ты,
Что близок Ты и в светлый час, и в пору темноты,
Что близок Ты и в светлый час, и в пору темноты.
{% endverse %}
{% verse "3" %}
Дай глубже познавать премудрость слов Твоих,
Чтоб нам Твой голос отличать от голосов иных,
Чтоб нам Твой голос отличать от голосов иных.
{% endverse %}
{% verse "4" %}
Предвечный Дух, приди и мир излей в сердца!
Среди страданий научи благодарить Творца,
Среди страданий научи благодарить Творца!
{% endverse %}
