---
name: 121
section: Пятидесятница
title: Боже, открой мои глаза
authors:
  - К. Скотт, 1895
  - К. Скотт
  - Перевод: Н. Волкославская, 1995
---
{% verse "1" %}
Боже, открой мои глаза,
Чтобы увидел я Твой свет,
Много вопросов у меня,
Ты мне пошли на них ответ.
Жду и молюсь я в тишине –
Волю святую мне открой.
Разум мой светом озари,
О Дух Святой!
{% endverse %}
{% verse "2" %}
Боже, приди, отверзи слух,
Чтобы я слышал голос Твой.
Пусть он звучит в душе моей
Вечною правдой неземной.
Жду и молюсь я в тишине –
Вечную правду мне открой!
Буду внимать словам Твоим,
О Дух Святой!
{% endverse %}
{% verse "3" %}
Боже, Ты сердце мне открой,
Чтобы мне с радостью принять
Дар незаслуженной любви –
Духа Святого благодать.
Жду и молюсь я в тишине –
О Боже мой, пребудь со мной!
Сердце мое наполни Ты,
О Дух Святой!
{% endverse %}
