---
name: 122
section: Троица
title: Господь Великий, Свет Живой
authors:
  - Адаптированное латинское песнопение O Lux Beata Trinitas, 4 век
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Господь Великий, Свет Живой,
Единый в Троице Святой.
К нам с высоты небес сойди
И души наши освяти.
Аминь.
{% endverse %}
{% verse "2" %}
Дай слышать, Боже, нам Твой глас,
Чтоб вера укреплялась в нас.
Пусть наши верные сердца
Восхвалят Вечного Творца!
{% endverse %}
{% verse "3" %}
Храни, Господь, от суеты
Свою Святую Церковь Ты
И в наши дни, и до конца,
Когда войдем мы в дом Отца.
{% endverse %}
{% verse "4" %}
Твоей лишь силой мы стоим,
Мы живы Словом лишь Твоим,
О Триединый Бог живой,
Отец и Сын и Дух Святой!
{% endverse %}
