---
name: 123
section: Троица
title: О Пресвятая Троица
authors:
  - Адаптированное григорианское песнопение
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
О Пресвятая Троица,
Величье, трижды равное,
И во Вселенной сущего
Первопричина вечная.
{% endverse %}
{% verse "2" %}
Тебя все мироздание
Благословляет в вечности,
Всё воинство небесное
В хваленье исповедует!
{% endverse %}
{% verse "3" %}
Прими к Тебе взывающих,
Услышь молитвы, Господи,
И в гимнах, славословиях
Сердца возвысь к небесному!
{% endverse %}
{% verse "4" %}
В единый свет Твой веруем,
О Триединый Господи!
Пусть всякое дыхание
Прославит Бога Вышнего!
{% endverse %}
{% verse "5" %}
Восхвалим Безначального
И с Ним - Единородного,
Святого Духа благости
В Единой Божьей Троице!
Аминь.
{% endverse %}
