---
name: 124
section: Троица
title: Восхвалим мы Творца
authors:
  - Йохан Крюгер, 1647
  - Иоганн Готфрид Олеарий, 1665
---
{% verse "1" %}
Восхвалим мы Творца
И сердцем, и устами!
Он чудеса творит
И в нас, и перед нами.
С начала наших дней
По настоящий час
Он щедростью Своей
Обогащает нас.
{% endverse %}
{% verse "2" %}
Восхвалим Господа,
Вовек Христа Живого,
За нас перед Отцом
Заступника благого.
Нас смертию Своей
От смерти искупил,
Собой от власти зла
Нас всех освободил.
{% endverse %}
{% verse "3" %}
Восхвалим, Дух Святой,
Тебя, Даятель силы!
В нас жизнь Христа открой,
Веди нас до могилы.
Нас к Господу Христу
Всех призывает Он,
Дает всю полноту
В общении святом.
{% endverse %}
{% verse "4" %}
Хвалу и честь Тебе
Возносим бесконечно,
Отец и Сын и Дух,
Творец всего Предвечный!
О Триединый Бог,
К Тебе склоним сердца!
Ты был, есть и вовек
Пребудешь без конца!
{% endverse %}
