---
name: 125
section: Троица
title: Восхвалим мы Творца
authors:
  - Йохан Крюгер (Германия, 1598-1662)
  - М. Ринкарт (Германия, 1586-1649)
  - Перевод: А. Бычков, А. Гришин, А. Прилуцкий
---
{% verse "1" %}
Восхвалим мы Творца
И сердцем, и устами.
Земля и небеса
Живут Его делами.
С начала наших дней
И в наступивший час
Он милостью Своей
Обогащает нас.
{% endverse %}
{% verse "2" %}
О Боже, ниспошли
И мир и радость в сердце.
В Тебе мы обрели
Нетленное наследство.
Помилуй нас, Господь,
Детей Своих любя.
Ты мир наш и оплот,
Нас защити в скорбях.
{% endverse %}
{% verse "3" %}
Прими от верных слуг,
Господь, благодаренье!
Отец и Сын и Дух,
В Тебе одном спасенье.
Ты был всегда и есть,
О Триединый Бог,
Тебе хвала и честь –
Господь и Царь веков.
{% endverse %}
