---
name: 126
section: Троица
title: Всех благ источник, чтим Тебя!
authors:
  - Л. Буржуа, 1551
  - Г. Терстеген, 1745
---
{% verse "1" %}
Всех благ источник, чтим Тебя!
Тебе внимаем мы, любя.
С небесной высоты опять
На нас нисходит благодать!
{% endverse %}
{% verse "2" %}
Средь нас пребудь, Творец Господь,
Благослови в нас душу, плоть;
Оберегай нас день и ночь,
Когда от бед нам жить невмочь.
{% endverse %}
{% verse "3" %}
Христос, Господь, Ты всех нас спас,
Пусть лик Твой осияет нас,
Узрим, сомнений не тая,
Что вечна милость к нам Твоя.
{% endverse %}
{% verse "4" %}
Дух Божий, милость нам яви,
Сердца надеждой оживи,
Пусть в нас Твоя любовь живет,
А вера крепнет и растет!
{% endverse %}
{% verse "5" %}
Отец наш, Сын и Дух Святой,
Нам радость вечную открой!
Сердца прощеньем ороси
И в мир Твой горний вознеси!
{% endverse %}
