---
name: 127
section: Троица
title: Свят! Свят! Свят Ты! Бог Всемогущий!
authors:
  - Дж. Дюкс, 1861
  - Р. Хебер, 1826
---
{% verse "1" %}
Свят! Свят! Свят Ты! Бог Всемогущий!
Рано утром песни наши Вознесем к Тебе.
Свят! Свят! Свят Ты! Милостивый, сильный!
Бог наш в Трех Лицах, Триединый Бог!
{% endverse %}
{% verse "2" %}
Свят! Свят! Свят Ты! Чтут души верных
Твой лик в радости на небе у кристальных вод.
Херувимы, серафимы пред Тобою,
Ты был всегда и будешь без конца.
{% endverse %}
{% verse "3" %}
Свят! Свят! Свят Ты! Бог Сокровенный,
Не достойны, грешные, мы на Тебя взирать!
Свят лишь Ты, о Боже, нет святых без Бога!
Бог вечной силы, правды, чистоты!
{% endverse %}
{% verse "4" %}
Свят! Свят! Свят Ты! Бог Всемогущий,
Славят Твое имя небо, море и земля!
Свят! Свят! Свят Ты! Милостивый, Сильный,
Бог наш в Трех Лицах, Триединый Бог!
{% endverse %}
