---
name: 128
section: Троица
title: Да будет Богу в вышних честь
authors:
  - Германия, 1539
  - Николаус Дециус, 1525
---
{% verse "1" %}
Да будет Богу в вышних честь,
И слава, и хваленье!
Он милосерд, Он был и есть
Податель утешенья.
Он прежде дней нас возлюбил,
Христом от ада искупил,
Освободил от смерти.
{% endverse %}
{% verse "2" %}
Тебя, Отец, во все века
Творенье прославляет,
Твоя всесильная рука
Всем миром управляет.
И кто же власть Твою постиг?
Что Ты велишь, свершится вмиг,
О Боже Всемогущий!
{% endverse %}
{% verse "3" %}
С Отцом Единородный Сын,
Иисус Христос Спаситель.
Смог смерть попрать лишь Ты один,
Лишь Ты – наш Искупитель.
О Агнец Божий, в трудный час
Услышь молитвы нашей глас!
Помилуй нас, о Боже!
{% endverse %}
{% verse "4" %}
О Дух Святой, через Тебя
Господь нас утешает!
Будь с нами, если мы в скорбях
Иль дьявол искушает.
За нас Спаситель наш, Христос,
Мученья, крест и смерть понес.
На то мы уповаем!
{% endverse %}
