---
name: 129
section: Троица
title: Приди, о Боже, к нам
authors:
  - Ф. де Жиардини, 1769
  - Неизвестный автор, 18 век
  - Перевод: Д. Ясько
---
{% verse "1" %}
Приди, о Боже, к нам,
Открой людским сердцам
Твою любовь.
Наш Отче праведный,
Во всем прославленный,
Приди и царствуй во
Веки веков
{% endverse %}
{% verse "2" %}
Приди, Всевластный Сын,
Шатры любви раскинь,
Спаси людей!
Нам все грехи прости,
Открой добра пути
И Духа святости
На нас излей!
{% endverse %}
{% verse "3" %}
Приди, Предвечный Дух,
И через верных слуг
Учи народ.
В сердца Твой мир вселяй,
Веди в небесный край
И мощь Твою являй
Из рода в род.
{% endverse %}
{% verse "4" %}
Наш Триединый Бог,
Тебе и в день тревог
Поем псалмы.
Нам мощь Твою открой,
Яви в нас образ Твой,
Чтоб вечно жить с Тобой
Сумели мы.
{% endverse %}
