---
name: 13
section: Адвент
title: Ликуйте ныне, братья
authors:
  - Иоганн Крюгер, 1640
  - М. Ширмер, 1640
---
{% verse "1" %}
Ликуйте ныне, братья,
Недолго уж страдать:
Нам Бог раскрыл объятья,
Дана нам благодать.
В смиренье Сын пришел,
Но Он силен разрушить
Мрак тьмы, чтоб наши души
От всех избавить зол.
{% endverse %}
{% verse "2" %}
Ни славы, ни короны
Он в мире не искал –
Всю власть на горнем троне
Ему Отец отдал.
Но эту власть с Себя
Сложил Он со смиреньем,
Пройдя чрез все мученья,
Свершил завет Отца.
{% endverse %}
{% verse "3" %}
Он к нам вернется снова,
Мир светом озарит,
Все жалобы и стоны
Он в радость обратит.
Жених уж на пути!
Его вы ожидайте
И лампы заправляйте,
Чтоб веры свет светил!
{% endverse %}
