---
name: 130
section: Преображение
title: Господь, мы здесь с Тобой
authors:
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Господь, мы здесь с Тобой
Во славе Ты велик,
И от одежд исходит свет
Подобен солнцу лик!
{% endverse %}
{% verse "2" %}
Господь, как хорошо
Нам было созерцать,
Как Моисей и Илия
Явились к нам опять!
{% endverse %}
{% verse "3" %}
Исполнил Ты завет,
Надежду даровал!
Тебе мы славу воздаем,
Ты нам спасенье дал!
{% endverse %}
{% verse "4" %}
Ты нам явил Свой свет,
Во славе просиял,
Храни, Спаситель, нас от бед,
Чтоб мрак нас не объял!
{% endverse %}
