---
name: 131
section: День всех святых
title: За всех святых, что к Богу отошли
authors:
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
За всех святых, что к Богу отошли,
Что не напрасно жили меж людьми,
Спаситель наш, от нас хвалу прими.
Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "2" %}
Ты был для них надежною скалой,
Ты их хранил в опасности любой,
Ты был им светом в темноте ночной.
Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "3" %}
Когда настанет полнота времен,
От всех народов и со всех сторон
Святые встретятся воспеть псалом.
Аллилуйя! Аллилуйя!
{% endverse %}
