---
name: 132
section: Судное воскресенье
title: «Пробуждайтесь!» - раздается
authors:
  - Филипп Николаи (1556-1608)
  - Перевод: Михаил Левин
---
{% verse "1" %}
«Пробуждайтесь!» - раздается
Глас стражи на стенах и льется:
«Проснись, Иерусалим святой!
Полночь бьет! Скорее, где вы?
Вставайте, умные вы девы,
Зажгите ярко ваш огонь!
Скорей, Жених идет,
Он вас к Себе зовет!
Аллилуйя!
Бьет свадьбы час,
Зовет Он вас!
Идите Жениха встречать!»
{% endverse %}
{% verse "2" %}
Град Сион внял стражи пенью,
И весь он предался моленью,
И песнь хвалебная звучит.
К нам Иисус с небес нисходит
И милосердно речь заводит.
Звезда над городом горит.
Теперь вручи, Отец,
Обещанный венец!
Осанна!
В любви святой
Вслед за Тобой
Войдем мы в рай небесный Твой!
{% endverse %}
{% verse "3" %}
Громко гимны раздаются
И хором ангелов поются
Под звуки арф и лютен звон.
Из двенадцати жемчужин
Врата построены, и чуден
Венец любви, небесный трон.
Кто где-либо видал
Иль где-нибудь слыхал
Столько счастья!
Мы все встаем
И все поем,
Тебе хвалу мы воздаем!
{% endverse %}
