---
name: 133
section: Судное воскресенье
title: Пришла пора, настал черед
authors:
  - М. Лютер, 1529
  - Б. Рингвальдт
  - Перевод: Е. Ури, 2002
---
{% verse "1" %}
Пришла пора, настал черед
Явиться Сыну Божью:
Судить в величии грядет
Меж истиной и ложью.
И смолкнет вмиг
Безбожный смех,
Огонь поглотит всё и всех
Так Петр писал об этом.
{% endverse %}
{% verse "2" %}
Тогда раздастся трубный глас
Во всех концах Вселенной,
Восстанут мертвые тотчас,
Как были бы нетленны.
Живых нас обновит Господь:
Изменит дух, изменит плоть
И облечет в бессмертье.
{% endverse %}
{% verse "3" %}
Затем пред Богом соберут
Великих всех и малых;
Раскроют книгу и прочтут
Об их земных началах,
О том, что каждый совершил,
И как он жизнь свою прожил –
Откроется пред всеми.
{% endverse %}
{% verse "4" %}
О, горе тем, кто презирал
Всю жизнь Господне Слово,
Лишь о богатстве помышлял,
Дохода ждал большого.
Таким придется тяжело –
Им Богом определено
Пойти в ад с сатаною.
{% endverse %}
{% verse "5" %}
Иисус Спаситель, поспеши!
Твоих страданий ради
Нас, недостойных, запиши
Ты в книгу благодати!
Сомнений нет – меня Ты спас,
И враг низвергнут в тот же час,
Мой долг Тобой оплачен.
{% endverse %}
{% verse "6" %}
Так будь защитником моим,
Явившись мирозданью.
Со всеми, кто Тобой любим,
Я – в книге оправданья.
И вместе с братьями войду
В небесный край, и попаду,
Христос, в Твои объятья.
{% endverse %}
{% verse "7" %}
О Иисус Христос, доколь
Суду быть в промедленье?
Ведь на земле лишь страх и боль
И для людей мученье.
Приди же, о, приди, скорей,
Судья благой, и от цепей
Освободи нас. Аминь.
{% endverse %}
