---
name: 134
section: Судное воскресенье
title: Ах, не имеет Царство Божье
authors:
  - Швеция, 1820
  - Юлиус Крон, 1880 (на основании Лк. 14:16-24)
  - Текст: Б. Казачков
---
{% verse "1" %}
Ах, не имеет Царство Божье
Цены в глаза мирских людей!
Они проводят время праздно
Для насыщения страстей.
В заботах века суеты
От Бога сердцем отошли.
{% endverse %}
{% verse "2" %}
А пир для нас уже устроен
И брачный вечер в небесах,
Святые яства уж готовы,
Даны нам милостью Христа.
Сколь благодатна эта весть –
На брачном пире с Другом сесть!
{% endverse %}
{% verse "3" %}
Но нет – отказываться стали:
«Мне надо осмотреть поля»,
«Женился я, приду едва ли»,
«Я должен испытать вола», -
У всех заботы вдруг свои
И нет желания прийти.
{% endverse %}
{% verse "4" %}
Одумайтесь, пока не поздно,
Пока святой звучит призыв,
Спасение еще возможно,
Спешите, вход еще открыт,
А завтра будет затворен.
Иди же, призван ты Царем!
{% endverse %}
{% verse "5" %}
Напрасно будешь ты стучаться,
Когда закрыта будет дверь,
Напрасно будешь сокрушаться
Ты – отказавшийся теперь:
«Призвал Я многих в этот час,
Но мало избранных средь вас».
{% endverse %}
{% verse "6" %}
О дай, Господь, Твое призванье
Навечно в сердце впечатлеть,
Дай здесь мне силу упованья,
Чтоб там стыдом мне не гореть;
О, приготовь меня теперь,
Пока еще открыта дверь!
{% endverse %}
