---
name: 135
section: Смерть и вечная жизнь
title: Жду грядущей жизни и воскресения
authors:
  - А. Куличенко (Россия, совр.)
  - Латвия (?)
  - Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
Жду грядущей жизни и воскресения,
Сердце с надеждой Спасителя ждет.
Вера откроет нам двери спасения,
Любящий Господа вновь оживет.
{% endverse %}
{% verse "2" %}
Жду грядущей жизни и воскресения,
Мертвые встанут по зову на суд,
Праведных сонмы с торжественным пением
В Царство Христово, ликуя, войдут.
{% endverse %}
{% verse "3" %}
Жду грядущей жизни и воскресения,
Там, где блаженству не будет конца.
Жду вечной радости и возрождения,
Жду возвращенья в обитель Отца.
{% endverse %}
