---
name: 136
section: Смерть и вечная жизнь
title: Я сердцем в небе обитаю
authors:
  - Гамбург, 1690
  - Б. Грацеллиус, 1695
  - Русский лютеранский сборник гимнов, 1915 
---
{% verse "1" %}
Я сердцем в небе обитаю,
Там все сокровища мои,
И Господу себя вверяю.
Дает Христос дары Свои,
Готовит Царство вечной жизни.
Там, в небесах, моя Отчизна.
{% endverse %}
{% verse "2" %}
Прими меня, Господь-Хранитель,
Даруй Спасение Свое.
Ты - жизнь моя, мой Утешитель,
Желаю в Царстве быть Твоем.
Живу ль, умру - я Твой навечно,
Где Ты - там счастье бесконечно.
{% endverse %}
{% verse "3" %}
Коль дашь Ты, Боже, повеленье
Еще на свете этом жить,
Я буду всё сносить с терпеньем,
Но если смерть велишь вкусить -
Приму, ведь нет блаженней доли,
Чем быть Твоей покорным воле.
{% endverse %}
