---
name: 137
section: Смерть и вечная жизнь
title: Как ничтожна, мимолетна
authors:
  - М. Франк, 1652
  - Перевод: Рабочая группа ЕЛЦИ,
  - на основе перевода Б. Казачкова, 1992
---
{% verse "1" %}
Как ничтожна, мимолетна
Наша жизнь земная!
Как туман вдруг наплывает,
В тот же миг уж исчезает.
Кто ее такой не знает?
{% endverse %}
{% verse "2" %}
Как ничтожны, мимолетны
Наши дни земные!
Как ручей вдруг заструится,
Не задержится, стремится -
Так и наше время мчится.
{% endverse %}
{% verse "3" %}
Как ничтожна, мимолетна
Вся мирская радость -
Беззаботно суетится
И к пустой мечте стремится,
Только краткий миг продлится.
{% endverse %}
{% verse "4" %}
Как ничтожно, мимолетно
Мира всё богатство!
На земное полагаться -
Лишь впустую обольщаться,
В пыль богатства обратятся.
{% endverse %}
{% verse "5" %}
Как ничтожны, мимолетны
Все дела людские!
Кто ж Христу себя вверяет -
Тех Всевышний одаряет,
Двери жизни отворяет.
{% endverse %}
