---
name: 138
section: Смерть и вечная жизнь
title: О, день желанный, день блаженный
authors:
  - Халле, 1704
  - Русский лютеранский сборник гимнов, 1915 
---
{% verse "1" %}
О, день желанный, день блаженный,
Когда и нам тот час пробьет,
И нас Властитель всей Вселенной
В Свои обители введет,
Там Ангцу песнь, не умолкая,
Звучит, и слышно: Свят! Свят! Свят!
Там верным всем блаженство рая
Готовит Божья благодать.
{% endverse %}
{% verse "2" %}
О, радость зреть Его очами,
Жить вечно с Ним в любви одной!
И если здесь любим Он нами,
То даст блаженство нам с Собой.
Там в сонме душ, Им искупленных,
И мы петь будем: Свят, Свят, Свят!
Его любовью огражденных
Печали ввек не огорчат.
{% endverse %}
{% verse "3" %}
Какой восторг неизреченный
Сердца всех верных обоймет,
Когда свет жизни вожделенный,
Как солнце, над землей взойдет!
Когда Христос придет во славе,
Когда Свой лик нам явит Он,
Весь мир наполнится по праву
Благодареньем и хвалой!
{% endverse %}
