---
name: 139
section: Смерть и вечная жизнь
title: С миром и радостью к Тебе
authors:
  - Мартин Лютер, 1524 (на основании Лк. 2:29-32)
  - Перевод: Б. Казачков, 1992 
---
{% verse "1" %}
С миром и радостью к Тебе,
О Боже, отхожу.
Покой и свет в моей душе,
Час свой тихо жду.
Как Господь мне обещал,
Покой я в смерти обрету.
{% endverse %}
{% verse "2" %}
Порукой в том мне Сам Христос,
Истинный Божий Сын.
На крест Он Сам Себя вознес,
Пострадал один,
Он нас спас от адской тьмы.
Мы Им живем, Им спасены.
{% endverse %}
{% verse "3" %}
Сам Бог-Отец Его нам дал
Во искупление
И всё творение призвал
К обновлению
Чрез Святое Слово
В Его Завете Новом.
{% endverse %}
