---
name: 14
section: Адвент
title: О, приди, народов Спас
authors:
  - Староцерковная мелодия в обработке М. Лютера, 1524
  - Латинский гимн Амвросия Медиоланского (ок. 340-397)
  - в обработке Мартина Лютера (1524)
  - Перевод: Б. Казачков, 1993
---
{% verse "1" %}
О, приди, народов Спас,
Сын Пречистой ради нас!
Вот чему дивится мир:
Сына Бог не пощадил.
{% endverse %}
{% verse "2" %}
К нам спускается с небес
Тот, Кто выше всех чудес –
Вечный Бог и Человек –
Здесь прожить короткий век.
{% endverse %}
{% verse "3" %}
К яслям поведет звезда –
Эта ночь нам свет дала.
Мрак к нам больше не придет –
К жизни вера поведет.
{% endverse %}
{% verse "4" %}
Слава Господу-Отцу,
Сыну Отчему Христу
И Святому Духу
Ныне и вовеки!
{% endverse %}
