---
name: 140
section: Смерть и вечная жизнь
title: Освяти Ты наш исход
authors:
  - Вольфганг Карл Бригель, 1687
  - Гартман, Х. Шенк, 1674 Русский лютеранский сборник гимнов, 1915 
---
{% verse "1" %}
Освяти Ты наш исход
И наш вход, о Боже Сыне,
И деяний наших плод.
Хлеб небесный дай нам ныне.
Освети и смерти ложе,
Дай узреть Тебя, о Боже!
{% endverse %}
