---
name: 141
section: Смерть и вечная жизнь
title: На небесах, лишь в небесах
authors:
  - г. Пори
  - Лаурентиус Лауринус, 1622
  - Перевод: Б. Суоянен, 1997; Арво Сурво, 2000 
---
{% verse "1" %}
На небесах, лишь в небесах
Блаженству нет границ,
Там среди ангелов святых
Взмывает радость ввысь.
Однажды в выси той узрим
Твой лик, о Боже Триедин,
Господь наш Саваоф!
{% endverse %}
{% verse "2" %}
На небесах, лишь в небесах
Не слышен плач и стон,
И нет уж скорби о грехах,
Страх смерти побежден.
Жизнь новую, жизнь вечную
Душой и сердцем да взыщу,
Господь мой Саваоф!
{% endverse %}
{% verse "3" %}
На небесах, лишь в небесах
Блаженство ввек и ввек.
Поведать может ли в словах
Об этом человек?
Но отраженье жизни той
Находим в Церкви мы живой,
Господь наш Саваоф!
{% endverse %}
{% verse "4" %}
На небесах, на небесах
Лишь Ты, Господь, царишь,
Небесной славой и святых
В конце вознаградишь.
Сольются души в пении:
Свят, Свят, Свят Боже Триедин,
Господь наш Саваоф!
{% endverse %}
{% verse "5" %}
О, в эту радость вечную
Меня, Христос, прими
И ради крестных мук Твоих
Мне Небо отвори!
Аминь – воистину Ты Бог.
С мольбою я у Твоих ног,
Господь мой Саваоф!
{% endverse %}
