---
name: 142
section: Крещение
title: У Иордана слышен глас
---
{% verse "1" %}
У Иордана слышен глас,
То глас пророческий для нас.
Ты слушай и внимай скорей
Той вести о Царе царей!
{% endverse %}
{% verse "2" %}
Плод покаянья сотвори,
Прямые приготовь пути
И сердце свету отвори,
Дабы Христос лишь в нем царил.
{% endverse %}
{% verse "3" %}
Превознесем Спасителя,
Он милость дал великую,
Живое все питает Он,
Он нас питает верою.
{% endverse %}
{% verse "4" %}
Рукой Своей нас исцели,
Направь по верному пути,
От нас Свой лик не отврати,
Весь мир любовью освяти!
{% endverse %}
{% verse "5" %}
Хвала Тебе, о Божий Сын,
Ты к жизни вечной путь открыл!
Так пусть ликуют все сердца,
Хваля Всевышнего Творца!
Песнь Возрождения 
{% endverse %}