---
name: 143
section: Крещение
title: Итак, крещен в Твое я имя
authors:
  - Гамбург, 1690
  - Й. Рамбах, 1743
  - Перевод: Б. Казачков 
---
{% verse "1" %}
Итак, крещен в Твое я имя,
Отец и Сын и Дух Святой.
Прощен Тобой и в Церковь принят,
Небесной славы дом земной.
Я Словом Божьим обращен
И Духом щедро одарен.
{% endverse %}
{% verse "2" %}
Мне даровал Отец наследство,
И в нем меня Он освятил.
Плоды Своей жестокой смерти,
О мой Господь, Ты мне вручил.
Со мною в скорби Дух Святой -
Мой Утешитель неземной.
{% endverse %}
{% verse "3" %}
О Верный Боже, сей завет Твой
Хранишь Ты свято в век и век!
Христос за нас явился жертвой,
Воспрянул духом человек.
Спасибо, Отче наш, что нам
Не воздаешь Ты по делам!
{% endverse %}
{% verse "4" %}
Тебе, о Боже, посвящаю
Я тело, дух – себя всего.
От сна греховного желаю
Восстать для Царства Твоего.
Желаю до скончанья дней
Я в воле пребывать Твоей.
{% endverse %}
{% verse "5" %}
Завет Твой – нам освобожденье.
Отец и Сын и Дух Святой,
Храни меня в благословенье,
Доколь в храмине я плотской.
Здесь, на земле, и там, в раю,
Прославлю благость я Твою!
{% endverse %}
