---
name: 144
section: Крещение
title: Мы дитя свое несем
authors:
  - Генрих Альберт, 1640
  - Леэна Импиё, 1984
  - Перевод: Рабочая группа ЕЛЦИ, 2013 
---
{% verse "1" %}
Мы дитя свое несем
Ко Спасителю Христу,
Чтоб Господь Крещеньем смыл
Всю греха нечистоту.
{% endverse %}
{% verse "2" %}
Держат бережно дитя
На руках отец и мать,
Просят Господа Христа
Их младенца охранять.
{% endverse %}
{% verse "3" %}
Тем, кто верит, как дитя,
Бог наш Царство обещал.
Будем с Господом всегда,
Чтобы страх нас не смущал.
{% endverse %}
{% verse "4" %}
Просим крестных рядом быть,
Нас молитвой укреплять
Верным Господу дитя
Помогать нам воспитать.
{% endverse %}
{% verse "5" %}
Нас Отец Небесный наш
В Церковь Божию собрал
И единою семьей
Радость быть нам даровал.
{% endverse %}
