---
name: 145
section: Крещение
title: Чудесный океан спасенья
authors:
  - Германия, 1738
  - Бенджамин Шмольк, 1720
  - Перевод: С. Рочев 
---
{% verse "1" %}
Чудесный океан спасенья
Водой Крещенья разлился,
Им все покрыты согрешенья,
И скверна в нем погибла вся,
Им над грехом я вознесен,
Как Ной от гибели спасен.
{% endverse %}
{% verse "2" %}
Христом завещанное действо,
Дар драгоценный, данный Им,
Отца Небесного наследство
Отныне будет и моим.
Жизнь во Христе здесь начата
Через знамение креста.
{% endverse %}
{% verse "3" %}
От Бога новое рожденье
Иисуса смертью нам дано.
Призвал Господь меня к сраженью
С тьмой мира, плотью, сатаной.
Сражаться буду до конца
Я под защитою креста.
{% endverse %}
{% verse "4" %}
Когда мое напишешь имя
Ты в книге жизни, Иисус,
Я над заботами мирскими
От смерти к жизни поднимусь.
И нет мне гибели, пока
Ведет меня Твоя рука.
{% endverse %}
{% verse "5" %}
Иисус, Тебя я слушать стану,
Учитель мой – лишь Ты один!
Признал я сердцем и устами,
Что Ты мой Бог и Господин.
Завет Твой крепче, чем броня,
Так не покинь вовек меня.
{% endverse %}
{% verse "6" %}
Через Крещенье Церковь стала
Навек моей большой семьей,
Отныне с братьями связала
Меня дорога в край родной;
И буду я на том пути
Свой крест за Господом нести.
{% endverse %}
