---
name: 147
section: Крещение
title: С Христом соединились мы
authors:
  - Я. Соколовский, 1995
---
{% verse "1" %}
С Христом соединились мы
В Крещении святом,
И в смерть Его крестились мы
Для жизни со Христом.
{% endverse %}
{% verse "2" %}
От смерти Он нас искупил,
Чтоб с Ним могли мы жить,
Он чашу мук за нас испил,
Чтоб нам ее не пить.
{% endverse %}
{% verse "3" %}
Мы с верой во Христа пойдем -
Он поведет нас Сам.
И, следуя за Ним, придем
Мы к вечным небесам.
{% endverse %}
