---
name: 148
section: Крещение
title: Водой Иордана был крещен
authors:
  - Мартин Лютер, 1541,
  - перевод: Б. Суоянен
---
Подчеркнутые слоги соответствуют лигам во второй мелодии 
{% verse "1" %}
Водой Иордана был крещен
Иисус Христос со всеми,
Но праведен один лишь Он
Был истинно в то время.
Установил Крещение
Христос нам в очищенье,
Достичь небес помочь, излив
Свою кровь во спасенье.
{% endverse %}
{% verse "2" %}
Вода прозрачная одна
Пред нами при Крещенье,
Но Дух Святой таинственно
Дает ей насыщенье.
Покровом веры служит нам
Христова кровь святая.
В глубь моря милостей Его
Грехи свои бросаем.
{% endverse %}
{% verse "3" %}
Господь, Жизнь наша, милость дай
Крещеньем обновиться
И каждый день от всех грехов
Святой водой омыться.
В воде той ветхий человек
Утопит искушенья,
И назовется снова он
Создателя твореньем.
{% endverse %}
