---
name: 149
section: Причастие
title: Среди пустыни хлеб раздал народу
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ - Новосибирск, 2002
---
{% macro chorus() %}
{% verse "Припев" %}
Господи, Хлеб всеблагой
Прославлен будешь ты Церковью вечно,
Ты, возлюбивший нас
Ты, возлюбивший нас,
Любящий нас бесконечно.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Среди пустыни хлеб раздал народу,
Ведешь нас к небу в неземные дали,
И манной стал Ты путникам голодным,
Чтобы они в дороге не устали.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ты назовешь Своими нас друзьями,
Если Закон Твой верно мы исполним.
Но сами, Господи, мы столь бессильны,
Ты - наша жизнь и наше упованье.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ты жизнь за нас в страданье крестном отдал,
Но в этом Хлебе с нами Ты остался.
Для нас всегда Твое открыто сердце,
Сколь многих Ты из грязи грешной поднял.
{% endverse %}
{{ chorus() }}
