---
name: 15
section: Адвент
title: Мы ожидаем Царства дня
authors:
  - Джон Хатток, 1793
  - Исаак Уоттс, 1719
---
{% verse "1" %}
Мы ожидаем Царства дня,
Где нас Отец Небесный ждет.
Нам обетована земля,
Где мед и молоко течет.
{% endverse %}
{% verse "2" %}
Ему молиться будут все,
Хвалебным пеньем величать.
В небесной славе и красе
Пред нами будет Он сиять.
{% endverse %}
{% verse "3" %}
Не станет бурь, уйдет гроза,
Народы мирно заживут,
И ангельские голоса
Ему осанну воспоют.
{% endverse %}
{% verse "4" %}
В Его целительных лучах
Исчезнут раны от грехов,
Исчезнет смерть, истает страх,
Мы будем с Ним во век веков!
{% endverse %}
