---
name: 150
section: Причастие
title: Хлеб чудный ангельский
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ - Новосибирск, 2002 
---
{% verse "1" %}
Хлеб чудный ангельский
Стал человеческим.
Верую Господи,
Что причащаюсь я
Тела и Крови не в осуждение,
Но размышляя о Божьем таинстве.
{% endverse %}
{% verse "2" %}
На благодать Твою
Лишь уповаю я.
Твоя любовь, Господь,
Даст мне прощение,
Ибо Ты Сам возвестил, что с нами Ты
В Таинстве дивном, в Святом Причастии.
{% endverse %}
