---
name: 151
section: Причастие
title: Все соберитесь, дабы нам вкусить
authors:
  - Trente quatre psaumes de David, Женева, 1551
  - Латинский гимн, 7 век
  - Перевод: Екатерина Шалухина (Казахстан совр.)
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 
---
{% verse "1" %}
Все соберитесь, дабы нам вкусить
Тела Христова и из чаши пить.
Бог за больших и малых пострадал,
Первосвященник пред Отцом предстал.
{% endverse %}
{% verse "2" %}
Тем, кто к Причастью с верою идет,
Милостью Бог прощение дает.
Хлебом с небес Он голод утолит,
Живительной водою напоит.
{% endverse %}
{% verse "3" %}
С преданным сердцем, с искренней душой
Вкусим мы блага жизни неземной.
Щедрый Твой дар принять благослови,
С нами пребудь на трапезе любви!
{% endverse %}
