---
name: 152
section: Причастие
title: Господь нам Слово ниспослал
authors:
  - Н. Герман, 1551
  - О. Ритмюллер на основе гимна Фомы Аквинского
  - Verbum supernum prodiens, 1264 
---
{% verse "1" %}
Господь нам Слово ниспослал,
И Он нам заповеди дал,
И Таинство установил,
От смерти нас освободил.
{% endverse %}
{% verse "2" %}
Сошел на землю Он для нас
И смертию от смерти спас,
И дал нам Новый Свой Завет -
Спасенья вечного обет.
{% endverse %}
{% verse "3" %}
В вине и хлебе – Плоть и Кровь,
Иисуса зримая любовь,
Насытят алчущих всегда,
Прощеньем освятят сердца.
{% endverse %}
{% verse "4" %}
С Небес спустился Он помочь
Нам нашу слабость превозмочь.
Он исцеляет нас Собой,
Дарует радость и покой.
{% endverse %}
{% verse "5" %}
Христос, Ты грешных искупил,
Нам дверь в небесный дом открыл.
Зло помоги нам побороть
Через Святые Кровь и Плоть.
{% endverse %}
{% verse "6" %}
Господь наш всеблагой, к Тебе
Мы обращаемся в мольбе!
К спасению нас приведи,
В общение с Собой прими!
{% endverse %}
