---
name: 153
section: Причастие
title: Святою Вечерей Бог укрепил в вере
authors:
  - Уэльская народная мелодия
  - Омер Вестендорф, р.1916
  - Перевод: Екатерина Шалухина (Казахстан, совр.)
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 
---
{% verse "1" %}
Святою Вечерей Бог укрепил в вере,
Мы с миром покинем Господний алтарь.
Несем с вдохновеньем мы весть о спасенье
Всем людям, что верят в Господни слова.
Господь дал нам веру, дал милость без меры,
Открыл наши души ученья зерну.
Для блага людского, для Царства Святого
С любовью и верою послужим ему!
{% endverse %}
{% verse "2" %}
Творцу всей Вселенной возносим хваленья -
Лишь дар сей наш скромный мы можем принесть.
И пусть все на свете, как Божии дети,
Услышат с любовью спасения весть!
Господь нас питает, нам путь освещает,
Мы ныне без страха пред Ним предстаем.
Мы - Божьи творенья, и песнь восхваленья
Во имя Христа мы сегодня поем!
{% endverse %}
