---
name: 154
section: Причастие
title: Хлеб жизни преломи, Спаситель, нам
authors:
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 г. 
---
{% verse "1" %}
Хлеб жизни преломи, Спаситель, нам,
Как преломлял Своим ученикам.
В Слове Твоем, Господь, ищем Тебя,
К нам, грешным, снизойди, нас возлюбя.
{% endverse %}
{% verse "2" %}
В сердце мое вложи Твои Слова,
Истиной Ты благослови меня!
Свободным стану я от всех оков,
Найду в Тебе я мир на век веков.
{% endverse %}
{% verse "3" %}
Иисус, Ты - Хлеб Живой здесь для меня,
Твоей заботой не оставлен я.
Дай мне вкушать Тебя и жить Тобой,
Хочу Тебя любить: Ты - Хлеб Живой!
{% endverse %}
