---
name: 155
section: Причастие
title: Придите все на пир! Зовет вас Бог!
---
{% verse "1" %}
Придите все на пир! Зовет вас Бог!
Там обретете мир, там нет тревог,
Там радость и покой, там грех омоют твой
Реки воды живой!
Придите все!
{% endverse %}
{% verse "2" %}
Придите ко Христу, к Его стопам!
Любви всю полноту Он даст сердцам.
К Себе Он примет всех, с души Он снимет грех
И убелит, как снег.
Придите все!
{% endverse %}
{% verse "3" %}
Придите же скорей к Нему теперь,
И Он рукой Своей откроет дверь.
Мы обретем за ней то, что всего ценней -
Милость Царя царей.
Придите все!
{% endverse %}
{% verse "4" %}
Придите все, друзья, в Отцовский дом!
Сияют ярче дня святые в нем.
Венец их там блестит, и песня там звучит,
Во славе Бог царит.
Придите все!
{% endverse %}
