---
name: 156
section: Причастие
title: Христос, наш всеблагой Господь
authors:
  - г. Гёрлиц, 1587
  - г. Хемниц, 1713 
---
{% verse "1" %}
Христос, наш всеблагой Господь,
Бог милости и света!
Святую Кровь Твою и Плоть,
По Твоему завету,
Воспоминая подвиг Твой,
Для жизни вечной неземной
Смиренно мы вкушам.
{% endverse %}
{% verse "2" %}
Господь, на Трапезе Святой
Даруй с Тобой быть вместе,
Очисти нас и удостой
Одежд святых небесных,
И мы в общенье верных всех,
Преображенных во Христе,
Пребудем неизменно.
{% endverse %}
{% verse "3" %}
Будь в нас, чтоб были мы в Тебе
Отныне неизменно,
Чтоб шли мы по Твоей стезе,
Не ведая сомнений,
И, освятясь у алтаря,
К престолу Вечного Царя
Пришли бы, торжествуя.
{% endverse %}
