---
name: 157
section: Причастие
title: Боже Всемогущий, славлю я Тебя
authors:
  - Адаптированное григорианское песнопение Adoro Te Devote, лад V
  - Приписывается Фоме Аквинскому (1225-1274)
  - «Величит душа моя Господа», Второе издание.
  - Русское Литургическое Музыкальное Общество Святого Августина,
  - Владивосток, 2000 
---
{% verse "1" %}
Боже Всемогущий, славлю я Тебя,
Ведь под видом Хлеба ты сокрыл Себя.
Верою святою сердце обнови,
Здесь пребудь со мной на трапезе любви!
{% endverse %}
{% verse "2" %}
Чувствам недоступен, для очей незрим,
Но Твой голос слышу сердцем я своим.
Верую всему, что молвил Божий Сын,
Нет верней, чем это Слово Истины.
{% endverse %}
{% verse "3" %}
В теле человека явлен был Господь,
А теперь сокрыта в Хлебе Его плоть.
С неба данный людям Животворный Хлеб -
Кто Его вкушает, будет жить вовек!
{% endverse %}
{% verse "4" %}
О неизреченный Дар спасения,
Дивная надежда воскресения!
Пусть, Господь, мой разум лишь Тобой живет
И Тебя с отрадой вечно познает!
{% endverse %}
{% verse "5" %}
О Христе Иисусе, Боже Преблагой,
Ты меня очистил Кровию Святой!
Капля этой Крови может мир омыть
От греха и кары, от духовной тьмы.
Аминь.
{% endverse %}
