---
name: 158
section: Причастие
title: О Господь наш и Спаситель
authors:
  - Сборник «Величит душа моя Господа», Второе издание
  - Русское Литургическое Музыкальное Общество Святого Августина,
  - Владивосток, 2000 
---
{% verse "1" %}
О Господь наш и Спаситель,
Пред Тобой стоим смиренно.
Верим: здесь наш Искупитель,
В этом Хлебе сокровенный.
{% endverse %}
{% verse "2" %}
Ум земной не постигает,
Но для веры все открыто.
В этой Чаше пребывает
Бог Живой, от глаз сокрытый.
{% endverse %}
{% verse "3" %}
Это чудо – Божье дело,
И достойно поклоненья.
Он Святые Кровь и Тело
Дал для нашего спасенья.
{% endverse %}
{% verse "4" %}
Даже ангелы страшатся,
Созерцая Лик Священный:
Не дано им прикасаться
К этой Тайне сокровенной.
{% endverse %}
{% verse "5" %}
Имя светлое Господне
Сердцем славим бесконечно,
Не оставь Ты нас сегодня,
Приведи нас к жизни вечной!
{% endverse %}
