---
name: 159
section: Причастие
title: Хлеб небесный дал Господь...
authors:
  - На основе сирийского гимна 4 века
---
{% verse "Антифон" %}
Хлеб небесный дал Господь -
Пищу жизни вечной.
{% endverse %}