---
name: 16
section: Адвент
title: Врата, откройтесь! Час настал!
authors:
  - Галле, 1704
  - Г. Вейсель, 1642
---
{% verse "1" %}
Врата, откройтесь! Час настал!
Грядет Владыка из владык!
Грядет всесильный Царь Царей
С великой милостью Своей.
Он блага вечные несет,
Ликуя, мир Ему поет:
«Хвала Тебе стократ,
Источник всех отрад!»
{% endverse %}
{% verse "2" %}
Блажен тот град и та страна,
Где власть Его утверждена!
Блаженны и сердца, где Он
Один лишь властью наделен!
Нет блага без Него ни в чем.
Всё от Него и всё лишь в Нем.
Хвала Тебе, Христос,
Что радость нам принес!
{% endverse %}
{% verse "3" %}
Готовьте путь Его стопам.
Да будет в сердце вашем храм!
Как ветви юные весной,
Да расцветет в вас дух благой!
Тогда и к вам сей Царь придет,
И вам спасенье принесет.
Хвала Тебе, Христос,
Что благо нам принес!
{% endverse %}
{% verse "4" %}
Войди к нам, милость нам даря,
Врата открыты для Царя.
Сердца готовы воспринять
Твою, Иисусе, благодать.
Своим их Духом освяти
И дай спасения пути.
Хвала Тебе, Христос,
Что жизнь Ты нам принес!
{% endverse %}
