---
name: 160
section: Причастие
title: В день, когда ушло блаженство
authors:
  - Чарльз Хьюберт Хейстингс Пэрри (1848-1918)
  - Стивен Старке, р. 1955
  - (на основании Быт. 3:1-24; Лев. 16:6-19; Рим. 5:15-19; Откр. 7:9-17)
  - Перевод: Роман Туренко, 2009 
---
{% verse "1" %}
В день, когда ушло блаженство
Из Эдема, от людей,
Что лишились совершенства
Непокорностью своей,
Им открылось пониманье:
Бог не может грех сносить!
Так, он дал им одеянье,
Чтобы их позор покрыть.
{% endverse %}
{% verse "2" %}
С той поры над человеком
Властен первородный грех,
Уничтожен им от века
Образ Божий в людях всех,
И священники свершали
Жертвоприношения:
Кровь животных проливали
Для грехов прощения.
{% endverse %}
{% verse "3" %}
В жертвах тех – тень обещанья:
Агнец Божий в мир придет,
Благодатью оправданье
Падшим людям принесет.
Мира Царь, Первосвященник,
Кровь Свою за них прольет,
Их грехов навек прощенье
Крестной смертью обретет.
{% endverse %}
{% verse "4" %}
Иисус, Ты нам спасенье
Дал, пожертвовав Собой.
В сем даешь нам заверенье
Трапезой Твоей святой:
«Ешьте хлеб сей, Мое Тело,
Что на крест отдам за вас,
Пейте чашу, Кровь Мою, что
На кресте пролью за вас».
{% endverse %}
{% verse "5" %}
Обещает Бог блаженство
Царствия Небесного
Всем, кто примет совершенство
Жертвы Агнца Божьего.
Из груди Его пронзенной
К нам течет любви река,
Нам, по милости прощенным,
Дарит мир Он на века.
{% endverse %}
{% verse "6" %}
Человек Эдем утратил,
Ветхое Бог упразднил –
Ныне время благодати,
В рай нам вход Христос открыл.
На Тебя, Иисус, надежда –
Можешь грех покрыть лишь Ты!
Праведности нам одежды
Дай и сердца чистоты.
{% endverse %}
