---
name: 161
section: Причастие
title: Тело Господне примем мы сейчас
authors:
  - Женевская псалтирь, 1551
  - Джон Нил, 1851
  - (на основании 1 Кор. 11:26)
  - Перевод: Роман Туренко, 2010 
---
{% verse "1" %}
Тело Господне примем мы сейчас
И Кровь Его, пролитую за нас.
Тем Телом и Той Кровью спасены,
Мы Богу благодарностью полны.
{% endverse %}
{% verse "2" %}
Сын Божий, наш Спаситель Иисус
Умер, чтоб с Богом нам войти в союз,
За всех людей был в жертву принесен,
И Божий Агнец, и Священник – Он.
{% endverse %}
{% verse "3" %}
С верой сердечной к Таинству придем,
В Боге оплот спасенья обретем.
Тот, Кто святым в сём мире крепкий щит,
Для вечной жизни верных сохранит.
{% endverse %}
{% verse "4" %}
С хлебом небесным к алчущим идет
И воду жизни жаждущим дает
Сам Альфа и Омега, наш Творец,
Мира сего Начало и Конец.
{% endverse %}
{% verse "5" %}
О Судия, вину мою Ты снял,
Милость явив, меня ты оправдал,
Ведь, Боже, Ты – Любовь, Спаситель мой,
В трапезе сей святой пребудь со мной.
Аминь.
{% endverse %}
