---
name: 162
section: Причастие
title: О, приди, ко мне, Спаситель, здесь Тебя я ожидаю
authors:
  - Молодежный песенник Церкви Ингрии 
---
{% verse "1" %}
О, приди, ко мне, Спаситель, здесь Тебя я ожидаю.
В сердце, бедную обитель, снизойди с небес из рая.
Верю твердо, без сомненья: здесь Ты сам под видом Хлеба.
Давший людям избавленье Вечный Царь земли и неба.
{% endverse %}
{% verse "2" %}
Благодать нам посылаешь, чтоб от зла нас охранила,
И чудесно укрепляешь всех Божественною силой.
Как велик и дивен, Боже, мир, Тобою сотворенный,
Но Тебя, Господь, дороже ничего нет во Вселенной.
{% endverse %}
{% verse "3" %}
Недостойный, я склоняюсь перед этой тайной веры
И с надеждой полагаюсь на любовь Твою без меры.
О, приди ко мне, Спаситель, здесь Тебя я ожидаю.
В сердце, бедную обитель, снизойди с небес из рая.
{% endverse %}
