---
name: 163
section: Причастие
title: Свет Невечерний, воссиявший с высоты
authors:
  - Т. Арбо (Франция, 1519/20 – 1595)
  - С. Синчук, А. Куличенко (Россия, совр.) 
---
{% verse "1" %}
Свет Невечерний, воссиявший с высоты,
Солнце любви святой, все сердца согреешь ты!
Логос Божественный, пришедший во плоти,
Божий Святой Ковчег, снисшедший нас спасти.
{% endverse %}
{% verse "2" %}
Путь в Божье Царство нам любовью освети:
Кроме Тебя, Христе, нет иного нам пути.
Сердце надеждою нам укрепи, Христе,
Дай посох веры в путь, Распятый на кресте.
{% endverse %}
{% verse "3" %}
Манна небесная, с неба сшедший Хлеб Живой,
Кровью Своей Святой прегрешения омой.
Пусть в сердце льется вновь Дух Твой рекою:
Сладостно пребывать вечно с Тобою!
{% endverse %}
