---
name: 164
section: Причастие
title: Пусть умолкнут страсти земные
authors:
  - Франция, 17 век
  - Дж. Мультри (1829-1885), на основе Литургии Св. Иакова
  - Перевод: Ю. Высоцкая, М. Левин, А. Окользин 
---
{% verse "1" %}
Пусть умолкнут страсти земные
В каждом сердце, и в тишине
Таинство мы примем Христово,
Божий Дар, нетленный вовек.
Иисус наш Бог, и он нисходит к нам
Наше поклоненье принять.
{% endverse %}
{% verse "2" %}
Царь царей, Марией рожденный,
Прежде всех веков Он был,
Умер, ко кресту пригвожденный,
Кровь Свою Святую пролил.
Милостив Господь и на небесный пир
Призывает верных Своих.
{% endverse %}
{% verse "3" %}
К нам с небес нисходит прощенье:
Агнец Божий грех с нас снял.
Милосердный Бог на мученья
Сына Своего отдал.
Свет святой любви развеял тьму,
Смерть бессильна против Него.
{% endverse %}
{% verse "4" %}
Даже херувимы крылами
Лики укрывают свои,
И, Христу хвалу возглашая,
Непрестанно славят они:
Аллилуйя! Аллилуйя!
Слава Господу вовек!
{% endverse %}
