---
name: 165
section: Причастие
title: Войди ко мне, о Господи
authors:
  - 16 век
  - Иоанн Златоуст, 4 век
  - Адаптация и перевод: А. Куличенко 
---
{% verse "1" %}
Войди ко мне, о Господи,
Под кров души больной.
Ты, светом изгоняющий
Греховный помысл мой.
{% endverse %}
{% verse "2" %}
Я ныне с дерзновением
К Причастью приступил -
Твоим я повелением
Врата души открыл.
{% endverse %}
{% verse "3" %}
Войди, Создатель любящий,
Живи в моей судьбе,
Теперь и в жизни будущей
Даруй пребыть в Тебе!
{% endverse %}
{% verse "4" %}
Блудницу в покаянии
Ты принял и простил,
Смиренному разбойнику
Спасенье возвестил.
{% endverse %}
{% verse "5" %}
И мытаря раскаянье
Ты, Боже, не отверг,
И в ад Своих гонителей
Раскаянных не вверг.
{% endverse %}
{% verse "6" %}
И тот, кто с покаянием
К Тебе, Христе, идет,
Средь Божьих чад спасение
Во Царстве обретет.
{% endverse %}
{% verse "7" %}
Хвалу мою, любовь мою
И слезы не отринь,
Благословенный Господи,
Во все века. Аминь!
{% endverse %}
