---
name: 166
section: Причастие
title: Любовью Божественной
authors:
  - Литовская мелодия
  - Елизавета Перегудова (1913-1996) 
---
{% verse "1" %}
Любовью Божественной
К людям горя,
Незримо нисходит
Христос с алтаря.
Ты, Господи, солнце
В житейской ночи.
Пусть в сердце смиренном
«Осанна» звучит.
{% endverse %}
{% verse "2" %}
С небесного трона
Господь к нам идет,
Он людям надежду
И радость дает.
От власти греха
И от вражьих сетей
Христос охраняет
Нас силой Своей.
{% endverse %}
{% verse "3" %}
Господь, Твоего
Мы не видим лица,
Но взор Твой, как луч,
Проникает в сердца.
О хлеб наш насущный,
О радость небес,
И сердце, и жизнь
Посвящаем Тебе!
{% endverse %}
