---
name: 167
section: Причастие
title: Смерть потерпевший на кресте
authors:
  - Швеция, 1697
  - Йеспер Сведберг, 1694
  - Русский лютеранский сборник гимнов, 1915 
---
{% verse "1" %}
Смерть потерпевший на кресте,
Безгрешный Господи Христе!
Грехи мои и всех людей
Ты кровью искупил Своей.
{% endverse %}
{% verse "2" %}
Стою смиренно пред Тобой
С грехом израненной душой.
Ты ниспошли мне благодать
Твоих Святых Даров принять.
{% endverse %}
{% verse "3" %}
Ты врач мой, Боже, мой совет,
Мое богатство, правды свет.
Даров небесных чистый луч,
Живительный спасенья ключ!
{% endverse %}
{% verse "4" %}
И ныне в немощи своей
Молю Тебя, о Царь царей:
Очисти дух порочный мой,
Меня общенья удостой!
{% endverse %}
{% verse "5" %}
Прикрой мою Ты наготу,
Восполни духа нищету,
Соблазны плоти укроти
И плач мой в радость обрати.
{% endverse %}
{% verse "6" %}
О, вразуми меня Ты вновь
Познать Твою ко мне любовь
И волею Твоей святой
Направь меня на путь благой!
{% endverse %}
{% verse "7" %}
И грех во мне Ты обличи,
Борьбе с соблазном научи,
Чтоб, Боже, никакой порок
Меня поработить не мог!
{% endverse %}
{% verse "8" %}
Веди же, Искупитель мой,
Земною трудною стезей,
От искушения храня,
Ты в Царство Божие меня!
{% endverse %}
