---
name: 168
section: Причастие
title: Ты, Иисус, себя на жертву предал
authors:
  - Германия, 1524
  - Мартин Лютер, 1524
---
{% verse "1" %}
Ты, Иисус, себя на жертву предал,
Ты на смерть Себя отдал.
Трапезу жизни Ты нам заповедал,
В ней прощенье даровал.
Kyrieleison!
Бремя на Себя Ты взял греха,
Претерпел мучения креста.
Ты нас, грешных, искупил
И с Отцом нас примирил.
Kyrieleison!
{% endverse %}
{% verse "2" %}
Хлеб Твой небесный с трепетом вкушаем,
Молим: веру укрепи!
Тело Христово все мы составляем,
Дай нам в братской жить любви!
Kyrieleison!
Дай Святому Духу нас вести,
Дай нам мир и радость обрести,
Чтобы славили уста
Искупителя Христа.
Kyrieleison!
{% endverse %}
