---
name: 169
section: Причастие
title: В благодарности мы славим
authors:
  - Средневековая мелодия
  - Фома Аквинский, 1263 (куплеты 1-4);
  - Х. Маскулайнен, 1605 (куплеты 5-8)
  - Перевод: В. Л. Благинин, 1992 
---
{% verse "1" %}
В благодарности мы славим
За любовь Христа, ведь Он
Небеса для нас оставил,
Скорбью был обременен.
Всем нам, падшим во грехах,
Милость он явил в веках.
{% endverse %}
{% verse "2" %}
Чудеса здесь совершая,
Проповедовал для нас,
Он, осмеянный, распятый,
Нас от зла и смерти спас.
Кровью дал освобожденье
И былых грехов прощенье.
{% endverse %}
{% verse "3" %}
Перед смертию Своею
Он Причастье преподал,
Кровь Свою, Святое Тело
В хлебе и вине нам дал.
В том, кто будет есть и пить,
Хочет вечно Он пребыть.
{% endverse %}
{% verse "4" %}
Силу Таинства Святого
Мы лишь верой познаем.
В виде хлеба бесквасного
Тело нам Господь дает.
Кровь Свою Он нам дарит
И в душе у нас царит.
{% endverse %}
{% verse "5" %}
В сем Причастье сокровенном
Он Себя дарует нам,
И незримо через Слово
В нем присутствует Он Сам.
Верой это принимаем,
Хоть умом не постигаем.
{% endverse %}
{% verse "6" %}
Если ты освободиться
Хочешь, грешник, от оков,
Верь всем сердцем в Божье Слово,
В искупление грехов.
Крестное приняв мученье,
Иисус нам дал спасенье.
{% endverse %}
{% verse "7" %}
Всех, кто жаждет, всех, кто страждет -
Всех Господь к Себе зовет.
Вспоминая жертву Сына,
Мы к Причастию идем,
Уповая до конца
На Небесного Отца.
{% endverse %}
{% verse "8" %}
Сыну Божьему Иисусу
Пусть звучит хвала вовек!
Кровью Он Своей омыл нас,
Дал вкусить небесный хлеб.
Веру нашу укрепил
И с Собой соединил.
{% endverse %}
