---
name: 17
section: Адвент
title: Тебя, Христе, Тебя я вновь увижу!
authors:
  - И.С. Бах, BWV 268
  - К. Р. (Константин Романов)
---
{% verse "1" %}
Тебя, Христе, Тебя я вновь увижу!
Пускай с небес на землю пала ночь,
И мрак ее мне взоры застилает,
Но Ты, Равви, незаходящий Свет!
{% endverse %}
{% verse "2" %}
Слепым я был, но не глазами только:
Была слепа издавна и душа.
Она во тьме томилась и страдала,
Забыв давно и правду, и добро.
{% endverse %}
{% verse "3" %}
И вот, свершил Ты надо мною чудо,
И за Тобою следом я пошел.
Я услыхал Твое Святое Слово
И ужаснулся мрака своего.
{% endverse %}
{% verse "4" %}
Приди, приди, Мессия, Сын Давидов!
Раскрывший мне телесные глаза,
Раскрой теперь духовные мне очи
И душу просвети, о Раввуни!
{% endverse %}
