---
name: 170
section: Причастие
title: О, душа, Христом согрета
authors:
  - Йохан Крюгер, 1649
  - Йоганн Франк, 1653 
---
{% verse "1" %}
О, душа, Христом согрета,
Облекись в одежды света,
Выходи их тьмы греховной,
Радостью сияй духовной.
Ведь к Иисуса благодати
Всех зовет Отец нас, братьев.
Пожелал небес Властитель
К нам войти в души обитель.
{% endverse %}
{% verse "2" %}
О, небес благословенье -
Господа благоволенье!
Тайна Хлеба неземного,
Несказанного, благого
Душу дивно укрепляет,
К жизни в Духе возрождает.
Дар сей тайны во спасенье
Превосходит разуменье.
{% endverse %}
{% verse "3" %}
Иисус, надежда верных,
Ты основа дел нетленных,
Свет души и солнце рая,
Я в мольбе к Тебе взываю:
Помоги не в осужденье
Мне принять Твой Дар бесценный.
Дай мне веры укрепленье,
Да воздам Тебе хваленье!
{% endverse %}
