---
name: 171
section: Причастие
title: О, где найти покров
authors:
  - Русский лютеранский сборник гимнов, 1915 
---
{% verse "1" %}
О, где найти покров
От горечи грехов,
От боли и сомненья
И в ком искать спасенья?
Ничто во всем творенье
Не даст мне утешенья.
{% endverse %}
{% verse "2" %}
Господь, Спаситель мой,
К Тебе на зов благой
Несу я покаянье.
Молю: в Свое созданье
Вдохни Ты упованье -
Мое Ты оправданье.
{% endverse %}
{% verse "3" %}
Твоя лишь благодать
Мне может помощь дать.
Всё бремя прегрешений,
Вину моих мучений
Своею Кровью смой -
Лишь в ней найду покой.
{% endverse %}
{% verse "4" %}
Ты Кровию Святой
Грехи мои омой,
Забудь все прегрешенья,
Дай сердцу утешенье,
Даруй с Твоим прощеньем
Души преображенье.
{% endverse %}
{% verse "5" %}
Грехи меня гнетут,
И праведен Твой суд.
Но, Боже Милосердный,
Я ныне здесь смиренно
Приемлю Кровь Твою,
В ней жизнь я вновь найду.
{% endverse %}
{% verse "6" %}
Ведь силою она Такой наделена,
Что каплей самой малой
Греха и зла отраву
Сильна она омыть
И ад весь победить!
{% endverse %}
{% verse "7" %}
Твоих страданий вид -
От страха верный щит.
Чего мне ужасаться,
Каких невзгод бояться,
Когда Ты смерть попрал
И жизнь мне даровал!
{% endverse %}