---
name: 172
section: Причастие
title: Спаситель мира, наш Господь
---
{% verse "1" %}
Спаситель мира, наш Господь,
Ты в Хлебе ныне среди нас.
Твоя здесь Кровь, Твоя здесь Плоть,
Ты ими нас от смерти спас!
{% endverse %}
{% verse "2" %}
Ты Божий Агнец, Божий Сын,
За нас умерший на кресте.
Ты нас избавил от вины
И принял, как Своих детей.
{% endverse %}
{% verse "3" %}
Ты хлеб небесный нам даешь,
Он укрепляет нас в пути,
Нас к вечной радости ведешь
И силы нам даешь идти.
{% endverse %}
{% verse "4" %}
Ты здесь, Предвечная Любовь,
Ты здесь, Господь и Человек!
Ты воскресишь нас к жизни вновь,
С Тобою будем жить вовек!
{% endverse %}