---
name: 173
section: Покаяние
title: Один лишь ты меня, Спаситель, знаешь
authors:
  - Киштен Огорд Ансен, 1877
  - Перевод: Ольга Крутикова, 2012
---
{% verse "1" %}
Один лишь ты меня, Спаситель, знаешь
И все недуги можешь исцелить,
И в пораженье Ты меня прощаешь,
Когда я грех не в силах победить.
{% endverse %}
{% verse "2" %}
И если путь прямой мне не под силу,
И мало веры, кротости, любви,
Тогда прошу я: Господи, помилуй,
И исцели все немощи мои!
{% endverse %}
{% verse "3" %}
И если, взор к Тебе не поднимая,
Твоей Отцовской милости ищу,
«Прими меня!», - в смиренье повторяю
И в сердце покаянье приношу.
{% endverse %}