---
name: 174
section: Покаяние
title: Во прахе здесь простертый пред Тобою
authors:
  - Йохан Крюгер, 1640
  - Иоганн Герман, 1630
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Во прахе здесь простертый пред Тобою,
С растерзанной греховностью душою
Молю, Господь, даруй душе прощенье
И исцеленье.
{% endverse %}
{% verse "2" %}
Ты все грехи омыл Своею кровью,
Ты освятил меня Своей любовью.
За грешных всех Твои, Христос, моленья,
Скорбь и мученья.
{% endverse %}
{% verse "3" %}
И ради ран и крестного страданья
Не по вине душе дай воздаянье.
Смертью Своей попрал победу ада,
В том мне отрада.
{% endverse %}