---
name: 175
section: Покаяние
title: Ты, за нас принявший муки
authors:
  - П. И. Чайковский (1840-1893)
---
{% verse "1" %}
Ты, за нас принявший муки,
О, Христос, Господь и Бог наш,
Смилуйся над нами, смилуйся над нами,
Смилуйся над нами.
{% endverse %}