---
name: 176
section: Покаяние
title: Мои все прегрешенья
---
{% verse "1" %}
Мои все прегрешенья
Несу к ногам Христа.
Дарует Он прощенье
И мир Свой у креста.
Святая Кровь омоет,
Все пятна убелит,
Вину мою покроет
И раны исцелит,
И раны исцелит.
{% endverse %}
{% verse "2" %}
Открыл я пред Тобою
Всю сердца нищету.
Твоей водой живою
Восполни пустоту!
За грех мой наказанье
Ты принял на Себя,
Ты претерпел страданья,
Нас, грешных, возлюбя.
{% endverse %}
{% verse "3" %}
На вечном основанье
Душа утверждена,
В обители Отцовской
Христом водворена.
Его я Имя славлю,
Опоры нет другой,
Он Альфа и Омега,
Христос, Спаситель мой.
Песнь Возрождения
{% endverse %}