---
name: 177
section: Покаяние
title: Как тяжелы мои грехи
authors:
  - Лейпциг, 1625
  - Мартин Рутилиус, 1613
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Как тяжелы
Мои грехи,
Как страшно наказанье!
Кого найти,
Чтоб мог спасти,
Избавить от страданья?
{% endverse %}
{% verse "2" %}
О Боже мой,
К Тебе с мольбой
Теперь я прибегаю:
Меня спаси,
Мои грехи
Прости, я умоляю!
{% endverse %}
{% verse "3" %}
Я не один:
Христос, Твой Сын,
Спасет меня, укроет:
Его любовь,
Страданья, кровь
Мои грехи омоют.
{% endverse %}