---
name: 178
section: Покаяние
title: Будь милосерд ко мне, Христос!
authors:
  - Швеция, 1697
---
{% verse "1" %}
Будь милосерд ко мне, Христос!
Прости, виновного, меня.
Я скорбь к Тебе свою принес,
Молю, колени преклоня.
{% endverse %}
{% verse "2" %}
От всех грехов меня омой
И дух смятенный успокой.
Прости меня, Спаситель мой,
Да буду я всегда с Тобой.
{% endverse %}
{% verse "3" %}
Меня сурово не суди,
По милости Твоей прости.
Своею кровию омой,
Да буду свят я пред Тобой.
{% endverse %}
{% verse "4" %}
Ты нас к Себе, Отец, зовешь
И нам прощение даешь,
И я на Твой призыв спешу,
О милости, Господь, прошу.
{% endverse %}