---
name: 179
section: Покаяние
title: Помилуй меня, Боже
authors:
  - На основании Пс. 50
---
{% verse "1" %}
Помилуй меня, Боже,
Помилуй меня
По великой милости Твоей,
По великой милости Твоей!
{% endverse %}
{% verse "2" %}
Омой меня Ты, Боже,
От всех грехов моих
По великой милости Твоей,
По великой милости Твоей.
{% endverse %}
{% verse "3" %}
И буду чистым, Боже,
Белее, чем снег,
По великой милости Твоей,
По великой милости Твоей.
{% endverse %}
{% verse "4" %}
Тобою сокрушенный,
Возрадуюсь я
По великой милости Твоей,
По великой милости Твоей.
{% endverse %}
{% verse "5" %}
Ты Духа обновленья
Дай сердцу моему
По великой милости Твоей,
По великой милости Твоей.
{% endverse %}