---
name: 18
section: Адвент
title: Спаситель! Церковь ждет Твоя
authors:
  - Англия, 1540
  - Д. Раппард, 1875
---
{% verse "1" %}
Спаситель! Церковь ждет Твоя
Лишь Твоего явленья.
Когда ж придешь во свете дня,
Чтоб дать ей избавленье?
Когда, идя навстречу к ней,
Прольешь поток любви Твоей?
Гряди скорей, о Боже!
{% endverse %}
{% verse "2" %}
Господь! Хотя во всякий миг
Ты в Церкви пребываешь,
И мир звучит из уст Твоих,
И всех Ты утешаешь,
Но всё же жаждем мы душой
Увидеть лик чудесный Твой.
Гряди скорей, о Боже!
{% endverse %}
{% verse "3" %}
От тех над именем Твоим
Вновь слышится глумленье,
Кто, возгордясь умом мирским,
Отвергнул дар спасенья.
Приди и пред людьми яви
Величье славы и любви,
Гряди скорей, о Боже!
{% endverse %}
{% verse "4" %}
Дай бодрость нам, чтобы всегда
Светильники сияли,
Чтоб не погасли никогда,
Чтоб мы во тьме не спали
И чтоб, когда раздастся зов
«Жених идет!» - Сказать: «Готов!
Гряди скорей, о Боже!»
{% endverse %}
{% verse "5" %}
Мы ждем Тебя уже давно,
Томимся в грешном мире
И жаждем, Боже, одного:
Пребыть на брачном пире.
Взор устремляем к небесам,
И песнь нисходит в сердце к нам:
«Гряди скорей, о Боже!»
{% endverse %}
