---
name: 180
section: Венчание
title: Создал Бог человека
authors:
  - Куортане
  - Хюб Остерхёйс, 1966
  - Перевод: Б. Суоянен
---
{% verse "1" %}
Создал Бог человека
Их праха в образ Свой,
И вместе быть до века
Назначил нам с тобой,
Связал нас воедино
Доверьем брачных уз
И преданностью Богу
Скрепил Он наш союз.
{% endverse %}
{% verse "2" %}
И как Христос к общине
В любви долготерпит,
Так муж с женой заботы
Все делит на двоих.
И общее призванье –
Искать нам вновь и вновь
И с каждым днем сильнее
Обресть свою любовь.
{% endverse %}