---
name: 181
section: Венчание
title: Боже, предстали по воле Твоей
authors:
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% macro chorus() %}
{% verse "Припев" %}
О, возложи, Боже, руку на них,
В жизни держаться путей дай Твоих.
Боже, Тебе их приносим в мольбе,
С ними пребудь Ты всегда и везде.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Боже, предстали по воле Твоей
Ныне с невестой жених пред Тобой:
Вместе решают пройти путь земной.
Благослови Ты союз их святой.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Жизни совместным для них будет путь,
Ближе, о Боже, всегда к ним пребудь.
Пусть и в благие, и в скорбные дни
Мысли и чувства в них будут одни.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ты помоги, чтоб супругов сердца
Были друг другу верны до конца.
Чтоб не прервался союз их святой,
Сам Ты веди их до цели благой!
{% endverse %}
{{ chorus() }}