---
name: 182
section: Венчание
title: На браке в Кане гостем был дороже всех гостей
authors:
  - Готфрид Финк, 1842
  - Аделаида Трапп, 1853;
  - Годфрей Тринг, 1823-1903
  - Перевод: Екатерина Шалухина (Казахстан, совр.)
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
На браке в Кане гостем был дороже всех гостей,
Своим присутствием почтил пир шумный средь людей.
Святой Господь провозгласил, что есть любви обет,
Нас в лоно Церкви пригласил и дал нам Свой завет.
{% endverse %}
{% verse "2" %}
Пусть не посмеет человек нарушить клятвы нить,
Связь нерушимая навек супругов единит.
Печали и заботы им отныне не страшны,
И счастья дни, и дни забот навек разделены!
{% endverse %}
{% verse "3" %}
На тех, кто пред Тобой сейчас колени преклонил,
Излей, Господь, Ты благодать, в них веру укрепи!
Союз их Духом освяти, их брак благослови!
Даруй по жизни им пройти в согласье и любви!
{% endverse %}