---
name: 183
section: Венчание
title: Блажен тот дом, где муж одно с женою
authors:
  - Песнь Возрождения
---
{% verse "1" %}
Блажен тот дом, где муж одно с женою,
Твоя любовь связала тесно их.
Твой дар спасенья видят пред собою,
Дух Твой хранит их на путях земных.
К Тебе сердцами верными прильнули
В добре и скорби, в счастье и нужде,
Пребыть с Тобой хотят всю жизнь земную,
Тебе служить хотят они везде.
{% endverse %}
{% verse "2" %}
Блажен тот дом, где настежь дверь открыта
Тебе, Господь, Спаситель всех людей,
Где средь гостей больших и знаменитых
Ты всех дороже, ближе и милей,
Где все сердца летят Тебе навстречу,
Где все глаза к Тебе обращены,
Где уши всех открыты Твоей речи,
Где Духом все Твоим озарены.
{% endverse %}
{% verse "3" %}
Блажен тот дом, где на руках молитвы
К Тебе приносят маленьких детей,
Где с ранних лет искать Тебя привыкли
Во всякой скорби и нужде своей,
Где с умиленьем принимают Слово,
Где с ликованьем песнь Тебе поют,
Где пред Тобой всегда стоять готовы,
Где Твое имя постоянно чтут.
{% endverse %}
{% verse "4" %}
Блажен тот дом, где Ты во все вникаешь,
Где разделяешь радости и плач,
Где в торжестве участье принимаешь
И где в болезнях Ты надежный врач,
Где управляет всем Твоя десница,
Где все идут Твоим святым путем
Туда, откуда Ты в наш мир явился
И нас направил в чудный, вечный дом.
{% endverse %}