---
name: 184
section: Венчание
title: Господь вас Сам соединил
authors:
  - Германия
  - Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
Господь вас Сам соединил
Пред алтарем сегодня;
Он ваш союз благословил
И выбор ваш свободный.
Любовь он вашу сохранит,
Очистит и умножит,
И в испытаньях укрепит,
И в горестях поможет.
{% endverse %}
{% verse "2" %}
Христова вера – свет для вас,
Завет Его – спасенье,
Молитва силы вам придаст
И радость утешенья.
Бог ниспослал вам благодать
Сегодня в этом храме.
Он брак ваш будет укреплять,
Всегда пребудет с вами.
{% endverse %}
