---
name: 185
section: Венчание
title: Крепок союз, что нас
authors:
  - Лоуэлл Мейсон, 1832
  - Джон Фосетт, 1772
---
{% verse "1" %}
Крепок союз, что нас
В любви Христа связал,
Общенью душ, которых спас,
Он образ неба дал.
{% endverse %}
{% verse "2" %}
Милостив Бог и благ,
Молим Его о том,
Чтобы в желаньях и мечтах
Следовать за Христом.
{% endverse %}
{% verse "3" %}
Радость и бремена
Общие впредь у нас,
Да будет пусть душа полна
Любви во всякий час!
{% endverse %}
