---
name: 186
section: Венчание
title: Здесь двое пред Твоим лицом
authors:
  - Йохан Крюгер, 1653
  - Виктор фон Штраус и Торней, 1856
  - Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Здесь двое пред Твоим лицом
Скрепляют свой союз
Любви и верности кольцом,
Знаменьем брачных уз.
{% endverse %}
{% verse "2" %}
Скажи теперь им Сам «Аминь»,
Обет их утверди,
И пусть от сердца глубины
Всю жизнь в них «да» звучит.
{% endverse %}
{% verse "3" %}
Ты две души соедини
Созвучием любви,
Тропою веры их веди
И рай им отвори!
{% endverse %}
