---
name: 187
section: Начало богослужения
title: В храме быть Твоем люблю!
authors:
  - Йохан Фрейлингхаузен, Германия, Галле, 1704
  - Джеймс Монтгомери, 1812
  - (на основании Евр. 9:14)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
В храме быть Твоем люблю!
Здесь Тебя я восхвалю,
От Тебя смогу принять
Во Христе всю благодать.
{% endverse %}
{% verse "2" %}
В Нем с Тобой я примирен,
Я теперь – дитя Твое.
Дай мне, Отче, благодать
Твоего лица искать.
{% endverse %}
{% verse "3" %}
Здесь хвала Тебе звучит,
Пусть душа благословит,
Славят в радости уста
Ныне Господа Христа!
{% endverse %}
{% verse "4" %}
Слыша всех святых земли,
Бог любви, и мне внемли!
Пусть живет во мне Дух Твой,
Иисус, Ходатай мой.
{% endverse %}
{% verse "5" %}
Для спасения души
Мне Законом страх внуши,
И Евангелие дай,
Чтоб войти в небесный рай.
{% endverse %}
{% verse "6" %}
Мне служители Твои
Весть Благую принесли,
Здесь приму всем сердцем я,
Верой, Слово от Тебя!
{% endverse %}
{% verse "7" %}
Чтоб во мне сиял свет Твой,
Пламенеет дух пусть мой!
В каждом деле я скажу:
«Богу с радостью служу!»
Аминь.
{% endverse %}
