---
name: 188
section: Начало богослужения
title: Господь Иисус, пребудь средь нас!
authors:
  - Cantionale Germanicum, Дрезден, 1628
  - Неизвестный автор, 1651 (на основании Пс. 94:2)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Господь Иисус, пребудь средь нас!
К Себе приблизь нас в этот час,
Твою пошли нам благодать,
Дай Истине в нас воссиять.
{% endverse %}
{% verse "2" %}
Благослови уста, чтоб петь,
Даруй Твой мир в душе иметь.
Любовь и веру укрепи,
Познать Тебя нам помоги.
{% endverse %}
{% verse "3" %}
Пусть в небесах все возгласят:
«Господь Всевышний Бог, Ты свят!»
В Твой вечный светлый дом придя,
Лицом к лицу узрим Тебя.
{% endverse %}
{% verse "4" %}
Отец и Сын и Дух Святой,
Тебя мы славим всей душой!
Тебе, О Триединый Бог,
Хвала и честь во век веков!
Аминь.
{% endverse %}