---
name: 189
section: Начало богослужения
title: Мой господь, в Твоем я храме
authors:
  - Йоахим Неандер, 1680
  - Беньямин Шмольк, 1732 (на основании Пс. 99:4)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Мой господь, в Твоем я храме
Благословений Твоих жду,
Мне не выразить словами
Моей души в Тебе нужду.
Каждый день воскресный дай
Мне, Господь, прийти сюда.
{% endverse %}
{% verse "2" %}
Ты прими мое моленье,
К Себе приблизь меня в хвале,
Это место поклоненья
Пусть станет раем на земле.
Сердце отдаю Тебе,
Вознеси его к Себе!
{% endverse %}
{% verse "3" %}
Пусть Твое Святое Слово,
Как семя, в сердце прорастет,
Против воли мира злого
Да принесу лишь добрый плод!
Истиной освободи,
К новой жизни пробуди!
{% endverse %}
{% verse "4" %}
В вере укрепи Христовой,
Дай сохранить Твой дар святой,
В искушений тьме пусть Слово
Твое сияет надо мной –
Путеводная звезда,
Утешенье мне всегда!
{% endverse %}
{% verse "5" %}
Дай принять Твои веленья,
Да будет воля ввек Твоя,
Кормчий моего спасенья,
Словом Твоим направь меня,
Здесь даруй душе моей
Исцеленье от скорбей!
Аминь.
{% endverse %}
