---
name: 19
section: Адвент
title: О, душа, воспрянь от сна
authors:
  - Германия, 1653
  - Филипп Фридрих Гиллер, 1762
  - Перевод: Михаил Левин, 1997
---
{% verse "1" %}
О, душа, воспрянь от сна,
Вести радостной внемли ты.
Молви: Господи, приди,
Для Тебя врата открыты.
Истинный Спаситель мой,
Долгожданный Царь святой!
{% endverse %}
{% verse "2" %}
Посети Твоих детей,
Водной баней нас очисти,
Нам Евангелие открой,
Слово милости и жизни.
Весть великая вперед
Мчится: Ей, Господь грядет!
{% endverse %}
{% verse "3" %}
От греха освободи,
В душу дай нам покаянье,
Духов злобы из нее
Изгони Своею дланью.
Пусть Твоя Святая Кровь
Возродит нас к жизни вновь.
{% endverse %}
{% verse "4" %}
Кровной жертвою Твоей
Ты спасенье нам приносишь
И, свершив Свой крестный путь,
Землю к небу превозносишь.
О, приди, вселись же в нас,
Господи, наш чудный Спас!
{% endverse %}
{% verse "5" %}
Духом ободри Святым,
Чтоб в скорбях нас утешал Он,
И в смиренье чтоб Твоя
Воля восторжествовала.
О Иисусе, к нам приди!
За Собою нас веди!
{% endverse %}
