---
name: 190
section: Начало богослужения
title: О день воскресный радостный
authors:
  - М.Ф. Веркмайстер, 1784
  - Кристофер Уордсуорт, 1862 (на основании Пс. 117:24)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
О день воскресный радостный,
День светлый и святой!
Елей для сердца благостный
И для души покой!
В сей день велик и мал, придя
К престолу вечному,
Поет от сердца: «Свят, Свят, Свят!»
Творцу Единому!
{% endverse %}
{% verse "2" %}
В сей день при Сотворении
Бог Словом свет создал,
В сей день нас воскресением
Христовым оправдал.
В сей день от Сына и Отца
Святой Дух в мир сошел.
В сей день Бог да прославится
Здесь каждым, кто пришел!
{% endverse %}
{% verse "3" %}
Сей день – оазис для души
В пустыне жизненной,
Пристанище, куда спешим
От жизни суетной.
Сей день – для размышления
И для любви святой,
Сей день – для обновления
Духовной истиной.
{% endverse %}
{% verse "4" %}
В сей день для назидания
Нас церковь Божья ждет,
И Божьих чад в собрание
Всех колокол зовет.
Здесь светит нам Благая весть,
Христа любовь несет,
И благодать Его с небес
Живой водой течет.
{% endverse %}
{% verse "5" %}
В сей день чудесный и благой
Да примем благодать
И вновь войдем в святой покой,
Что хочет Господь нам дать!
Хвала Тебе, наш Бог – Отец
И Сын и Дух Святой!
Да будет верность всех сердец
Лишь Троице Святой!
Аминь.
{% endverse %}
