---
name: 191
section: Начало богослужения
title: Пребудь средь нас, Господь Иисус
authors:
  - Scottish Psalter, 1615
  - Джошуа Стегманн, 17 в.
  - Перевод: Роман Туренко, 2010
---
{% verse "1" %}
Пребудь средь нас, Господь Иисус,
Даруй нам благодать,
Чтоб прегрешеньем дел и уст
Тебя не предавать.
{% endverse %}
{% verse "2" %}
Пребудь средь нас, Спаситель наш,
Дай Слово возлюбить.
Здесь поддержи, помилуй нас,
Дай в Небе вечно жить.
{% endverse %}
{% verse "3" %}
Пребудь средь нас, Предвечный Свет,
И просвети нас всех.
Хранить дай истины завет,
Не дай нам впасть во грех.
{% endverse %}
{% verse "4" %}
Пребудь средь нас, Господь благой,
И нас благослови,
Дай укрепляться лишь Тобой,
Жить в вере и любви.
{% endverse %}
{% verse "5" %}
Пребудь средь нас, Защитник наш
И Вождь Небесных сил,
Дай бодрствовать нам всякий час,
Чтоб враг нас не сломил.
{% endverse %}
{% verse "6" %}
Пребудь средь нас, о Бог-Любовь,
Влеки сердца к Себе.
Дай нам, о верный наш Покров,
Быть верными Тебе.
{% endverse %}
