---
name: 192
section: Начало богослужения
title: Бог на этом месте
authors:
  - Иоахим Неандер, 1680
  - Герхард Терстеген, 1729
---
{% verse "1" %}
Бог на этом месте,
Все в нас да смирится,
И пред Ним преклоним лица.
Боже вездесущий!
Честь и поклоненье
Воздаем Тебе в смиренье.
Кто познал, испытал,
Как Он благ и дивен,
Славит Божье имя.
{% endverse %}
{% verse "2" %}
Боже Всемогущий!
Светом жизни вечным
Озари наш храм сердечный.
«Свят, Свят, Свят Всевышний!» -
Серафимов песни
Оглашают свод небесный.
И от нас в этот час
Да звучат хваленья,
Гимны и моленья.
{% endverse %}
{% verse "3" %}
Бог в небесной славе!
Славят херувимы
День и ночь неутомимо.
Как цветочек нежно
Лепестки откроет,
Чтоб пить солнце золотое,
Так и нам в мире сем
Дай жить лишь Тобою
Жаждущей душою.
{% endverse %}
{% verse "4" %}
Боже, нам откройся
В святости и силе,
Чтоб Тебя мы всюду чтили.
Господи! Пребудь в нас
Крепостью Своею,
Сделай духом нас сильнее.
Будь средь нас всякий час,
Дай нам в мире этом
Быть не тьмой, а светом!
{% endverse %}
