---
name: 193
section: Начало богослужения
title: Боже наш, Христе, мы здесь
authors:
  - Иоганн Рудольф Але, 1664
  - Тобиас Клауснитцер, 1663
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Боже наш, Христе, мы здесь,
Чтоб принять Твое в нас Слово.
Душу преисполни нам
Духом благодати снова,
Чтоб, влекомые Тобою,
Не прельщались мы землею!
{% endverse %}
{% verse "2" %}
Ум наш всюду окружен,
Как и знанье наше, тьмою,
Коль не озарится он
Истиной Твоей святою.
Ты к добру нас направляешь,
Ты благое все свершаешь.
{% endverse %}
{% verse "3" %}
Ты, Христос, есть миру свет,
От Отца к нам нисходящий,
Ты премудрость и совет,
Сердце и уста святящий.
Мы к Тебе, молясь, взываем,
На Тебя лишь уповаем!
Тобиас Клауснитцер, 1663
Русский лютеранский сборник гимнов, 1915
Йохан Крюгер, 1653
{% endverse %}
{% verse "1" %}
Боже наш, Христе, мы здесь,
Чтоб принять Твое в нас Слово.
Душу преисполни нам
Духом благодати снова,
Чтоб, влекомые Тобою,
Не прельщались мы землею!
{% endverse %}
{% verse "2" %}
Ум наш всюду окружен,
Как и знанье наше, тьмою,
Коль не озарится он
Истиной Твоей святою.
Ты к добру нас направляешь,
Ты благое все свершаешь.
{% endverse %}
{% verse "3" %}
Ты, Христос, есть миру свет,
От Отца к нам нисходящий,
Ты премудрость и совет,
Сердце и уста святящий.
Мы к Тебе, молясь, взываем,
На Тебя лишь уповаем!
{% endverse %}
