---
name: 194
section: Начало богослужения
title: Господь! Душа внимать готова
authors:
  - Д. С. Бортнянский (1751-1825)
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Господь! Душа внимать готова,
Лишь слух и очи мне открой
Услышать правду Божья Слова,
Увидеть свет небесный Твой.
Душе дай слово утешенья,
А в нем – земных скорбей забвенье.
{% endverse %}
{% verse "2" %}
Здесь все мы чада заблужденья,
Здесь все греха объяты тьмой,
Пока нас светом откровенья
Не просветит Твой Дух Святой.
Благие мысли и желанья,
Добро – Твои, Господь, даянья.
{% endverse %}
{% verse "3" %}
Ты Свет от Света, Бог Предвечный,
Единородный Бога Сын!
Внять Слову с верою сердечной
Ты можешь силу дать один.
Господь! Прими мое моленье
И дай в Тебе мне утешенье.
{% endverse %}
