---
name: 195
section: Начало богослужения
title: О Иисус, Спаситель наш
authors:
  - Герлиц, 1628
  - Вильгельм II, Саксонский (?), 1648
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисус, Спаситель наш,
Пусть Дух Святой сойдёт на нас,
Чтоб в милосердии Своем
Ты вел нас истинным путем!
{% endverse %}
{% verse "2" %}
И освяти уста Ты вновь,
Сердца к молитве приготовь,
Даруй нам веры благодать,
Дай, Боже, нам Тебя познать!
{% endverse %}
{% verse "3" %}
Дай нам узреть Тебя потом
Во всем величии Твоем,
Перед престолом воспевать
Твою святую благодать.
{% endverse %}
{% verse "4" %}
К Тебе возносимся душой,
Отец и Сын и Дух Святой.
Прославим Троицу в веках
И на земле и в небесах!
{% endverse %}
