---
name: 196
section: Начало богослужения
title: Звонко в храме
---
{% verse "1" %}
Звонко в храме
Колокол звонит,
Созывает всех на праздник,
Праздник всех святых,
Созывает всех на праздник,
Праздник всех святых.
{% endverse %}
{% verse "2" %}
Звукам этим
Сердце ты открой
И спеши с надеждой в сердце
В Божий храм святой,
И спеши с надеждой в сердце
В Божий храм святой.
{% endverse %}
{% verse "3" %}
Всей семьею,
Мать, отец с детьми,
Слово Божие услышать
Поспешим и мы,
Слово Божие услышать
Поспешим и мы.
{% endverse %}
{% verse "4" %}
Слово Божье,
Семя доброты,
В сердце пусть растет и крепнет
И дает плоды,
В сердце пусть растет и крепнет
И дает плоды.
{% endverse %}
