---
name: 197
section: Начало богослужения
title: О Боже милосердный
authors:
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Боже милосердный,
Ты нас благослови,
В нас укрепи Ты веру,
Сердца открой любви!
{% endverse %}
{% verse "2" %}
О Боже, благодатью
Ты осени сей храм;
Раскрой Свои объятья,
Мир ниспошли сердцам.
{% endverse %}
{% verse "3" %}
О Боже, нас очами
Своими озари,
Пребудь всегда над нами
И вечно в нас цари.
{% endverse %}
{% verse "4" %}
О Боже наш, моленья
Ты наши не отринь
И вечного спасенья
Нас не лиши. Аминь.
{% endverse %}
