---
name: 198
section: Окончание богослужения
title: Ты позволил снова
authors:
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ты позволил снова
Нам услышать Слово.
К нас склонил святой Свой лик,
Чтобы свет Твой в нас проник.
{% endverse %}
{% verse "2" %}
И пребудь дарами
Ты Своими с нами.
Дай нам Духа благодать,
Дай Христа душой принять.
{% endverse %}
{% verse "3" %}
Восхвалите ж Бога
Во Христе живого!
Он спасения венец,
Он начало и конец!
{% endverse %}
