---
name: 199
section: Окончание богослужения
title: О наш Спаситель, вновь Тебе поем
authors:
- Эдвард Хопкинс (1818-1901)
- Джон Эллертон
- Перевод: Роман Туренко, 2009
---
{% verse "1" %}
О наш Спаситель, вновь Тебе поем,
Гимном молитву нашу вознесем.
Любящий Бог, Тебя благодарим:
Каждый из нас Тобой, Христос, храним.
{% endverse %}
{% verse "2" %}
Мир Твой даруй нам на пути домой,
Дай до конца весь день прожить с Тобой.
Словом и делом чтоб не согрешать,
Дай Твой Завет нам в сердце сохранять.
{% endverse %}
{% verse "3" %}
Мир Твой даруй нам в близкий час ночной,
Время забвенья суеты земной,
И сохрани нас от тревог и бед,
Дай видеть сердцем Твой небесный свет.
{% endverse %}
{% verse "4" %}
Мир Твой даруй нам в жизни сей мирской,
Всей Твоей Церкви верной и живой,
Мир сей стране чрез покаяние
И Твоей воле послушание.
{% endverse %}
{% verse "5" %}
Миром Твоим сердца нам исцеляй,
Славной надеждой души укрепляй,
Крепкой рукой по узкому пути
К вечному миру нас, Господь, веди!
{% endverse %}
