---
name: 2
section: Адвент
title: Любви великой чудо
authors:
  - Кёльн, 1608
  - А. Койгерова-Назаренко (Россия, совр.)
---
{% verse "1" %}
Любви великой чудо
Господь наш сотворил
Идет, идет, уж близок
Наш Бог Эммануил.
{% endverse%}
{% verse "2" %}
Зачнет во чреве Дева
И Сына нам родит.
Он от греха и смерти
Всех нас освободит.
{% endverse%}
{% verse "3" %}
Мы ждем Тебя, о Чудный,
Советник, Божий Сын,
Бог крепкий, Бог наш вечный
И мира Властелин.
{% endverse %}
