---
name: 20
section: Адвент
title: Кто там вдали идет?
authors:
  - Йосеф Хадар, 1956
  - Юхани Форсберг, 1967
  - Перевод: Татьяна Шадрунова
---
{% verse "1" %}
Кто там вдали идет?
И ослик кого везет?
Посланы на дорогу листы,
Ветки, платки, холсты.
Это Спаситель наш,
Господь Искупитель наш.
Он направляется в Иерусалим.
Люди идут за Ним.
{% endverse %}
{% verse "2" %}
Золота нет на Нем.
Он в платье одет простом.
Трудным был путь Его по земле.
Зло Он встречал везде.
Радуется народ,
Но несколько дней пройдет,
И осуждением сменится любовь,
Божья прольется кровь.
{% endverse %}
{% verse "3" %}
Власти Твоей секрет
В смирении, простоте.
Нет места гордости в сердце Твоем,
Мир обитает в нем.
Веру в нас укрепи,
Свой свет подари в пути.
В Царство Небесное нас веди,
Мир и любовь пошли.
{% endverse %}
{% verse "4" %}
Царь наш, Иисус Христос
Спасенье земле принес.
Вместе за Господом мы пойдем
Узким, прямым путем.
Нашему Царю осанна,
Нашему Царю осанна!
Нам среди горестей, боли и слез
Радость Господь принес.
{% endverse %}
