---
name: 200
section: Утро и вечер
title: О, приди же ко мне, Иисус
authors:
- Армас Маасало, 1913
- Хилья Хаахти, 1899
---
{% verse "1" %}
О, приди же ко мне, Иисус,
Труд дневной мой благослови.
Поздно вечером, рано утром
Да пребуду в Твоей любви,
Да пребуду в Твоей любви.
{% endverse %}
{% verse "2" %}
О, приди, чтобы, шаг за шагом,
Вместе трудным путем идти.
Только Ты мне источник света,
Не оставь же меня в пути,
Не оставь же меня в пути.
{% endverse %}
