---
name: 201
section: Утро и вечер
title: Ночь землю покрывает
authors:
- Германия, 1495
- Пауль Герхардт, 1647
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ночь землю покрывает
И в сердце пробуждает
Благодаренья глас.
Склони Свой лик, о Боже,
Во тьме на наше ложе.
Покой даруй нам в ночи час.
{% endverse %}
{% verse "2" %}
Утешь Своим Ты Словом,
Укрой Своим покровом
Ты нас и нам внемли.
Заботы все мирские
И мысли несвятые
От нас, о Боже, удали.
{% endverse %}
{% verse "3" %}
День дню вещает снова,
Что странники без крова
Мы здесь, в краю чужом,
И что тропой земною
Мы вместе за Тобою
В Отчизну вечную идем.
{% endverse %}
