---
name: 202
section: Утро и вечер
title: Отче Небесный, ночь прошла, настал день
authors:
- Антифон, Париж, 1681
- Григорий I, 540-604
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Отче Небесный, ночь прошла, настал день.
Перед Тобою с верой мы предстали.
Пеньем, молитвой, тихим размышленьем
Тебя мы славим!
{% endverse %}
{% verse "2" %}
О Всемогущий, дай нам обновленье!
Наполни слабых силой бесконечной,
Веди нас к небу, к дивному общенью,
К радости вечной!
{% endverse %}
{% verse "3" %}
Отцу и Сыну и Святому Духу –
Троице Вечной честь и поклоненье!
Гимны хваленья раздаются всюду,
Во всем творенье.
{% endverse %}
