---
name: 203
section: Утро и вечер
title: Неба и земли Создатель, ночи и дня
authors:
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Неба и земли Создатель, ночи и дня,
Давший время для работы, время для сна,
Сил пошли нам обновленье,
И во время сновидений
Ангелам дай повеленье нас охранять.
{% endverse %}
{% verse "2" %}
Долготою дней насыть, избавь от скорбей!
Дай во всем нам покоряться воле Твоей!
Защищай от сил лукавых,
Направляй к небесной славе,
Укрепляй в труде усталых силой Своей!
{% endverse %}
{% verse "3" %}
О Отец, чей трон на небе, Сын Преблагой,
Дух Святой, Бог Триединый, дай нам покой!
Мы в смиренье пребываем,
Головы в мольбе склоняем
И Тебя мы восхваляем, Боже Святой!
{% endverse %}
