---
name: 204
section: Утро и вечер
title: Землю укрывает
---
{% verse "1" %}
Землю укрывает
Вновь ночная мгла.
Мирно завершаем
Все свои дела.
{% endverse %}
{% verse "2" %}
О Господь, усталым
Мирный сон пошли,
Старикам и малым
Силы обнови!
{% endverse %}
{% verse "3" %}
Страхи и сомненья
Изгони скорей,
Дай узреть виденья
Чудный райских дней!
{% endverse %}
{% verse "4" %}
Ужасы ночные
К нам да не придут!
Ангелы святые
Пусть нас берегут!
{% endverse %}