---
name: 205
section: Утро и вечер
title: С тихой утренней зарею
---
{% verse "1" %}
С тихой утренней зарею
Всё творенье, всё живое,
Пробудясь, поет, как может:
«Честь тебе, великий Боже!»
{% endverse %}
{% verse "2" %}
Человек, который много
Получил даров от Бога
И познал путь жизни правой,
Может ли Его не славить?
{% endverse %}
{% verse "3" %}
Утром, лишь глаза открою,
Я стою перед Тобою,
Возношу Тебе хваленье
И прошу благословенья.
{% endverse %}
