---
name: 206
section: Утро и вечер
title: Покинувши сна ложе
authors:
  - 16 век
  - Г. Ниге (1525-1588)
---
{% verse "1" %}
Покинувши сна ложе
В сей ранний утра час,
О Всемогущий Боже,
Моих молений глас
Из сердца глубины
К Тебе я воссылаю,
Тебя я прославляю
Отныне во все дни.
{% endverse %}
{% verse "2" %}
Вновь многие щедроты
Ты на меня излил,
От страха и заботы
Меня Ты сохранил.
О Господи, прими
За то благодаренье!
Мои все прегрешенья
Мне, Боже, отпусти!
{% endverse %}
{% verse "3" %}
Молю Тебя, и ныне
Меня Ты сохрани
От страха и унынья,
От козней сатаны,
От ропота в нужде,
От горького сомненья,
От уз и заточенья,
От слабости в беде.
{% endverse %}
{% verse "4" %}
На Бога усмотренье
Всё предоставлю я;
Его благословенье
Да снидет на меня.
Навеки жизнь свою
И все свои желанья,
И дел всех начинанья
Ему я предаю.
{% endverse %}
