---
name: 207
section: Утро и вечер
title: Я устал, пошли покой
authors:
- Кайзерсверт, 1842
- Л. Гензель, 1817
- Перевод: Н. Николаев
---
{% verse "1" %}
Я устал, пошли покой,
Боже, оче мне закрой,
Тихим миром осени
И на сон благослови.
{% endverse %}
{% verse "2" %}
Если зло соделал я,
Не суди, Господь, меня,
Всю вину прости мою
И даруй любовь Твою!
{% endverse %}
{% verse "3" %}
Боже, всех родных, друзей
Ты храни в руке Своей,
Дай нам всем спокойно спать,
Утром радостными встать.
{% endverse %}
