---
name: 208
section: Утро и вечер
title: Ярким румянцем горят небеса
authors:
- Украинская народная мелодия
- А. Новосад, 1996
---
{% verse "1" %}
Ярким румянцем горят небеса,
Тихо на землю нисходит роса,
Душу наполнил желанный покой,
День утомленный простился с землей.
{% endverse %}
{% verse "2" %}
А в тишине раздается хвала,
Славит природа милость Творца.
Сердце твое тоже пусть не молчит –
Гимн благодарности Богу дарит.
{% endverse %}
{% verse "3" %}
В радости тихой нас песня зовет
Выше к престолу Божьих щедрот.
Гаснут последние краски зари,
Звуки вечерние смолкли вдали.
{% endverse %}
