---
name: 209
section: Утро и вечер
title: Пребудь со мной! Уж свет сменился мглой
authors:
- У. Г. Монк, 1861
- Х. Ф. Люте
---
{% verse "1" %}
Пребудь со мной! Уж свет сменился мглой.
Близится ночь, Господь, пребудь со мной!
Пусть и лишусь опоры я земной,
Оплот бессильных, Ты пребудь со мной!
{% endverse %}
{% verse "2" %}
Жизни короткой день к концу идет,
Померкнет всё земное и пройдет.
Всё счастье мира – только миг пустой.
Друг неизменный, о, пребудь со мной!
{% endverse %}
{% verse "3" %}
Враг не страшит, коль Ты, Господь, вблизи,
Скорбь не теснит, не знаю я тоски.
Где смерти жало? Ад, где ужас твой?
Бессильно всё, когда Господь со мной!
{% endverse %}
{% verse "4" %}
Крестом Своим меня Ты освяти,
Звездою утренней средь тьмы гори.
Небо светлеет новою зарей,
В жизни и смерти Сам пребудь со мной.
{% endverse %}
