---
name: 21
section: Адвент
title: Свечу в тиши ночной зажжем
authors:
  - Эмми Кёлер, 1898
  - Сигурд Мури, 1963
  - Перевод: В. Л. Благинин, Д. А. Розет
---
{% verse "1" %}
Свечу в тиши ночной зажжем,
Разгоним тьму и страх.
Рождения Христа мы ждем –
Спаситель при дверях.
{% endverse %}
{% verse "2" %}
Вторую мы свечу зажгли,
Свет разгоняет тьму.
Позволь, Небесный наш Отец,
Скорей прийти Христу!
{% endverse %}
{% verse "3" %}
Вот третья свечка зажжена,
Огнем своим маня.
В хлеву родится скоро Царь,
Любовь и свет даря.
{% endverse %}
{% verse "4" %}
Зажглась четвертая свеча,
Приходит Рождество.
Мы ждем пришествия Христа,
Спасения Его.
{% endverse %}
