---
name: 210
section: Утро и вечер
title: О дух мой, окрылись
authors:
- Йохан Крюгер, 1653
- Л. Лоренцен, 1700
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О дух мой, окрылись,
К Всевышнему стремись!
От всех миров Создатель,
Он дарит благодать нам!
{% endverse %}
{% verse "2" %}
Ночь стала над землей
И всё накрыла тьмой.
Послал враг искушенье,
Но Бог принес спасенье!
{% endverse %}
{% verse "3" %}
Он мне сказал: «Не бойся!
Усни и успокойся,
И верь: тебя, о чадо,
Дня озарит отрада».
{% endverse %}
{% verse "4" %}
Когда свершилось слово,
Я свет увидел снова.
К благим делам готовый,
Восстану к жизни новой!
{% endverse %}
{% verse "5" %}
Пребудь со мной, о Боже,
В теченье дня Ты тоже.
Прикрой меня в час брани
Ты мощью Своей длани.
{% endverse %}
{% verse "6" %}
Наставь Своим советом,
Будь для меня Ты светом,
Чтоб дел моих начало
Конец благой стяжало.
{% endverse %}
{% verse "7" %}
Чтоб Слово Пресвятое
Твое, вовек живое,
Во мне укоренилось
И в вере проявилось.
{% endverse %}
