---
name: 211
section: Утро и вечер
title: Ночь наступила, полна тишиною
authors:
- Франкфурт-на-Майне, 1550
- П. Герберт, 1566
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ночь наступила, полна тишиною,
Землю накрыла глубокою тьмою.
К нам снизойди, милосердный наш Боже,
Светлой зарею!
{% endverse %}
{% verse "2" %}
Дай нам благие пред сном помышленья,
Мысли святые, а в час пробужденья –
Чтобы Твоею пошли мы стезею
К цели спасенья!
{% endverse %}
{% verse "3" %}
Дай Ты болящим надежду, терпенье,
Духом скорбящим дай к миру стремленье,
Чад охрани Ты и всех оживи Ты
Верой в спасенье.
{% endverse %}
{% verse "4" %}
Имя Твое пусть повсюду святится,
Царствием, Боже, Своим в нас вселись,
Волей благою над всеми и мною
Ты проявись!
{% endverse %}
