---
name: 212
section: Утро и вечер
title: Ночь, тихою стопою
authors:
- 15 век
- Пауль Герхардт, 1647
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ночь, тихою стопою
К земле сойдя, к покою
Тревогу дня зовет.
Уж дремлют дол и горы,
Замолкли птичьи хоры,
Сияет небосвод.
{% endverse %}
{% verse "2" %}
Где ты, о дня светило?
Тебя тьма поглотила,
И света враг не спит.
Во мне же, солнца ярче,
Живительней и жарче
Христом зажженный луч горит.
{% endverse %}
{% verse "3" %}
О дух мой, теплотою
Согретый неземною,
Ты к Богу воспари.
За все дары природы,
За каждый миг и годы –
За всё Его благодари.
{% endverse %}
{% verse "4" %}
Не раз в часы бессилья
Средь дня меня под крылья
Свои Ты, Боже, звал.
Не раз во мраке ночи,
Когда смежал я очи,
Твой взор меня оберегал.
{% endverse %}
{% verse "5" %}
Услышь мое моленье,
Даруй благословенье,
Сном осени меня.
Дух укрепи и тело
И на благое дело
Вновь пробудь в сиянье дня.
{% endverse %}
{% verse "6" %}
И вас, мои родные,
Не огорчат пусть ныне
Ни слезы, не беда.
Дай Бог вам сон блаженный
И дух неотягченный,
Покойтесь в мире до утра.
{% endverse %}
