---
name: 213
section: Утро и вечер
title: О Иисус, настала ночь!
authors:
- Мартин Лютер, 1543
- Николай Герман, 1560
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисус, настала ночь!
Тебя мы молим нам помочь.
Да не погаснет Слова свет,
В нем дух наш благостью согрет.
{% endverse %}
{% verse "2" %}
И да услышим мы Твой глас,
Чтоб вера укреплялась в нас,
Чтоб до последней мы поры
Все сберегли Твои дары.
{% endverse %}
{% verse "3" %}
Храни, Господь, от суеты
Свою Святую Церковь Ты,
Чтоб Слова Твоего закон
Во всём был мире утвержден.
{% endverse %}
{% verse "4" %}
Ты духа гордости и лжи,
О Иисусе, низложи,
Да не посмеет власть его
Коснуться Слова Твоего.
{% endverse %}
{% verse "5" %}
Сильны мы Словом лишь Твоим,
Его лишь мощью мы стоим,
И под его покровом мы
Сразим все вражьи силы тьмы.
{% endverse %}
{% verse "6" %}
Да сохранится в нас оно
Так чисто, как Тобой дано,
И в наши дни, и до конца,
Когда войдем мы в дом Отца.
{% endverse %}
