---
name: 214
section: Утро и вечер
title: Утро каждое милость вновь
authors:
- Оскар Анфельт, 1874
- Лина Санделль, 1865
- Перевод: Арво Сурво, 2000
---
{% verse "1" %}
Утро каждое милость вновь
Всемогущий дарует.
Безгранична Его любовь –
Ею души врачует.
Слава Господу – Он ведь с нами,
Помогая всегда, повсюду нам.
Друг мой, веруй Его словам,
В Нем сольемся сердцами.
{% endverse %}
{% verse "2" %}
Утро каждое милость вновь
Средь забот нам забвенье.
Покрывает всё Сына кровь,
Всех грехов в ней прощенье.
Милость Божья нас осенила,
Для Небес Он взращивает нас,
Иисус наш Господь и Спас,
В Нем охрана и сила.
{% endverse %}
{% verse "3" %}
Всё, что было, что есть – прейдет,
Радость мира и беды.
С тайн однажды покров спадет,
 Как Христос заповедал.
День Господний грядет уж вскоре,
Но о нем знает лишь Отец один.
Славься, Господи Триедин,
Здесь и в неба просторе!
{% endverse %}
