---
name: 215
section: Утро и вечер
title: Вечер окутал землю вновь
authors:
- С. Литениус, 1895
---
{% verse "1" %}
Вечер окутал землю вновь.
Людям защитой Божья любовь.
Милостью Бог грехи просил,
Миру Иисуса подарил.
{% endverse %}
{% verse "2" %}
Детям Своим на Небеса
Праведный путь Он указал,
Чтоб отдохнуть от всех тревог
Каждый в Его объятьях смог.
{% endverse %}
