---
name: 216
section: Божье слово
title: Зачем робеть и унывать
authors:
- Нюрнберг, 1534
- Якоб Фабрициус, 1632
---
{% verse "1" %}
Зачем робеть и унывать,
Что грозна нечестивых рать,
У нас же силы мало?
Зачем смущаться, что она
Коварных замыслов полна
И ждет, чтоб нас не стало?
{% endverse %}
{% verse "2" %}
Всего превыше Божья власть,
Она врага заставит пасть,
Мы месть Отцу оставим.
Господь Воителя пошлет,
Дабы избавил Свой народ.
Мы Им себя прославим.
{% endverse %}
{% verse "3" %}
Мужайтесь, все, кто духом пал –
Господь Свое нам Слово дал,
Мы под Его покровом.
Доколе с Ним пребудем мы,
Не побороть нас силам тьмы,
Мы победим Сим Словом!
{% endverse %}
