---
name: 217
section: Божье слово
title: Даровано, Господь, Тобой спасительное Слово
authors:
- Enchiridion, Erfurt, 1527
- Неизвестный автор, 1527
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Даровано, Господь, Тобой спасительное Слово,
То Слово милости живой, прощения основа.
Нам благодать возвещена в святых словах пророков.
Зарей сияла им она из тьмы веков далекой.
{% endverse %}
{% verse "2" %}
И ясно смертным всем умам, что Слово то внушает:
Оно величье Божье нам и славу возвещает.
Оно для нас - спасенья глас, о чем душа молила,
Любви завет, надежды свет и веры нашей сила.
{% endverse %}
{% verse "3" %}
То Слово, что Господь изрек, пребудет неизменно:
Погибнет всё – оно вовек останется нетленно.
Ни вражья власть, ни ада пасть его не превозможет,
И благо всем, кто Словом тем войдет в общенье Божье!
{% endverse %}
