---
name: 218
section: Божье слово
title: Словом Твоим сильным, Боже, разделил Ты тьму
authors:
- Томас Уильямс (1869-1944)
- Мартин Францманн (1907-1976), на основании Быт. 1:3; Ин. 1:1-14; 2 Кор. 4:6; 1 Петр. 2:9
- Перевод: Роман Туренко, 2009
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя, аллилуйя!
Хвала Тебе, Боже, дающий нам свет!
Аллилуйя, аллилуйя!
Хвала бесконечная, Боже, Тебе!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Словом Твоим сильным, Боже, разделил Ты тьму,
Веленьем «Да будет свет!» начал творить.
За свет и мир наш, что сотворены Тобой,
Мы будем всю жизнь Тебя благодарить.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ты так возлюбил мир, что милостиво послал
Спасения свет для нас, бывших во тьме.
Своим животворным Духом Ты нас пробудил
К жизни, побеждающей вечную смерть.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Словом Твоим сильным вменил Ты нам праведность,
Спасение даровал благодатью.
Тобою искуплены, в славу Твою идем,
Тебя исповедуем всею жизнью.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
С Креста нам сияет Твоя мудрость высшая
И мир своей силою покоряет,
С Креста миру светит вечный Твой небесный свет –
Свет, что ко спасению призывает.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Даруй нам уста петь о милости и любви,
Что Ты проявляешь к нам, недостойным,
И всем возвещать о нашем уповании,
Имя Твое призывать пресвятое.
{% endverse %}
{{ chorus() }}
{% verse "6" %}
Отче наш Небесный, Ты есть изначальный Свет!
Вся честь Тебе, Господи, будет вовек!
Сын Единородный Божий, Ты - от Света Свет!
Хвала Тебе, Господи, будет вовек!
{% endverse %}
{% verse "Припев" %}
Дух Святый Божий, Ты всем нам открыл Свет,
Слава Тебе, Господи, на века!
Мы благоговейно и ныне и в небесах
Вместе Святой Троице поклонимся!
{% endverse %}
