---
name: 219
section: Божье слово
title: Открой сердца Ты чад Своих
authors:
- Луи Буржуа, 1547
- Иоганн Готфрид Олеарий, 1671
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Открой сердца Ты чад Своих,
Войди Своим Ты Словом в них.
Дай Слово им Твое понять,
Наследье благ Твоих принять.
{% endverse %}
{% verse "2" %}
Чрез это Слово Святый Дух
Врачует в нас греха недуг,
То Слово душу веселит
И ей спасение дарит.
{% endverse %}
{% verse "3" %}
Хвала Тебе, о Боже мой,
Отец и Сын и Дух Святой!
О Троица, святой оплот,
Тебе весь мир хвалу поет!
{% endverse %}
