---
name: 22
section: Рождество
title: Английская баллада, 16 век
authors:
  - Английская баллада, 16 век
  - Уильям Ч. Дикс (1837-1898)
---
{% macro chorus() %}
{% verse "Припев" %}
Сей есть Господь Христос,
Он рай утерянный принес.
Он нам Всевышним дан,
Спаситель, Сын Марии.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Что за Дитя в хлеву чужом
Иосиф охраняет?
Небесный хор поет о нем,
А пастухи внимают.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Зачем же в яслях Он лежал,
Где овцам корм давали?
Чтоб каждый мог у ног Его
Сложить свои печали.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ему в дар злато, ладан
И смирну принесите.
Он Царь царей, пред Ним скорей
Дверь сердца отворите.
{% endverse %}
{{ chorus() }}
