---
name: 220
section: Божье слово
title: Шел сеятель с зернами в поле и сеял
authors:
- Уэльс, 17 век
- А. М. Жемчужников (1821-1908), на основании Мф. 13:3-23
---
{% verse "1" %}
Шел сеятель с зернами в поле и сеял,
И ветер повсюду те зерна развеял.
Они при дороге упали, порой
Их топчет прохожий небрежной ногой.
{% endverse %}
{% verse "2" %}
И птиц, из окрестных степей пролетая,
На них нападает голодная стая.
Другие на камень бесплодный легли,
И вскоре без влаги их корни взошли.
{% endverse %}
{% verse "3" %}
И в пламенный полдень дневное светило
Былинку палящим лучом иссушило –
Средь терния пало иное зерно,
И в тернии диком заглохло оно…
{% endverse %}
{% verse "4" %}
Напрасно шел дождь, и с прохладной зарею
Поля освежались небесной росою,
Один за другим проходят года, -
От зерен тех нет и не будет плода.
{% endverse %}
{% verse "5" %}
Но в добрую землю упавшее семя,
Как жатвы настанет урочное время,
Готовя стократно умноженный плод,
Высоко, и быстро, и сильно растет.
{% endverse %}
{% verse "6" %}
И блещет красою, и жизнию дышит…
Имеющий уши, чтоб слышать, да слышит!
{% endverse %}
