---
name: 221
section: Вера
title: Всевластный защитник - мой Бог
authors:
  - Д. Эмлин Эванс (1843-1913)
  - Огастэс Топлэди (1740-1778)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Всевластный защитник - мой Бог
Незримо вовеки со мной,
Спасения верный оплот,
Властитель над всею землей.
В скорбях утешение мне,
Как росы Его благодать,
Как крепкая башня душе,
Силен Бог от зла ограждать.
{% endverse %}
{% verse "2" %}
Хранитель и Пастырь Своих,
Ты слышишь молитву мою,
В Завете и ночью, и днем,
Всецело Тебе предаюсь.
И ночь для меня не темна,
Ведь Ты – мое Солнце и щит.
Я ближе к Тебе каждый миг,
И к вечности время бежит.
{% endverse %}
{% verse "3" %}
Ты начал, и Ты совершишь
Надежду и веру мою.
Тебя исповедую я,
Тебе благодарно пою.
Я помню все чудные дни,
Когда Ты защитой мне был.
Я знаю, сей грешник прощен,
Ведь Ты меня так возлюбил.
{% endverse %}
