---
name: 222
section: Вера
title: Господь нам крепость и оплот
authors:
- Мартин Лютер, 1529
- Мартин Лютер, 1528 (на основании Пс. 45)
- Перевод: А. Гришин, А. Прилуцкий, 1998
---
{% verse "1" %}
Господь нам крепость и оплот,
Он щит и меч надежный
И нас спасает от невзгод
В сей день и час тревожный.
Враг древний зло таит,
Себя высоко мнит,
Своим лукавством он,
Как в латы облачен,
Царит он над землею.
{% endverse %}
{% verse "2" %}
Сражаться с войском темных сил
Никто из нас не может,
Но в битву ради нас вступил
Святой избранник Божий.
Кто есть воитель тот?
Иисус Христос, Господь,
Он Бог наш Саваоф,
И нет других богов.
Он нас ведет к победе.
{% endverse %}
{% verse "3" %}
Пусть мир во власти сгтаны
Нас погубить желает –
Того не убоимся мы,
Господь нас не оставит.
Князь мира же сего
Не сможет ничего
Соделать нам в урон,
И суд над ним свершен –
Повержен был он Словом.
{% endverse %}
{% verse "4" %}
И неизменен в Слове Бог –
Оно пребудет с нами,
Исполнено святых даров,
На поле нашей брани.
Пускай разрушит враг
Наш кров и наш очаг
И все придаст огню –
В том пользы нет ему –
Наследники мы Царства.
{% endverse %}
