---
name: 223
section: Вера
title: День за днем и каждое мгновенье
authors:
- Оскар Анфельт, 1872
- Лина Санделль, 1865
- Перевод: Д. Ясько (куплеты 1, 3);
- Рабочая группа ЕЛЦИ, 2013
---
{% verse "1" %}
День за днем и каждое мгновенье
Бог дает мне силу для борьбы.
Доверяя Божьим откровеньям,
Не страшусь изменчивой судьбы.
Тот, чье сердце любит беспредельно,
Каждый день нам лучшее дает,
Скорбь и радость отмеряет верно,
Мир святой среди земных забот.
{% endverse %}
{% verse "2" %}
Каждый миг Спаситель нам внимает,
Мир дает Он страждущим сердцам.
От мирской печали избавляет
Нас любовь Небесного Отца.
Мы рукой Всевышнего хранимы,
Солнце правды светит нам сквозь тьму.
Нас хранит покров Творца незримый,
Верен Бог Завету Своему.
{% endverse %}
{% verse "3" %}
Помоги во всяком испытанье
Доверять Тебе, Господь, во всем,
Помнить твердо все обетованья,
Что находим в Слове мы Твоем.
Помоги, встречая труд и горе,
Принимать их из руки Твоей,
День за днем идти, поднявши взоры,
К той стране, где нет уже скорбей.
{% endverse %}
