---
name: 224
section: Вера
title: Благодатная скала
authors:
- Томас Хейстингс, 1830
- Августус М. Топлэди, 1776
---
{% verse "1" %}
Благодатная скала
Мне спасение дает
От греха, порока, зла.
Я в ней вижу свой оплот.
Из скалы Христа струей
Бьет поток воды живой.
{% endverse %}
{% verse "2" %}
Не исполнить мне Закон,
Им я к смерти осужден.
Грех мой мучает меня,
Совесть жжет сильней огня.
Я могу найти покой
Лишь в скале Христа святой.
{% endverse %}
{% verse "3" %}
Я пришел к Тебе, мой Бог!
Я был наг, и Ты одел.
Я был беден, Ты в удел
Дал мне дивный Твой чертог.
Ты омыл меня в Крови,
Я сокрыт в Твоей любви.
{% endverse %}
{% verse "4" %}
Благодати Божьей свет
Оградил меня от бед.
Среди горя и невзгод
Силы мне Господь дает.
Никого я не страшусь,
Ведь скала моя – Иисус.
{% endverse %}
