---
name: 225
section: Вера
title: Нашел опору я спасенья
authors:
- Иоганн Бальтазар Кёниг, 1738
- Иоганн Андреас Роте, 1726-1727
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Нашел опору я спасенья,
И якорь мой в ней закреплен.
Она была до сотворенья,
Явилась прежде всех времен.
В крови Спасителя Христа
Находится опора та.
{% endverse %}
{% verse "2" %}
Опора – Божье милосердье
И искупленья благодать,
Любви смиренное усердье
Заблудших грешников принять –
Любви, страдающей о том,
Идем ли праведным путем.
{% endverse %}
{% verse "3" %}
Спаситель! На кресте Тобою
Наш смертный грех был побежден,
Твоею Кровию Святою
Мир от проклятия спасен.
Любовь Христа средь многих бед
Дарует нам надежды свет.
{% endverse %}
{% verse "4" %}
И с верой трепетно храню я
Залог Божественный святой.
Надеюсь, грех мой поборю я,
Коль к Богу обращусь душой.
Он непрестанно нас зовет
И нашего ответа ждет.
{% endverse %}
{% verse "5" %}
Хоть бремя тяжко мне земное
И горем дух мой удручен
И, полагаясь на пустое,
Я суетой порабощен,
Но знаю, что всегда со мной
Защитник и хранитель мой.
{% endverse %}
{% verse "6" %}
Пребудет твердой пусть основа
Сей веры до скончанья дней.
Желаю делом я и словом
Всегда остаться верным ей.
Превыше всех земных отрад
Всемилосердья Божья клад.
{% endverse %}
