---
name: 226
section: Вера
title: Коль веры нет, мы дни в тревоге
authors:
- Георг Ноймарк, 1657
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Коль веры нет, мы дни в тревоге
Проводим и средь суеты
Не ищем благодати в Боге,
Теряясь в пустоте мечты.
Так гаснет истины в нас свет,
Коль веры нет, коль веры нет.
{% endverse %}
{% verse "2" %}
Коль веры нет, мы не вкушаем
И мира, данного Христом:
Мы мир Его тогда стяжаем,
Когда идем Его путем.
Но истины теряем след,
Коль веры нет, коль веры нет.
{% endverse %}
{% verse "3" %}
Коль веры нет, тогда смущает
Коварство нас и злость врагов.
Когда нам дружба изменяет,
Не знаем, где найти покров.
Господь – наш щит! Господь – наш свет!
Но слабы мы: в нас веры нет.
{% endverse %}
{% verse "4" %}
Коль веры нет, то нет оплота,
Нас жизни тяготы гнетут.
Безрадостна нам жизнь в заботах,
Страшат грехи и Божий суд.
Ужель услышим мы в ответ:
«Не знаю вас, в вас веры нет»?
{% endverse %}
{% verse "5" %}
Коль веры нет – живем лишь страхом
Пред тем, что ждет за гробом нас,
Когда земным мы станем прахом.
Себя терзаем каждый час.
Нет утешенья нам средь бед,
Коль веры нет, коль веры нет.
{% endverse %}
{% verse "6" %}
Нас освяти Своей любовью,
Господь, надежду в нас всели!
Своими Телом нас и Кровью
От всех сомнений исцели!
Дай в твердой вере умереть
И Лик Твой пресвятой узреть!
{% endverse %}
