---
name: 227
section: Вера
title: О благодать! Спасен тобой
authors:
- Американская мелодия, 1831
- Дж. Ньютон (1725-1807)
---
{% verse "1" %}
О благодать! Спасен тобой
Я из пучины бед!
Был мертв и чудом стал живой,
Был слеп и вижу свет.
{% endverse %}
{% verse "2" %}
Сперва внушила сердцу страх,
Затем дала покой.
Я скорбь души излил в слезах,
Твой мир течет рекой.
{% endverse %}
{% verse "3" %}
Прошел немало я скорбей,
Невзгод и черных дней,
Но ты всегда была со мной,
Вела меня домой.
{% endverse %}
{% verse "4" %}
Словам Господним верю я,
Моя вся крепость в них:
Он - верный щит, Он - часть моя
Во всех путях моих.
{% endverse %}
{% verse "5" %}
Когда же плоть моя умрет,
Придет борьбе конец,
Меня в небесном доме ждет
И радость, и венец.
{% endverse %}
{% verse "6" %}
Пройдут десятки тысяч лет,
Забудем смерти тень,
А Богу так же будем петь,
Как в самый первый день.
{% endverse %}
