---
name: 228
section: Вера
title: Кто Богу дни свои вверяет
authors:
- Георг Ноймарк, 1657
- Георг Ноймарк, 1657
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Кто Богу дни свои вверяет
И чтит Его святой завет,
Того Он чудно охраняет
Средь жизни горечей и бед.
Кто в вере тверд, тот в Нем найдет
Всегда и силу и оплот.
{% endverse %}
{% verse "2" %}
Что пользы в том, что мы питаем
В груди заботы, скорбь и страх?
Что утро вздохами встречаем
И ропщем вечером в слезах?
Ах, жизни крест лишь тем сильней
Нас давит тяжестью своей.
{% endverse %}
{% verse "3" %}
Отбрось же всякое смятенье
И примирись с своей судьбой,
И жди того, что Провиденье
Само поставит над тобой.
Бог любит нас и знает Он,
Какой нуждой наш дух смущен.
{% endverse %}
{% verse "4" %}
Среди волнений и в тревоге
Ты, грешный, Богом не забыт.
Тебя хранит Он, и в дороге
Ты сенью благ Его укрыт.
И утешенье Бог дает
Тому, кто верою живет.
{% endverse %}
{% verse "5" %}
И разве Господу так трудно
Скупых низвергнуть в нищету,
А обделенных в жизни чудно
Возвесть на счастья высоту!
Гордыни усмирит Он власть,
А слабым Он не даст упасть!
{% endverse %}
{% verse "6" %}
Иди же ты Его путями,
Молись Ему и не робей,
И верь, что Он всегда над нами
Со всею благостью Своей.
Кто уповает на Него,
Не покидает Он того.
{% endverse %}
