---
name: 229
section: Вера
title: Господь мой Пастырь, я ни в чем
authors:
- Уильям Гардинер, 1812
- На основании Пс. 22
- Перевод: Д. А. Ясько
- The Scottish Metrical Psalter, 1650
---
{% verse "1" %}
Господь мой Пастырь, я ни в чем
Не буду знать нужды.
На злачных пажитях пасет
Вблизи живой воды.
{% endverse %}
{% verse "2" %}
Он наполняет жизнь мою,
Ведет на путь добра,
Являет мне любовь Свою
С утра и до утра.
{% endverse %}
{% verse "3" %}
Долиной смерти ли пойду,
Не устрашусь я зла,
Со мною Ты, рука Твоя
Не раз меня спасла.
{% endverse %}
{% verse "4" %}
Ты приготовил пищу мне
В виду моих врагов,
Возлил на голову елей,
Дал клад Своих даров.
{% endverse %}
{% verse "5" %}
Твоя любовь и доброта
Идут за мною вслед,
И в доме Божьем навсегда
Войду в небесный свет.
{% endverse %}
