---
name: 23
section: Рождество
title: О Рождестве благую весть
authors:
  - Лютеранский сборник Литургии и гимнов.
  - Алматы, Казахстан, 1999
---
{% macro chorus() %}
{% verse "Припев" %}
Прославьте все Царя Христа
Лишь в Нем спасенья полнота.
{% endverse %}
{% endmacro %}
{% verse "1" %}
О Рождестве благую весть
Послал Бог ангелам принесть
Не богачам, не мудрецам,
А бедным в поле пастухам.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Небесный свет их осиял,
Господень ангел им сказал:
“Не бойтесь, вам рожден Христос,
Всем людям радость Он принес!”
{% endverse %}
{{ chorus() }}
{% verse "3" %}
На высоте небес тогда
Зажглась чудесная звезда
И возвестила мудрецам,
Что Царь пришел на землю к нам.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Хоть свет звезды светил нам всем,
Привел лишь мудрых в Вифлеем.
Тот свет, что ярче всех светил,
Младенца в яслях озарил.
{% endverse %}
{{ chorus() }}
