---
name: 230
section: Вера
title: Пока Христос со мною
authors:
- М. Тешнер, 1615
- Пауль Герхардт, 1653
- Русский лютеранский сборник гимнов, 1915
- Аугсбург, 1609
---
{% verse "1" %}
Пока Христос со мною,
Врагов я не страшусь:
Я к Господу с мольбою
И верой обращусь.
Бессилен враг мятежный,
Ведь Богом я храним,
Крепка в душе надежда,
Что я навеки с Ним.
{% endverse %}
{% verse "2" %}
Я верю неизменно
И убежден я в том,
Что стал Творец Вселенной
Мне Другом и Отцом.
Он вечно надо мною,
Заботливо хранит
И мощною рукою
Опасность устранит.
{% endverse %}
{% verse "3" %}
Христос – моя основа,
Христос и кровь Его,
В Нем обретаю снова
Я вечное добро.
Земное благо тленно,
И счастие не в нем.
Мне жизни дар бесценный
Дан Господом Христом!
{% endverse %}
{% verse "4" %}
Оковы прегрешения
Снял с грешников Он всех,
Стал жертвой искупленья
За первородный грех.
Он, грешных нас жалея,
Смерть смертию убил.
Стал снега тот белее,
Кого Христос омыл.
{% endverse %}
{% verse "5" %}
Дух Божий обитает
У чад Своих в душе,
Ко благу направляет
Поступки наши все;
В час горького сомненья
Он помогает нам
И наши все моленья
Возносит к небесам.
{% endverse %}
{% verse "6" %}
А в тяжкие мгновенья
Бессилья перед злом
Дух шлет нам утешенье
И говорит о том,
Что верных ждет награда,
Забвение скорбей
В стенах Святого Града,
Незримых для людей.
{% endverse %}
{% verse "7" %}
Сей Град – мое наследство;
Его достигну я,
Хотя б сквозь сотни бедствий
К нему дорога шла.
Все слезы и страданья
Господь там исцелит,
И вечности сиянье
Спасенных озарит.
{% endverse %}
