---
name: 231
section: Вера
title: Предай свое хожденье
authors:
- Б. Гезиус, 1603
- Пауль Герхардт, 1653
- Русский лютеранский сборник гимнов, 1915
- Х. Л. Хасслер
---
{% verse "1" %}
Предай свое хожденье
И всё, чем дух скорбит,
Христу на попеченье,
Тому, Кто мир хранит.
Он ветры окрыляет
И может укротить,
Твои пути Он знает,
Куда тебя вести.
{% endverse %}
{% verse "2" %}
На Господа надейся,
Коль хочешь жизнь вкушать,
Делам Его доверься,
Впредь, чем свои свершать,
Всё наше разуменье
Ничтожно перед Ним!
Молись, Он разрешенье
Вопросам даст твоим.
{% endverse %}
{% verse "3" %}
Создатель, Ты внимаешь
И мыслям, и делам.
Что нам во благо, знаешь,
И что враждебно нам.
Ты всей Вселенной правишь
И в благости Своей
Нас, грешных, не оставишь,
Без помощи Твоей.
{% endverse %}
{% verse "4" %}
Ни в средствах, ни в свершенье
Тебе предела нет:
Твои дела - спасенье,
Твои дороги - свет.
Ни у кого нет власти
Предотвратить Твой план,
И даже в злой напасти
Творишь Ты благо нам.
{% endverse %}
{% verse "5" %}
Когда б со всею тьмою
Враг против нас восстал,
Его б Своей стопою
Ты, Боже, в прах попрал.
Твои предначертанья –
Сомнениям конец,
Награда всем страданьям,
Спасения венец.
{% endverse %}
{% verse "6" %}
Отбрось же все сомненья,
О дух мой! Бог силен,
И адское мученье
В тебе поборет Он!
Дано тебе прощенье,
Бог чудеса творит,
Дарует утешенье,
Все скорби исцелит.
{% endverse %}
{% verse "7" %}
Так пусть один Он правит!
Он, мудрый Царь-Судья,
Себя в тебе прославит
И освятит тебя.
Лишь верь - по усмотренью
Он воли всесвятой
И твоему сомненью
Исход подаст благой.
{% endverse %}
{% verse "8" %}
Нам кажется, бывает,
Средь скорби и забот,
Что Бог нас оставляет,
На помощь не идет,
Что вовсе не взирает
На ропот наш и стон,
Моленью не внимает,
Нас забывает Он.
{% endverse %}
{% verse "9" %}
Но стойким будь ты в вере,
Пребудь с Творцом твоим,
Ты при любых потерях
Смиряйся перед Ним
И знай: в свое Он время
К тебе сойдет, любя,
И снимет скорби бремя
Скорей, чем ждешь, с тебя.
{% endverse %}
{% verse "10" %}
Блажен ты, веры чадо,
Себя коль поборол
И славы и отрады
Венец в борьбе обрел.
Тебе Господь вручает
Награду, и о Нем,
Кто чудно так спасает,
Гласит святой псалом.
{% endverse %}
{% verse "11" %}
Избавь, избавь нас, Боже,
От всех мирских тревог
И силу в нас умножи,
Чтоб враг сломить не мог.
Храни нас от паденья,
До смерти с нами будь,
Когда в Твои владенья
Найдем мы славный путь.
{% endverse %}
