---
name: 232
section: Вера
title: Ничто, ничто не превзойдет
authors:
- Бартоломей Гезиус, 1603
- Ларс Т. Нюберг, 1745
- Перевод: Ольга Крутикова, 2012
- Бартоломей Гезиус, 1603
---
{% verse "1" %}
Ничто, ничто не превзойдет
Блаженства, что Христос дает.
Ничто меня не оживит,
Лишь жизни дух, что Он дарит.
{% endverse %}
{% verse "2" %}
Нигде покоя не нашел,
Ни в чем его я не обрел.
Лишь друг мой Иисус Христос
Покой душе моей принес.
{% endverse %}
{% verse "3" %}
Другого утешенья нет,
Его присутствие – мне свет,
Отпустят горечь и беда,
И смерть отступит навсегда.
{% endverse %}
{% verse "4" %}
Он послушание явил
И путь спасения открыл
На смерть Отец Христа отдал
Чтобы за нас Он пострадал.
{% endverse %}
{% verse "5" %}
Одно прощение грехов,
И милость Божья, и любовь –
Всё у подножия Креста
И в жертве Господа Христа.
{% endverse %}
{% verse "6" %}
Совет тому, кто сокрушен –
Прибежище для слабых Он,
Защита нам в тяжелый час –
Молитва Господа за нас.
{% endverse %}
{% verse "7" %}
От искушений мира, зла,
И от соблазнов и греха –
Спасет от множества врагов
Христа великая любовь.
{% endverse %}
{% verse "8" %}
Одна лишь мудрость в мире есть,
Одна лишь праведность и честь.
Одно лишь освящение –
Быть со Христом в общении.
{% endverse %}
{% verse "9" %}
Он нам в конце покой дает,
К престолу славному ведет.
Пред Богом радостно стоит
Лишь тот, кто Агнцу жизнь вручит.
{% endverse %}