---
name: 233
section: Вера
title: Веруем в Бога мы
authors:
- Йохан Крюгер, 1647
- Германия
- Перевод: Арво Сурво, 1999
---
{% verse "1" %}
Веруем в Бога мы,
В Отца – Творца Вселенной.
Мы Им сотворены,
Дары Его блаженны.
Он Всемогущий Бог,
Пределов нет Ему,
К подножью Его ног
И ангелы падут.
{% endverse %}
{% verse "2" %}
Веруем во Христа,
Сошел Он в мир сей тленный
И мертвым со креста
Был снят Господь Вселенной.
Воскрес из мертвых Он
Во славе вновь Отца.
Да будет восхвален
Во веки, без конца!
{% endverse %}
{% verse "3" %}
И в Духа веруем,
Что истину являет.
Ее даруя всем,
Путь веры открывает.
Он обновляет нас,
Ослабших крепость Он,
В благой иль трудный час
Ниспосланный Христом.
{% endverse %}
