---
name: 234
section: Божья милость во Христе
title: Во всем, что совершаю
authors:
- Генрих Исаак, 1450-1517
- Пауль Флеминг, 1642
- Русско-немецкий сборник духовных песен для богослужений и официальных актов в евангелическо-лютеранских общинах и в семейном кругу – Издательство им. Мартина Лютера,
- Martin-Luther-Verlag, Erlangen, 1995
---
{% verse "1" %}
Во всем, что совершаю,
На Бога уповаю,
Он помощь мне дает.
Успех дает Он делу,
Он милостив без меры,
Нас к вечной радости ведет.
{% endverse %}
{% verse "2" %}
Ведь все мои стенанья,
Заботы и старанья –
К чему ведут они?
Лишь Бог Своею волей
Моею правит долей,
Ему свои вверяю дни.
{% endverse %}
{% verse "3" %}
Удел мой в Божьей власти,
Хранит Он от напастей,
Нет блага без Него.
Тому, что уготовит,
Мой дух не прекословит,
Творца он знает своего.
{% endverse %}
{% verse "4" %}
Когда же в грех впадаю –
Надежду я питаю,
Что гнев Его пройдет.
Христос не осуждает,
Но к вере призывает
И покаянье мне дает.
{% endverse %}
{% verse "5" %}
С Ним все мои страданья
Приму я без роптанья
И в вере устою.
Несу свое я бремя
И знаю: будет время,
Подаст Он помощь мне Свою.
{% endverse %}
{% verse "6" %}
Продлится ль дней теченье,
Иль в скорое мгновенье
Смерть ступит на порог –
Один Господь то знает,
Один Он назначает
Всему предел и верный срок.
{% endverse %}
{% verse "7" %}
Я Богу буду предан,
Ведь им мой дух изведан,
Известен я Творцу.
И что бы ни смущало,
Меня Он от начала
Ведет к небесному венцу.
{% endverse %}
