---
name: 235
section: Божья милость во Христе
title: На Бога уповаю
---
{% verse "1" %}
На Бога уповаю,
Когда я день встречаю,
И ночь когда царит.
Я верю, что Всевышний
Не даст мне скорби лишней
И в бедах сохранит.
{% endverse %}
{% verse "2" %}
Надеюсь лишь на Бога,
В часы земной тревоги
На помощь Он придет.
И прежде, чем с мольбою
Печаль Ему открою,
Поддержку Он дает.
{% endverse %}
{% verse "3" %}
Во мне одно желанье:
Быть верным упованью
На крест святой Христов.
И в смертное мгновенье
Сей мир без сожаленья
Оставить я готов.
{% endverse %}
