---
name: 236
section: Божья милость во Христе
title: Бог древо жизни посадил
authors:
- Брюс Беккер, р. 1952
- Стивен Старке, р. 1955 (на основании Быт. 3:1-15; 1 Петр. 2:24; Откр. 22:1-3; 1 Кор. 15:21-22; Пс. 33:9)
- Перевод: Роман Туренко, 2009 (куплеты 1-3);
- Рабочая группа ЕЛЦИ, 2013 (куплет 4)
---
{% verse "1" %}
Бог древо жизни посадил,
Адаму с Евой разрешил
В саду Эдемском от него
Вкушать для блага своего.
Другое древо там росло –
Могли они добро и зло
Познать, вкусив его плода,
Что запретил Бог навсегда.
{% endverse %}
{% verse "2" %}
С коварством змея в райский сад
Прокрался враг, чтоб Божьих чад
Плодом запретным искусить
И их от Бога отлучить.
Он ядом лжи их отравил,
От воли Божьей отвратил.
О, день печальный! Ибо зло
Через их грех в наш мир вошло.
{% endverse %}
{% verse "3" %}
Но что за милость Бог явил!
Свой план спасенья нам открыл
По благодати чрез Христа,
Кто жертвою за грех наш стал.
На древе Он был пригвожден,
За нас страдал и умер Он,
От смерти нас Он искупил,
Воскреснув, Он врага сразил!
{% endverse %}
{% verse "4" %}
Распятья древо нам дает
Святой животворящий плод.
Вкусив его, мы познаем,
Что благодатью лишь живем.
Прозренье дарит дивный плод,
В нем вечной жизни сок течет.
Нас во Христе Отец наш спас:
Крест Древом жизни стал для нас!
{% endverse %}
