---
name: 237
section: Божья милость во Христе
title: Пред троном Божьим в небесах
authors:
- Вернон Гриффитс (1894-1985)
- Чарити де Шенез (1841-1923), на основании Евр. 4:14-5:10; Евр. 7:24-8:2; 1 Петр. 1:18-19; Откр. 7:9-14
- Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Пред троном Божьим в небесах
Христос – Первосвященник мой,
Он есть любовь, Собой меня
Он оправдал, вовек живой.
{% endverse %}
{% verse "2" %}
Меня позвал Он за Собой,
И жизнь моя – в Его руках.
Господь стезей Своей ведет
Меня к блаженству в небесах.
{% endverse %}
{% verse "3" %}
Когда мой враг винит меня,
Внушая мне сомнение,
То ввысь смотрю я на Того,
В Ком мне грехов прощение.
{% endverse %}
{% verse "4" %}
Невинный Агнец заклан был,
Чтоб снять вину с души моей.
Бог дал мне праведность Христа,
Чтоб верой пребывал я в ней.
{% endverse %}
{% verse "5" %}
Воскресший Агнец в небесах –
Он Божьей праведности дар!
Он – неизменный Сущий Бог,
Царь славы, благодати Царь!
{% endverse %}
{% verse "6" %}
В единстве с Ним мне смерти нет,
Искуплен кровию Его.
Сокрыл Он в вышних жизнь мою,
Христос, Спаситель мой и Бог!
{% endverse %}
