---
name: 238
section: Божья милость во Христе
title: У милости Божьей в долгу
authors:
- Джозеф Пари, 1870
- Огастэс Топлэди (1740-1778)
- Перевод: Роман Туренко, 2010
---
{% verse "1" %}
У милости Божьей в долгу,
В Его благодати стою,
И в праведность Божью одет,
Себя я Ему предаю.
Все страхи Закона Его
Меня уж не могут пленить:
Христа послушанье и Кровь
Грехи мои могут покрыть.
{% endverse %}
{% verse "2" %}
Начав во мне дело добра,
Бог сможет его завершить,
Все обетования мне
В Спасителе – «да» и «аминь».
Исполнит Свой замысел Бог;
Ничто никогда и нигде
Не может меня отлучить
От Божьей любви во Христе.
{% endverse %}
{% verse "3" %}
Мое имя в книге Его,
И время не в силах стереть,
Я в сердце всегда у Того,
Кто смог за меня умереть.
И я претерплю до конца,
Ведь верю: Спаситель мой жив.
И в славу Небес я войду,
Лишь веру в Христа сохранив.
{% endverse %}
