---
name: 239
section: Божья милость во Христе
title: О Христе пою я, только лишь о Нем
authors:
- Мартти Хела, 1923
- Симо Корпела, 1919 
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
О Христе пою я, только лишь о Нем.
Он мне жизнь дарует в Царствии Своем,
Он мне жизнь дарует в Царствии Своем.
{% endverse %}
{% verse "2" %}
Он грехи очистил кровию Своей
И для вечной жизни искупил людей,
И для вечной жизни искупил людей.
{% endverse %}
{% verse "3" %}
На кресте распятый, смерть Он победил,
Связанных грехами, нас освободил,
Связанных грехами, нас освободил.
{% endverse %}
{% verse "4" %}
О Творец Вселенной, Бога вечный Сын!
Дай, чтоб в Царстве Света я с Тобою был,
Дай, чтоб в Царстве Света я с Тобою был.
{% endverse %}
{% verse "5" %}
В вечную обитель, в город золотой
Я приду навеки праздновать с Тобой,
Я приду навеки праздновать с Тобой.
{% endverse %}
