---
name: 24
section: Рождество
title: Богатства, власти не ищу
authors:
  - Сакари Топелиус, 1887
  - Ян Сибелиус, 1909
---
{% verse "1" %}
Богатства, власти не ищу,
Хвалы не нужно мне.
Я света от небес прошу
И мира на земле.
Пусть Рождество напомнит нам,
Кто шел за нас на крест.
Даруя жизнь нам на века,
Он умер и воскрес.
{% endverse %}
{% verse "2" %}
Рождественский огонь горит
На ёлках и в сердцах,
 И чудеса Господь творит
В день Рождества Христа.
Даруй услышать Слово нам
И радость в вере подари.
Мы вновь пришли в сей Божий храм,
Наш путь Ты озари.
{% endverse %}
{% verse "3" %}
Господь, средь тьмы зажги свечу
От света Своего.
О, Царь небес и всей земли,
Бог сердца моего!
Мы ждем, приди же, наш Господь,
Явись в любви Своей!
Пусть счастье будет и любовь
На всей земле Твоей!
{% endverse %}
