---
name: 240
section: Божья милость во Христе
title: Плату за грех взял на Себя
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Плату за грех взял на Себя.
Иисус распятый искупил меня.
{% endverse %}
{% verse "2" %}
В Духе Твоем – сила моя.
Иисус распятый искупил меня.
{% endverse %}
{% verse "3" %}
В доме Твоем – обитель моя.
Иисус распятый искупил меня.
{% endverse %}
