---
name: 241
section: Божья милость во Христе
title: О, моя отрада
authors:
- Йохан Крюгер, 1653
- Йохан Франк (1618-1677)
- Перевод: Михаил Левин
---
{% verse "1" %}
О, моя отрада,
Ты вражде преграда,
Ты любви союз.
В бедствии спасенье,
В скорби утешенье,
Мой Господь Иисус!
Дай мне счастье быть с Тобой,
На мое вгляни страданье,
Обогрей вниманьем.
{% endverse %}
{% verse "2" %}
О, моя отрада,
Страждущим - награда,
Разрешенье уз,
Свет - во тьме идущим,
Весть благая - ждущим,
Мой Господь Иисус!
Искупил мои грехи
Кровью чистой, верой прочной,
Агнец непорочный.
{% endverse %}
{% verse "3" %}
О, моя отрада!
Верным Божьим чадам
Ты отрешь слезу,
Уврачуешь раны,
Дашь покой желанный,
Мой Господь Иисус!
Я хочу идти с Тобой
В Град Небесный к жизни вечной,
К пристани конечной.
{% endverse %}
