---
name: 242
section: Божья милость во Христе
title: Таков, как есть, без дел, без слов
authors:
- Уильям Б. Брэдбери (1816-1868)
- Ш. Эллиотт (1789-1871)
---
{% verse "1" %}
Таков, как есть, без дел, без слов,
Принявши с радостью Твой зов
И с верою в Святую Кровь,
Господь, я прихожу к Тебе.
{% endverse %}
{% verse "2" %}
Таков, как есть, не смея ждать,
Чтоб кто меня мог оправдать,
Твою познавши благодать,
Господь, я прихожу к Тебе!
{% endverse %}
{% verse "3" %}
Таков, как есть, для всех чужой,
С грехом измученной душой,
Разбитый бурею земной,
Господь, я прихожу к Тебе!
{% endverse %}
{% verse "4" %}
Таков, как есть, увидел я,
Как велика любовь Твоя:
В семью детей Ты взял меня,
Господь, я прихожу к Тебе!
{% endverse %}
{% verse "5" %}
Таков, как есть, путем живым,
Тобой проложенным, прямым,
Дабы навеки быть Твоим,
Господь, я прихожу к Тебе!
{% endverse %}
