---
name: 243
section: Божья милость во Христе
title: Ищи везде
authors:
- Лейпциг, 1625
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Ищи везде -
Ни в ком, нигде
Ты не найдешь спасенья,
Лишь Божий Сын
Дает один
И мир, и избавленье.
{% endverse %}
{% verse "2" %}
Жизнь в Нем одном.
Своим Крестом,
И кровью, и мученьем
Он грех омыл,
Нам долг простил,
Нас одарил спасеньем.
{% endverse %}
{% verse "3" %}
Ищи Его
Лишь Одного,
Он Бог и Царь Вселенной!
Он хочет дать
Всем благодать
И мир неизреченный.
{% endverse %}
{% verse "4" %}
Ему молись,
К Нему стремись
Всем сердцем и душою.
Себя отдай,
Тебя он в рай
Ведет вслед за Собою.
{% endverse %}
