---
name: 244
section: Божья милость во Христе
title: Как не петь мне гимнов Богу!
authors:
- Иоганн Шоп, 1641
- Пауль Герхардт, 1653
- Русский лютеранский сборник гимнов
---
{% verse "1" %}
Как не петь мне гимнов Богу!
Как Его не восхвалять!
Он готовит мне дорогу,
Чтобы в рай меня принять.
Всех Он видит, всех Он слышит,
Не оставить никого.
Сердце верное Его
Лишь одной любовью дышит.
Всё проходит без следа,
Божья милость – никогда!
{% endverse %}
{% verse "2" %}
Как орлица над орленком
Крылья стелет в час ночной,
Так же Бог меня ребенком
Охранял Своей рукой.
Даже в материнском чреве,
Жизнь когда Он мне дарил
И в меня Свой Дух вселил,
Он в любви был, а не в гневе.
Всё проходит без следа,
Божья милость – никогда!
{% endverse %}
{% verse "3" %}
Бог, к нам возгоря любовью,
Сыном жертвовал для нас,
Чтоб Иисус Своею кровью
Нас от мук и ада спас.
О, любви источник вечный,
Где ж поймет мой плотский ум –
Сколько б он ни думал дум –
Глубь любви той бесконечной!
Всё проходит без следа,
Божья милость – никогда!
{% endverse %}
