---
name: 245
section: Божья милость во Христе
title: Когда я на Тебя взираю
authors:
- Халле, 1704
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Когда я на Тебя взираю,
Всевышний, в святости Твоей
И скорбным сердцем помышляю
О всей греховности своей,
Тогда, душою сокрушенный,
Я впасть в отчаянье готов,
Но Сын Твой, в жертву принесенный,
Дает мне мир и радость вновь.
{% endverse %}
