---
name: 246
section: Божья милость во Христе
title: О, Спаситель! Кто познает
authors:
- Х. Альберт, 1642
- Иоганн Шеффлер, 1657
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О, Спаситель! Кто познает
Глубину Твоей любви?
Кто их смертных постигает
Силу жертвенной крови?
Кто умом своим постиг,
Как Ты в милости велик?
{% endverse %}
{% verse "2" %}
О Спаситель! Слабых сила
И покой усталым Ты,
Кровь Твоя нас всех омыла
От греха нечистоты.
Хлеб Небесный дал Ты нам,
Манну сладкую сердцам.
{% endverse %}
{% verse "3" %}
О Спаситель! Я Тобою
К жизни новой пробужден;
Как пустынею сухою,
Миром здесь я окружен.
На Тебя взираю я,
В том отрада вся моя!
{% endverse %}
{% verse "4" %}
О Спаситель! Укрепляет
Лишь надежда на Тебя.
Взор Твой нежный исцеляет
От болезней всех меня.
Светит ярко мне Твой свет
Среди всех земных сует.
{% endverse %}
{% verse "5" %}
О Спаситель! Царь Предвечный,
Ты источник полноты!
 Будь отрадой мне сердечной,
Другом будь средь тесноты.
К жизни новой пробуди,
В Свое Царство приведи!
{% endverse %}
