---
name: 247
section: Божья милость во Христе
title: Я на Ангца уповаю
authors:
- Немецкая мелодия
- Ю. А. Позек
- Перевод: Д. А. Ясько
---
{% verse "1" %}
Я на Ангца уповаю.
Перед ним падут враги.
Кровь его, с креста стекая,
Смыла все мои грехи.
{% endverse %}
{% verse "2" %}
Веря в кровь Его святую,
Обновился я душой;
Где Бог людям мир дарует,
Там и я нашел покой.
{% endverse %}
{% verse "3" %}
Совесть сердца не терзает,
Не грозит душе судом;
Всё омыла Кровь Святая,
Примирен я со Христом.
{% endverse %}
