---
name: 248
section: Божья милость во Христе
title: Бывает, груз вины нас давит
authors:
- Г. Ноймарк, 1657
- А. Тихомиров
---
{% verse "1" %}
Бывает, груз вины нас давит,
И совесть адским жжет огнем,
И ужас перед вечным, правым,
Нас осуждающим судом.
Но и тогда перед крестом
Мы вновь спасенье обретем!
{% endverse %}
{% verse "2" %}
Когда грядущее тревожит,
Когда нас рок слепой влечет,
И страшно, что нас смерть уносит,
Навеки всё перечеркнет,
То и тогда перед крестом
Мы жизнь и вечность обретем!
{% endverse %}
{% verse "3" %}
Когда всё видится напрасным,
Когда внутри нас пустота,
И, есть ли в жизни смысл, неясно,
И кажется: всё суета,
То и тогда перед крестом
Мы смысл и цель вновь обретем!
{% endverse %}
{% verse "4" %}
Пусть даже океан сомнений
Нас захлестнет, поглотит вдруг,
Пусть даже в сердце вместо веры
Лишь, что потерян Бог, испуг!
Ведь и тогда перед крестом
Мы снова Бога обретем!
{% endverse %}
