---
name: 249
section: Божья милость во Христе
title: Когда, отчаявшись в беде
authors:
- Л. Буржуа, 1551
- П. Эбер, 1566
---
{% verse "1" %}
Когда, отчаявшись в беде,
Спасенья не найдем нигде
И ищем помощь иль совет,
Заботы тщетны, меркнет свет.
{% endverse %}
{% verse "2" %}
Тогда одно утешит нас,
Что мы все вместе в трудный час
Взываем к Богу; лишь Господь
Все страхи может побороть.
{% endverse %}
{% verse "3" %}
Мы взор и сердце обратим
К Нему, колени преклоним;
И молим – Ты нас пощади
И наказанье отведи.
{% endverse %}
{% verse "4" %}
Ведь прощены Тобою те,
Кто обращается к Тебе.
Во имя Господа Христа
Решились пред Тобой предстать.
{% endverse %}
{% verse "5" %}
Покинуты в печали мы,
Опасностью окружены,
И потому идем в беде
С молитвой на устах к Тебе.
{% endverse %}
{% verse "6" %}
Открой сердца нам, чтоб могли
Тебя, Господь, благодарить!
Услышь хвалений наших глас,
Христос, принявший смерть за нас!
{% endverse %}
