---
name: 25
section: Рождество
title: В бедной пещере средь темных скал
authors:
  - Франция
---
{% verse "1" %}
В бедной пещере средь темных скал
В яслях тихо Мальчик спал.
Над ночной землей ангелов хоры,
О любви великой поют они.
{% endverse %}
{% verse "2" %}
Рядом с Марией в пещере скрыт,
Мирно дремлет Божий Сын.
Над ночной землей ангелов хоры,
О любви великой поют они.
{% endverse %}
{% verse "3" %}
Здесь среди лилий и трав земных
Тихо Царь Вселенной спит.
 Над ночной землей ангелов хоры,
О любви великой поют они.
{% endverse %}
{% verse "4" %}
Рядом с ворами к кресту прибит,
Кроткий Агнец Божий спит.
Над ночной землей ангелов хоры,
О любви великой поют они.
{% endverse %}
