---
name: 250
section: Божья милость во Христе
title: И пусть другой идет искать
authors:
- И. Стобяус, 1613
- Г. Вейссель, 1642 Перевод: И. Барсегова
---
{% verse "1" %}
И пусть другой идет искать
Иную цель и счастье,
Я уповаю на Христа
В любой беде, в несчастье.
Его слова, Его дела
Всегда ясны, всегда чисты.
С Ним не страшны напасти.
{% endverse %}
{% verse "2" %}
И пусть другой идет искать
Защитника иного,
Моя твердыня, мой оплот –
Христа Благое Слово.
Нас всех спасет и сохранит,
Для новой жизни пробудит
Деяние Христово.
{% endverse %}
{% verse "3" %}
Не уставай искать Того,
Кто дарит избавленье.
Христос один – никто другой –
Дарует утешенье.
Всегда, везде и всей душой
Ищи Его и верь в Него –
В Нем радость и спасенье.
{% endverse %}
{% verse "4" %}
Господь, Христос, Блаженство душ,
Со мною пребывая,
Не дай в земной мне суете
Забыть о свете рая.
Тобой полна, Тобой сильна
Душа моя и жизнь моя,
На то я уповаю.
{% endverse %}
