---
name: 251
section: Божья милость во Христе
title: На Бога уповаю
authors:
- 15 век
---
{% verse "1" %}
На Бога уповаю,
На лик Его взираю,
Чрез Господа Христа.
За на пошел на смерть Он,
Чтоб Божье милосердье
Для всех и для меня снискать.
{% endverse %}
{% verse "2" %}
Ничтожный меж рабами,
Как мог бы я делами
Иисусу заплатить?
Здесь нет моей заслуги:
Желает мне, как другу,
Блаженство даром Он вручить
{% endverse %}
{% verse "3" %}
О мир, не будь беспечен,
Ведь тленен ты, не вечен!
Не верь в пустую ложь,
Но обратись ты к Богу –
И к вечности дорогу
Ты верой во Христе найдешь.
{% endverse %}
