---
name: 252
section: Божья милость во Христе
title: Живу прощением Христа
authors:
- Рихард Фальтин, 1903
- Филипп Фридрих Гиллер, 1762
- Перевод: Виктор Тикканен, 2013
---
{% verse "1" %}
Живу прощением Христа,
Дары Его вкушаю.
Спасен по благодати я,
Заслуг своих не знаю.
В беде утешишь Ты всегда:
Живу я милостью Христа.
{% endverse %}
{% verse "2" %}
Тебя, Христос, благодарю,
Мне в скорби Ты - отрада.
Пролил святую кровь Свою,
От мук избавил ада.
В Тебе любовь и доброта:
Живу я милостью Христа.
{% endverse %}
{% verse "3" %}
Хвала Тебе, Господь небес,
И в этой жизни тленной,
И в день, когда, облекшись в свет,
Воздам благодаренье.
Хвалебный гимн вторят уста:
Живу я милостью Христа.
{% endverse %}
