---
name: 253
section: Божья милость во Христе
title: Стремлюсь всем сердцем воспевать
authors:
- Похьянмаа
- Хелми Мякеляйнен, 1935
- Перевод: Ольга Крутикова, 2012
---
{% verse "1" %}
Стремлюсь всем сердцем воспевать
Иисуса мир и благодать.
Он грешный мир наш посетил,
Любовь великую явил,
Любовь великую явил.
{% endverse %}
{% verse "2" %}
Он на кресте за всех страдал
И на Себя грех мира взял.
Меня Он с Богом примирил
В наследство небо подарил,
В наследство небо подарил.
{% endverse %}
{% verse "3" %}
Сегодня милость Он мне дал
И в царство радости призвал.
Блажен, свободен от оков
Приму прощение грехов,
Приму прощение грехов.
{% endverse %}
{% verse "4" %}
Он в Церкви средь Своих детей
Хранит их милостью Своей.
И грех очистит вновь и вновь
Иисуса праведная кровь,
Иисуса праведная кровь.
{% endverse %}
{% verse "5" %}
Перед престолом в небесах
Забудем о былых грехах,
И гимну светлому звучать,
Когда нас греет благодать,
Когда нас греет благодать.
{% endverse %}
{% verse "6" %}
Мы, обретя небесный дом,
Однажды встретимся с Христом.
Там новый гимн и я спою,
Христа навеки восхвалю,
Христа навеки восхвалю.
{% endverse %}
