---
name: 254
section: Божья милость во Христе
title: О, направь ко славе вышней
authors:
- Ильмари Крон, 1937
- Йохан Йозеф Винклер, 1714
- Перевод: Арво Сурво, 1998
---
{% verse "1" %}
О, направь ко славе вышней
Путь земной свой, брат, сестра.
Шум и рокот мира слышны,
Для греха закрой врата.
{% endverse %}
{% verse "2" %}
Путь тернист к небесной славе,
Жизни той тесны врата,
О, как много тех, кем правит
Враг души и власть греха.
{% endverse %}
{% verse "3" %}
В вере будь, если и ввергнет
Дьявол в муки или в смерть.
Божий Сын нас не отвергнет,
Сохраним лишь веры твердь!
{% endverse %}
{% verse "4" %}
И в борьбе, среди гонений
Взор к Иисусу обрати,
Средь соблазнов, искушений
Может Он один спасти.
{% endverse %}
{% verse "5" %}
Милость Божья неизменна,
Мир Господень в век и век,
На земле ж и злато тленно –
Что ты выбрал, человек!
{% endverse %}
{% verse "6" %}
Богом сильны, в Боге целы,
Он защита и броня,
Он греха, что с ядом, стрелы
Отведет и от тебя.
{% endverse %}
{% verse "7" %}
С верой в сердце, в Агнца крови –
Жизнь твоя в руке Отца.
Сын венец уж приготовил,
Будь же верен до конца!
{% endverse %}
