---
name: 255
section: Молитва
title: Боже, под кровом вечной любви
authors:
- Франция, 16 в.
- Вяйнё Малмиваара (1879-1958)
---
{% verse "1" %}
Боже, под кровом вечной любви
Счастливы дети всей земли.
Ты по дороге в небеса
Храни их детские сердца.
{% endverse %}
{% verse "2" %}
Ангелов, Боже, нам пошли,
Благослови и защити.
Иисус, пребудь Ты Сам с детьми,
Оберегая их в пути.
{% endverse %}
{% verse "3" %}
Благодарю Тебя, Господь,
Друг верный всех людей земли,
Что Ты придешь однажды вновь,
Даруя небо обрести.
{% endverse %}
