---
name: 256
section: Молитва
title: Всевышний Бог наш и Отец
authors:
- Уильям Брадбури, 1826-1868
- «Величит душа моя Господа», Второе издание – Русское Литургическое Музыкальное Общество Святого Августина, Владивосток, 2000
---
{% verse "1" %}
Всевышний Бог наш и Отец,
Во имя Сына Твоего,
Вот, мы в смирении сердец
Явились пред лицо Твое.
{% endverse %}
{% verse "2" %}
Тебя мы просим, Боже наш,
Прими теперь хвалу от нас
За милосердье и любовь,
Что нам являешь, грешным, вновь.
{% endverse %}
{% verse "3" %}
Даруй, чтобы могли мы здесь
Принять Твою Благую Весть,
Учи Писание читать
И гласу Слов Твоих внимать.
{% endverse %}
{% verse "4" %}
Учи всегда Твой слушать глас,
Чтоб вера укреплялась в нас.
Пошли Святого Духа нам,
Он поведет нас к Небесам!
{% endverse %}
