---
name: 257
section: Молитва
title: Господь, в нас веру укрепи
authors:
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Господь, в нас веру укрепи,
Веди нас день за днем,
Дай помнить, что вдали нас ждет
Небесный вечный дом!
{% endverse %}
{% verse "2" %}
Дай нам терпенье не роптать,
Смиренно крест нести
И твердость веры сохранять
На всем земном пути.
{% endverse %}
{% verse "3" %}
О, вера, стойкая в борьбе
И чуждая вражды!
Ты не боишься ни скорбей,
Ни горя, ни нужды!
{% endverse %}
