---
name: 258
section: Молитва
title: Возьми меня отныне и впереди
authors:
- Ю. фон Хаусманн, 1862
- Ф. Зильхер, 1842
- Лютеранский сборник стихотворений, 1892 
---
{% verse "1" %}
Возьми меня отныне и впереди
По жизненной долине, Господь, веди!
Не мог бы я тропою Твоей идти,
Но если Ты со мною, я тверд в пути,
Я тверд в пути.
{% endverse %}
{% verse "2" %}
Даруй Ты сердцу радость во всех скорбях,
Дай чувствовать мне сладость в Твоих словах.
Святую веры твердость в меня вдохни,
И духа злую гордость Ты изгони.
{% endverse %}
{% verse "3" %}
Когда же в смертном теле надежды нет,
Направь меня Ты к цели чрез тьму и свет.
Возьми меня отныне и впереди
По жизненной долине, Господь, веди!
{% endverse %}
