---
name: 259
section: Молитва
title: Иисус, покров душе
authors:
- С. Б. Марш, 1834
- Чарльз Уэсли, 1740
---
{% verse "1" %}
Иисус, покров душе,
Дай укрыться мне в Тебе!
Страшны волны, Ты спаси,
Грозный ветер укроти!
Скрой меня, Спаситель мой,
От житейской бури злой,
К пристани меня веди
И к Себе мой дух прими.
{% endverse %}
{% verse "2" %}
Мне другой защиты нет,
Только Ты надежды свет,
Не покинь меня, молю,
Душу поддержи мою!
Ты вся праведность моя,
Полагаюсь на Тебя,
Беззащитного укрой,
Я склоняюсь пред Тобой.
{% endverse %}
{% verse "3" %}
Кто, Господь, к Тебе придет,
Полноту любви найдет.
Немощных Ты укрепишь,
Все недуги исцелишь.
Свят и праведен лишь Ты,
Полон я нечистоты,
Но, где грех и где беда,
Благодать Твоя сильна.
{% endverse %}
{% verse "4" %}
Благодатью дай мне жить,
Помоги мне не грешить,
Сердце чистым сотвори
И всё тело освяти.
Научи меня служить,
По путям Твоим ходить,
Духом сердце обнови,
К вечной жизни возроди!
{% endverse %}
