---
name: 26
section: Рождество
title: Рождественская музыка в ночи
authors:
  - Джой Уэбб
  - Катри Косонен
---
{% macro chorus() %}
{% verse "Припев" %}
Но праздник может быть с тобой всегда.
Печаль уйдет, а радость никогда.
Шире сердце распахни
И позволь Христу войти,
И будет Рождество с тобой всегда.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Рождественская музыка в ночи,
Таинственно мерцание свечи…
Чудесная пора, любовь в глазах.
О, если б это длилось без конца!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Молитвами наполнена душа,
Младенец здесь, невидимый пока.
Счастливая пора, веселые глаза.
О, если б это длилось без конца!
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Пусть новый день несет тебе печаль,
Поверь словам, услышанным сейчас.
И тайна Рождества откроется сама:
Иисус родился! Он с тобой всегда!
{% endverse %}
{{ chorus() }}
