---
name: 260
section: Молитва
title: Отец Небесный, наш Господь
authors:
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Отец Небесный, наш Господь,
Прости нам все грехи,
Чтоб зло могли мы побороть
И принести достойный плод,
Во всем нам помоги.
{% endverse %}
{% verse "2" %}
О, дай нам с детской простотой
Внимать словам Христа,
Не обольщаться суетой
И с чистой, радостной душой
Хранить завет всегда.
{% endverse %}
{% verse "3" %}
Господь, небесною росой
Смягчи упорство в нас,
Все бури сердца успокой,
Дай силу нам являть собой
Любовь во всякий час.
{% endverse %}
