---
name: 261
section: Молитва
title: Христос, Ты - Свет Божественный
authors:
- Адаптированный гимн Амвросия Медиоланского, IV век
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Христос, Ты - Свет Божественный,
Тьму ночи побеждающий,
Ты – свет зари, вещающий
Восход блаженства вечного.
{% endverse %}
{% verse "2" %}
К Тебе взываем, Господи:
Будь от врагов защитою
И в смертный час - прибежищем,
Даруй нам радость вечную!
{% endverse %}
{% verse "3" %}
Воззри с небес, Заступник наш,
И усмири противников,
И удержи от злого нас
Святым Своим присутствием!
{% endverse %}
{% verse "4" %}
Не оставляй нас, Господи,
В Тебе покоя ищущих,
И правь Твоими слугами,
Искупленными Кровию!
{% endverse %}
{% verse "5" %}
Исполни просьбы слуг Твоих,
О Всемогущий Боже наш,
Через Христа - с Ним в вечности
Со Святым Духом царствуешь!
{% endverse %}
{% verse "6" %}
Да будет слава Господу,
От Девы нам рожденному,
Отцу и Духу Святому,
Всегда, во веки вечные!
Аминь.
{% endverse %}
