---
name: 262
section: Молитва
title: Господь, услышь мое моленье!
---
{% verse "1" %}
Господь, услышь мое моленье!
Твое дитя зовет Тебя.
Услышь мой плач и сокрушенье,
Ведь Ты страдал, меня любя.
{% endverse %}
{% verse "2" %}
Моя молитва да стремится,
Как фимиам от алтаря,
И сердце пусть воспламенится,
Огнем любви к Тебе горя!
{% endverse %}
{% verse "3" %}
Тебя я, Боже, умоляю:
Прости, что согрешил Твой раб.
Я на Тебя лишь уповаю,
Дай силы мне, ведь я так слаб.
{% endverse %}
{% verse "4" %}
Пусть стрелы зла душе скорбящей
Смертельных ран не нанесут,
Пусть сети тьмы, кругом царящей,
Меня с собой не увлекут.
{% endverse %}
{% verse "5" %}
Ты, Боже, дал Твои законы,
Чтоб ими жил я и дышал,
Чтоб, ими в правде утвержденный,
Я все нападки отражал.
{% endverse %}
{% verse "6" %}
О, укрепи меня, Спаситель,
В законе истины сильней!
Мой Бог, моих путей хранитель,
Внемли словам души моей!
{% endverse %}
