---
name: 263
section: Молитва
title: Отец Небесный, Бог Великий
---
{% verse "1" %}
Отец Небесный, Бог Великий,
Превыше Ты земли и вод,
Твое прославится пусть имя
И Царствие Твое придет!
{% endverse %}
{% verse "2" %}
И пусть Твоя святая воля
Царит во всех краях земли,
Своею щедрою рукою
Насущный хлеб нам ниспошли!
{% endverse %}
{% verse "3" %}
И научи нас со смиреньем
Прощать обидчиков своих,
Прости нам наши согрешенья –
 Мы искупить не в силах их.
{% endverse %}
{% verse "4" %}
И не введи во искушенье,
Когда придет тяжелый час,
Но от лукавого сомненья
Избави нас, избави нас!
{% endverse %}
{% verse "5" %}
Тебе да будет честь и слава,
Создатель неба и земли,
Твое величье и держава
Во веки вечные. Аминь.
{% endverse %}
