---
name: 264
section: Молитва
title: О, приди, мой Бог и радость
---
{% verse "1" %}
О, приди, мой Бог и радость,
Сердцу дай любви горенье!
Ждет Тебя оно и жаждет,
Будь мне в скорби утешеньем!
{% endverse %}
{% verse "2" %}
Тяжела моя дорога,
Силы я в борьбе теряю,
Но с надеждой и тревогой
“Не оставь меня!” - взываю.
{% endverse %}
{% verse "3" %}
На Тебя лишь уповаю.
В сердце дай свершиться чуду!
Вера крепнет пусть живая,
Лишь тогда я счастлив буду.
{% endverse %}
