---
name: 265
section: Молитва
title: Собравшись пред лицом Твоим
authors:
- Франция, 1543 г
- Старинная скандинавская молитва, 1569 г.
- Перевод: Михаил Левин, 1998;
- обработка Арво Сурво, 2000 г.
- Сборник гимнов на финском и русском языках,
- составитель Антти Вуористо, Myllypaino Leväsjoki, 2000
- Л. Буржуа, 1551
---
{% verse "1" %}
Собравшись пред лицом Твоим,
Тебя, Господь, благодарим.
Ты насыщаешь целый мир,
И этот стол благослови.
{% endverse %}
{% verse "После еды 2" %}
За хлеб, Господь, благодарим,
Своих детей насытил им.
Владыка тела и души.
Нас хлеба жизни не лиши!
{% endverse %}
{% verse "Вариант молитвы 1" %}
Сей стол, Господь, благослови,
Сердца соедини в любви,
Чтоб Слово, данное Тобой,
Нас к вере привело живой!
{% endverse %}
{% verse "2" %}
Склонимся мы перед Христом
И к единению придем.
В надежде, вере и любви
Сей стол, Господь, благослови!
{% endverse %}
