---
name: 266
section: Молитва
title: О Боже наш, благослови
authors:
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
О Боже наш, благослови
К Тебе взывающий народ
И вечной силою любви
Его храни от всех невзгод!
{% endverse %}
{% verse "2" %}
К молитвам нашим снизойди,
Свое творенье пожалей
И нас, виновных, пощади
По вечной благости Твоей!
{% endverse %}
{% verse "3" %}
Владыка всех людей и стран,
Внемли настойчивой мольбе:
Храни повсюду христиан
В любви и верности Тебе.
{% endverse %}
{% verse "4" %}
Дай от Тебя не отойти,
Будь вечной радостью для нас,
Позволь в любви Твоей пребыть
Во всякий день, во всякий час!
{% endverse %}
