---
name: 267
section: Молитва
title: О Господи, открой мне Твой путь
authors:
- Вильхельми Малмиваара, 1903 (Virsikirja, 1938)
- Перевод: Валентин Сметанкин; обработка Арво Сурво, 2000
- Сборник гимнов на финском и русском языках, Составитель Антти Вуористо, Myllypaino Leväsjoki, 2000
---
{% verse "1" %}
О Господи, открой мне Твой путь
И каждый шаг со мною пребудь,
Мой Боже правый, на путь мирской славы не дай свернуть!
{% endverse %}
{% verse "2" %}
Узри, о Боже, сердца тоску,
Услышь, Всевышний, мою мольбу,
Омой Святою Христовой Кровью душу мою!
{% endverse %}
{% verse "3" %}
Отвергнет мир, но Бог не предаст,
Отдал Он Сына страдать за нас.
Преславный Боже, Ты мне поможешь и в смертный час.
{% endverse %}
{% verse "4" %}
О Иисус, врага сокруши!
Суд справедливый Свой соверши,
Христос, Хранитель и Искупитель моей души!
{% endverse %}
