---
name: 268
section: Молитва
title: О Агнец Божий, Ты
---
{% verse "1" %}
О Агнец Божий, Ты
Пришедший с высоты,
Спаситель мой!
Моей мольбе внемли,
Сомненья удали,
И милость мне пошли
Да буду Твой!
{% endverse %}
{% verse "2" %}
Ты силою Своей
В сердце любовь излей
И царствуй в нем!
Как умер Ты за нас,
Так дай нам, обратясь,
Пылать во всякий час
Любви огнем!
{% endverse %}
{% verse "3" %}
В нашем пути земном
Боль и нужда кругом,
Скорби царят.
Ночь в утро обрати,
Не дай сойти с пути
И нас Ты приведи
В небесный град!
{% endverse %}
