---
name: 269
section: Молитва
title: О Боже мне внемли ради Христа!
---
{% verse "1" %}
О Боже мне внемли ради Христа!
Не знаю, как просить и что сказать.
Скорбь угнетает сердце все сильней.
Ты один лишь знаешь, что во благо мне.
{% endverse %}
{% verse "2" %}
Даруй молитву, мне открой уста,
Волю и цель Твою дай мне узнать!
И если оступлюсь и уйду я в мир,
По любви прощающей вновь меня прими!
{% endverse %}
{% verse "3" %}
О Дух Святой, Ты в сердце мне проник!
Даруй видеть нужды ближних моих.
В Твоей любви вся жизни полнота,
Веди меня к подножию креста.
Аминь.
{% endverse %}
