---
name: 27
section: Рождество
title: Слава, слава Богу в вышних!
authors:
  - Дмитрий Бортнянский, 1751-1825
  - В основе Лк. 2:14
  - Лютеранский сборник Литургии и гимнов
  - Алматы, Казахстан, 1999
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя, аллилуйя,
Слава Богу в вышних!
Аллилуйя, аллилуйя, аллилуйя, аминь.
Аллилуйя, аллилуйя, аллилуйя, аминь.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Слава, слава Богу в вышних!
Мир земле и благодать!
Призывайте, братья, ближних,
Будем Бога воспевать!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Грешники, вам всем прощенье
Ныне с неба Он принес,
С Богом дать вам примиренье
Ныне хочет Сам Христос.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
В этот день Он воплотился,
Скромный вид раба принял,
Чтоб без страха обратился
Грешник и к Нему воззвал.
{% endverse %}
{{ chorus() }}
