---
name: 270
section: Молитва
title: О Боже Пресвятой
authors:
- Зальцбург, 1456; Иоганн Вальтер, 1524
- 1 куплет – Зальцбург, 1456 г., на основе антифона 11 века Media vita in morte sumus;
- 2-3 куплеты – Мартин Лютер, 1524 г.
- Русско-немецкий сборник духовных песен для богослужений и официальных актов в евангелическо-лютеранских общинах и в семейном кругу – Издательство им. Мартина Лютера, Martin-Luther-Verlag, Erlangen, 1995
---
{% macro chorus() %}
{% verse "Припев" %}
О Боже Пресвятой,
Боже наш Всеблагой!
Всемилосердный Спаситель
Наш, Всемогущий Бог!
Ты не оставляй нас
В трудный смерти нашей час!
Христе, помилуй!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Всюду среди жизни сей
Смерть нас окружает.
Кто ж на м в благости своей
Помощь посылает?
О Боже, Ты Единый!
И грех, чем мы гневим Тебя,
Сознаем, душой скорбя.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Среди смерти ада пасть
Поглотить нас чает.
Чья же милость, чья же власть
Страх в душе смиряет?
Твоя, Господь Единый!
Ты радостей источник всех,
Искупил Ты всякий грех.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Среди страха адских мук,
В зле и прегрешеньях,
Должен изнывать наш дух.
Где ж найти спасенье?
Лишь у Тебя, Иисусе.
Ведь Ты за грех наш, о Христос,
Пролил кровь и смерть понес!
{% endverse %}
{{ chorus() }}
