---
name: 271
section: Молитва
title: Иисус Преблагодатный
authors:
- Йоханн Кёниг, 1738
---
{% verse "1" %}
Иисус Преблагодатный,
Образ Твой в душе горит,
Пусть спасительная вера
Нашу Церковь укрепит!
Кару Ты понес за нас,
На кресте от смерти спас.
Дай же нам идти смиренно
За Тобою неизменно!
{% endverse %}
