---
name: 272
section: Молитва
title: Хвалу Тебе, Отец, воздам
authors:
- Томас Таллис, 1505-1585
- Томас Кен, 1637-1711;
- Перевод: Екатерина Шалухина (Казахстан, совр.)
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Хвалу Тебе, Отец, воздам
За свет благой, что миру дал!
О Царь царей, меня храни,
От искушений береги!
{% endverse %}
{% verse "2" %}
Ты ради Сына мне простил
Все согрешения мои.
Даруй общенье мне с Тобой,
Душе моей пошли покой!
{% endverse %}
{% verse "3" %}
Учи меня, как должно жить,
Чтоб страх и горе победить,
Чтоб мрака смерти я не знал,
На воскресенье уповал!
{% endverse %}
