---
name: 273
section: Молитва
title: О Иегова, через волны
authors:
- Джордж Уоррен, 1884
- Уильям Уильямс, 1745
- Перевод: И. Проханов
---
{% verse "1" %}
О Иегова, через волны,
Чрез пустыни нас веди,
Слабы мы, но силы полный,
Нас прижми к Своей груди.
Манной с неба, манной с неба
Слабых нас, Господь, питай.
{% endverse %}
{% verse "2" %}
О, открой Свои потоки
Из скалы святых даров.
Столб Твой огненный, высокий
Да хранит нас от врагов,
О Спаситель, о Спаситель,
Будь для наших душ щитом.
{% endverse %}
{% verse "3" %}
Мы стоим у Иордана,
Проложи чрез реку путь,
Чтоб в равнинах Ханаана
Твой народ мог отдохнуть.
Песни славы, песни славы
Вознесутся там Тебе.
{% endverse %}
