---
name: 274
section: Молитва
title: Бог, Создатель мой
authors:
- Адам Дрезе, 1698
---
{% verse "1" %}
Бог, Создатель мой,
Будь всегда со мной
И всю жизнь дай за Тобою
С радостной идти душою,
Дай войти с Тобой
В мирный край родной!
{% endverse %}
{% verse "2" %}
Бог, Спаситель мой,
Будь всегда со мной!
Ты пришел для оправданья,
Дал нам, грешным, упованье,
Смертью примирил
Душу с Богом сил.
{% endverse %}
{% verse "3" %}
Боже, Дух Святой,
Будь всегда со мной!
Дай мне в сердце жар моленья
И все чувства, помышленья
Освяти Собой,
Боже, Дух Святой.
{% endverse %}
