---
name: 275
section: Молитва
title: Жажду я, Спаситель мой
authors:
- Берлин, 1653
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Жажду я, Спаситель мой,
Песнь воспеть Тебе хваленья
Там, где сонм Твоих святых
Без греха, без опасенья
В вечной радости живет,
Где хор ангелов поет.
{% endverse %}
{% verse "2" %}
Сохрани меня от бед,
Не оставь ни на мгновенье.
Без Тебя не в радость свет,
Ты покров мой и спасенье.
Не отринь, возьми с Собой
В край небесный, в град святой.
{% endverse %}
