---
name: 276
section: Молитва
title: О Спаситель, через волны
authors:
- Джон Хьюгс, 1873-1932
- Уильям Уильямс, 1717-1791
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 г.
---
{% verse "1" %}
О Спаситель, через волны
И пустыни нас веди!
Слабы мы, но силы полный,
Нас прижми к Своей груди.
Манной с неба, манной с неба
Слабых нас, Господь питай,
Слабых нас, Господь питай!
{% endverse %}
{% verse "2" %}
Мы стоим у Иордана,
Проложи сквозь воды путь,
Чтоб в равнинах Ханаана
Твой народ смог отдохнуть!
Песни славы, песни славы
Вознесем мы там Тебе,
Вознесем мы там Тебе!
{% endverse %}
