---
name: 277
section: Молитва
title: Все в Божьей власти, знает Он
authors:
- Традиционная английская мелодия
- Джон Уиттиер, 1807-1892
- Перевод: Роман Туренко, 2010 (куплеты 2, 4, 5);
- Рабочая группа ЕЛЦИ, 2013 (куплеты 1, 3)
---
{% verse "1" %}
Все в Божьей власти, знает Он,
Ответить «да» иль «нет».
Проникнуть в душу Он силен
И мудрый дать совет.
{% endverse %}
{% verse "2" %}
Не раз меня благословлял,
Хоть я блуждал в пути,
И наказаньем исправлял,
Чтоб мог к Нему идти.
3.Господь всё знает наперед.
Яснее с каждым днем,
С какой любовью нас ведет
Отец в Небесный дом.
{% endverse %}
{% verse "4" %}
Я верю: смерть – лишь переход
К Отцу, в небесный свет,
Где детям Божьим нет забот,
Ни горестей, ни бед.
{% endverse %}
{% verse "5" %}
И в ожиданье дня того,
Когда Его узрю,
Все окна сердца моего
Я Богу отворю.
{% endverse %}
