---
name: 278
section: Молитва
title: Как могу я прийти перед очи Твои?
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Как могу я прийти перед очи Твои?
О, помилуй, Господь, и покой подари!
{% endverse %}
{% verse "2" %}
Сознаю я грехи и ошибки мои…
О, помилуй, Господь, и покой подари!
{% endverse %}
{% verse "3" %}
Видишь, я среди тьмы, видишь муки мои!
О, помилуй, Господь, и покой подари!
{% endverse %}
