---
name: 279
section: Молитва
title: Услыши меня, услыши меня
authors:
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Услыши меня, услыши меня,
Господи, ответь!
Услыши меня, услыши меня
И молитву мою!
{% endverse %}