---
name: 28
section: Рождество
title: Ныне все ангелы в небе ликуют
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ. Новосибирск, 2002
---
{% macro chorus() %}
{% verse "Припев" %}
Слава, слава, слава в вышних Богу, мир на земле!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Ныне все ангелы в небе ликуют.
Верные все о Христе торжествуют.
«Царь нам рожден!» - восклицают в хвале -
«Слава в вышних Богу, мир на земле!»
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Пой, Вифлеем, Иисуса рожденье,
Радостно пой, все живое творенье!
Все голоса пусть сольются в хвале:
“Слава в вышних Богу, мир на земле!”
{% endverse %}
{{ chorus() }}
