---
name: 280
section: Молитва
title: Создатель неба звездного
authors:
- Амвросий Медиоланский, 4 век
- Перевод: А. Куличенко, М. Линькова
---
{% verse "1" %}
Создатель неба звездного,
Для верных свет немеркнущий,
Христе, всех нас избавивший,
Молитву нашу выслушай.
{% endverse %}
{% verse "2" %}
Скорбя о мире гибнущем,
Себя обрекшем тлению,
Ты нашим стал спасением
И исцеленьем немощи.
{% endverse %}
{% verse "3" %}
Восстал средь тьмы погибельной
Ты солнцем Божьей истины:
Святою Божьей волею
Рожденный Девой чистою.
{% endverse %}
{% verse "4" %}
Твоей великой силою
Всё в этом мире держится,
Земное и небесное
Смиренно славят Господа.
{% endverse %}
{% verse "5" %}
Тебе мы, Святый, молимся,
Сердец Судья Всеведущий,
Нас сохрани для вечности
От злобы искусителя.
{% endverse %}
{% verse "6" %}
Христе, наш Царь возлюбленный,
Тебе с Отцом-Создателем
И с Духом-Утешителем
Да будет слава вечная!
{% endverse %}
