---
name: 281
section: Молитва
title: Даруй нам Слова благодать
authors:
- Мартин Лютер, 1542
- Мартин Лютер, 1542
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Даруй нам Слова благодать;
Срази Ты, Отче, вражью рать,
Когда она дерзнет на власть
Престола Твоего напасть.
{% endverse %}
{% verse "2" %}
Могущество Твоей любви,
О Сыне Божий, нам яви
И верующих всех храни,
Да воспоют Тебя они.
{% endverse %}
{% verse "3" %}
О Дух Святой, Ты освящай
Наш дух и сердце утешай!
Пребудь Ты с нами в смертный час,
Веди от смерти к жизни нас!
{% endverse %}
