---
name: 282
section: Молитва
title: Пребудь в нас благодатью
authors:
- М. Вульпиус, 1609
- Й. Штегманн, 1627
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Пребудь в нас благодатью
Своею, Боже сил,
Прими в Свои объятья,
Чтоб враг нас не смутил.
{% endverse %}
{% verse "2" %}
Пребудь Своим Ты Словом,
Господь, среди людей,
Под мощным его кровом
Храни Своих детей.
{% endverse %}
{% verse "3" %}
Пребудь Своим сияньем
Ты в нас, о света Свет,
Чтоб истины сознаньем
Был дух всегда согрет.
{% endverse %}
{% verse "4" %}
Пребудь благословеньем
Над нами Ты всегда,
Чтобы ушли сомненья,
И ложь, и суета.
{% endverse %}
{% verse "5" %}
Пребудь, о Всемогущий,
В нас крепостью Своей,
Чтоб враг, на нас идущий,
Бессилен был пред ней.
{% endverse %}
{% verse "6" %}
Пребудь в нас неизменно
Своим всем существом
И к жизни нас нетленной
Веди Своим путем.
{% endverse %}
