---
name: 283
section: Молитва
title: Хочу везде и всюду
authors:
- Мельхиор Тешнер, 1615
- Николаус Зельнеккер, 1572 Русский лютеранский сборник гимнов
---
{% verse "1" %}
Хочу везде и всюду
Я быть, Господь, Твоим!
С Тобой одним лишь буду
Для зла неуязвим.
Дай в жизни скоротечной
Соблазнов избежать,
Дай мудрость бесконечно
Тебя благословлять.
{% endverse %}
