---
name: 284
section: Молитва
title: Господь Иисус, приди
authors:
- Майнинген, 1693
- Йоганн Германн, 1630
- Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Господь Иисус, приди,
Внемли моим моленьям
И дому ниспошли
Твое благословенье.
Коль труд наш без тебя,
Найдем ли счастье в нем?
Но входит благодать
Благословеньем в дом.
{% endverse %}
