---
name: 286
section: Молитва
title: Будь Главою нам!
authors:
- А. Дрезе, 1698
- Николай Людвиг фон Цинцендорф, 1725
- Русский лютеранский сборник гимнов, 1903
---
{% verse "1" %}
Будь Главою нам!
По Твоим стопам
Мы спасения стезею,
Нам указанной Тобою,
Вместе в Отчий дом
За Тобой пойдем.
{% endverse %}
{% verse "2" %}
В трудный жизни час
Подкрепи Ты нас,
Чтоб мы в скорби и печали,
И в болезни не роптали.
Средь земных невзгод
Путь к Тебе идет.
{% endverse %}
{% verse "3" %}
В скорби и любви
Всем Ты помоги.
Дай в Тебе всем утешенье,
Дай Ты нам во всём терпенье,
Укажи исход
Наших всех забот.
{% endverse %}
{% verse "4" %}
В сём земном пути
Сам, Господь, веди!
Узкою ведя дорогой,
Будь нам силой и подмогой,
Дверь в конце открой
В вечный Твой покой.
{% endverse %}
