---
name: 287
section: Молитва
title: Ближе, Господь, к Тебе
authors:
- Лоуэлл Мейсон, 1856
- Сара Флауэр Адамс, 1841
---
{% verse "1" %}
Ближе, Господь, к Тебе,
Ближе к Тебе,
Хотя б крестом пришлось
Подняться мне.
Нужно одно лишь мне:
Ближе Господь, к Тебе,
Ближе Господь, к Тебе
Ближе к Тебе!
{% endverse %}
{% verse "2" %}
В пустыне странник я,
И ночь темна,
Отдых на камне лишь
Найдет глава.
Но сердце и во сне
Ближе, Господь, к Тебе,
Ближе, Господь, к Тебе,
Ближе к Тебе!
{% endverse %}
{% verse "3" %}
И, пробудясь от сна,
Песнь воспою,
Хвалой Тебе, Христос,
Плач заменю.
В скорби отрада мне:
Ближе, Господь, к Тебе,
Ближе, Господь, к Тебе,
Ближе к Тебе!
{% endverse %}
{% verse "4" %}
Когда земную жизнь
Окончу я,
Когда во славу Ты
Введешь меня,
Вечная радость мне:
Ближе, Господь, к Тебе,
Ближе, Господь, к Тебе,
Ближе к Тебе!
{% endverse %}
