---
name: 288
section: Молитва
title: О Господь, веди мой чёлн
authors:
- Д. Гулд, 1871
- Э. Хоппер, 1871
---
{% verse "1" %}
О Господь, веди мой чёлн
Посреди житейских волн!
Бьются волны предо мной,
Скалы скрыты под водой.
Грозен шторм! Взываю я:
«О Господь, веди меня!»
{% endverse %}
{% verse "2" %}
Ты – Творец, в руке Твоей
Воды бурные морей.
Ветер, слушая Твой зов,
Успокоиться готов.
Повелитель бурных волн,
О Господь, веди мой чёлн!
{% endverse %}
{% verse "3" %}
О Господь, меня храни,
Страх, сомненья изгони.
Слыша грозных волн прибой,
Ко Христу спешу с мольбой:
«Не покинь меня средь волн!
О Господь, веди мой чёлн!»
{% endverse %}
