---
name: 289
section: Молитва
title: Господи Всевышний, дай мне в этой жизни
authors:
- Ханс Пульс, 1962
- Густав Ломан, 1962
---
{% verse "1" %}
Господи Всевышний, дай мне в этой жизни
Никогда не сбиться с Твоего пути.
{% endverse %}
{% verse "2" %}
Помоги, Господь, мне мир и утешенье,
А не груз печалей людям принести.
{% endverse %}
{% verse "3" %}
Будь в пути со мною, укрепляй любовью,
Чтоб не уставал я ближним помогать.
{% endverse %}
{% verse "4" %}
Боже, благодатью сердце озари мне,
Помоги в любви и вере возрастать.
{% endverse %}
