---
name: 29
section: Рождество
title: Ярко сияла волхвам ты с востока
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ. Новосибирск, 2002
---
{% verse "1" %}
Ярко сияла волхвам ты с востока,
Божья звезда, нашу тьму разгони!
Всех нас к Младенцу веди издалека,
Светом небес озаряй наши дни!
{% endverse %}
{% verse "2" %}
Ярче всех звезд, что горят на востоке,
Божья звезда, перед нами свети,
Через долины, холмы и потоки
Нас в Вифлеем, к Иисусу веди!
{% endverse %}
