---
name: 290
section: Молитва
title: Благодарю Тебя, Христе
authors:
- Дахштейн, 1525
- Мартин Лютер, 1523
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Благодарю Тебя, Христе,
За все Твои страданья:
За кровь и муки на кресте,
Насмешки, поруганья.
О Боже, успокой мой дух
Победою Твоих заслуг,
На них дай упованье.
{% endverse %}
{% verse "2" %}
Благодарю, Христе, Тебя,
Что Ты всегда со мною,
Грехи мои взял на Себя,
Не погнушался мною.
И в смертный час ко мне Свой лик
Склони, когда в последний миг 
Я утомлюсь борьбою.
{% endverse %}
{% verse "3" %}
Стою, Господь, перед Тобой,
Христос, мое спасенье!
Теперь по милости святой
Обрел я искупленье
И даром веры укреплюсь,
От беззаконий удалюсь
И вознесу хваленье!
{% endverse %}
