---
name: 291
section: Молитва
title: Молись, дитя, сомненья камень
authors:
- К.К. Шолфилд
- И.С. Никитин (1824-1861)
---
{% verse "1" %}
Молись, дитя, сомненья камень
Твоей груди не тяготит;
Твоей молитвы чистый пламень
Святой любовию горит.
{% endverse %}
{% verse "2" %}
Молись, дитя: тебе внимает
Творец бесчисленных миров
И капли слез твоих считает,
И отвечать тебе готов.
{% endverse %}
{% verse "3" %}
Быть может, ангел твой хранитель
Все эти слезы соберет
И их в надзвездную обитель,
К престолу Бога отнесет.
{% endverse %}
{% verse "4" %}
Молись, дитя, мужай с летами,
И, дай Бог, в пору поздних лет
Такими ж светлыми очами
Тебе глядеть на Божий свет!
{% endverse %}
{% verse "5" %}
Но если жизнь тебя измучит
И ум и сердце возмутит,
Но, если жизнь роптать научит,
Любовь и веру погасит, -
{% endverse %}
{% verse "6" %}
Приникни с жаркими слезами,
Креста подножье обойми:
Ты примиришься с небесами,
Самим собою и людьми.
{% endverse %}
{% verse "7" %}
И вновь тогда из райской сени
Хранитель-ангел твой сойдет,
И за тебя, склонив колени,
Молитву Богу вознесет.
{% endverse %}
