---
name: 292
section: Молитва
title: О всеблагой Иисус Христос
authors:
- Виттенберг, 1529
- И. Агрикола, ок. 1525
- Перевод: Ю. Высоцкая, 1995
---
{% verse "1" %}
О всеблагой Иисус Христос,
Мои услышь моленья!
Плод покаянья дай принесть,
Да не погибну в тленье!
Дай в сердце веру мне скорей,
Чтоб снять греха оковы,
Дабы снова
Мне возлюбить Тебя
И жить Твоим лишь Словом.
{% endverse %}
{% verse "2" %}
Прошу еще о большем я,
Владыка, Царь Вселенной,
Не приведи меня Ты стать
В очах Твоих презренным,
Надежду в сердце мне всели
И дай мне в мире этом
Быть согретым
В лучах твоей любви,
Ходить в Тебе одетым.
{% endverse %}
{% verse "3" %}
Дай силу мне прощать врагов,
Всем сердцем возлюбить их.
Прости и мне мои грехи,
Слезами дай омыть их.
Да будет Слово мне Твое
Духовною отрадой,
Будь же рядом,
Когда придет беда,
Стань мощной ей преградой.
{% endverse %}
{% verse "4" %}
О, как боюсь я умереть
Отвергнутым Тобою!
В руке твоей все дни мои.
Как жажду я покоя!
Никто не может сам достичь
Того, что Ты даруешь.
Я могу лишь
Надеяться в слезах:
Меня Ты не осудишь.
{% endverse %}
{% verse "5" %}
О, помоги же мне, Христос,
Скорбящему в бессилье!
Ведь можешь только Ты один
Дать силы мне обилье.
О, Упование мое!
Несешь Ты всем прощенье
И спасенье.
В Тебе я навсегда
Найду успокоенье.
{% endverse %}
