---
name: 293
section: Молитва
title: Будь милосерд, о Боже мой!
authors:
- Д. Рид
- В. Теппоне
---
{% verse "1" %}
Будь милосерд, о Боже мой!
Услышь мой зов к Тебе с мольбой,
Дай в искушенье победить
И веру чистой сохранить.
{% endverse %}
{% verse "2" %}
Тебя молю я, Боже мой,
Даруй мне верою живой
Смиренно в истине ходить
И всей душой Тебя любить.
{% endverse %}
{% verse "3" %}
Пока живу я на земле,
Дай верным быть во всем Тебе:
Твою святую волю чтить,
Всю жизнь Тебе лишь посвятить.
{% endverse %}
{% verse "4" %}
Пошли мне силы, Боже мой,
Исполнить Твой закон святой;
Молю, во мне дух обнови
И укрепи в Твоей любви.
{% endverse %}
