---
name: 294
section: Молитва
title: Научи меня, Боже, молиться
---
{% verse "1" %}
Научи меня, Боже, молиться,
Твой священный закон соблюдать,
Научи гордым сердцем смириться,
Твою волю во всем исполнять,
Твою волю во всем исполнять.
{% endverse %}
{% verse "2" %}
Чтоб любил я тебя беспредельно,
Дух Святой чтоб во мне пребывал,
Чтоб являл свою веру на деле
И лишь имя Твое прославлял,
И лишь имя Твое прославлял.
{% endverse %}
{% verse "3" %}
Чтоб, омыт драгоценною кровью,
Чистым сердце свое я хранил
И святой, бескорыстной любовью,
Всей душой своих ближних любил,
Всей душой своих ближних любил.
{% endverse %}
