---
name: 295
section: Молитва
title: О щедрый Отче всех людей
authors:
- Г.Ф. Гендель, 1748; обр. В. Дуглас, 1941
- Г. Твиди, 1926
- Перевод: Н. Волкославская, 1994
---
{% verse "1" %}
О щедрый Отче всех людей,
Владыка всей земли!
На вечном троне в небесах
Молитвам ты внемли!
Ты знаешь каждый тайный вздох,
Движение души.
Когда изнемогаем мы,
На помощь поспеши!
{% endverse %}
{% verse "2" %}
Да будет воля в нас Твоя,
В сердцах – Твой мир святой,
Чтоб нам молиться в тишине
И слышать голос Твой.
Все планы, мысли и мечты,
И боль сердец своих
С доверием слагаем мы
У ног Твоих святых.
{% endverse %}
{% verse "3" %}
Не мы нашли Тебя, Господь,
Но Сам Ты нас нашел,
К источнику воды живой
Нас, жаждущих, привел.
Открыл сокровищницу нам –
Святую благодать.
Тебя мы будем, наш Господь,
Вовеки воспевать.
{% endverse %}
