---
name: 296
section: Молитва
title: О, Боже мой, восстанови
authors:
- Французская мелодия, 16 век
- А. Н. Плещеев (1825-1893)
---
{% verse "1" %}
О, Боже мой, восстанови
Мой падший дух, мой дух унылый!
Я жажду веры и любви,
Для новых битв я жажду силы.
Запуган мраком ночи я,
И в нем я ощупью блуждаю.
Ищу в светильник свой огня,
Но где обресть его, не знаю.
{% endverse %}
{% verse "2" %}
В изнеможенья скорбный час
Простри спасительные руки,
Да упадет завеса с глаз,
Да прочь идут сомненья муки.
Внезапным светом озарен,
От лжи мой ум да отрешится
И вместе с сердцем да стремится
Постигнуть истины закон.
{% endverse %}
