---
name: 297
section: Молитва
title: Я встану на колени
authors:
- Финляндия
- Филипп Фридрих Гиллер, 1767
- Перевод: Ольга Крутикова, 2011
---
{% verse "1" %}
Я встану на колени,
Спаситель, пред Тобой,
Ты милостью Своею
Меня теперь покрой.
{% endverse %}
{% verse "2" %}
Чтоб мне не уклониться
От верного пути,
В минуту испытаний
Ты Сам меня веди.
{% endverse %}
{% verse "3" %}
Удержит от падений
Меня Спаситель мой,
Хранить поможет веру
И даст венец златой.
{% endverse %}
{% verse "4" %}
Смотрю на крест Голгофский –
Мое спасенье в нем,
Он миру возвещает
Победу над грехом.
{% endverse %}
{% verse "5" %}
В пути к небесной выси
Нас Духом освяти,
Однажды, в доме Отчем,
Блаженством награди.
{% endverse %}
