---
name: 298
section: Молитва
title: Иисус единственный
authors:
- К. В. Сёрлье, 1910
- Оле Теодор Моэ, 1904
- Перевод: Сюльви Ёронен-Менькова, 1999;
- Арво Сурво, 2000
---
{% verse "1" %}
Иисус единственный,
В сердце мое войди,
Ты в мир прощение, милость принес.
Святость и чистота,
Любовь и истина -
Всё в Твоем имени, Иисус Христос.
{% endverse %}
{% verse "2" %}
Когда израненный,
Всеми оставленный,
Христос Спаситель, к Тебе я взову,
Взор Твой прощающий,
Дух укрепляющий
Я покаянно всем сердцем приму.
{% endverse %}
{% verse "3" %}
Помилуй, Господи,
В Духе меня веди,
Волю небесную сердцу яви,
Чтобы Твой крест святой
Всегда был предо мной
Здесь на земном многотрудном пути.
{% endverse %}
{% verse "4" %}
Святость Твоя, Господь –
Веры моей оплот,
Души спасение – милость Твоя.
В одежды праведных
Ты облечёшь Своих,
В ковчег спасенья прими и меня.
{% endverse %}
