---
name: 299
section: Молитва
title: Люблю, Господь, Твой дом
authors:
- Аарон Уильямс, 1770
- Тимоти Дуайт (1752-1817)
---
{% verse "1" %}
Люблю, Господь, Твой дом,
Дом милости Твоей;
Люблю собрание людей,
Искупленных Христом.
{% endverse %}
{% verse "2" %}
О церкви дорогой,
Собранье душ живых,
Взываю сердцем и душой
Всегда в мольбах своих.
{% endverse %}
{% verse "3" %}
Я рад иметь всегда
Общенье духа с ней,
Нести все тяжести труда
И крест ее скорбей.
{% endverse %}
{% verse "4" %}
Я знаю, разделю
С ней славу я Твою:
Предстанут с пеньем пред Тобой
Спасенные душой.
{% endverse %}
