---
name: 3
section: Адвент
title: Осанна, честь и слава
authors:
  - Лютеранский сборник Литургии и гимнов. Алматы, Казахстан, 1999
---
{% macro chorus() %}
{% verse "Припев" %}
Осанна, честь и слава,
Спаситель наш, Иисус!
Тебе хвала звучала
Из чистых детских уст.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Израиля надежда,
Царя Давида сын,
Грядет во имя Божье
Предвечный Властелин.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Хор ангелов небесных
Тебе хвалу поет,
Им вторит повсеместно
Ликующий народ.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Толпа с ветвями, с пеньем
Тебе навстречу шла,
К Тебе пришли в смиренье
Народы без числа.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Господь наш Всемогущий,
Хвалениям внемли,
От Бога в мир грядущий
Царь неба и земли!
{% endverse %}
{{ chorus() }}
