---
name: 30
section: Рождество
title: Бог дал народам радость
authors:
  - Лютеранский сборник Литургии и гимнов. Алматы, Казахстан, 1999
---
{% macro chorus() %}
{% verse "Припев" %}
Нам дана ныне добрая весть, светлая весть:
К нам на землю спустился Господь!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Бог дал народам радость,
Отбрось сомнений тень
И помни, что Спаситель
Родился в этот день,
Чтоб нас от сатаны спасти,
Избавить от грехов.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Младенец, Сын Господний,
Блаженное Дитя,
Росток Йессеев чудный
Нам ныне родился!
В хлеву Он вифлеемском
Положен в ясли был.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Тогда Отец Небесный
В мир ангела послал,
Чтоб пастухов средь ночи
Он в Вифлеем позвал,
Им возвестил: Христос рожден,
Кого народ так ждал.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Благой внимали вести
Их верные сердца,
Они без страха в поле
Оставили стада
И устремились в Вифлеем,
Где Божий Сын рожден.
{% endverse %}
{{ chorus() }}