---
name: 300
section: Молитва
title: Дай мне силу, Бог Спаситель
authors:
- В. Веснитцер, 1661
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Дай мне силу, Бог Спаситель,
Веру твердо сохранить,
Чтобы я в Твою обитель
Со святыми могу вступить.
Там с любовью бесконечной
Ты даешь дар жизни вечной,
И без страха и стыда
С верою войду туда.
{% endverse %}
{% verse "2" %}
Жажду я не разлучаться
Ни на час, Господь, с Тобой,
Пусть все мысли освятятся,
Дух со мной пребудет Твой!
В нуждах, в страхе, в огорченье
Ты одно мне утешенье
До кончины жизни сей.
Там с Тобою нет скорбей.
{% endverse %}
