---
name: 301
section: Молитва
title: Избавь, Спаситель, от беды!
authors:
- Л. Буржуа, 1547
- По Н. Зельнеккеру (1530-1592),
- М. Маллер, 1596
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Избавь, Спаситель, от беды!
О, сжалься надо мною Ты!
Хоть грех силен и сатана,
Но я храним Тобой всегда.
{% endverse %}
{% verse "2" %}
Дай на Тебя лишь уповать,
Коль Ты со мной, чего желать?
Тебя обрел я, Боже мой,
О, мой Спаситель дорогой!
{% endverse %}
{% verse "3" %}
Я с верой, Боже, жду Тебя,
Лишь на Тебя надежда вся:
Меня в страданьях не покинь!
Моя опора Ты! Аминь!
{% endverse %}
