---
name: 302
section: Молитва
title: О, образ совершенный любви и чистоты!
authors:
- Х. Л. Хасслер, 1601
- И. С. Проханов
---
{% verse "1" %}
О, образ совершенный любви и чистоты!
Спаситель, Царь смиренный, пример мне вечный Ты.
На лик в венце терновом хочу душой взирать.
Хочу делами, словом Тебе лишь подражать.
{% endverse %}
{% verse "2" %}
Хочу Твои слова я повсюду повторять.
Хочу, благословляя, врагам моим прощать,
Хочу за них молиться, как Ты молил о них.
Хочу, как Ты, смириться среди сынов земных.
{% endverse %}
{% verse "3" %}
Во всем хочу Тебе я, Спаситель, подражать,
Но мне всего желанней в Тебе лишь пребывать.
Хочу, в Тебя одетый, ходить в Тебе одном,
Чтоб виден был везде Ты, чтоб Ты сиял кругом.
{% endverse %}
{% verse "4" %}
Хочу уж не порывом, но каждый миг земной
В общении счастливом я пребывать с Тобой.
Ты в Царство неземное мне двери отвори,
Где гаснет "я" плотское в лучах Твоей зари.
{% endverse %}
