---
name: 303
section: Молитва
title: Глаза свои к небу возвожу
authors:
- Рудольф Лайи, 1867
- Й. Л. Рунеберг, 1857
---
{% verse "1" %}
Глаза свои к небу возвожу,
Склонив колени смиренно.
Услышь молитву, Господь, прошу,
И сердца благодаренье!
{% endverse %}
{% verse "2" %}
Как радостно петь хвалу Тебе,
Душа трепещет от счастья.
Никто не будет один в беде,
Ты всех укроешь в ненастье.
{% endverse %}
{% verse "3" %}
О, сколько же в Тебе доброты,
Твоя любовь не иссякнет,
Ведь людям радость даруешь Ты,
Мы все в долгу неоплатном.
{% endverse %}
{% verse "4" %}
Росток я хрупкий в Твоем саду,
К небесной выси стремлюсь я.
Под сенью милости я иду,
Со мной Отец, не боюсь я!
{% endverse %}
{% verse "5" %}
Творец Всевышний, со мной пребудь,
Даруй мне Духа Святого,
Позволь мне истинный видеть путь,
Достигнуть дома родного!
{% endverse %}
