---
name: 305
section: Молитва
title: В любви горячей возношу
authors:
- Страсбург, 1577
- М. Шаллинг, 1571
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
В любви горячей возношу
К Тебе я душу и прошу:
Пребудь, Господь, со мною!
Мирских творений высота,
Земной гордыни суета
Ничтожны пред Тобою.
В скорбях, страданьях и средь бед
Ты – утешенье мне и свет.
От вечной гибели храня,
Ты кровью искупил меня.
О Иисус! О Боже мой! О Боже мой,
От всех грехов меня омой.
{% endverse %}
{% verse "2" %}
Всё, что обрел я, плоть и дух –
Животворящих Божьих рук
Дары, Его щедроты.
Тебе во славу, Боже, жить
И счастью ближнего служить
Усиль мои заботы.
Ах, в искушенье не вводи,
От лжеученья огради!
Дай мне смиренно крест нести
И тем терпенье обрести.
О Иисус! О Боже мой! О Боже мой,
В час смерти душу успокой!
{% endverse %}
{% verse "3" %}
В час смерти, Боже, повели,
Чтоб душу ангелы снесли
На лоно Авраама.
Дай на Тебя мне уповать
И на Твою лишь благодать
Всегда, о Боже правый!
В свой час для жизни воскреси
И душу Ты мою спаси.
Молю, Христос, Спаситель мой:
Ты двери рая мне открой.
О, Иисус, услышь меня, услышь меня!
Тобой спасен навеки я.
{% endverse %}
