---
name: 306
section: Молитва
title: Господь, Ты милостив
authors:
- ок. 1670
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Господь, Ты милостив,
Ты полн любви, терпенья,
Дай сердцу моему
Покой и утешенье.
Здесь в целом мире мне
Нигде отрады нет,
Пока любовь Твоя
Мне не подарит свет.
{% endverse %}
{% verse "2" %}
К Тебе, Спаситель мой,
Иду обременённый;
Воззрю на лик святой,
Твой образ просветлённый –
И цепь греха спадет,
И взор отрадный Твой
Даст сердцу моему
Вновь радость и покой!
{% endverse %}
