---
name: 307
section: Молитва
title: О Боже, дух наш успокой!
authors:
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Боже, дух наш успокой!
Смири в сердцах Ты страсти
И нас средь суеты мирской
Избавь от вражьей власти!
{% endverse %}
{% verse "2" %}
И ниспошли нам благодать,
Твое Святое Слово
Ты научи нас воспринять
И жаждать его снова.
{% endverse %}
{% verse "3" %}
Веди нас праведной стезей,
Избавь нас от напастей
И жизни вечной удостой
В Своем Небесном Царстве.
{% endverse %}
