---
name: 308
section: Молитва
title: Охрани, Господь, меня
authors:
- Мартин Лютер, 1524
- Г. Хельд, 1658
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Охрани, Господь, меня
Ночью и в сиянье дня,
Дай мне жить одним Тобой,
Вечно будь с моей душой.
{% endverse %}
{% verse "2" %}
Мне нигде покоя нет,
Коль не светит мне Твой свет.
Я живу мольбой одной:
Мой Господь, пребудь со мной!
{% endverse %}
{% verse "3" %}
Нет мне радости нигде –
Ни в покое, ни в труде –
Коль Спаситель не со мной.
Я стремлюсь к Тебе душой!
{% endverse %}
{% verse "4" %}
Мой Спаситель и Творец,
Жизни радость и венец,
Ты, за грех проливший кровь,
И покров мой, и любовь.
{% endverse %}
