---
name: 309
section: Молитва
title: О Иисус, блаженство наше!
authors:
- И. Б. Кениг, 1738
- Н. Шеффлер, 1657
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисус, блаженство наше!
Ты Сам любовь и чистота.
Ты жертвой стал за нас от века,
Чтобы омыть нас от греха.
Ты Царь Вселенной, Царь царей,
Спаситель всех людей.
{% endverse %}
{% verse "2" %}
Люблю Тебя, моя Ты сила,
Люблю Тебя, моя краса.
Хочу, чтоб чаще возносила
Меня молитва в небеса.
Люблю Тебя, о дивный Свет!
В тебе свершен завет.
{% endverse %}
{% verse "3" %}
Пусть славы блеск Твой величавый
Ведет нас в жизненном пути.
О, помоги нам, Боже правый,
В Отчизну вечную войти!
Ты Царь Вселенной, Царь царей,
Спаситель всех людей.
{% endverse %}
