---
name: 31
section: Рождество
title: Ликуй, ликуй и радуйся
authors:
  - Филипп Николаи, 1556-1608
  - Бирджит Боуе, 1742-1824;
  - Джордж Рей, 1860-1942
  - Перевод: Екатерина Шалухина (Казахстан, совр.)
  - Лютеранский сборник Литургии и гимнов. Алматы, Казахстан, 1999
---
{% verse "1" %}
Ликуй, ликуй и радуйся,
Для нас Спаситель родился,
Христос, Господь Вселенной!
Он в Вифлееме родился,
Пред Ним ликуют небеса,
И гимн звучит хвалебный!
Дух мой, воспой Божью благость:
Ныне радость и спасенье!
Богу честь и прославленье!
{% endverse %}
