---
name: 310
section: Молитва
title: Чистое сердце сотвори
authors:
- Нюрнберг, 1676
- Г. Нойсс, 1703
- Перевод: Н. Юргенсон
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Чистое сердце сотвори,
Боже, мне и затвори
Вход для грехов и злых страстей,
Чтоб им не жить в душе моей.
{% endverse %}
{% verse "2" %}
Приди скорей, Спаситель мой,
И сердце настежь мне раскрой,
Зажги в нем Свой огонь любви
И в нем, как в храме, заживи.
{% endverse %}
{% verse "3" %}
Молю, чтоб Твой священный лик
Мне в сердце грешное проник.
Избавь его от темноты,
О Ты, источник доброты!
{% endverse %}
{% verse "4" %}
Наполни, о Спаситель мой,
Мне сердце вечной добротой,
В него влей силу, ум и свет,
Чтоб я был верою согрет.
{% endverse %}
{% verse "5" %}
И я тогда, о мой Иисус,
С Тобой вовек не разлучусь,
И будут дух мой и уста,
Ликуя, восхвалять Христа.
{% endverse %}
