---
name: 311
section: Молитва
title: Господи Боже, не оставь в забвенье
authors:
- Йохан Крюгер, 1640
- Иоганн Герман, 1630
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Господи Боже, не оставь в забвенье
Тебя молящих о своем спасенье.
К Тебе взываем, Боже, днем и ночью.
Услышь нас, Отче!
{% endverse %}
{% verse "2" %}
О, посрами Ты нечестивых, Боже,
Разрушь их мысли, грешны и ничтожны,
Сойди к покорным Твоему закону
На оборону!
{% endverse %}
{% verse "3" %}
Нас оживи Своим всесильным Словом,
Дай нам победу под его покровом,
Чтобы свое орудье вражья сила
Навек сложила!
{% endverse %}
{% verse "4" %}
Кто, как не Ты, опора нам в страданье?
Лишь на Тебя всё наше упованье.
Коль Ты за нас, в борьбе с врагом стоим мы
Несокрушимо!
{% endverse %}
{% verse "5" %}
О, рати нашей Вождь и Охранитель!
О Иисус, Ты слабых Покровитель!
Зовем Тебя душою и устами:
Пребудь же с нами!
{% endverse %}
