---
name: 312
section: Молитва
title: Ты благодатной силой и защитой
authors:
- Эркки Мелартин, 1923
- Дитрих Бонхеффер, 1944
- Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Ты благодатной силой и защитой
Здесь, на земле, Творец, нас единишь.
К Тебе пришли душою мы открытой,
И нас в сей жизни верно Ты хранишь.
{% endverse %}
{% verse "2" %}
И если ждут нас впереди страданья,
Мы знаем: с нами рядом Ты идешь
И нашу жизнь, все мысли и желанья
К любви и миру чудно приведешь.
{% endverse %}
{% verse "3" %}
Даруй, Господь, светить свечам надежды
И жизнь вдохни в их теплые лучи,
Тьму освети и во Христа одежды
Одень Ты нас, рабов Твоих, в ночи.
{% endverse %}
{% verse "4" %}
И если зло вокруг нас свирепеет,
Ты глас молитвы нашей укрепи,
Да песню новую Тебе сумеем
Пропеть, услышав голос Твой в тиши.
{% endverse %}
{% verse "5" %}
Ты благодатной силой и защитой
Нас собери, стихиям вопреки.
Пусть наш ковчег плывет, Тобой укрытый,
К водам текущей в вечный день реки.
{% endverse %}
