---
name: 313
section: Молитва
title: Кто знает час своей кончины?
authors:
- Халле, 1704
- Эмилия Юлиана фон Шварцбург-Рудольфштадт, 1688
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Кто знает час своей кончины?
Кто смерил нить житейских дней?
Быть может, смерть чрез миг единый,
Как гость нежданный у дверей
Предстанет звать в свою обитель.
Молю же, сделай, мой Спаситель
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "2" %}
Сегодня радость перед нами,
А завтра скорбь ее сменит.
Здесь тленно всё, и вместе с нами
Всему земному смерть грозит.
Но Бог - мой щит и мой хранитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "3" %}
Отец Небесный! Прегрешенья
Заслугою Христа покрой!
В крови Его - мое спасенье,
В любви Его - душе покой,
Он Всемогущий Покровитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "4" %}
Я все надежды возлагаю
На раны и на кровь Христа
И жертвой Агнца обретаю
Покой и радость у креста.
Он - мир мой, свет, мой друг, хранитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "5" %}
От Господа меня ни муки,
Ни жизнь, ни смерть не отлучат.
К Нему я простираю руки,
К Нему лишь устремляю взгляд:
Господь, мой Бог, мой Искупитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "6" %}
С младенчества Святым Крещеньем
Я во Христа был облечен
И благодатным искупленьем
К числу детей Его причтен.
Прими в небесную обитель,
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "7" %}
Я Плотию Его питался,
Его Святую Кровь я пил,
И можно ли, чтобы остался
Без благодатных Неба сил?
Нет, Он мой врач и исцелитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
{% verse "8" %}
Я с Ним всегда, и коль настанет
Сегодня час последний мой,
Я знаю, Бог не перестанет
Хранить меня Своей рукой.
Он смерти, ада победитель!
Молю же, сделай, мой Спаситель,
Твоею смертию за нас
Мне легким мой последний час.
{% endverse %}
