---
name: 314
section: Молитва
title: Пред Твоим троном предстою я
authors:
- Йохан Баптиста Серранус, 1567
- Бодо фон Ходенберг, 1646
- Перевод: Ольга Крутикова, 2011
---
{% verse "1" %}
Пред Твоим троном предстою я
В мольбе смиренной, Боже мой,
Не отврати же от меня
Лик милосердный и святой.
{% endverse %}
{% verse "2" %}
О, Бог Отец, меня из праха
Ты сотворил, как образ Твой,
Душу и жизнь в меня вселил,
Я без Тебя сосуд пустой.
{% endverse %}
{% verse "3" %}
Ты, Божий Сын, Своею кровью
Освободил от ада тьмы,
Грешного с Богом примирил,
Бремя приняв моей вины.
{% endverse %}
{% verse "4" %}
Бог Дух Святой, даятель силы,
Ты милосердный и благой
Душу добром преобразил
И освятил меня Собой.
{% endverse %}
{% verse "5" %}
Утром Тебя за всё благое
Дух мой торопится хвалить.
Всё, что даруешь Ты душе,
Будут уста превозносить.
{% endverse %}
{% verse "6" %}
Ты и сегодня надо мною
Руку Свою яви, Господь,
Близких моих Ты сохрани,
Вверяю дух Тебе и плоть.
{% endverse %}
{% verse "7" %}
Правдою сердце освяти мне,
Искренней веры удостой,
Нелицемерным дай мне быть
И непритворным пред Тобой.
{% endverse %}
{% verse "8" %}
Если настигнет искушенье,
Дай мне уныния не знать.
В сердце надежду сохранить,
В радости, мире пребывать.
{% endverse %}
{% verse "9" %}
И, снизойдя в долготерпенье,
Ты мне прости мои грехи.
Даруй стремиться лишь к Тебе,
Веру, любовь воспламени.
{% endverse %}
{% verse "10" %}
Дай мне блаженную кончину,
Вечного царства не отринь.
В День Твой из праха подними.
Боже, услышь меня! Аминь.
{% endverse %}
