---
name: 315
section: Жизнь во Христе
title: В вере стой, народ Христа,
---
{% verse "1" %}
В вере стой, народ Христа,
Не страшись врагов креста,
Искушений мира!
Хоть и слаб ты, но крепись
И на Богу положись –
В Нем лишь наша сила.
{% endverse %}
{% verse "2" %}
Облекись, народ Христа,
Силой, данною с креста:
Кротостью, смиреньем.
Побеждай врагов своих
Милосердьем дел твоих,
Верой и терпеньем.
{% endverse %}
{% verse "3" %}
Уповай, Христа народ!
Скоро наш Господь придет,
Враг да устрашится!
Хоть теперь и страждет плоть,
Но, когда придет Господь,
Мир наш обновится!
{% endverse %}
{% verse "4" %}
Будь же свят, Христа народ!
Пусть ни грех, ни груз забот
Дух не отягчают!
Будь же чист, как чист Он Сам,
И введет тебя Он в храм,
Где любовь сияет.
{% endverse %}
