---
name: 316
section: Жизнь во Христе
title: Найдет ли здесь в мире душа кров родной?
---
{% verse "1" %}
Найдет ли здесь в мире душа кров родной?
Кто даст ей здесь тихий приют и покой?
Не может сулить этот мир у себя
Приюта, где зло не коснется тебя.
{% endverse %}
{% verse "2" %}
Живущим по Слову и Вести Благой
Устроил Он Город небесный святой,
Сходящий в сиянье для нас, как венец,
То кров наш родной, то обитель сердец.
{% endverse %}
{% verse "3" %}
Возьми и меня, мой Спаситель, к Себе,
Где вечно возносят хваленья Тебе!
Так жаждет душа пред Тобой предстоять
И песнями милость Твою прославлять!
{% endverse %}
