---
name: 317
section: Жизнь во Христе
title: Любовь Твоя зовет нас, чтоб от грехов омыть
---
{% verse "1" %}
Любовь Твоя зовет нас, чтоб от грехов омыть,
Все наши прегрешенья в Иисусе искупить.
Сколь долго не блуждали мы от Тебя вдали,
Кровь, пролитая Сыном, нас может убелить.
{% endverse %}
{% verse "2" %}
Врата Твои открыты, и тот, кто в них войдет,
Отца у входа встретит, прощенье обретет.
Забудется былое, и будет вновь сиять
Венец небесной славы - Господня благодать.
{% endverse %}
{% verse "3" %}
О милосердье Божье, спасения стезя!
Как жить могли мы прежде, не ведая Тебя?
И если испытанья смутят наши сердца,
Мы знаем: утешенье найдем мы у Отца.
{% endverse %}
