---
name: 318
section: Жизнь во Христе
title: Все, кто крестились во Христа
authors:
- Etlich Christlich lider, Виттенберг, 1524
- Пауль Герхардт (1607-1676),
- Перевод: Роман Туренко, 2009
- На основании Рим. 6:1-10; Еф. 5:22-26; Иез. 36:25-27; Гал. 3:26-27
---
{% verse "1" %}
Все, кто крестились во Христа
И носят Его имя,
Склонитесь ныне у креста
Сердцами вы своими.
Ценит все, что сделал Бог,
Хоть сосчитать никто не смог
Даров Его доныне!
{% endverse %}
{% verse "2" %}
Мы во грехе все рождены,
Неправедны пред Богом
И от Него отчуждены,
Мы шли своей дорогой.
Не знали мы небесных благ,
Был всяк из нас и слеп, и наг,
Мы не искали Бога.
{% endverse %}
{% verse "3" %}
Христос нашел заблудших нас,
Повел нас за Собою,
Своею благодатью спас,
Соделал нас семьею.
Вернув что потерял Адам,
Дал силу, чтоб подняться нам
Над грешною землею.
{% endverse %}
{% verse "4" %}
Мы во Христа облечены,
Крещенные водою,
От смерти мы искуплены
Великою ценою.
Пролитая Святая Кровь
Дарует праведность нам вновь
Для жизни вечной в вышних.
{% endverse %}
{% verse "5" %}
Благодари, христианин,
Ты Бога бесконечно
И дар Крещения храни –
В нем сила жизни вечной!
Хоть грех сильней тебя порой,
Крещение всегда с тобой,
Лишь в вере стой сердечной!
{% endverse %}
{% verse "6" %}
Христовым вновь творением
Для добрых дел ты создан.
Свершать свое призвание,
Христианин, ты должен!
Ведь если ты Христом спасен,
Навеки будешь облечен
В святую славу Богом!
{% endverse %}
