---
name: 319
section: Жизнь во Христе
title: Дух, вода и кровь взывают
authors:
- Джеффри Блерш, р. 1967
- Стивен Старке, р. 1955, на основании 1 Ин. 5:5-8; Ин. 10:10
- Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Дух, вода и кровь взывают,
Божье Слово подтверждают,
Что Христос смерть упраздняет,
Жизнь Свою даруя нам.
{% endverse %}
{% verse "2" %}
Он нам дал грехов прощенье
Через водное крещенье;
Принял нас в ковчег спасенья
И от вечной смерти спас.
{% endverse %}
{% verse "3" %}
Жизнь Его в нас торжествует,
Нас Господь преобразует,
В укрепленье нам дарует
Тело в хлебе, Кровь в вине.
{% endverse %}
{% verse "4" %}
Хоть людей смерть устрашает,
Нас она не испугает,
Дух Христов в нас жизнь вдыхает
Словом действенным, живым.
{% endverse %}
{% verse "5" %}
Дух, вода и кровь взывают,
Нашу веру укрепляют
Во Христа, Кто побеждает,
Жизнь Свою даруя нам.
{% endverse %}
