---
name: 32
section: Рождество
title: От рождения вселенной
authors:
  - 13 век, V псалмовый тон
  - Аурелиус Прудентиус Клеменс, 348-413
  - Лютеранский сборник Литургии и гимнов. Алматы, Казахстан, 1999
---
{% verse "1" %}
От рождения вселенной
Дан любовию Отца,
Он есть Альфа и Омега,
Он начало без конца.
Он есть тот, Кто был, Кто будет,
Будет с нами Он всегда,
Отныне и вовек!
{% endverse %}
{% verse "2" %}
Свято и благословенно
То рождение, когда,
Преисполненная Духом,
Дева Сына родила.
Нам в Младенце Том спасенья
Благодать Отцом дана
Отныне и вовек!
{% endverse %}
{% verse "3" %}
Это Он, Кого все ждали
В стародавние века –
 Всё сбылось, что предсказали
О рожденье Господа.
В Нем исполнилось Писанье,
Будем петь Ему хвалу,
Отныне и вовек!
{% endverse %}
{% verse "4" %}
О Христос, наш Искупитель,
О Святая Троица!
Воспоем мы гимны радости
В этот праздник Рождества!
Честь, владычество, и слава,
И победа вечная!
Отныне и вовек!
{% endverse %}
