---
name: 320
section: Жизнь во Христе
title: Однажды я, приняв Крещенье
authors:
- Христиан Мёк (1737-1818)
- Эмилия Юлиана фон Шварцбург-Рудольштадт (1637-1706), на основании Гал. 3:26-27; Рим. 6:3; Лк. 2:29-32
- Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Однажды я, приняв Крещенье,
Облекся в Господа Христа.
Он дал мне мир, любовь, прощенье,
Ведь в Нем я чадом Божьим стал.
Все это дай мне, Боже мой,
И в день последний мой земной!
{% endverse %}
{% verse "2" %}
Христово Тело, Кровь Христову
В Его Причастии Святом
Я принимаю, веря Слову,
Теперь во мне Он, а я – в Нем.
Дай быть с Тобою, Боже мой,
И в день последний мой земной!
{% endverse %}
{% verse "3" %}
Бог возрождает к жизни новой,
И встречу смерть я, не страшась,
Ведь в вере истинной Христовой
Душа приемлет Божью власть.
Дай верой жить мне, Боже мой,
И в день последний мой земной!
Аминь.
{% endverse %}
