---
name: 321
section: Жизнь во Христе
title: Предай все в руки Бога
authors:
- Стивен Джонсон, р. 1966
- Пауль Герхардт (1607-1676), на основании Пс. 36:5; Пс. 124:1; Фил. 4:6-7; 1 Петр. 5:6-7
- Перевод: Роман Туренко, 2009
---
{% verse "1" %}
Предай все в руки Бога,
Тебя так любит Он!
Идти Его дорогой
Тебе поможет Он!
Ведь Тот, Кто небом правит,
Морями и землей,
Ко благу Сам направит
Тебя Своей стезей.
{% endverse %}
{% verse "2" %}
На Бога полагайся,
Он чудно всё свершит.
Пред Господом смиряйся,
И враг твой убежит.
Бог благо даст безмерно
Не за твои дела –
Ему нужна лишь вера,
Молитва лишь мила.
{% endverse %}
{% verse "3" %}
Надейся лишь на Бога,
Крепись, душа моя!
Хоть испытаний много,
В том воля Божия.
Жди помощи с терпеньем
И в самый трудный час!
Прочь страхи и сомненья! –
Вот к сердцу Божий глас.
{% endverse %}
{% verse "4" %}
Позволь Ему исправить
Тебя и умудрить,
На верный путь направить,
И Словом укрепить!
Чрезмерных же страданий
Не даст Он никогда,
Держись обетований,
Ведь верен Бог всегда!
{% endverse %}
{% verse "5" %}
Ликуй, наследник Царства,
Тебе ведь даст Творец
Небесное блаженство
И жизни с Ним венец.
В твою Он руку вложит
Ветвь победителя,
Пребудешь в славе Божьей
В святых обителях.
{% endverse %}
{% verse "6" %}
Господь, дай телу крепость,
Чтоб жизни путь пройти,
Душе – покой и радость
На всем земном пути.
Пока живем в сем мире,
Храни нас всякий час
И на небесном пире
Прими хвалу от нас!
{% endverse %}
