---
name: 322
section: Жизнь во Христе
title: О Иисус, Ты Царь царей
authors:
- Iesu Rex admirabilis, Бернард Морландский
- Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
О Иисус, Ты Царь царей,
Ты всех владык земных славней,
Ты - утешение сердец,
Желаний благостный венец.
{% endverse %}
{% verse "2" %}
Когда приходишь в сердце Ты,
Смолкают звуки суеты,
В нем голос правды слышен вновь,
Святым огнем горит любовь.
{% endverse %}
{% verse "3" %}
Отрада сердца моего,
Духовный свет, родник живой!
Мой Царь желанней и светлей,
Чем все блаженства на земле.
{% endverse %}
{% verse "4" %}
Его на помощь призови,
Проси Божественной любви,
Стремись Христа всегда познать,
Повсюду пламенно искать.
{% endverse %}
{% verse "5" %}
О Иисус, Тебе – хвала
И наши добрые дела!
Тобой одним сердца живут
И славословия поют.
{% endverse %}
