---
name: 323
section: Жизнь во Христе
title: Блажен тот, кто себя вручает
authors:
- 17 век (?)
- М. Ломоносов (1711-1765), переложение Псалма 145
---
{% verse "1" %}
Блажен тот, кто себя вручает
Всевышнему во всех делах.
И токмо в помощь призывает
Живущего на небесах.
{% endverse %}
{% verse "2" %}
Несчетно многими звездами
Наполнившего высоту
И непостижными делами
Земли и моря широту.
{% endverse %}
{% verse "3" %}
Господь оковы разрешает
И умудряет Он слепцов,
Господь упадших возвышает
И любит праведных рабов.
{% endverse %}
{% verse "4" %}
Господь пришельцев сохраняет
И вдов приемлет и сирот.
Он грешных дерзкий путь скончает,
В Сионе будет в род и род.
{% endverse %}
