---
name: 324
section: Жизнь во Христе
title: Господь! Кто может пребывать
authors:
- Германия, 17 в. (?)
- Неизв. (стихотворный перевод Псалма 14)
---
{% verse "1" %}
Господь! Кто может пребывать
В Твоем жилище пред Тобой?
И кто достоин созерцать
Священный, дивный образ Твой?
{% endverse %}
{% verse "2" %}
Лишь тот, кто истине святой
Свой дух и сердце посвятил,
Кто непорочною душой
Священно Божью волю чтил,
{% endverse %}
{% verse "3" %}
Кто бескорыстен и правдив,
Кто с ближним скорби и нужду
Делил на жизненном пути
И кто врагам прощал вражду –
{% endverse %}
{% verse "4" %}
Тот будет с Богом обитать
В Его жилище в небесах
И будет вечно созерцать
Отрадный свет Его лица.
{% endverse %}
