---
name: 325
section: Жизнь во Христе
title: Отцы наши с верой трудились
authors:
- Эмиль Тёрнвалль, 1912
- Гёран Видмарк, 1945
- Перевод: Виктор Тикканен, 2013
---
{% verse "1" %}
Отцы наши с верой трудились
От ранней весны до зимы.
О хлебе насущном молились.
Призыву их вторим и мы:
«Исполнилось время, то воля Отца –
Приблизилось Царство Небесное к вам.
Бог радость дает сокрушенным сердцам.
Внимайте Иисуса словам!»
{% endverse %}
{% verse "2" %}
Господь, проходя по селеньям,
Учил и больных исцелял,
В заветный же час искупленья
За нас на кресте пострадал.
Он Духом Своим зажигает сердца
И проповедь Слова влагает в уста.
По миру иди и заблудших спасай –
Спасения дар возвещай.
{% endverse %}
{% verse "3" %}
Господь, на Тебя лишь надежда,
В беде к Тебе можем взывать.
Любви Твоей нива безбрежна,
Ты в вере даешь возрастать.
Мы именем, Господи, славным
Твоим Прощенье грехов возвещаем другим,
И грешник, принявший Твою благодать,
Хвалу Тебе волен воздать.
{% endverse %}
{% verse "4" %}
Водою и Словом Крещенья
Мы в смерть со Христом погреблись,
Чтоб силой Его воскресенья
Наследовать вечную жизнь.
В Причастия Таинстве славный Господь
За нас Свои Тело и Кровь предает.
Заблудших Он ищет, смиренных пасет,
К Небесной Отчизне ведет.
{% endverse %}
{% verse "5" %}
Мы веры очами взираем
На новой земли берега
И гимны хвалы воспеваем,
Небес ожидая блага.
В тот день, когда Агнец взойдет на престол,
Мы новую песнь для Него воспоем.
Как множество вод, она будет звучать
И вечно Творца прославлять.
{% endverse %}
