---
name: 326
section: Жизнь во Христе
title: Ради Христа оставлю грех
authors:
- Англия, 1734
- Морис Грин, 1755
- Перевод: Арво Сурво, 1998
---
{% verse "1" %}
Ради Христа оставлю грех,
Уверовав в Него.
Дороже мне сокровищ всех
Голгофский крест Его.
{% endverse %}
{% verse "2" %}
Лишь Агнца смерть, лишь крест Его –
В них жизни вечной плод.
Лишь раны, кровь Распятого
Спасения оплот.
{% endverse %}
{% verse "3" %}
До дня, до часа смертного
Меня Он возлюбил,
Чтоб ныне я чрез крест Его
Спасенье получил.
{% endverse %}
{% verse "4" %}
И я однажды со Христом
Во смерть был погребен.
Его я кровью в праведность
Чрез веру облечен.
{% endverse %}
{% verse "5" %}
Уже не сам я жизнь живу,
Живет Христос во мне,
И дух от плоти охранять
Он помогает мне.
{% endverse %}
{% verse "6" %}
И ныне то, что во плоти
Живу я на земле,
Для веры в Сына Божьего
Даются годы мне.
{% endverse %}
{% verse "7" %}
О Дух Святой, пребудь со мной,
Будь веры мне оплот,
Чтоб для души блаженен был
Из мира мой уход.
{% endverse %}
