---
name: 327
section: Жизнь во Христе
title: Пришло к нам снова лето
authors:
- Швеция, 1697
- Швеция, 1694
- Перевод: Пентти Кяхкёнен, Юрий Серов, 1999;
- Арво Сурво, 2000
---
{% verse "1" %}
Пришло к нам снова лето,
Чудесная пора.
Благоуханным цветом
Украсилась земля.
Свое благословенье
Дарует Небо ей.
Природы обновленье
Душисто, все живей.
{% endverse %}
{% verse "2" %}
Луга зазеленели,
И так прекрасен дол.
Их дня лучи согрели,
И хлад зимы сошел.
Нам всё напоминает
О той любви святой,
Которую являет
Господь наш Всеблагой.
{% endverse %}
{% verse "3" %}
Как напевают птицы
Мелодии свои,
Так ты, народ Господний,
Творца благодари!
Душа моя, воспой же
Песнь вместе с хором тем:
Тебя я славлю, Боже,
Ты милостив ко всем!
{% endverse %}
{% verse "4" %}
О Иисус блаженный,
О, яркий свет сердец,
Нам Девой Брат рожденный –
У нас один Отец!
Зажги святое пламя
Любви Твоей в груди,
Пребудь чрез Духа с нами,
Печали утоли.
{% endverse %}
{% verse "5" %}
С чем лилия Сарона
Сравнима красотой?
Пошли росу Сиона –
Дар милости святой.
Душе дай укрепленье
От Духа Твоего,
Ливана украшенье
В любви Всевышнего.
{% endverse %}
{% verse "6" %}
Обильно вновь приносят
И море, и земля
Дары свои, заботясь,
Живое всё храня,
Так повелел Ты, Боже,
Уже с начала лет.
Душе дай милость тоже
Блаженной быть вовек!
{% endverse %}
