---
name: 328
section: Жизнь во Христе
title: Я не оставлю Бога
authors:
- Германия, 1563
- Перевод: Ю. Высоцкая
---
{% verse "1" %}
Я не оставлю Бога,
Ведь Он всегда со мной.
Опасна пусть дорога,
Меня Своей тропой
Ведет Господь. В беде
Протянет в помощь руку,
Ведь Он дает поруку
Покоя, мира мне.
{% endverse %}
{% verse "2" %}
Людская слава тленна,
Изменчивы сердца,
Но милость неизменна
Небесного Отца.
Спасет Своих сынов,
Услышав их моленья,
От смерти, от паденья
И от любых оков.
{% endverse %}
{% verse "3" %}
Ему себя доверю,
Когда придет беда,
О том не пожалею –
Спасает Он всегда.
Себя отдам всего Тому,
Кто нас так любит.
Со мною пусть поступит,
Как хочет Он того.
{% endverse %}
{% verse "4" %}
Ему лишь то угодно,
Что пользой будет мне.
Довериться свободно
Ему могу вполне.
Возлюбим же Христа –
Бог одарил нас Сыном,
Так пусть хвалебным гимном
Ликуют небеса!
{% endverse %}
{% verse "5" %}
Благословенно время,
Когда Ему поют.
Забыв земное бремя,
Хвалу да вознесут
Тому, Кто нас ведет
В край горний, край блаженный,
Где вечный, совершенный
Господь Святой живет.
{% endverse %}
{% verse "6" %}
Пусть этот мир исчезнет,
И ждет могила нас,
Кто верит, тот воскреснет –
Придет блаженный час.
Сокровищ на земле
Я собирать не буду,
О славе я забуду
И мира суете.
{% endverse %}
{% verse "7" %}
Хотя я здесь страдаю
И много бед терплю,
Но тем не искупаю
Грехи, вину свою.
Надежда вся моя
На Господа Иисуса –
Он страшной смерти узы
Расторгнет для меня.
{% endverse %}
{% verse "8" %}
Спасенье наше - воля
Небесного Отца.
Приняв крест, чашу боли
Сын выпил до конца.
Бог-Дух Святой нам свет
В дороге в ту обитель,
Где царствует Спаситель,
Хвала Ему вовек!
{% endverse %}
