---
name: 329
section: Жизнь во Христе
title: Святая воля Божия
authors:
- К. де Сермизи, 1529
- Альбрехт Прусский, 1554
---
{% verse "1" %}
Святая воля Божия
Свершается всё время.
Спешит Господь на помощь нам,
Вселяет в сердце веру.
Скорбь мира утешает Он,
Хранит нас от унынья.
Кто доверяется Ему,
Того он не покинет.
{% endverse %}
{% verse "2" %}
На Господа надеюсь я,
Он жизнь мне и отрада,
Я весь в руке Его благой,
Любимое им чадо.
На наших головах сочтен
Владыкой каждый волос,
Он пастырь и охрана нам,
Прибежище и помощь.
{% endverse %}
{% verse "3" %}
Уйду от мира суеты,
Предавшись Божьей воле.
В крови, пролитой на кресте,
Грехи мои омою.
В конечный час душа моя
Возопиет к Владыке:
"Разрушь, о Боже, смерть и ад,
Не отврати же лик Твой!"
{% endverse %}
