---
name: 33
section: Рождество
title: Хвала Тебе, Христос, наш Спас!
authors:
  - Эрфурт, 1524
  - 1 куплет - немецкий гимн 1370
  - 2-4 куплеты – Мартин Лютер
---
{% verse "1" %}
Хвала Тебе, Христос, наш Спас!
В мир пришел Ты ради нас,
От Чистой Девы плоть приняв
И жизнь всем смертным даровав.
Аллилуйя!
{% endverse %}
{% verse "2" %}
Единородный от Отца,
Милостив Ты без конца,
За нас Ты отдал Плоть и Кровь,
Несешь нам всю Свою любовь.
Аллилуйя!
{% endverse %}
{% verse "3" %}
Кого мир целый не вместит,
Мирно в яслях возлежит.
Младенец Он, но Им Одним
Весь мир стоит, весь мир храним.
Аллилуйя!
{% endverse %}
{% verse "4" %}
Он светом вечным озарен,
Мир наш светом тем спасен.
Сынами света Он и нас
Соделает в заветный час.
Аллилуйя!
{% endverse %}
