---
name: 331
section: Жизнь во Христе
title: Христос основа Церкви, лишь в Нем стоит она
authors:
- С. С. Уэсли, 1864
- С. Дж. Стоун, 1866
---
{% verse "1" %}
Христос основа Церкви, лишь в Нем стоит она.
Его бессмертным Словом она возрождена.
С небес ее взыскал Он, за жизнь ее страдал,
Омыл Своею кровью и к святости призвал.
{% endverse %}
{% verse "2" %}
Рассеяна повсюду, но Духом скреплена,
Единым хлебом свыше питаема она.
Одно Святое Имя восхвалят все сердца,
В едином упованье пребудут до конца.
{% endverse %}
{% verse "3" %}
Терзаема раздором, грехом угнетена,
Неверностью пред миром теперь посрамлена.
 Но глас святых взывает, не смолкнет их мольба,
Доколе светлым утром сменится ночи тьма.
{% endverse %}
{% verse "4" %}
Средь скорби, и томленья, и битвы со грехом
Как жаждет воскресенья и жизни со Христом:
Когда явленье славы узрят ее глаза
И торжество победы наступит навсегда!
{% endverse %}
{% verse "5" %}
И здесь она в общенье с Отцом и со Христом,
И облаком объята свидетелей кругом.
Велико их блаженство! О, дай, Господь, и нам,
Подобно им, в смиренье стремиться к Небесам!
{% endverse %}
