---
name: 332
section: Жизнь во Христе
title: В мире шумном и мятежном
authors:
- Штутгарт, Гота, 1715
- Сесиль Ф. Александр, 1852
---
{% verse "1" %}
В мире шумном и мятежном,
Среди жизни суетной
К нам звучит призыв Господний:
«Взяв свой крест, иди за Мной!»
{% endverse %}
{% verse "2" %}
Всех кумиров сокрушая,
Направляя в Царство дня,
Всемогущий вопрошает:
«Сын Мой, любишь ли Меня?»
{% endverse %}
{% verse "3" %}
Торжествуем иль горюем,
В дни покоя иль труда
Будем помнить: всё минует,
Слово устоит всегда.
{% endverse %}
{% verse "4" %}
О Спаситель, помоги нам
В свете истины ходить,
Слышать голос Твой призывный
И всегда Тебя любить.
{% endverse %}
