---
name: 333
section: Жизнь во Христе
title: Господь нам щит из рода в род
authors:
- Уильям Крофт, 1708
- Исаак Уоттс, 1719 (в основу положен текст Пс. 89)
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Господь нам щит из рода в род,
Мы только Им живем.
Он через бури нас ведет,
Открыл нам вечный дом.
{% endverse %}
{% verse "2" %}
Под сенью крыл Его – покой
Доверчивым сердцам.
Своей могучею рукой
Он правит миром Сам.
{% endverse %}
{% verse "3" %}
Величьем небеса облек,
Дал место массам вод.
От века Он Всесильный Бог
И Тот же в род и род.
{% endverse %}
{% verse "4" %}
Десятки тысяч лет пред Ним –
Как мимолетный день.
Мы ж суетимся и бежим,
И наши дни – как тень.
{% endverse %}
{% verse "5" %}
Могучий времени поток
Спешит с собой унесть
Земных сынов, греха рабов,
Их жизнь, дела и честь.
{% endverse %}
{% verse "6" %}
Хранитель наш от юных лет,
Всегда будь нам Главой,
В небесный дом чрез тьму и свет
Веди нас за Собой!
{% endverse %}
