---
name: 334
section: Жизнь во Христе
title: Любви святой дыханье свет жизни нам дает
authors:
- Напев из Куортане
---
{% verse "1" %}
Любви святой дыханье свет жизни нам дает,
И уст ее касанье в сердца отраду льет.
Любовь у колыбели о счастье нам поет,
Склонившись у постели, за нас молитву шлет.
{% endverse %}
{% verse "2" %}
Любовь врагам внушает друг другу руки дать,
И грешных нас прощает и учит нас прощать.
Не страсть любви основа, не сладкая мечта,
Но истина Христова и сердца чистота.
{% endverse %}
{% verse "3" %}
И знанье увядает, и солнце дня зайдет.
Любовь не умирает, любовь всегда живет.
Нас от греха омыла Христа святая кровь.
В любви находим силу, ведь Бог наш есть любовь.
{% endverse %}
