---
name: 335
section: Жизнь во Христе
title: Нас Христос к Себе зовет!
authors:
- Иоганн Улих, 1674
- Эрдман Ноймайстер, 1718
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Нас Христос к Себе зовет!
Обратится пусть тем словом,
Кто путем греха идет,
А не под Христа покровом.
В Нем спасенье он найдет.
Нас Христос к Себе зовет!
{% endverse %}
{% verse "2" %}
Хоть и недостойны мы
Благ Его, но Он прощает
И врата из мира тьмы
В света мир нам отворяет.
Кто ж за Ним вслед не пойдет?
Нас Христос к Себе зовет!
{% endverse %}
{% verse "3" %}
Заблудившихся овец
Он, наш Пастырь, не бросает,
Ищет их и, наконец,
Вкруг Себя всех собирает,
Грешных, нас везде найдет.
Нас Христос к Себе зовет!
{% endverse %}
{% verse "4" %}
Он тяжелый крест носил
Ради нашего спасенья,
На кресте Он искупил
Кровью наши прегрешенья.
Так вкусим той жертвы плод!
Нас Христос к Себе зовет!
{% endverse %}
{% verse "5" %}
Боже, я зову Тебя
И прошу Тебя смиренно:
Побори во мне, любя,
Что во мне греховно, тленно!
Тяжкий грех меня гнетет,
Но Христос меня зовет!
{% endverse %}
{% verse "6" %}
Сам Христос меня зовет!
Не гнушается Он мною
И меня Он приведет
К жизни вечно за Собою.
Не страшусь, что смерть придет,
Ведь Христос мне жизнь дает!
{% endverse %}
