---
name: 336
section: Жизнь во Христе
title: Я знаю, да, я знаю
authors:
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Я знаю, да, я знаю,
Что жив Спаситель мой,
Что с Ним я обретаю
Дар жизни неземной.
{% endverse %}
{% verse "2" %}
Я знаю, что во время
Уныния и бед
Он облегчит мне бремя,
Даст помощь и совет.
{% endverse %}
{% verse "3" %}
Я знаю: если стражду
Под гнетом жизни сей,
Он утоляет жажду
Больной души моей.
{% endverse %}
{% verse "4" %}
Я знаю: час настанет
Покинуть этот мир,
Пред Агнцем я предстану,
Войду на Брачный Пир.
{% endverse %}
