---
name: 337
section: Жизнь во Христе
title: От всех небесных и земных
authors:
- Средневековая мелодия
- Микаэль Агрикола, рукопись датирована 1556 г. (в основе – латинский текст 12 в. Exultet coelum laudibus)
- Перевод: В. Л. Благинин, 1993;
- Рабочая группа ЕЛЦИ, 2013 
- Англия, 1780
---
{% verse "1" %}
От всех небесных и земных
К Престолу вознеслась хвала:
Нам весть апостолов святых
Блаженство веры принесла.
{% endverse %}
{% verse "2" %}
За нас Спаситель кровь пролил,
И Церковь верой той жива.
Звучат пусть до краев земли
Любви и милости слова!
{% endverse %}
{% verse "3" %}
Господь, дай смелость возвещать
Твое учение другим
И мудрые советы дать
Увлекшимся путем чужим.
{% endverse %}
{% verse "4" %}
Даруй, чтоб я не унывал
И помнил бы Завет Христов,
И гибнущих чтоб призывал
Под Всемогущего покров.
{% endverse %}
{% verse "5" %}
Наставь, чтоб я постигнуть смог
Твоей любви всю глубину:
Изгладил Ты мою вину,
Христос, Спаситель мой и Бог.
{% endverse %}
{% verse "6" %}
О, дай мне чудный Твой покой,
Чтоб возвестить Твой мир другим
И утомленным суетой
Путь указать к стопам Твоим.
{% endverse %}
