---
name: 338
section: Жизнь во Христе
title: Иисуса глас услышал я
authors:
- Д. Б. Дайкс, 1868
- Х. Бонар, 1846
---
{% verse "1" %}
Иисуса глас услышал я,
Он звал: «Ко Мне приди!
Склони, усталый, Мне на грудь
Главу и отдохни!»
Пришел усталый я к Нему
С печалью и тоской
И в Нем отраду я нашел,
И радость, и покой.
{% endverse %}
{% verse "2" %}
Иисуса глас услышал я:
"О жаждущий, смотри!
Живую воду Я даю,
Приди, испей, живи!"
Пришел к Нему я и прильнул
К живительной струе…
Не жажду больше, в Нем живу
И счастлив я вполне.
{% endverse %}
{% verse "3" %}
Иисуса глас услышал я:
"Я в темном мире - Свет.
Поверь, воззри, взойдет заря,
И мрака больше нет!"
И вот взглянул я и нашел
В Нем солнце и звезду,
И, светом жизни озарен,
Мой путь земной пройду.
{% endverse %}
