---
name: 339
section: Жизнь во Христе
title: Ubi caritas et amor
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Ubi caritas et amor
Ubi caritas, Deus ibi est.
{% endverse %}
{% verse "2" %}
Где любовь и мир, там Бог царит.
Где любовь и мир, там Господь живет.
{% endverse %}
