---
name: 34
section: Рождество
title: К пастырям ночью голос прозвучал
authors:
  - «Песнь Возрождения»
---
{% verse "1" %}
К пастырям ночью голос прозвучал:
«Встаньте, не бойтесь, Бог вам радость дал!
Все оставить не страшитесь,
В град Давидов поспешите,
Там Христос рожден!»
{% endverse %}
{% verse "2" %}
В яслях Младенец в пеленах лежал,
Как им Господень ангел предсказал.
Преклонившись на колени,
Воздадим хвалу смиренно
Господу Христу!
{% endverse %}
{% verse "3" %}
С благоговеньем встанем перед Ним,
Перед Младенцем, пред Царем Своим.
Веру Он в сердца вселяет
И с любовью направляет
Всех в Отцовский дом.
{% endverse %}
