---
name: 340
section: Жизнь во Христе
title: Мой Господь всегда со мною
authors:
- Р. Лоури, 1875
- Ф. Дж. Кросби ван-Алстайн, 1875
---
{% verse "1" %}
Мой Господь всегда со мною,
Можно ль большего делать?
Сомневаться не дерзаю –
Он дает мне благодать:
Мир святой наполнил душу,
Дивный свет рассеял тьму.
Чтоб ни встретилось, я слышу:
«Все ко благу твоему!»
Чтоб ни встретилось, я слышу:
«Все ко благу твоему!»
{% endverse %}
{% verse "2" %}
Мой Господь всегда со мною,
Ободряет на пути,
Благ великих удостоил,
Помогает крест нести.
Хоть нога порой преткнется,
Хоть бываю одинок,
Из Скалы Высокой льется
Вечной радости поток,
Из Скалы Высокой льется
Вечной радости поток.
{% endverse %}
{% verse "3" %}
Мой Господь всегда со мною,
Полнота блаженства в Нем,
И меня Он успокоит,
Приведет в небесный дом.
Дух живой из тела тленья
Вознесется в край родной,
Воспоет Христу хваленье:
"Ты, мой Бог, всегда со мной",
Воспоет Христу хваленье:
"Ты, мой Бог, всегда со мной".
{% endverse %}
