---
name: 341
section: Жизнь во Христе
title: Нам спасение отрада
authors:
- Адам Кригер, 1657
- Иоганн Генрих Шредер, 1695
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Нам спасение отрада,
Боже, дай его познать!
Нам земных богатств не надо,
Хоть и могут нас прельщать.
Да, нас иногда и земное чарует,
Но сердцу покоя вовек не дарует.
Когда же спасение мы обретем,
То радость, и счастье, и мир мы найдем.
{% endverse %}
{% verse "2" %}
Не ищи ты в смертном роде,
Дух мой, благодати той,
Нет ее во всей природе,
Там она лишь, над тобой,
Где всё совершенно и невозмутимо,
Где души в общении с Богом Единым,
Где с трепетом будем и мы созерцать
Величие Божье и ангелов рать.
{% endverse %}
{% verse "3" %}
О Господь, даруй мне силу,
 Мою волю освяти,
Чтобы твердости хватило
Лишь Твоим путем идти!
Среди колебаний, бессилья, смятенья,
О сердце, исполнись ты духом смиренья,
Стремись ко Христу, Он спасенье дает,
Он в Царство Небесное нас приведет.
{% endverse %}
{% verse "4" %}
Бог спасительным покровом
Милосердно нас укрыл,
Кровию Своей и Словом,
Очищая, искупил.
Он, Всемилосердный, нас примет в обитель,
Судья справедливый и наш Покровитель.
Одежды Он наши, как снег, убелил,
Спасительной верой сердца озарил.
{% endverse %}
