---
name: 342
section: Жизнь во Христе
title: О человек, оплачь свой грех
authors:
- М. Грейтер, 1525
- С. Хейден, 1530
- Перевод: Д. Штернбек
---
{% verse "1" %}
О человек, оплачь свой грех,
И помни: чтоб спасти нас всех,
Пришел Христос на землю.
От Девы чистой был рожден,
Весь грех наш на Себя взял Он,
Ходатай искупленья.
Смерть победив, Он жизнь нам дал,
Клеймо проклятья с нас Он снял,
Мир даровав нетленный.
Он сам Себя уничижил,
За нас Себя Он предложил,
На крест взойдя смиренно.
{% endverse %}
{% verse "2" %}
Смиримся сердцем же и мы
И воспоем хвалы псалмы
За все Его страданья.
Возненавидим грех же свой:
Ведь Слово Божье – свет живой,
Зовущий к покаянью.
И каждый, кто Христом живет,
Любовь и милость обретет
Перед лицом Господним.
Живи же, истину любя,
И сделает Господь тебя
От всех грехов свободным.
{% endverse %}
