---
name: 343
section: Жизнь во Христе
title: Хочу любить Тебя, Предвечный
authors:
- И. Шеффлер, 1657
- Перевод: М. Новожилов-Красинский, 2006
---
{% verse "1" %}
Хочу любить Тебя, Предвечный,
Краса и гордость жизни всей,
Трудами жизни быстротечной,
Душою пламенной своей.
Тебя любить, Господь, спешу,
Покуда я дышу.
{% endverse %}
{% verse "2" %}
Тебя познал я слишком поздно
С Твоей отрадой неземной.
О том, что жил с Тобой я розно,
Мой Свет и истинный Покой,
Всегда скорбит душа моя:
О, где был прежде я?
{% endverse %}
{% verse "3" %}
Я в ослепленье заблуждался,
Ища Тебя, не находил,
И от Тебя я отвращался,
И рукотворный свет любил.
Но Ты открылся мне, любя,
И я обрел Тебя.
{% endverse %}
{% verse "4" %}
Благодарю Тебя, Спаситель,
За свет, что сердцу Ты послал.
С Тобой, небесный Утешитель,
Я счастлив и свободен стал.
Благодарю, о Боже сил:
Меня Ты исцелил.
{% endverse %}
{% verse "5" %}
Хочу любить Тебя, отрада,
Мой Бог, венец и мой оплот,
Любить, не требуя награды,
Средь самых горестных невзгод.
Тебя любить, Господь, спешу,
Покуда я дышу.
{% endverse %}
