---
name: 344
section: Жизнь во Христе
title: Неразделимы во Христе
authors:
- И. Крюгер, 1653
- Д. Оксенхам
- Перевод: Д. А. Ясько
---
{% verse "1" %}
Неразделимы во Христе
Ни запад, ни восток,
Ни юг, ни север – Бог-Отец
К общенью нас привлек.
{% endverse %}
{% verse "2" %}
Сердцам искупленных везде
Иметь своих дано:
 В молитвах, пенье и труде
Сливаются в одно.
{% endverse %}
{% verse "3" %}
Подай же руку, брат, свою,
Откуда б ты ни был,
Но раз вошел в Христа семью,
Ты дорог мне и мил.
{% endverse %}
{% verse "4" %}
Восток и запад, север, юг, -
Сливаются в хвале:
Кто во Христе, тот брат и друг
Для нас по всей земле.
{% endverse %}
