---
name: 345
section: Жизнь во Христе
title: Бог есть любовь. Лишь тот, кто Бога знает
authors:
- Ф. Мендельсон (1809-1847)
- Е. Шарыпанова
---
{% verse "1" %}
Бог есть любовь. Лишь тот, кто Бога знает,
В чьем сердце дух Христов огнем горит,
Ко всем любовь тот искренне питает
И всех своей любовию дарит.
{% endverse %}
{% verse "2" %}
Бог есть любовь, сия любовь не судит,
Любовь готова всё простить, покрыть,
И тот, кто Бога всей душою любит,
Тот также будет ближних всех любить.
{% endverse %}
{% verse "3" %}
Бог есть любовь, любовь всегда готова
Своим теплом весь мир согреть, обнять,
И изнемогшим здесь в труде суровом
Надежды луч и счастье всем послать.
{% endverse %}
{% verse "4" %}
Бог есть любовь; и, искренне желая
Детьми живого Бога здесь пребыть,
Стремимся мы, обиды забывая,
Христу подобно, всех людей любить.
{% endverse %}
