---
name: 346
section: Жизнь во Христе
title: Живи во мне, Спаситель
authors:
- С. Уэсли, 1864
- Ф. Р. Хавергал
- Перевод: А. Никешина, 1994
---
{% verse "1" %}
Живи во мне, Спаситель,
Владыка, Царь царей!
Хочу я быть водимым
Десницею Твоей.
Живи во мне, Спаситель,
Да светит мне Твой свет –
На все мои вопросы
В Тебе найду ответ.
{% endverse %}
{% verse "2" %}
Твоим небесным светом
Наполни храм души
И вечные заветы
Мне в сердце Ты впиши.
Умолкнет пусть земное
И плотское молчит,
Когда Твой нежный голос
Со мною говорит.
{% endverse %}
{% verse "3" %}
Измученный грехами,
Я буду ожидать,
Когда дождем прольется
Мне в сердце благодать.
Живи во мне, Спаситель,
Да светит мне Твой свет –
На все мои вопросы
В Тебе найду ответ.
{% endverse %}
