---
name: 348
section: Жизнь во Христе
title: Христос зовет За Мною вслед
authors:
- И. Г. Шайн, 1628
- И. Шеффлер, 1668
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Христос зовет: «За Мною вслед
Идите, христиане,
Храня спасения завет
И меч духовной брани.
Крест возложив свой на себя,
За Мною следуйте, любя.
{% endverse %}
{% verse "2" %}
Как яркий луч, свечу Я вам,
Мой свет вас не обманет.
Кто по Моим идет стопам,
Во тьме блуждать не станет:
За каждым шагом Я слежу
И в рай дорогу укажу.
{% endverse %}
{% verse "3" %}
Я научу, как надлежит
Уйти от согрешений,
Моя лишь сила сохранит
От зла и искушений;
Скала Я ваша, ваш оплот
И Сам тот путь, что в рай ведет.
{% endverse %}
{% verse "4" %}
Коль дух ваш станет унывать,
Я озарю вас светом.
Сам поведу на вражью рать
Я всех в сраженье этом.
Плох воин тот, что отстает,
Коль Царь его идет вперед».
{% endverse %}
