---
name: 349
section: Жизнь во Христе
title: Божьи дети днем и ночью
authors:
- Швеция, 1873
- Лина Санделль, 1855
- Перевод: Д. А. Ясько
---
{% verse "1" %}
Божьи дети днем и ночью
Под крылом Его беспечны.
Звезды в небе, птицы в поле
Не имеют лучшей доли.
{% endverse %}
{% verse "2" %}
Бог народ Свой охраняет,
Наставляет и питает,
Доверять и верить просит,
На руках с любовью носит.
{% endverse %}
{% verse "3" %}
Жизнь иль смерть нас не отлучит
От любви Христа могучей.
Он за нас терпел страданья,
Он поддержит в испытаньях.
{% endverse %}
{% verse "4" %}
Стадо малое, не бойся,
Под щитом Его укройся.
Он во всем тебе поможет,
А противников низложит.
{% endverse %}
{% verse "5" %}
Бог дает иль отнимает –
Нам любовь Свою являет.
Доверяй Ему всецело,
Чтобы сердце всюду пело.
{% endverse %}
