---
name: 35
section: Рождество
title: Ангела голос прозвучал
---
{% macro chorus() %}
{% verse "Припев" %}
Славьте Христа, славьте Христа,
Славьте Христа Спасителя!
Славьте Христа, славьте Христа,
Славьте Христа Спасителя!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Ангела голос прозвучал,
Славить Младенца всех призвал.
Вы поспешите, пастухи,
В яслях там Его найдете вы!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
В путь устремились пастухи,
В яслях Дитя они нашли,
Пред Ним склонились до земли
И хвалу Младенцу вознесли.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ждали Спасителя давно,
Несколько тысяч лет прошло.
Ждали пророки и цари –
Им Господь надежду подарил.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Людям прощенье Он несет,
Мир душам и покой дает.
В Нем нас Господь благословил,
Милосердье нам Свое явил.
{% endverse %}
{{ chorus() }}
