---
name: 350
section: Жизнь во Христе
title: Возликуй, мой дух нетленный
authors:
- 15 век
- Фрайберг (Саксония), 1620
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Возликуй, мой дух нетленный,
Средь страданий и забот!
Из юдоли этой бренной
В рай Христос тебя возьмет.
Там Отец встречает чад,
Он - источник всех отрад,
Не даруемых землею,
Не изведанных тобою.
{% endverse %}
{% verse "2" %}
День и ночь взываю к Богу,
Чтоб себя дал обрести,
Укротил души тревогу
И помог мне крест нести.
Путник я в стране чужой
И стремлюсь я в край родной.
О Господь, когда же сброшу
Жизни тягостную ношу.
{% endverse %}
{% verse "3" %}
Ко Христу средь огорчений
Путь тернистый нас ведет:
Без забот и без лишений
Жизнь земная не пройдет.
И, как буря утлый чёлн
Бьет и мечет среди волн,
Так и нас в житейском море
Сокрушить стремится горе.
{% endverse %}
{% verse "4" %}
О, небесных благ светило,
Не тускнеешь Ты, горишь!
О Спаситель, дай мне силы
И мольбу мою услышь!
На Тебя взираю я,
Боже, Ты стезя моя!
Дай в страданьях утешенье
И веди в Свои селенья.
{% endverse %}
