---
name: 351
section: Жизнь во Христе
title: Жив Христос, Спаситель мой
authors:
- Берлин, 1653
- Х. Геллерт
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Жив Христос, Спаситель мой,
Свет души и упованье.
Он ведет нас за Собой,
Верны Бога обещанья.
Ныне смерть со тьмой своей
Не страшны душе моей.
{% endverse %}
{% verse "2" %}
Знаю я, души моей
Он в час смерти не оставит.
Дух мой с твердой верой сей
Будет вечно Бога славить.
Мы, как дети за Главой,
Все войдём в Его покой.
{% endverse %}
{% verse "3" %}
Смертен я, и прах мой скрыть
В тьме земли должна могила,
Но придет Он воскресить
Нас Своей могучей силой,
И с блаженною душой
В вечный с Ним войду покой!
{% endverse %}
{% verse "4" %}
Скорбь свою, душа, отбрось,
Веруй, к счастью будь готова,
Веруй, и тебя Христос
Сам разбудит к жизни новой.
Воскресит тебя Любовь,
Душу к радости готовь!
{% endverse %}
{% verse "5" %}
Ты лишь сердцем избегай
В жизни вражьих искушений
И всего себя предай
Богу – цели всех стремлений.
Сердце возноси туда,
Где небесный свет всегда!
{% endverse %}
