---
name: 352
section: Хвала и прославление
title: Бог создал мир, полный чудес
authors:
- Э. Ховланд, 1974
- Б. Г. Хальквист, 1974
- Перевод: С. Рочев, 1992
---
{% macro chorus() %}
{% verse "Припев" %}
Господу песнь поем,
Благодарим Его.
Отче! Святится пусть имя Твое!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Бог создал мир, полный чудес:
Свет, солнце, луну, море и лес,
Создал зверей, птиц и людей.
Господу шлем мы хваленье!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Песню Христу мы посвятим,
Он смертью Своей жизнь утвердил,
С нами живет ныне Христос,
Господу шлем мы хваленье!
{% endverse %}
{{ chorus() }}
{% verse "3" %}
В Духе Святом слабый силен,
И светом Его мир озарен,
С Ним мы идем к Царству Отца.
Господу шлем мы хваленье!
{% endverse %}
{{ chorus() }}
