---
name: 353
section: Хвала и прославление
title: Приносим днем и ночью мы хвалу и поклонение
authors:
- Финляндия
- Финляндия, 1863
- Перевод: Ольга Крутикова, 2012
---
{% verse "1" %}
Приносим днем и ночью мы хвалу и поклонение
Богу за Его святую благодать.
Приносим днем и ночью мы хвалу и поклонение
Богу за Его святую благодать.
На небесной той свадьбе петь гимн благодарения
В доме Ангца хочет Он детей собрать.
На небесной той свадьбе петь гимн благодарения
В доме Ангца хочет Он детей собрать.
{% endverse %}
{% verse "2" %}
Любовь Христа великая и милость бесконечная.
Ждет Свою невесту Он на брачный пир.
Любовь Христа великая и милость бесконечная
Ждет Свою невесту Он на брачный пир.
В Иисусе вся жизнь и источник блага вечного,
Милость и любовь Его спасают мир.
В Иисусе вся жизнь и источник блага вечного,
Милость и любовь Его спасают мир.
{% endverse %}
