---
name: 354
section: Хвала и прославление
title: Хвала и честь Тебе, о Боже Отче!
authors:
- Похьянмаа
- Лаурентиус Паулинус Готус, 1633
- Перевод: Михаил Левин, 1997
---
{% verse "1" %}
Хвала и честь Тебе, о Боже Отче!
В святом порыве пеньем неумолчным
Благодарим мы все Тебя, Творца,
И о Тебе ликуют небеса, небеса.
{% endverse %}
{% verse "2" %}
Ты спас нас, Боже, от греха и смерти,
Ты разорвал все дьявольские сети,
К любви и миру чудно нас призвал,
Христос Своей их жертвой даровал, даровал.
{% endverse %}
{% verse "3" %}
Прости нам, Господи, все наши долги,
Призыв Христа для нас пусть не умолкнет.
Спаси же нас, скорбящих о грехах,
С Тобой пребыть дай вечно в небесах, в небесах.
{% endverse %}
{% verse "4" %}
Дай, Боже, жить всегда Твоим нам Словом,
Ведь лишь оно ведет нас к жизни новой!
И вечной радости нас не лиши,
В святую книгу жизни нас впиши, нас впиши.
{% endverse %}
{% verse "5" %}
По всей земле, на суше и на водах,
Христа Владыку примут все народы
И в ликованье гимны воспоют,
Тобою, Боже, вечность обретут, обретут.
{% endverse %}
