---
name: 355
section: Хвала и прославление
title: Воскликни Богу, вся земля!
authors:
- Л. Буржуа, 1551
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Воскликни Богу, вся земля!
Народы, как одна семья,
Придите к Господу с хвалой,
Ему служите всей душой.
{% endverse %}
{% verse "2" %}
Спешите все в Его дворы,
Идите с пеньем в Божий дом,
Приняв от Господа дары,
Хвалу воздайте с торжеством!
{% endverse %}
{% verse "3" %}
Пусть прославляют все Творца:
Он избавляет от невзгод,
Господня милость - без конца,
Господня верность - в род и род!
{% endverse %}
