---
name: 356
section: Хвала и прославление
title: Мы будем в пенье прославлять
authors:
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Мы будем в пенье прославлять
Всевышнего дела:
Безмерна Божья благодать,
Щедротам нет числа.
{% endverse %}
{% verse "2" %}
Заблудших грешников искать
Готов Он каждый миг,
Но кто готов Его призвать,
Любовь Его постиг?
{% endverse %}
{% verse "3" %}
Велик и дивен Он во всем,
Бог правды и любви.
Нам путь спасения открыл,
Нам Сына Он явил.
{% endverse %}
