---
name: 357
section: Хвала и прославление
title: Сколь славен наш Господь в Сионе
authors:
- Д. С. Бортнянский, 1751-1825
- Адаптированный текст М. М. Хераскова, 1733-1807
---
{% verse "1" %}
Сколь славен наш Господь в Сионе,
Не может изъяснить язык.
Велик Он в небесах на троне,
В былинках на земле велик.
Везде Господь велик и славен,
В ночи, во дни сияньем равен.
{% endverse %}
{% verse "2" %}
Тебя Твой Агнец златорунный
Всегда изображает нам.
Мы на псалтири сладкострунной
Тебе возносим фимиам.
Прими от нас благодаренье,
Как благовонное куренье.
{% endverse %}
{% verse "3" %}
Ты солнцем смертных освещаешь,
Ты любишь, Боже, нас, как чад,
Ты трапезой нас насыщаешь
И воздвигаешь вышний град.
Ты грешных, Боже, посещаешь
И благодатию питаешь.
{% endverse %}
{% verse "4" %}
Так пусть, Господь, в Твоих селеньях
Воспрянут наши голоса,
И наше пред Тобою пенье
Да будет чистым, как роса!
Тебе в сердцах алтарь поставим,
Тебя, Господь, в псалмах прославим!
{% endverse %}
