---
name: 358
section: Хвала и прославление
title: Прославим Христа! Он спасение дал!
---
{% macro chorus() %}
{% verse "Припев" %}
Будь прославлен, Господь!
Будь прославлен, Господь!
Ты нам мир даровал, Ты нам жизнь даровал!
Придите к Отцу чрез Иисуса Христа,
Его славословьте, Он наша хвала!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Прославим Христа! Он спасение дал!
Заблудших детей наш Господь оправдал.
Он кровью Своей от грехов нас омыл
И нам Он врата жизни вечной открыл.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Прощенье даруется Богом тому,
Кто верой живет во Иисуса Христа,
И даже преступник, поверив Ему,
Омыт и прощен у подножья креста.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Бог нас искупил, Он нам мир даровал,
Он веру в Иисуса и радость нам дал.
Когда Он возьмет нас к Себе, в дом Отца,
Там будем все вместе мы славить Творца.
{% endverse %}
{{ chorus() }}
