---
name: 359
section: Хвала и прославление
title: О Триединый, неизменный
authors:
- Сборник Нижегородского Прихода ЕЛЦИ
---
{% verse "1" %}
О Триединый, неизменный
Создатель и Спаситель мой,
Единый Бог благословенный,
Отец и Сын и Дух Святой!
И нет преград Твоим делам,
{% endverse %}
{% verse "2" %}
Твое непостижимо знанье,
И от начала мирозданья
Благоволишь Ты, Боже, к нам!
{% endverse %}
{% verse "3" %}
Ты не отверг творений падших,
Твой Сын оставил Свой престол,
И, плоть людскую воспринявши,
На крест безропотно взошел.
{% endverse %}
{% verse "4" %}
Преодолел греха проклятье,
Над смертью восторжествовал.
Своей всесильной благодатью
Господь нам вечность даровал.
{% endverse %}
{% verse "5" %}
К Нему возносятся моленья
И устремляются сердца,
И преклоняем мы колени
Пред троном Господа Отца.
{% endverse %}
