---
name: 36
section: Рождество
title: Тихий, тихий колокольный слышен звон!
authors:
  - Армас Маасало
  - Хельми Аувинен
  - Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Тихий, тихий колокольный слышен звон!
Нас просторах всей земли песня радостно звучит:
«Божий Сын пришел!»
{% endverse %}
{% verse "2" %}
Тихий, тихий колокольный слышен звон!
В небесах о Рождестве возвещает звездный свет:
«Божий Сын пришел!»
{% endverse %}
{% verse "3" %}
Тихий, тихий колокольный слышен звон!
Свечи яркие горят, нам безмолвно говоря:
«Божий Сын пришел!»
{% endverse %}
{% verse "4" %}
Тихий, тихий колокольный слышен звон!
Детской песни ясный звук льется, всем лаская слух:
«Божий Сын пришел!»
{% endverse %}
