---
name: 360
section: Хвала и прославление
title: Тебе, Господь наш, честь мы воздаем
authors:
- В.Х. Монк, 1861
---
{% verse "1" %}
Тебе, Господь наш, честь мы воздаем,
Тебя, о Боже, славим и поем!
Дай Ты защиту нам в борьбе со злом,
Всегда храни нас под Своим крылом!
{% endverse %}
{% verse "2" %}
С горячей верой мы зовем Тебя,
Милость явил Ты, грешных возлюбя.
Дай нашим душам верность и покой,
Жизни в Небесном Царстве удостой!
{% endverse %}
