---
name: 361
section: Хвала и прославление
title: Славьте Бога со святыми
authors:
- Л. В. Бетховен (1770-1827)
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Славьте Бога со святыми
Песней воскресения,
Смерть и горести земные
Преданы забвению.
Прояснился свод небесный,
Скоро стихнет бег времен,
В Божьем Царствии чудесном
Мы блаженство обретем.
{% endverse %}
{% verse "2" %}
Это вечное блаженство,
Прежде скрытое от глаз
Всех святых и чистых сердцем,
Ныне Бог явил для нас.
Нам по Отчему завету
Уготован путь Христом –
Осветил сей путь Он светом,
Вознесясь в предвечный дом.
{% endverse %}
{% verse "3" %}
Вечной жизни дар бесценен,
Сладок нашей веры плод –
В час свершения знамений
В Господе найдем оплот.
Мы узрим небес сиянье,
Вступим в райские врата,
Будем вечно жить в познанье
Сына Божия Христа!
{% endverse %}
