---
name: 362
section: Хвала и прославление
title: Мы Творцу Вселенной вознесем хвалу!
---
{% macro chorus() %}
{% verse "Припев" %}
Славим Тебя, Боже!
Нам всего дороже
Благодать святая!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Мы Творцу Вселенной вознесем хвалу!
Дар Он дал бесценный – благодать Свою!
Он Своим советом путь укажет нам,
По Своим обетам мир дает сердцам.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Верные, придите, воспоем Творца!
Духом укрепит Он слабые сердца.
Во Христе прощенье Бог нам даровал,
От грехов омыл, по вере оправдал.
{% endverse %}
{{ chorus() }}
