---
name: 363
section: Хвала и прославление
title: Творенья Божьи на земле
authors:
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Творенья Божьи на земле,
На высоте и в глубине,
Славьте Бога! Аллилуйя!
О, солнца теплые лучи,
Луна, светящая в ночи,
Славьте Бога! Аллилуйя!
Аллилуйя! Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "2" %}
Ветер, прохладу нам пошли!
Все облака, вблизи, вдали,
Славьте Бога! Аллилуйя!
Восход зари, вершины гор,
Тихий закат и звездный хор,
Славьте Бога, Аллилуйя!
Аллилуйя! Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "3" %}
Наша кормилица земля,
Леса, луга, сады, поля,
Славьте Бога! Аллилуйя!
Лета прекрасные цветы
И щедрой осени плоды,
Славьте Бога! Аллилуйя!
Аллилуйя! Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "4" %}
Все люди, чистою душой
Прощая всем, одной семьей
Славьте Бога! Аллилуйя!
Скорбей и мрака больше нет,
Нам Иисус дарует свет!
Славьте Бога! Аллилуйя!
Аллилуйя! Аллилуйя! Аллилуйя!
{% endverse %}
{% verse "5" %}
Творенья! Пред своим Творцом
Падите ниц и с торжеством
Славьте Бога! Аллилуйя!
Отец и Сын и Дух Святой,
Бог Триединый, Бог Живой,
Будь прославлен! Аллилуйя!
Аллилуйя! Аллилуйя! Аллилуйя!
Аминь.
{% endverse %}
