---
name: 364
section: Хвала и прославление
title: Славь, душа, Творца и Бога!
authors:
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Славь, душа, Творца и Бога!
Он нас любит без конца!
Он открыл Свои чертоги,
Ниспослал нам мир в сердца.
Аллилуйя! Аллилуйя!
Славь премудрого Творца!
{% endverse %}
{% verse "2" %}
Славь за все благодеянья,
Что Господь являет нам,
Избавляет от страданий,
Воздает не по делам.
Аллилуйя! Аллилуйя!
Гимн возносим к небесам!
{% endverse %}
{% verse "3" %}
Он Своих детей жалеет,
Им помочь в беде готов,
Водит милостью Своею,
Охраняет от врагов.
Аллилуйя! Аллилуйя!
Славь Творца во век веков!
{% endverse %}
