---
name: 365
section: Хвала и прославление
title: Мы славим Тебя, наш Господь и Создатель
authors:
- А. Валериус, 1626
- Джулия С. Кори, 1882-1963
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Мы славим Тебя, наш Господь и Создатель,
Тебе с благодарностью гимны поем.
Стоим пред Тобою с покорной душою
И прославляем, Боже, имя Твое!
{% endverse %}
{% verse "2" %}
Тебе поклоняемся, Боже Великий,
Во всех искушеньях, в печали любой,
Своей Ты нас властью спасал от напастей,
Дай слышать нам Твой голос, идти за Тобой!
{% endverse %}
{% verse "3" %}
Владыка Вселенной! Хвалу, поклоненье
Тебе, Всемогущий, спешим мы принесть!
Заступником будь нам всегда и повсюду!
Тебе, наш Искупитель, слава и честь!
{% endverse %}
