---
name: 366
section: Хвала и прославление
title: Господня вся земля! Мне слышится порой
authors:
- Франклин Шеппард, 1852-1930
- Мальтби Бабкок, 1858-1901
- Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 г
---
{% verse "1" %}
Господня вся земля! Мне слышится порой,
Как все кругом поет псалом, псалом любви святой.
Господня вся земля! И мне издалека
В вершинах гор, в красе озер видна Его рука.
{% endverse %}
{% verse "2" %}
Господня вся земля! Я созерцать люблю,
Как блеск зарниц и пенье птиц творят Ему хвалу.
Господня вся земля! В творенье виден Он:
И свод небес, и луг, и лес хранят Его закон.
{% endverse %}
{% verse "3" %}
Господня вся земля! Да не забуду я:
Сомненьем зло в сей мир вошло, но Бог - всему судья.
Господня вся земля! Еще не кончен бой.
Сойдет Христос в долину слез, дарует нам покой!
{% endverse %}
