---
name: 367
section: Хвала и прославление
title: Весть о Христе мы в мир несем
authors:
- Уильям Гардинер, 1815
- Эдвард Бернс, р. 1938
- Перевод: Роман Туренко, 2010
---
{% verse "1" %}
Весть о Христе мы в мир несем:
Он – Божий Сын, Спаситель людей.
Поем хвалу мы Иисусу,
Он достоин славы всей.
{% endverse %}
{% verse "2" %}
Он в Вифлееме был рожден,
В темном хлеву Он в мир наш пришел.
Явилось плотью Божье Слово,
Свет от Света к нам сошел.
{% endverse %}
{% verse "3" %}
Он на Голгофе был распят
Теми, кому спасение нес.
Мир возлюбив, в мученьях умер,
Чтоб нас к Богу привести.
{% endverse %}
{% verse "4" %}
В славный день Пасхи Он воскрес,
Ныне Его могила пуста,
А смерть и ад лишились власти
Над принявшими Христа.
{% endverse %}
{% verse "5" %}
Ныне Он – Царь небесный наш,
И всё творенье славит Его.
Святого Духа дал Он Церкви,
Нам, для Царства Божьего.
{% endverse %}
{% verse "6" %}
Пусть знает мир, что наш Господь
Нас покорил любовью своей.
Поем хвалу мы Иисусу,
Он достоин славы всей.
{% endverse %}
