---
name: 368
section: Хвала и прославление
title: Как велика Твоя верность, о Боже мой!
authors:
- Уильям Руньян (1870-1957)
- Томас Чизхолм (1866-1960), на основании Плач. 3:22-24; Иак. 1:17; Быт. 8:20-22; Пс. 88:1-2
- Перевод: Роман Туренко, 2009
---
{% macro chorus() %}
{% verse "Припев" %}
Как велика Твоя верность, о Боже мой!
Каждое утро я вижу ее.
Нужды мои восполняешь Ты щедро,
Как велика Твоя верность во всем!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Как велика Твоя верность, мой Боже!
И нет в Тебе перемен никогда.
Благ, сострадателен и милосерден,
Ты был, и есть, и пребудешь всегда.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Лето, зима ли, весна или осень –
Солнце, луна, неба звездный венец
Вместе с природою всей возвещают
О Твоей верной любви, О Творец!
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Рядом всегда, чтоб ободрить, направить,
Грех мой прощаешь, Свой мир мне даешь,
Сил на сей день и надежду, что завтра
Благословенья мне вновь ниспошлешь.
{% endverse %}
{{ chorus() }}
