---
name: 369
section: Хвала и прославление
title: Великий Бог! Когда на мир смотрю я
authors:
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Тогда поет мой дух, Господь, Тебе:
«Как Ты велик, как Ты велик!»
Тогда поет мой дух, Господь, Тебе:
«Как Ты велик, как Ты велик!»
{% endverse %}
{% endmacro %}
{% verse "1" %}
Великий Бог! Когда на мир смотрю я,
На все, что Ты создал рукой Творца,
На всех существ, кого, Свой свет даруя,
Питаешь Ты любовию отца!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Когда весной природа расцветает,
И слышу в дальней роще соловья,
И аромат долины грудь вдыхает,
И слух ласкает звонкий шум ручья.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Когда я вижу лик Христа смиренный,
Кто людям в мире этом был рабом,
Как на кресте Он умер, Царь Вселенной,
И нам прощенье приобрел крестом.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Когда Господь меня Сам призывает,
И светит луч сияния Его,
Тогда мой дух в смирении смолкает,
Признав величье Бога Своего.
{% endverse %}
{{ chorus() }}
