---
name: 37
section: Рождество
title: Когда поля под снегами дремлют
authors:
  - Отто Котилайнен
  - Алпо Нопонен
  - Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Когда поля под снегами дремлют,
Без солнца небо темно, мертво.
Леса без птиц стоят печальны, немы
Но радость от того,
Что теплым ветром овеяло землю
Вновь Рождество, вновь Рождество.
{% endverse %}
{% verse "2" %}
Уже морозы нас не пугают,
Уже заботы нас не томят.
Повсюду свечи, огни сверкают,
Глаза от радости блестят.
И дети песнями праздник встречают
И за Христа благодарят.
{% endverse %}
{% verse "3" %}
Дарами всех нас наделяют,
Глядит Младенец из яслей.
И Вифлеема звезда сияет
Во тьме всё ярче, всё ясней.
Она надежду и мир обещает,
И Рождество идет за ней.
{% endverse %}
