---
name: 370
section: Хвала и прославление
title: Руки к небу подняв и устами хваля
authors:
- Перевод: Арри Кугаппи, Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Руки к небу подняв и устами хваля,
Сердцем, радости полным, прославляю Христа!
{% endverse %}
{% verse "2" %}
Прославляю Христа, прославляю Христа!
Сердцем, радости полным, прославляю Христа!
{% endverse %}
