---
name: 371
section: Хвала и прославление
title: Миром Господа восславим!
authors:
- А. Хлондовский (Польша, 1884-1963)
- Т. Карыловский (Польша, 19-20 вв.)
---
{% verse "1" %}
Миром Господа восславим!
Все твое, о Боже Отче!
Гимн возносит вместе с нами
Вся земля и днем, и ночью.
{% endverse %}
{% verse "2" %}
Свят Господь наш Вседержитель,
Царь наш милостивый, правый!
Землю и небес обитель
Ты наполнил Своей славой.
{% endverse %}
{% verse "3" %}
Чтит Тебя – Отца и Сына
Вместе с Духом – всё творенье,
В ликовании едином,
В непрестанном поклоненье.
{% endverse %}
{% verse "4" %}
Ты разрушил смерти крепость,
Сокрушил ее оружье,
Ты блаженной жизни вечность
Открываешь верным душам.
{% endverse %}
{% verse "5" %}
Искупивший преступленье
Драгоценной, чистой Кровью,
Просим, Господи, в смиренье:
Грех изгладь Своей любовью!
{% endverse %}
{% verse "6" %}
Бренным силам дай подмогу,
Озари сердца и лица.
Тот, кто жизнь доверил Богу,
Тот вовек не постыдится.
{% endverse %}
