---
name: 372
section: Хвала и прославление
title: Приди, Господь, и дрогнет враг
authors:
- М. Грейтер, 1525
- Франция, 16 век
- Перевод: Ю. Высоцкая
---
{% verse "1" %}
Приди, Господь, и дрогнет враг,
Тебя он убоится так,
Что побежит в смятенье.
Повергнешь воинов его,
И не найдется никого
Тебе на противленье.
Рассеян, словно дым густой,
Враг силою Твоей Святой,
Как на огне воск тает,
Так взглядом Божьим силы зла
Навеки сожжены дотла.
Пусть мир Тебя прославит!
{% endverse %}
{% verse "2" %}
И перед Господом Святым
Да воспоют хвалебный гимн
Все праведники вскоре.
Христос, царящий в небесах,
Так благ и милостив в делах,
Забудьте же про горе!
Защитник и Отец сирот,
Надежды и любви оплот.
Возрадуйтесь пред Богом!
Воспойте имени Его
И хором славьте вы Того,
Кто в рай открыл дорогу.
{% endverse %}
{% verse "3" %}
Когда пришел Он нас спасти,
Через пустыню повести,
Тряслись земля и горы.
Он воду жаждущим давал,
Дождем обильно поливал
Пустынные просторы.
От рабства спас народ Свой Он.
Ведь Бог всегда любви к нам полн,
Он - наше упованье,
Укроет нас от злобных сил,
Он нам спасение явил,
Избавил от страданья.
{% endverse %}
{% verse "4" %}
Горы завидуют не зря –
Жилище нашего Царя
Любой вершины выше.
Он передвинуть горы смог,
И как могуществен наш Бог,
Пускай весь мир услышит.
Придите же к Царю царей,
К Владыке суши и морей,
Дары Ему несите.
Прославим Господа и мы,
Спас Он людей от власти тьмы.
Его в веках хвалите!
{% endverse %}
{% verse "5" %}
Могуществен на облаках,
В святилище внушает страх,
Силу дает народу.
Явил в знамениях любовь,
Дарует радость вновь и вновь,
Господь несет свободу.
И вся земля хвалы полна.
Господней милостью она
На свете существует.
Так воспевайте Бога все,
Опора Он в любой беде,
Он счастье нам дарует.
{% endverse %}
