---
name: 373
section: Хвала и прославление
title: Дозволь же, о Создатель
authors:
- Николаус Зельнеккер, 1587
- Перевод: Михаил Левин
---
{% verse "1" %}
Дозволь же, о Создатель,
Воспеть Тебе хваленье
За все дары благие,
Что нам ниспосылаешь.
{% endverse %}
{% verse "2" %}
Твои мы все созданья,
И милостью Твоею
Живем мы и Тобою
Хранимы от начала.
{% endverse %}
{% verse "3" %}
Питаешь Ты, о Боже,
И плоть и дух чудесно,
Хоть мы и заслужили
За грех наш наказанье.
{% endverse %}
{% verse "4" %}
Ты нам Христа Иисуса
Послал, и во спасенье
За нас на крест взошел Он
И примирил с Тобою.
{% endverse %}
{% verse "5" %}
Твое, о Боже, Слово
В скорбях несет нам помощь,
И Дух Святой вселяет
В сердца нам утешенье.
{% endverse %}
{% verse "6" %}
Грехи Ты нам прощаешь,
Даруешь жизнь, и ждем мы
Небесного спасенья.
О, сколь велик же дар Твой!
{% endverse %}
{% verse "7" %}
Храни нас благодатью,
От мала до велика,
И зло да не разрушит
Спасительную веру.
{% endverse %}
{% verse "8" %}
Хвала Тебе вовеки,
Благословенный Боже,
Спасенье даровавший
Христом Иисусом. Аминь.
{% endverse %}
