---
name: 374
section: Хвала и прославление
title: Славьте, народы, Бога сил
authors:
- Эрфурт, 1527 / Лейпциг, 1542
- Томас Блаурер, 1540
- Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Славьте, народы, Бога сил,
Отца Благого в Небесах.
Он нас из праха сотворил,
Христом от мук избавил нас.
Врата Он Царствия открыл
В Крещении рожденным,
Смиреньем Сына подарил
Нам мир неизреченный.
{% endverse %}
{% verse "2" %}
Дай сердце новое, Господь,
В сём Таинстве рожденным,
И сотвори из нас народ,
Тобой преображенный.
О Иисусе, на Тебя
Смиренно уповаем,
С Тобой идем мы, крест неся,
С Тобою воскресаем.
{% endverse %}
