---
name: 375
section: Хвала и прославление
title: Воздайте хвалу Владыке владык
authors:
- Ганновер, 1708
- Роберт Грант, 1833
---
{% verse "1" %}
Воздайте хвалу Владыке владык
И пойте Ему, Он благ и велик!
Могучий и Вечный, Защитник наш Он,
Величьем увенчан, хвалой облечен.
{% endverse %}
{% verse "2" %}
Как дивен Господь, вещайте другим,
Он в свете живет, все держится Им.
Когда же во гневе судить Он идет,
Смолкают напевы, трепещет народ.
{% endverse %}
{% verse "3" %}
Нет слов описать Господню любовь,
Она в мир пришла в начале веков:
Бежит с гор ручьями, течет к нам рекой,
Летит с облаками, нисходит с росой.
{% endverse %}
{% verse "4" %}
Мы - пепел и прах, мы - дети земли,
Источник всех благ мы в Боге нашли.
Дары благодати дает без заслуг
Господь, наш Создатель, Защитник и Друг.
{% endverse %}
