---
name: 376
section: Хвала и прославление
title: Боже, славим мы Тебя
authors:
- Вена, 1774
- На основе латинского гимна Te Deum
---
{% verse "1" %}
Боже, славим мы Тебя
И хваление приносим!
Отче, песнь поем Тебе
И сердца к Тебе возносим.
Преклонившись пред Тобой,
Величаем, Царь благой!
{% endverse %}
{% verse "2" %}
Души праведных, святых,
Сонмы, власти сил небесных
Славят благость дел Твоих,
Дел великих и чудесных.
Славят Бога и Отца,
Вседержителя Творца.
{% endverse %}
{% verse "3" %}
Глас апостолов святых
И пророков вдохновенных,
Изъяснителей Твоих
Слов премудрых, драгоценных,
С ними мучеников ряд –
Все Тебя благодарят.
{% endverse %}
{% verse "4" %}
Церковь на земле Твоя
Божье имя воспевает.
Благодатью лишь живя,
Вечной славы ожидает.
Всей хвалы достоин Ты
И любви всей полноты!
{% endverse %}
{% verse "5" %}
Агнец кроткий, Ты здесь был
Жертвой смерти и мученья,
Но все козни победил,
Отразил все искушенья.
Слава, слава, Боже сил,
Иисус-Еммануил!
{% endverse %}
{% verse "6" %}
В небе царствуя с Отцом,
Восседаешь одесную.
В Божьей славе к нам потом
Снизойдешь в юдоль земную
И судить при всех святых
Будешь мертвых и живых.
{% endverse %}
{% verse "7" %}
Дай Тебе, Господь, отдать
Сердца каждое биенье,
Дай Тобою лишь дышать,
Жить Тебе на прославленье.
Боже, души нам согрей
Пламенем любви Твоей.
{% endverse %}
{% verse "8" %}
Слава Троице вовек!
Дух Святой, Отец Небесный,
Сын и Богочеловек,
Воплотившийся чудесно!
Да прославят все сердца
Имя Господа Христа!
{% endverse %}
