---
name: 377
section: Хвала и прославление
title: Господа славь ты, мой дух! Восхваляй Всеблагого!
authors:
- Германия, 1642
- Иоахим Неандер, 1680
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Господа славь ты, мой дух! Восхваляй Всеблагого!
Славь песнопеньем Царя, Всемогущего Бога!
Славь ты Творца,
Славь ты Его без конца!
Он нам дарует так много!
{% endverse %}
{% verse "2" %}
Господа славь ты! Он мудрый Правитель Вселенной,
К целям Своим нас ведущий стезей сокровенной.
Он и тебя
Вел по пути, где, скорбя,
Шел ты, страшащийся тленья.
{% endverse %}
{% verse "3" %}
Господа славь ты! Он дивно тебя так устроил,
Он по сю пору тебя сохранил и покоил.
Он Сам тебя
От смерти спас, возлюбя,
Жизни благой удостоил.
{% endverse %}
{% verse "4" %}
Господа славь ты, мой дух, не умолкни в хваленье!
Он ведь тебе в благодати дарует спасенье!
Он жизни свет,
И без Него жизни нет,
В Духе Его обновленье!
{% endverse %}
{% verse "5" %}
Господа славь ты, надеясь на имя святое,
Жизнь Он дарует, ведет в Свое Царство благое.
Иисус Христос
Радость спасенья принес!
Слава и честь Ему! Аминь!
{% endverse %}
