---
name: 378
section: Хвала и прославление
title: Хвала и честь Царю Небес
authors:
- Николаус Дециус, 1539
- Иоганн Якоб Шютц, 1675
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Хвала и честь Царю Небес,
Отцу всей благодати,
Творцу бесчисленных чудес,
Вождю небесной рати!
Тому, Кто в сердце радость дал
В душе любовью воссиял!
Хвалу воздайте Богу!
{% endverse %}
{% verse "2" %}
Тебе, о Царь земных царей,
Хваленье раздается,
Тебе с небес, земли, морей
Гимн радости поется.
Всё, что Творцом сотворено,
Всё нам для блага лишь дано.
Хвалу воздайте Богу!
{% endverse %}
{% verse "3" %}
Я звал в тоске: "Великий Бог,
Услышь мое моленье!"
И в трудный час Господь помог
И дал мне утешенье.
Тебя, Господь, превозношу
И всех людей сейчас прошу:
Хвалу воздайте Богу!
{% endverse %}
{% verse "4" %}
Бог не оставит Свой народ
Ни на одно мгновенье,
Хранимы мы из рода в род
Его долготерпеньем.
Бог любящей рукой ведет
Везде и всюду Свой народ.
Хвалу воздайте Богу!
{% endverse %}
{% verse "5" %}
Его всю жизнь благодарить
Я буду неустанно,
О славе Божьей говорить
Своим потомкам стану,
Чтобы и дети их могли
Любить Творца от всей души.
Хвалу воздайте Богу!
{% endverse %}
{% verse "6" %}
О, возлюбившие Христа,
Хвалу воздайте Богу!
Наполнив радостью уста,
Хвалу воздайте Богу!
Кумиров ложных сокрушим,
Господню славу возвестим!
Хвалу воздайте Богу!
{% endverse %}
