---
name: 379
section: Хвала и прославление
title: Благодарные сердца
authors:
- Джордж Дж. Элви, 1858
- Генри Олфорд, 1844
---
{% verse "1" %}
Благодарные сердца,
Поспешите в дом Отца!
Убран урожай с полей
До прихода зимних дней.
Бог – Начало всех начал –
Хлеб насущный даровал.
Поспешите в Божий дом
Вознести хвалы псалом!
{% endverse %}
{% verse "2" %}
Слово сеется для нас,
Чтобы дать плоды в свой час.
Но средь нивы Божьей тут
Вражьи плевелы растут.
В срок, назначенный Отцом,
В мир Господь придёт жнецом:
Зерна добрые собрать,
Терны пламени предать.
{% endverse %}
{% verse "3" %}
Церковь молится и ждёт:
Отдели же Свой народ,
Чтобы стали мы чисты
От забот и суеты.
Милосердный, к нам приди,
От греха освободи.
Пусть любовь Твоя пожнет
Нашей веры добрый плод.
{% endverse %}
