---
name: 38
section: Рождество
title: Когда встречаем Рождество у елки при свечах
authors:
  - Мартти Турунен
  - Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Когда встречаем Рождество у елки при свечах,
С заботой украшаем дом и с радостью в сердцах,
Давайте вспомним мы о Том,
Кто свет с Небес несет в наш дом.
{% endverse %}
{% verse "2" %}
Когда встречаем Рождество в заботе, суете,
Пустые мысли портят всё, нет радости в душе.
Как стол накрыть, что подарить?
Так о Христе легко забыть.
{% endverse %}
{% verse "3" %}
Всё это суета сует, пустая трата сил.
Живет с холодным сердцем тот, кто о Христе забыл,
В своих заботах и делах
Не помня о Его дарах.
{% endverse %}
{% verse "4" %}
Друзья, когда бы так же мы, как эти мудрецы,
Свои прекрасные дары Младенцу принесли,
Тогда и ангелов хоры
Наш гимн подхватят с высоты.
{% endverse %}
