---
name: 380
section: Хвала и прославление
title: Славьте Царя Христа!
authors:
- Джордж Дж. Элви, 1868
- Мэттью Бриджс, 1851
---
{% verse "1" %}
Славьте Царя Христа!
Взошел Он на престол.
Пред Ним ликуют небеса,
Поет чудесный хор.
Воспрянь, душа, и пой
Тому, Кто спас тебя.
Он Искупитель дивный твой,
Он Царь твой навсегда.
{% endverse %}
{% verse "2" %}
Славьте Царя любви!
Спасения Завет
Он всем томящимся явил,
Открыв нам жизни свет.
Не смеет серафим
Взглянуть на Бога сил,
Склоняет голову пред Тем,
Кто с нами рядом был.
{% endverse %}
{% verse "3" %}
Славьте Царя веков!
Им смерть побеждена.
Спасти людей от всех грехов
Его рука сильна.
Хвала и честь Христу!
Был мертв и жив опять.
Он пригвожден был ко Кресту,
Чтоб жизнь нам даровать.
{% endverse %}
{% verse "4" %}
Славьте Царя царей,
Единого с Отцом.
Дает Он Духа, чтоб людей
Вести в небесный дом.
Спасителю хвала
За вечную любовь.
Его щедротам нет числа,
Он жив во век веков.
{% endverse %}
