---
name: 381
section: Хвала и прославление
title: Любовь Господню прославляю
authors:
- Д. С. Бортнянский (1751-1825)
---
{% verse "1" %}
Любовь Господню прославляю,
Что во Христе открылась нам:
Любовь из праха поднимает,
Влечет из бездны к небесам!
Покой он всех земных страданий –
В Твоей, Господь, любви бескрайней.
{% endverse %}
{% verse "2" %}
Ты утолил души исканья,
Насытил хлебом жизни нас,
И на Тебя лишь упованье,
Ты не оставишь в трудный час.
В Тебе покой, в Тебе отрада,
В Тебе Едином мне награда.
{% endverse %}
{% verse "3" %}
В Тебе мои все помышленья,
Ты для меня Господь и Друг.
Ты за меня понес мученья
И смертью спас от вечных мук.
Простил грехи, дал жизнь иную.
С Тобой, Господь, я торжествую!
{% endverse %}
{% verse "4" %}
Хвала Спасителю Иисусу,
Источнику любви святой!
Живой воды потоки льются
И оживляют род людской.
Мы пред Христом склоним колени,
Ему хвала от всех творений!
{% endverse %}
