---
name: 382
section: Хвала и прославление
title: О, если б тысячью устами
authors:
- Халле, 1704
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О, если б тысячью устами
Я мог Тебя, Господь, хвалить!
О, если б духом и делами
Умел Тебя благодарить.
Будь сердца каждое биенье
И каждый вдох Тебе хвалой,
Пусть целый мир, пусть все творенье
Благословит Тебя со мной!
{% endverse %}
{% verse "2" %}
Тебя душа, Отец Небесный,
Здесь славит в нищете своей;
Ты бедную из скорби тесной
Принял в число Своих детей.
Тебе, Бог-Сын, благодаренья
Души возносит слабый глас.
Ты пролил кровь ей в искупленье
И смертию от смерти спас.
{% endverse %}
{% verse "3" %}
Бог Дух Святой, душ Утешитель,
Прими хвалу от слабых сил,
Ты – мой покров, освободитель,
Ты мне Спасителя явил.
О, неба и земли Создатель,
Ты всё содержишь и живишь,
Источник жизни, благ Податель,
Ты мне спасение даришь.
{% endverse %}
{% verse "4" %}
Кто дал мне жизнь и всё благое?
Кто от напастей бережет?
Кто душу мне хранит в покое
И к миру вечному ведет?
Кто с чудной милостью, с терпеньем
Мой путь ко благу направлял?
Кто все грехи покрыл прощеньем
И чадом Божиим назвал?
{% endverse %}
{% verse "5" %}
Кто, чудный и неизречённый,
В любви за нас и Сына дал
И, смертью Сына примирённый,
И жизнь, и радость вновь послал?
Отец щедрот, любви, блаженства,
Ты всё во всём, Ты жизнь, Ты свет!
Всех благ и сил всех совершенство
В Тебе! Весь мир Тобой согрет.
{% endverse %}
