---
name: 383
section: Хвала и прославление
title: Прими хвалу, благодаренье
authors:
- Халле, 1704
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Прими хвалу, благодаренье,
Сын Божий, за Твою любовь!
За грех наш Ты понес мученье,
Свою святую пролил кровью
Терпел удары, поношенье,
Чтоб дать нам жизнь, взяв на Себя
Всё наше зло и прегрешенья.
Ты умер в муках, нас любя.
{% endverse %}
{% verse "2" %}
Слезами радости спасенье
От ран Твоих приемлю я
И верю: с Богом примиренье
Дарует жертва мне Твоя.
Омытый от грехов Тобою,
Я буду смертью невредим.
Прими нас всех, мы все душою
Тебе, Господь, принадлежим.
{% endverse %}
{% verse "3" %}
О, дар любви сей бесконечной
Чем может быть вознагражден?
Он с благодарностью навечно
В душе моей запечатлен.
Дай свято мне Твои заветы
Хранить в теченье жизни всей,
Желанье дай стремиться к свету,
Быть верным до кончины дней.
{% endverse %}
