---
name: 384
section: Хвала и прославление
title: Тебе, Создатель мой, хваленье
authors:
- Гамбург, 1690
- Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Тебе, Создатель мой, хваленье
Душа стремится воздавать,
Но можно ли без вдохновенья
Твое величье прославлять?
Но если силу дашь Ты Сам,
Гимн вознесется к небесам.
{% endverse %}
{% verse "2" %}
Влеки нас к Сыну, Вседержитель,
И Сын к Тебе нас приведёт;
Воздвигни в нас Свою обитель,
Твой мир душа да обретёт,
Вкусим же радость и покой
И дар любви прославим Твой!
{% endverse %}
{% verse "3" %}
Твой Дух, ходатай пред Тобою,
За нас к Тебе вздыхает Сам
Нас со слезами и с мольбою
Он приведет к Твоим стопам.
Дай, Господи, у ног Твоих
Сложить нам крест скорбей земных.
{% endverse %}
