---
name: 386
section: Хвала и прославление
title: Хвала Тебе, Господь! Во тьме
authors:
- Т. Таллис
- Т. Кен
- Перевод: Ю. Высоцкая
---
{% verse "1" %}
Хвала Тебе, Господь! Во тьме
Ты солнцем ярким светишь мне.
Молю, о Боже, об одном:
Укрой меня Своим крылом!
{% endverse %}
{% verse "2" %}
И ради Сына Твоего
Помилуй, Господи, того,
Кто милостью Твоей храним,
Кто хоть и грешен, но любим.
{% endverse %}
{% verse "3" %}
Я знаю, Ты прогонишь ночь,
Страх смерти сгинет с нею прочь.
Тебе доверюсь я вполне,
И суждено воскреснуть мне.
{% endverse %}
{% verse "4" %}
Ты для души моей покой,
О Боже, будь всегда со мной
И научи Тебе служить,
С надеждой верить и любить.
{% endverse %}
{% verse "5" %}
Прославьте Господа, ведь Он
Любви и милости к нам полн.
Хвала Тебе, о Боже мой,
Отец и Сын и Дух Святой!
{% endverse %}
