---
name: 387
section: Хвала и прославление
title: Хвали же Бога в песне
authors:
- 16 век
- Богемские братья, 1544
- Перевод: И. Барсегова
---
{% verse "1" %}
Хвали же Бога в песне
И радуйся, народ!
Всем верным христианам
Поможет Сам Господь!
Неси покорно бремя,
На Бога не ропщи,
Придет благое время,
Избавлен будешь ты!
{% endverse %}
{% verse "2" %}
Завет Бог не нарушит,
Что нам навеки дан.
Будь Богу ты послушен,
Он сострадает нам.
Свою Святую Церковь
В час трудный обновит,
Бог Таинством и Словом
Народ Свой укрепит!
{% endverse %}
{% verse "3" %}
Хвали же Бога в песне,
Он милость даровал.
Великим откровеньем
Он нас к Себе призвал!
Нас сохранять Он будет
В единстве и любви.
Своею благодатью
Нас, Боже, осени!
{% endverse %}
