---
name: 388
section: Хвала и прославление
title: Да прославится Спаситель
---
{% verse "1" %}
Да прославится Спаситель,
Агнец Божий, отчий Сын,
Кроткий мира избавитель,
Царь царей и Господин!
В Небесах Его обитель,
Он Вселенной Властелин.
{% endverse %}
{% verse "2" %}
Гимнам радости блаженной
С высоты внимает Он.
Сонмы ангелов небесных
Окружают Божий трон.
Звуки сладостные песен
Наполняют небосклон!
{% endverse %}
