---
name: 389
section: Хвала и прославление
title: Звучите, почести Творцу
authors:
- Ян Сибелиус, 1897
- А. В. Коскимиес, 1897
- Перевод: Э. Кан
---
{% verse "1" %}
Звучите, почести Творцу,
И гимны в Его честь!
Хвала Небесному Отцу
За то, что все мы есть,
За то, что Божий Дух живой
Вдохнуть в нас захотел,
За то, что чудный рай земной
И свет небесный дал в удел.
{% endverse %}
{% verse "2" %}
Мы согрешили, и конец
Печальный ждал нас всех.
Тогда, как любящий Отец,
Он выкупил наш грех:
Святого Сына Своего
Послал на жертву Он,
Чтоб каждый, верящий в Него,
Для вечной жизни был спасен.
{% endverse %}
