---
name: 39
section: Рождество
title: Ангел благую весть принес
authors:
  - Перевод: Л. Ибрагимова (Россия, совр.)
---
{% macro chorus() %}
{% verse "Припев" %}
Ангел благую весть принес,
Что родился Божий Сын Христос.
Яркий свет в небесах
Исчезают грусть и страх.
Ангел благую весть принес,
Что родился Божий Сын Христос.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Он пришел в эту ночь, чтобы мир спасти,
Чтобы веру и любовь людям принести.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Песню славы поет ангел в вышине,
Прославляют Господа люди на земле.
{% endverse %}
{{ chorus() }}