---
name: 390
section: Хвала и прославление
title: Восхвалите Господа
authors:
- Генрих Альберт, 1640
- На основе Псалма 150
- Эспер Сведберг, 1694
---
{% verse "1" %}
Восхвалите Господа,
Славьте всюду и всегда
Духа, Сына и Отца,
Всемогущего Творца!
{% endverse %}
{% verse "2" %}
Свят Господь наш Всеблагой,
Совершенен труд Его,
Дел Его не тронет тлен
В небесах и на земле.
{% endverse %}
{% verse "3" %}
Как велик и славен Он,
Расскажи, гитары звон,
Гимн Ему играй, орган,
Сердце, песнь Ему слагай.
{% endverse %}
{% verse "4" %}
Всяк, в ком дышит Дух живой,
Славу Господу воспой.
В Нем да будет жизнь твоя.
Славь Его, аллилуйя!
{% endverse %}
