---
name: 391
section: Хвала и прославление
title: Славьте, народы, Иисуса Христа!
authors:
- Канон
- Буквы A, B, C в окружности показывают вступление голосов канона
---
{% verse "1" %}
Славьте, народы, Иисуса Христа!
Славьте Всевышнего Бога Отца!
Славьте, славьте Господа!
{% endverse %}
{% verse "2" %}
Весть о Христе мы по свету несем,
Божьей любви мы хвалу воспоем,
Ведь спасенье только в Нем!
{% endverse %}
{% verse "3" %}
Радость прольется и в наши сердца
Силой Великого Бога Отца.
Будем вечно славить Творца!
{% endverse %}
