---
name: 392
section: Хвала и прославление
title: Исаия о видении изрёк
authors:
- Мартин Лютер, 1526 (на основе Ис. 6:1-4)
- Мартин Лютер, 1526 (на основе Ис. 6:1-4)
- Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Исаия о видении изрёк:
Во славе Господа узрел Пророк.
На Небесах высок Его престол,
Краями ризы Божий дом был полн.
Два ангела стояли рядом с Ним,
С шестью крылами каждый серафим:
Двумя они скрывали светлый лик,
Двумя, как дымкой, ноги облекли,
Двумя летали, в небо уносясь.
Звучал друг к другу их священный глас:
«Свят Господь Бог наш Саваоф!
Свят Господь Бог наш Саваоф!
Свят Господь Бог наш Саваоф!
Полна земля вся славою Его!»
Поколебался свод от этих слов,
И фимиамом храм заволокло.
{% endverse %}