---
name: 394
section: Духовные песни
title: Весельем и песнями славьте...
authors:
  - Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Весельем и песнями славьте
Того, Кто стал победителем смерти.
Своим ликованием славьте
Христа, с Которым войдем мы в бессмертье.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Пусть в пустыне, на земле бесплодной,
Вдруг появятся сады.
Пусть вся степь покроется цветами
Небывалой красоты.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Мы увидим всю Господню славу,
Славу Бога своего,
И тогда в нас тоже отразится
Свет сияния Его.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Возвестите всем народам мира:
«Не погибнем мы во мгле,
Распрямите согнутые плечи,
Крепко стойте на земле!»
{% endverse %}
{{ chorus() }}
{% verse "4" %}
И скажите всем сердцам унылым:
«Будьте смелыми в пути,
Потому что с нами Тот, Который
В мир пришел, чтоб нас спасти».
{% endverse %}
{{ chorus() }}
