---
name: 395
section: Духовные песни
title: Нет ничего в целом мире прекрасней
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
И когда глубин твоей души коснется она,
Узнаешь и ты тогда,
Что нет в мире ничего чудесней этой любви,
Сильнее, сильнее.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Нет ничего в целом мире прекрасней,
Чем ты любовь на Голгофском кресте.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Больше ничто не останется прежним,
Если любовь завладела тобой.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Эта любовь не имеет границы,
Рушит оковы и светит во тьме.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Я бы хотел прокричать всему свету:
«Эту любовь может каждый найти!»
{% endverse %}
{{ chorus() }}
