---
name: 396
section: Духовные песни
title: Моя надежда навсегда
authors:
- Джон Стайнер, 1873
- Эдвард Моут (1797-1874)
- Перевод: Александр Сибилев
---
{% macro chorus() %}
{% verse "Припев" %}
Христос – скала в земных скорбях.
Все остальное – пыль и прах.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Моя надежда навсегда
На крови заждется Христа.
Не смею верить ни в кого –
Лишь в имя дивное Его.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Когда кипит простор морской,
Не виден путь во тьме ночной,
Он – верный кормчий у руля,
Надежный компас корабля.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Пусть враг мне гибелью грозит,
 Христос - броня, и шлем, и щит.
Пусть сотрясается земля –
Он мне опора и скала.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Когда раздастся трубный глас,
Когда придет последний час,
Да буду чист я перед Ним,
Великим Господом моим.
{% endverse %}
{{ chorus() }}
