---
name: 397
section: Духовные песни
title: Дорогой земной дитя Божье идет
authors:
- П. Ю. Ханникайнен (1854-1924)
- И. Хеллен (1861-1937)
---
{% verse "1" %}
Дорогой земной дитя Божье идет.
Лишь ангел прекрасный домой приведет.
Но дома не видно и длинен их путь.
Дитя Божье с ангелом вместе идут,
Дитя Божье с ангелом вместе идут.
{% endverse %}
{% verse "2" %}
Но темным и скользким бывает наш путь,
И также легко нам с дороги свернуть.
Ты ангелу руку свою протяни
И вместе с ним эту дорогу пройди,
И вместе с ним эту дорогу пройди.
{% endverse %}
