---
name: 398
section: Духовные песни
title: Библия мне говорит
authors:
- У. Б. Брэдбери (1816-1868)
- А. Б. Уорнер (1827-1915)
---
{% macro chorus() %}
{% verse "Припев" %}
Возлюбил меня Иисус,
Возлюбил меня Иисус,
Возлюбил меня Иисус –
Вот весть из Божьих уст!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Библия мне говорит,
Что Иисус нас всех хранит
И, заботой окружив,
Помогает слабым жить.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Смерть навеки победил,
Дверь на Небеса открыл,
От грехов освободил,
Нас в семью объединил.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Чтобы счастье обрести,
Надо за Христом пойти.
Никогда в любви Своей
Не покинет Он детей.
{% endverse %}
{{ chorus() }}
