---
name: 399
section: Духовные песни
title: У креста хочу стоять
authors:
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% macro chorus() %}
{% verse "Припев" %}
У креста, у креста
Честь моя и слава,
Там спасенья полнота,
Там на счастье право.
{% endverse %}
{% endmacro %}
{% verse "1" %}
У креста хочу стоять,
Созерцать душою,
Как с Голгофы благодать
В мир течет рекою.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
У креста ко мне пришли
Благодать и сила,
И звезда святой любви
Путь мне озарила.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
У креста открылся мне
Кроткий Агнец Божий,
Он привлек меня к Себе,
Стал всего дороже.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
У креста я буду ждать
Милости чудесной,
Дня, когда на небесах
К жизни вновь воскресну.
{% endverse %}
{{ chorus() }}