---
name: 4
section: Адвент
title: Возведите все взоры на небо
authors:
  - А. Марторелли (Италия, 20 век)
  - С. Альбизетти (Италия, 20 век) 
---
{% macro chorus() %}
{% verse "Припев" %}
Приди, Иисус,
Приди, Иисус,
К нам на грешную землю,
К нам на грешную землю.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Возведите все взоры на небо,
Ибо ныне спасение близко;
Пробудите в сердцах ожиданье,
И Царь Славы придет неприменно.
{% endverse %}
{{ chorus() }}
{% verse "2"%}
Из Давидова рода возникнет
Призываемый всеми Мессия,
Снизойдет на Пречистую Деву
Дух Святой, и родит Она Сына.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Посети нас сейчас в нашей вере,
Чтоб Всевышнего жизнь подарить нам.
Свое Тело и Кровь отдаешь Ты,
Чтоб простились нам все прегрешенья.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Мы уверены, что в день последний
Ты вернешься со славой и силой
Наградить жизнью вечною верных
И огнем наказать злых и гордых.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Нам позволь созерцать безмятежно
Лик Твой в вечном сиянии славы
И идти за Тобой в Твое Царство,
Где с Отцом и со Духом Ты правишь.
{% endverse %}
{{ chorus() }}
