---
name: 40
section: Рождество
title: Эта ночь святая
authors:
  - Украина, 20 век
---
{% verse "1" %}
Эта ночь святая,
Эта ночь спасенья
Возвестила всему миру
Тайну Боговоплощенья.
{% endverse %}
{% verse "2" %}
Пастухи у стада
В эту ночь не спали.
Ангел Божий прилетел к ним
Из небесной светлой дали.
{% endverse %}
{% verse "3" %}
Свет Господней славы
Воссиял над ними.
Слышат голос: «Не страшитесь,
Всему миру радость ныне.
{% endverse %}
{% verse "4" %}
Ныне Бог родился
Людям во спасенье,
Вы пойдите, посмотрите
На великое смиренье».
{% endverse %}

