---
name: 400
section: Духовные песни
title: Пусть Господь тебя всегда хранит!
---
{% verse "1" %}
Пусть Господь тебя всегда хранит!
Путь твой Он да охраняет,
Каждый шаг твой направляет!
Пусть Господь тебя всегда хранит!
{% endverse %}
{% verse "2" %}
Пусть Господь тебя всегда хранит!
Душу Он да ободряет,
Манной свыше Сам питает!
Пусть Господь тебя всегда хранит!
{% endverse %}
{% verse "3" %}
Пусть Господь тебя всегда хранит!
Он от зла тебе защита,
В Нем вся жизнь твоя сокрыта.
Пусть Господь тебя всегда хранит!
{% endverse %}
{% verse "4" %}
Пусть Господь тебя всегда хранит!
На Христа иди взирая,
Всем любовь Его являя!
Пусть Господь тебя всегда хранит!
{% endverse %}
