---
name: 401
section: Духовные песни
title: Боже, храни меня, Боже, храни!
---
{% verse "1" %}
Боже, храни меня, Боже, храни!
Даруй, чтоб прожил я все мои дни
С Книгой Святой в руках, Словом Твоим в устах.
Боже, храни меня, Боже, храни!
{% endverse %}
{% verse "2" %}
Мудрость мне в ум вложи, слово в уста,
Дай проповедовать подвиг Христа!
Боже, пребудь со мной и от беды укрой!
Боже, храни меня, Боже, храни!
{% endverse %}
{% verse "3" %}
Станет ли грех меня вдруг соблазнять –
Силу дай в истине мне устоять!
Верным Тебе слугой в вере Твоей святой
Боже, храни меня, Боже, храни!
{% endverse %}
