---
name: 402
section: Духовные песни
title: Воспойте, сестры, воспойте, братья
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Утро восходит! Его встречайте,
Христу внимая, готовьте пути!
Утро восходит! Даря улыбки,
Отныне вас Он будет вести!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Воспойте, сестры, воспойте, братья,
Ведь ужас ночи уже позади!
Иисус, поправший смерти заклятье,
Господь, Спаситель наш, непобедим!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ликуйте, сестры, ликуйте, братья,
Ведь скорбь и горе уже позади!
Иисус, поправший смерти заклятье,
Господь, Спаситель наш, непобедим!
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Идите, сестры, идите, братья,
За нас страдавший, Он жаждет любви.
Иисус, поправший смерти заклятье,
Господь, Спаситель наш, непобедим!
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Молитесь, сестры, молитесь, братья,
Ведь наша сила в молитве, в любви.
Иисус, поправший смерти заклятье,
Господь, Спаситель наш, непобедим!
{% endverse %}
{{ chorus() }}
