---
name: 403
section: Духовные песни
title: Пой аллилуйя Господу!
authors:
- Линда Стассен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Пой аллилуйя Господу!
Пой аллилуйя Господу!
Пой аллилуйя, пой аллилуйя,
(2-й голос: Аллилуйя!)
Пой аллилуйя Господу!
{% endverse %}
{% verse "2" %}
В Боге надежда для меня,
В Боге надежда для меня.
В Боге надежда, в Боге надежда,
(2-й голос: В Боге, в Боге)
В Боге надежда для меня.
{% endverse %}
{% verse "3" %}
Он есть путь, истина и жизнь.
Он есть путь, истина и жизнь.
Он есть путь, истина,
Он есть путь, истина,
(2-й голос: Христос Господь)
Он есть путь, истина и жизнь.
{% endverse %}
{% verse "4" %}
Иисус – Спаситель наш и Бог.
Иисус – Спаситель наш и Бог.
Иисус – Спаситель, Иисус – Спаситель,
(2-й голос: Спаситель наш)
Иисус – Спаситель наш и Бог.
{% endverse %}
{% verse "5" %}
Бог нам дарует благодать.
Бог нам дарует Благодать.
Бог нам дарует, Бог нам дарует,
(2-й голос: Дарует нам)
Бог нам дарует благодать.
{% endverse %}
{% verse "6" %}
Пой аллилуйя Господу!
Пой аллилуйя Господу!
Пой аллилуйя, пой аллилуйя,
(2-й голос: Аллилуйя!)
Пой аллилуйя Господу!
{% endverse %}
