---
name: 404
section: Духовные песни
title: Ты создал мир из пустоты
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Господу да будет слава,
Слава, честь и прославленье.
Господу да будет слава,
Слава Иисусу вовек.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Ты создал мир из пустоты,
Во Вселенной Твой голос звучит,
Чтоб человек жил на земле,
Чтоб мог он с Тобой говорить.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
В наш бурный мир с высот Твоих,
Воплотившись, явился Твой Сын.
Принес любовь и пролил кровь,
Путь к спасению людям открыл.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Он нас ведет, Он сил дает,
Он нас делает солью земли.
Он нас послал, чтоб мир узнал
О Его бесконечной любви.
{% endverse %}
{{ chorus() }}
