---
name: 405
section: Духовные песни
title: Женам, пришедшим ко гробу Его
authors:
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Христос воскрес и жив сейчас,
Аллилуйя!
И Он сегодня среди нас,
Аллилуйя!
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Женам, пришедшим ко гробу Его
Плакать над Ним,
Ангел явился и возвестил:
«Он стал живым!»
{% endverse %}
{{ chorus() }}
{% verse "2" %}
В день, когда двое в Эммаус шли,
Он с ними был,
В трапезе с ними хлеб преломил –
Лик Свой открыл.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
В день, когда вместе собрались они,
Дух возгорелся в них,
Разом воскликнули все, кто там был
В тот славный миг:
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Иисус сказал: «Пусть за вами идут
Страны и города,
Вас не оставлю, с вами Я здесь
Буду всегда!»
{% endverse %}
{{ chorus() }}
