---
name: 406
section: Духовные песни
title: Бог мой, Ты скала моя
authors:
- На основе Пс. 17
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
В тесноте моей призвал я Господа
И к Богу моему воззвал,
И услышал Он, услышал Он
От чертога Своего голос мой.
Люблю Тебя, Господи, крепость моя,
Твердыня моя и прибежище мое!
Люблю Тебя, Господи, крепость моя,
Твердыня моя и прибежище мое!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Бог мой, Ты скала моя,
На Тебя я уповаю.
Щит мой, спасение мое,
Господь – опора моя!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Боже, Ты даешь мне свет,
Просвещаешь тьму мою.
Боже, Твой непорочен путь,
И чисто Слово Твое.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Жив Бог и благословен,
Бог спасенья моего.
Ты избавляешь от врагов,
Возносишь, Боже, меня!
{% endverse %}
{{ chorus() }}
