---
name: 407
section: Духовные песни
title: Мой Господь, когда я вновь явлюсь пред Тобой
authors:
- Лассе Хейккиля
- Лассе Хейккиля
- Перевод: Марина Вяйзя
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Мой Господь, когда я вновь явлюсь пред Тобой,
Я жду – Ты коснешься Своей Отчей рукой.
Я прошу – Ты приди и в объятья Свои,
В Божьи сильные руки, как ребенка, возьми.
Ты позволишь всем нам взор поднять к небесам,
Ощутить силу Духа, Твою близость к нам.
О Иисус, Ты дитя благослови.
Иисус, Ты дитя благослови.
{% endverse %}
{% verse "2" %}
Уповаю на все обещанья Твои.
Верю, будешь Ты с нами и в молитве опять.
И, когда соберемся во имя Твое,
Ты позволь вновь и вновь жажду нам утолять.
Я стою у креста, не спешу никуда,
Ведь Твое милосердье снизойдет на меня,
Когда Иисус благословит детей Своих.
{% endverse %}
{% verse "3" %}
В жизни многого ждал, от обид я поник
И устал от обманов, обещаний пустых,
Но когда я опять познаю благодать,
Я готов против бед всех с Тобой устоять.
Ты позволишь всем нам взор поднять к небесам,
Ощутить силу Духа, Твою близость к нам.
О Иисус, Ты детей благослови.
{% endverse %}
