---
name: 408
section: Духовные песни
title: Слово вечное пошли
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Слово вечное пошли,
В испытаниях и бедах помоги!
В тишине к Тебе взываю: Боже помоги,
Слово вечное пошли!
{% endverse %}
{% verse "2" %}
Дух Святой душе пошли,
Дай мне пищу для измученной души.
В тишине к Тебе взываю: Боже, помоги,
Дух Святой душе пошли!
{% endverse %}
