---
name: 409
section: Духовные песни
title: Ты приди, Дух Святый
authors:
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя! Аллилуйя!
Аллилуйя! Аллилуйя!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Ты приди, Дух Святый,
Словно ветра дуновенье.
Ты приди, Дух Святый,
И огонь в душе зажги!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ты приди, Дух Святый,
В наши души, в наши души!
Ты приди, Дух Святый,
И огонь любви зажги!
{% endverse %}
{{ chorus() }}
