---
name: 41
section: Рождество
title: Песня Ангелов слышна
authors:
  - Старинный французский кэрол
  - Перевод: Ю. Высоцкая
---
{% macro chorus() %}
{% verse "Припев" %}
Gloria in excelsis Deo!
Gloria in excelsis Deo!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Песня Ангелов слышна
На земле и в небесах,
Вторят горы и поля
Вести радостной в веках.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Расскажите, пастухи,
Почему звезда горит?
И какой чудесный царь
В яслях ныне возлежит?
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Рождество Спасителя
Возвещаем с радостью,
Восхищаясь милостью
Господа и благостью.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Так спешите в Вифлеем,
Так придите все к Нему,
Почести Ему воздать,
Поклоненье и хвалу.
{% endverse %}
{{ chorus() }}
