---
name: 410
section: Духовные песни
title: Я верю в Творца Вселенной
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Я верю в Творца Вселенной,
С любовью правящего землей,
И в Сына, Иисуса,
И в Утешителя – Дух Святой.
{% endverse %}
{% verse "2" %}
Я верю в победу правды
И в искупление всех грехов.
Я верю, что мир настанет,
И над землею взойдет любовь!
{% endverse %}
{% verse "3" %}
Я верю: добро сильнее,
Чем силы ада и смерти тень.
Я верю: однажды в небе
Творцу Вселенной споем мы песнь!
{% endverse %}
