---
name: 411
section: Духовные песни
title: Я из глубины души к Тебе взываю
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Я из глубины души к Тебе взываю,
Господи, меня услышь.
Я из глубины души к Тебе взываю,
Господи, меня услышь.
{% endverse %}
{% verse "2" %}
Среди тьмы и мрака Ты пошли мне свет Свой,
Господи, меня услышь.
Среди тьмы и мрака Ты пошли мне свет Свой,
Господи, меня услышь.
{% endverse %}
{% verse "3" %}
Я ищу Твоей живой воды в пустыне,
Господи, меня услышь.
Я ищу Твоей живой воды в пустыне,
Господи, меня услышь.
{% endverse %}
{% verse "4" %}
Боже мой, пошли мне в сердце новую песню,
Господи, меня услышь.
Боже мой, пошли мне в сердце новую песню,
Господи, меня услышь.
{% endverse %}
