---
name: 412
section: Духовные песни
title: Карен Лафферти
authors:
- Карен Лафферти
- На основе Мф. 6:33, Мф. 7:7-8, Рим. 14:17
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Ищите прежде Царства Божия
И правды его.
Все остальное приложится вам.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "2" %}
Просите и дано будет вам,
Ищите и найдете.
Стучите и отворят вам.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "3" %}
Царство Божье не пища и питье,
А праведность и мир
И радость во Святом Духе.
Аллилуйя, аллилуйя!
{% endverse %}
