---
name: 413
section: Духовные песни
title: Он здесь, Он здесь.
authors:
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Он здесь, Он здесь.
Хочет встречи Он с тобой, Он здесь.
Пред Тобою, наш Господь, преклоняются сердца.
Слава, Всемогущий Бог, что Ты здесь.
{% endverse %}
{% verse "2" %}
Он здесь, Он здесь.
Хочет встречи Он с тобой, Он здесь.
Нежно глас Его звучит, для тебя Он говорит.
Свет любви Его святой еще горит.
{% endverse %}
{% verse "3" %}
Он здесь, Он здесь.
Хочет встречи Он с тобой, Он здесь.
Хочет встречи Он с тобой, чтобы дать душе покой.
Двери сердца для Иисуса ты открой!
{% endverse %}
