---
name: 414
section: Духовные песни
title: Много песен слышим о любви мы
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Артур Сойту
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Что такое любовь? Долго я искал
В этом мире, средь греха и зла.
Что такое любовь, вечная любовь?
Лишь у Христа, мой друг, ответ найдешь.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Много песен слышим о любви мы,
Но они проходят, как туман.
Эти обещанья, что даны мне,
Обернулись в слезы и обман.
Трубадуры наших дней поют вновь,
Все рисуя красками любви,
Но в сердцах все ж камень остается,
И слова лишь розовые сны.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Мы живем здесь в мире зла и горя,
На земле, где царствует обман,
Где ненавидят все один другого,
И любовь для нас – лишь как товар.
Для чего живем здесь на земле мы?
Почему впускаем в сердце зло?
Гордостью покрыв любви дыханье,
Рая дверь закрыли пред собой.
{% endverse %}
{{ chorus() }}
