---
name: 415
section: Духовные песни
title: Даже если б мог я горы двигать
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Ведь сильнее смерти на земле одна любовь.
Потушить ее не в силах вод больших поток.
Это дивный дар – его источник Бог.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Даже если б мог я горы двигать,
Ангельские знал бы языки,
Все равно остался бы пустым, как меди звон,
Если б в сердце не было любви.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Даже если б стал я всех мудрее,
Овладел бы тайнами земли,
Все равно остался бы пустым, как меди звон,
Если б в сердце не было любви.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ты, Иисус, податель вечной жизни,
Ты нас знаешь, ибо мы Твои.
В сердце каждое войди и силу подари,
Научи нас, Господи, любви.
{% endverse %}
{{ chorus() }}
