---
name: 416
section: Духовные песни
title: На ладони Божьей хорошо нам жить
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Истинное счастье рядом с Богом быть,
Под Его защитой в мире жить.
Истинное счастье ближе к Богу стать
И дела Господни прославлять.
{% endverse %}
{% endmacro %}
{% verse "1" %}
На ладони Божьей хорошо нам жить,
И приют надежней не открыть.
Здесь найдем мы сердцу радость и покой.
Раны заживим живой водой.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
На ладони Божьей счастье обретем,
Щедрость Бога вместе воспоем.
Он грехи прощает по милости Своей,
Не покинет Бог Своих детей.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
На ладони Божьей горе утолим,
Мести меч не будет поднят Им.
Ненависть вогнала гвозди в руки те,
Но пришло прощенье на кресте.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
На ладони Божьей я смогу заснуть,
От трудов нелегких отдохнуть.
Под защитой Бога в жизни мне идти,
С Ним покой смогу я обрести.
{% endverse %}
{{ chorus() }}
