---
name: 417
section: Духовные песни
title: Бог Великий, Вседержитель
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Если только пламя веры
В твоем сердце Бог зажег,
За Иисусом ты смело следуй
И не останешься одинок.
Божье пламя разгорится
И в душе любовь зажжет.
Слово Божье, словно птица,
От сердца к сердцу ко всем придет.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Бог Великий, Вседержитель
Человеком в мир пришел.
Божье Слово вечно ново,
И в сердцах людей оно
Горит огнем, огнем.
От грехов устали люди.
Иисус надежду дал.
Он в душе любовь разбудит,
Чтоб ее огонь над нами
Засиял, засиял.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Новый день встает над миром.
В Вифлеем ведет звезда.
Победитель темной силы,
Иисус смерть уничтожил
Навсегда, навсегда.
Пламя веры не угасим
Мы в молитвах и делах.
Наш Господь придет однажды,
Мир и радость принеся
Ученикам, ученикам.
{% endverse %}
{{ chorus() }}
