---
name: 418
section: Духовные песни
title: Вместе, брат и сестра, эту песню споем
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Целый шар земной мы наполним хвалой,
Целый шар земной мы наполним хвалой
{% endverse %}
{% endmacro %}
{% verse "1" %}
Вместе, брат и сестра, эту песню споем.
Вместе, брат и сестра с песней в путь мы пойдем.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Вместе, брат и сестра, радость в Боге найдем.
Вместе, брат и сестра, в путь, ликуя, пойдем.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Вместе, брат и сестра, мы прославим Творца.
Вместе, брат и сестра, будем петь без конца.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Вместе, брат и сестра, с Богом в сердце живем.
Вместе, брат и сестра, с верой в путь мы пойдем.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Вместе, брат и сестра, мир с Иисусом найдем.
Вместе, брат и сестра, в путь с молитвой пойдем.
{% endverse %}
{{ chorus() }}
