---
name: 419
section: Духовные песни
title: Даю вам ныне Я заповедь любви
authors:
- А. Куличенко
- На основе Ин. 13:34-35
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
«Даю вам ныне Я заповедь любви:
Да любите друг друга, как Я вас возлюбил
Да любите друг друга, как Я вас возлюбил.
Тогда узнают учеников Христовых,
Когда вы возлюбите друг друга.
Тогда узнают учеников Христовых,
Когда вы возлюбите друг друга».
{% endverse %}
{% verse "2" %}
Мы верим, Боже, что Царствие Любви
Осенит наши души и всех людей земли,
Осенит наши души и всех людей земли.
Тогда поднимут все люди вместе с нами
Небесной Любви святое знамя,
Тогда поднимут все люди вместе с нами
Небесной Любви святое знамя.
{% endverse %}
