---
name: 42
section: Рождество
title: Вот пришло к нам Рождество
authors:
  - Финляндия
  - Финская народная мелодия
  - Перевод Б. Казачков, 1992
---
{% verse "1" %}
Вот пришло к нам Рождество
Светом лучезарным,
Радость, мир и торжество
В дне том несказанном.
{% endverse %}
{% verse "2" %}
Богу слава в небесах,
Шлем Отцу хваленье:
Вновь открыл нам двери в рай
Он благоволеньем.
{% endverse %}
{% verse "3" %}
Иисус пришел, Господь,
Разорвал оковы,
И путем Он нас ведет
К жизни вечной, новой.
{% endverse %}
{% verse "4" %}
Мир излил нам Дух Святой –
Дар сверх разуменья
И надеждою благой
Лечит все сомненья.
{% endverse %}
{% verse "5" %}
Средь соблазнов мира зла,
Бурь его и громов,
В чудном свете Рождества
Наше сердце дома.
{% endverse %}
