---
name: 420
section: Духовные песни
title: Через моря, к земле невиданной, другой
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
- Перевод: Татьяна Шадрунова
- Молодежный песенник Церкви Ингрии
---
{% verse "1" %}
Через моря, к земле невиданной, другой,
Путь озаряя, Дух зовет нас в край родной.
Пусть дорога длинна, пусть не видно конца,
Сам Господь ведет нас к цели за Собой.
{% endverse %}
{% verse "2" %}
Ничто не вечно в этом мире, но всегда
Любовь Иисуса согревает нам сердца.
Пусть меняется мир, только неизменим
Наш Господь нас не оставит никогда.
{% endverse %}
{% verse "3" %}
Тоска приходит, наполняет сердце боль,
Но вновь молитва укрепляет нас с тобой.
И в борьбе, и в труде, и в тоске, и во тьме
Неизменно с нами рядом наш Господь.
{% endverse %}
{% verse "4" %}
Наступит время – боль исчезнет, грусть пройдет.
Наступит время – радость в сердце запоет.
После долгой тоски, после трудной борьбы
Над землею утро новое взойдет.
{% endverse %}
