---
name: 421
section: Духовные песни
title: И я постигаю сквозь слезы и боль
authors:
- На основе песнопения Taize “Nada te turbe”
- Ирина Языкова
- Молодежный песенник Церкви Ингрии
---
{% macro chorus() %}
{% verse "Припев" %}
Ты не печалься и не страшись.
Если Бог с нами, кто против нас?
Ты не печалься и не страшись.
Если Бог с нами.
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
И я постигаю сквозь слезы и боль
Истину встречи и милость разлуки.
Пью эту чашу, где сладость и соль
Перемешались с надеждой и мукой.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
И, не жалея о прошлом ничуть,
Вижу, как катится мир к катастрофе.
Верую в крестный, мой избранный путь,
В тайну распятой любви на Голгофе.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Свободы ищу от железных оков,
Тех, что зовутся «житейское счастье».
Вся моя жизнь – это несколько слов
Тихой молитвы перед Причастьем.
{% endverse %}
{{ chorus() }}

