---
name: 422
section: Духовные песни
title: Намного раньше нас они здесь жили
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
---
{% macro chorus() %}
{% verse "Припев" %}
Я хочу идти по этой жизни смело!
Я хочу найти Спасителя следы!
Я хочу быть до конца Иисусу верным
И увидеть свет  с небесной высоты!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Намного раньше нас они здесь жили,
Они зажгли в кромешной тьме огонь
И искренне Спасителя любили,
За веру умирая, как герои.
Они трудились, жизни отдавая,
Они мечтали о святой земле
И свой пример потомкам оставляя,
Они стремились всей душой к Тебе.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Где же вы, апостолы, сегодня?
Голос обличающий затих.
Кто рискнет пойти путем нелегким?
Кто теперь восстанет против тьмы?
Где же вы сегодня, дети света?
Кто надежду миру принесет?
Где найти нам искреннюю веру,
Что сердца людей огнем зажжет?
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Господи, Ты знаешь, что мы слабы,
Знаешь, что сердцами холодны.
Свет пошли в затухшие лампады,
Мудростью Своею освети!
Обнови Своею силой души,
Дай нам сердце, полное любви,
Чтобы в поколениях грядущих
Вечно прославлять Тебя могли!
{% endverse %}
{{ chorus() }}
