---
name: 423
section: Духовные песни
title: Вновь пред Тобою в бессилье стою
authors:
- Пекка Симойоки
- Пекка Симойоки
- Перевод: Татьяна Шадрунова
---
{% macro chorus() %}
{% verse "Припев" %}
Я взываю с грешной земли!
Я надеюсь на руки Твои!
Господи, снова Тебе отдаю
Без остатка всю жизнь мою.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Вновь пред Тобою в бессилье стою,
А на город спустилась тьма.
Вновь пред Тобою в бессилье стою,
От тревог и забот устав.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Господи, снова Тебе приношу
Каждый миг быстротечных дней.
Господи, снова Тебе приношу
Все заботы души моей.
{% endverse %}
{{ chorus() }}
