---
name: 424
section: Духовные песни
title: Верю Тебе, Боже, Ты простил мой грех
authors:
- П. Секвери (Италия, р. 1944)
- П. Секвери (Италия, р. 1944)
- Перевод: Р. Шахова (Россия, совр.)
---
{% verse "1" %}
Верю Тебе, Боже, Ты простил мой грех,
Кровию Своею искупил нас всех,
Из люблю решил Ты крест на плечи взять,
Жизнь отдать, чтоб Хлебом Жизни с нами пребывать.
Ты небесные врата открываешь нам,
Милосердно нас прощая.
{% endverse %}
{% verse "2" %}
Жизнь моя Ты, Боже, мой Господь и Бог,
Ты одна дорога среди всех дорог.
Истина и правда, свет во мраке дня,
Что во время страха смерти осветил меня.
И ничто не страшно мне, ведь теперь я Твой,
И меня Ты не оставишь.
{% endverse %}
{% verse "3" %}
Сила моя, Боже, лишь в Тебе одном,
Сын Твой мне защита и опора Он.
Он – мое спасенье среди бурь мирских
И устойчивая крепость от врагов моих.
С Ним пройду по жизни я и не упаду.
Боже, будь всегда со мною!
{% endverse %}
