---
name: 427
section: Духовные песни
title: Дай мне хоть знак, Спаситель
authors:
- К. А. М. Келли (1869-1942)
- К. А. М. Келли (1869-1942)
- Перевод: Александр Сибилев
---
{% macro chorus() %}
{% verse "Припев" %}
О, помоги постичь мне,
Дай осознать навек,
Какой ценой мог Ты, святой,
Взять на Себя мой грех.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Дай мне хоть знак, Спаситель,
Любви, что не понять,
Любви, что снизошла с небес,
Смерть за меня принять.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Был Ты прибит гвоздями
Не по моей ль вине?
А пуще всего любовью –
Любовью ко мне, ко мне.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Не чудо ль из чудес ли,
Что Агнцем без вины
Грехи мои несметные
Всецело прощены?
{% endverse %}
{{ chorus() }}
{% verse "4" %}
О, растопи мне сердце.
Меняй меня, Творец,
Пока не унаследую
Небесный свой венец.
{% endverse %}
{{ chorus() }}
