---
name: 428
section: Духовные песни
title: Царь моих кратких дней земных
authors:
- У. Дж. Киркпатрик (1838-1921)
- Дж. Э. Хасси (1874-1958)
- Перевод: Александр Сибилев
---
{% macro chorus() %}
{% verse "Припев" %}
Чтоб помнить Гефсиманию,
Помнить Твои страдания,
Чтоб не забыть любовь Твою,
Веди меня к кресту.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Царь моих кратких дней земных,
Вслед за Тобой иду.
Чтоб не забыть мне мук Твоих,
Веди меня к кресту.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ты мне покажешь место, где
С плачем был погребен.
Ангелы в светлой красоте
Там стерегли Твой сон.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Дай мне услышать нежный глас –
Тот, что Марию звал,
Тот, что в рассветный ранний час
Радостью наполнял.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Дай каждодневных сил страдать,
Крест свой земной нести.
Дай о Тебе не умолкать
Мне на земном пути.
{% endverse %}
{{ chorus() }}
