---
name: 429
section: Духовные песни
title: Скажи, Господь, что значит
authors: 
- Кретьен Юран, 1834
- Л. А. Беннетт (1850-1927)
- Перевод: Александр Сибилев
---
{% verse "1" %}
Скажи, Господь, что значит
Безумство злых людей
И древо, на котором
Страдал Ты, муж скорбей.
Скажи, какой ценою
Ты спас меня, скажи.
Дай осознать мне ценность
Одной живой души.
{% endverse %}
{% verse "2" %}
Скажи, Господь, что значит
Копьем пронзенный бок,
Воды с багряной кровью
Стекающий поток;
Что если согрешил бы
Один на свете я,
То и тогда б, Спаситель,
Ты умер за меня.
{% endverse %}
{% verse "3" %}
Скажи, Господь, что значит
Цена такой любви,
Любви недостижимой
Безмерной глубины.
Скажи, чтоб отразился
В душе моей глухой
Хотя бы слабый отблеск
Любви Твоей святой.
{% endverse %}
{% verse "4" %}
Скажи, Господь, что значит
Прощение грехов,
И сила благодати,
И высшая любовь.
O, как сейчас Ты нужен:
Надежды нет другой.
Я самый падший грешник,
Искупленный Тобой.
{% endverse %}
{% verse "5" %}
Хочу идти отныне
По узенькой тропе.
Пока еще зовешь Ты,
Я прихожу к Тебе.
Пока Ты принимаешь,
Склоняю я главу
И громко буду славить
Тебя, пока живу.
{% endverse %}
