---
name: 43
section: Рождество
title: Хор ангелов запел с небес
authors:
  - Германия, 1539
  - Мартин Лютер, 1543
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Хор ангелов запел с небес
И пастухам благую весть
Принес, и им он говорит:
Младенец в яслях возлежит.
{% endverse %}
{% verse "2" %}
Иисус Христос – Младенец тот,
Он вам спасение несет.
Родился ныне Царь царей,
Как предсказал пророк Михей.
{% endverse %}
{% verse "3" %}
Отныне смерть вам не страшна,
Не страшен ад и сатана
Теперь, когда пришел Господь,
Принявший вашу кровь и плоть!
{% endverse %}
{% verse "4" %}
Бог не оставит никого,
Лишь полагайтесь на Него.
Князь тьмы вас будет искушать,
Блажен, кто в силах устоять!
{% endverse %}
{% verse "5" %}
Кто будет верен до конца,
Тот удостоится венца.
Хвалу за эту благодать
Мы будем Богу воздавать!
{% endverse %}
