---
name: 430
section: Духовные песни
title: В скорбях устремившись к святым небесам
authors:
- И. Д. Санки (1840-1908)
- У. О. Кашинг (1823-1902)
- Перевод: Александр Сибилев
---
{% macro chorus() %}
{% verse "Припев" %}
В Тебе укрыт, в Тебе укрыт,
О, дивный Спаситель,
В Тебе я укрыт.
{% endverse %}
{% endmacro %}
{% verse "1" %}
В скорбях устремившись к святым небесам,
Душа моя ищет убежища там.
Устал я от бурь в каждодневной борьбе,
Мне благо, Спаситель, укрыться в Тебе.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
И в час тишины и в суетности дня,
Когда искушенья обступят меня,
Шагая вдоль бездны по узкой тропе,
Мне благо, Спаситель, укрыться в Тебе.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Как часто в сраженьях, теснимый врагом,
Покой обретал я в Тебе лишь одном.
Когда злилась буря, мне смертью грозя,
Ты был мне приютом, Твердыня моя.
{% endverse %}
{{ chorus() }}
