---
name: 431
section: Духовные песни
title: Твердо я верю Бог мой со мной
authors:
- Дж. Ф. Кнапп, 1873
- Ф. Дж. Кросби, 1873
- Перевод: Александр Сибилев
---
{% macro chorus() %}
{% verse "Припев" %}
Он обладатель всех моих дней,
Свет и надежда жизни моей.
Он обладатель всех моих дней,
Свет и надежда жизни моей.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Твердо я верю: Бог мой со мной.
В Нем возрожден я к жизни иной.
Дверь ко спасенью Он мне открыл,
Духом исполнил, кровью омыл.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
В Нем получил я дар неземной,
Слово отрады, полный покой.
Что за блаженство духом принять
Воду живую и благодать.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Жертвой невинной ад побежден.
Дивен мой Пастырь: Им я спасен.
Вот моя песня, вот мой псалом –
Вечная жизнь с Иисусом Христом.
{% endverse %}
{{ chorus() }}
