---
name: 432
section: Духовные песни
title: Когда этот мир пройдет
authors:
- Д. С. Бортнянский (1751-1825)
- Роберт Макшейн (1813-1843)
- Перевод: Александр Сибилев
---
{% verse "1" %}
Когда этот мир пройдет,
Когда солнце не взойдет,
Я познаю навсегда,
Но не раньше, чем тогда
Когда в вечность перейду,
Сколь обязан я Христу.
{% endverse %}
{% verse "2" %}
В час, когда труба, как гром,
Огласит весь мир кругом,
В час, когда во славе всей
Возвратится Царь царей,
В новом теле вдруг пойму
Сколь обязан я Ему.
{% endverse %}
{% verse "3" %}
Встав у трона перед Ним
По заслугам не своим –
Без порока, без греха
В свете славы на века,
Окончательно пойму
Сколь обязан я Ему.
{% endverse %}
{% verse "4" %}
Ты меня в Себе укрыл,
Духом правды освятил.
Научи меня любить,
Чтобы мог я подтвердить
Здесь, еще в земной судьбе,
Сколь обязан я Тебе.
{% endverse %}
