---
name: 433
section: Духовные песни
title: Из-за своей злости ныне стонет земля
authors:
- Пекка Симойоки
- Анна-Мари Каскинен
---
{% macro chorus() %}
{% verse "Припев" %}
Евангелие – наша радостная весть.
Евангелие может скалы одолеть.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Из-за своей злости ныне стонет земля,
В милости нуждаются все люди и я.
Ради нашей жизни шел Иисус умирать,
Мы теперь должны об этом всем рассказать.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Ты молись в смирении и честно трудись,
В остальных заботах на Творца положись.
Даже если сила твоя невелика,
Рядом всемогущего есть Бога рука.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Ни один народ Иисус Христос не забыл,
Всего мира грех Он на кресте искупил.
Пусть мы все на разных языках говорим –
Каждый для Спасителя незаменим.
{% endverse %}
{{ chorus() }}
