---
name: 434
section: Духовные песни
title: Креэта Хаапасало, финская кантелистка (1815-1893)
authors:
- Креэта Хаапасало, финская кантелистка (1815-1893)
- К. И. Нордлунд, 1871
---
{% verse "1" %}
Однажды мое кантеле на небе зазвучит.
Однажды мое кантеле на небе зазвучит.
Песнь радостная, новая польется с уст моих.
Песнь радостная, новая польется с уст моих.
{% endverse %}
{% verse "2" %}
Хвала Тебе, любимый мой Иисус, аллилуйя!
Хвала Тебе, любимый мой Иисус, аллилуйя!
Блажен тот день, когда к Тебе придет душа моя!
Блажен тот день, когда к Тебе придет душа моя!
{% endverse %}
