---
name: 435
section: Духовные песни
title: Есть на небе обитель, где дети живут
---
{% macro chorus() %}
{% verse "Припев" %}
(на ту же мелодию, что и куплет)
Дети счастье нашли, дети счастье нашли,
И их радости нету конца!
Вдалеке от земли дети счастье нашли,
В славном Царстве Иисуса Христа!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Есть на небе обитель, где дети живут,
Те, кто любит Иисуса Христа.
Они песни хвалебные Богу поют,
И одежда, как снег, их бела.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Золотые пути в это Царство ведут,
Всюду ангелы песни поют
Для Царя, Кто однажды страдал на кресте,
Кровь Свою проливал за детей.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
В это Царство придут, покидая наш мир,
Все, кто верен Христу до конца.
Нет там смерти, нет тьмы и страдания нет,
Там Господь дарит всем вечный свет!
{% endverse %}
{{ chorus() }}
