---
name: 437
section: Песнопения Taize
title: Будьте здесь, останьтесь со Мной
authors:
- Bleibet hier, Мф. 26:36-41
---
{% verse "Хор" %}
Будьте здесь, останьтесь со Мной,
Бдите, молитесь, бдите, молитесь.
{% endverse %}
{% verse "Солист" %}
Душа Моя скорбит смертельно.
Побудьте здесь и бодрствуйте со Мной.
Посидите тут, пока Я пойду, помолюсь там.
Бдите, молитесь, чтобы вам не впасть в искушение.
Бдите, молитесь, дух бодр, плоть же немощна.
{% endverse %}
