---
name: 438
section: Песнопения Taize
title: Qui regarde vers Dieu, Пс. 33:2-9
authors:
- Qui regarde vers Dieu, Пс. 33:2-9
---
{% verse "Хор" %}
На Тебя уповаю всякий день,
И имя Твое, Господь, прославляю!
Хвалу Тебе пою непрестанно.
{% endverse %}
{% verse "1" %}
Благословлю Господа во всякое время,
Хвала Ему непрестанно в устах моих.
Господом будет хвалиться душа моя,
Услышат кроткие и возвеселятся.
{% endverse %}
{% verse "2" %}
Величайте Господа со мною,
И превознесем Его имя вместе.
Я взалкал Господа, и Он услышал меня
И от всех опасностей моих избавил меня.
{% endverse %}
{% verse "3" %}
Кто обращал взор свой к Нему, те просвещались,
И лица их не постыдятся.
Се, нищий воззвал, и Господь услышал
И спас его от всех бед его.
{% endverse %}
{% verse "4" %}
Ангел Господень ополчается вокруг боящихся Его
И избавляет их.
Вкусите, и увидите, как благ Господь!
Блажен человек, который уповает на Него!
{% endverse %}
