---
name: 439
section: Песнопения Taize
title: Лишь в Господе найдет покой душа
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Лишь в Господе найдет покой душа.
Мое спасенье в Нем.
В воле Господней сердце обретает покой всегда.
{% endverse %}