---
name: 44
section: Рождество
title: Мир так прекрасен
authors:
  - Германия, 1842
  - Бернхард Северин Ингеманн, 1850
  - Перевод: Павел Крылов, 2000
---
{% verse "1" %}
Мир так прекрасен,
Свет звезды так ясен,
И с пути паломникам не свернуть.
Через всю землю
Радость возносим,
И к небесам ведет наш путь.
{% endverse %}
{% verse "2" %}
Время проходит,
Годы пролетают,
И уходят в прошлое имена.
Но и сегодня
Ангелов светлых
Благая весть с небес слышна.
{% endverse %}
{% verse "3" %}
Ее впервые
Пастухам пропели
Ангелы, чтобы весь мир узнал:
Господу слава,
Мир добрым людям,
Ведь нам Иисус надежду дал.
{% endverse %}
