---
name: 440
section: Песнопения Taize
title: Только в Господе моя радость
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Только в Господе моя радость.
Только в Господе мир.
Только в Боге мы сильны.
Он рядом с нами, Он слышит нас!
Он рядом с нами, Он слышит нас!
{% endverse %}