---
name: 441
section: Песнопения Taize
title: Тьма ночная не станет тьмою никогда
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Тьма ночная не станет тьмою никогда.
Во тьме сияет Твой свет, о Боже!
{% endverse %}