---
name: 442
section: Песнопения Taize
title: Не утомится в пути тот, кто горит любовью
authors:
- El alma que anda en amor, 1 Кор. 13
---
{% verse "1" %}
Не утомится в пути тот, кто горит любовью.
{% endverse %}
{% verse "Солист" %}
Любовь долготерпит, милосердствует, не завидует, не превозносится.
Не бесчинствует, не ищет своего, не раздражается, не мыслит зла.
Не радуется неправде, а сорадуется истине.
{% endverse %}