---
name: 443
section: Песнопения Taize
title: Confitemini Domino, quoniam bonus
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Confitemini Domino, quoniam bonus.
Confitemini Domino, alleluia.
{% endverse %}
{% verse "2" %}
Мы благодарим Господа, ибо Он благ!
Мы благодарим Господа, аллилуйя!
{% endverse %}
