---
name: 444
section: Песнопения Taize
title: Adoramus te O Christe.
---
{% verse "0" %}
Adoramus te O Christe.
{% endverse %}
{% verse "1" %}
Иисус – путь, истина и жизнь.
Иисус – наш Спаситель.
Иисус – Пастырь добрый.
{% endverse %}
{% verse "2" %}
Иисус – Хлеб истинный с небес.
Сокровенная манна.
Свет и Солнце правды.
{% endverse %}
{% verse "3" %}
Иисус – крепость силы моей.
Иисус – мой наставник.
Утешенье мое.
{% endverse %}
