---
name: 445
section: Песнопения Taize
title: Gloria, gloria in excelsis Deo!
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Gloria, gloria in excelsis Deo!
Gloria, gloria, alleluia!
{% endverse %}
{% verse "2" %}
Слава, слава, слава в вышних Богу!
Слава, слава, аллилуйя, аллилуйя!
{% endverse %}

Буквы A, B, C и D в окружности показывают вступление голосов канона