---
name: 446
section: Песнопения Taize
title: Exaltabo te, Deus meus, alleluia, alleluia!
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Exaltabo te, Deus meus, alleluia, alleluia!
Et laudabo te, Deus meus, et laudabo te, alleluia!
{% endverse %}
{% verse "2" %}
Восхвалите Господа Бога! Аллилуйя, аллилуйя!
И прославьте Господа Бога, и прославьте все, аллилуйя!
{% endverse %}