---
name: 447
section: Песнопения Taize
title: Jesu Christe, in Te confido
---
{% verse "0" %}
Jesu Christe, in Te confido.
{% endverse %}
{% verse "Солист" %}
Радоваться буду о милости Твоей,
Ибо Ты призрел на горесть мою.
На Тебя, Господи, уповаю,
Говорю: Ты мой Бог.
В Твоей руке дни мои,
Избавь меня от врагов моих.
{% endverse %}