---
name: 448
section: Песнопения Taize
title: Magnificat, magnificat, magnificat anima mea Dominum
---
{% verse "1" %}
Magnificat, magnificat, magnificat anima mea Dominum.
{% endverse %}

Буквы A, B, C и D в окружности показывают вступление голосов канона