---
name: 449
section: Песнопения Taize
title: Laudate Dominum, laudate Dominum
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Laudate Dominum, laudate Dominum,
Omnes gentes, alleluia, alleluia!
{% endverse %}
{% verse "2" %}
Хвалите Господа, хвалите Господа
Все народы, аллилуйя!
{% endverse %}