---
name: 450
section: Песнопения Taize
title: Oculi nostri ad Dominum Jesum
authors:
- Жак Бертье (1923-1994)
---
{% verse "1" %}
Oculi nostri ad Dominum Jesum,
Oculi nostri ad Dominum nostrum.
{% endverse %}
{% verse "2" %}
К Господу Богу поднимем мы взоры,
К Господу Богу поднимем мы взоры.
{% endverse %}