---
name: 451
section: Катехизис
title: С высот Своих с горы Синай
authors:
- 13 век
- Мартин Лютер, 1524
- Перевод: Мария Савицкая, 2010
---
{% verse "1" %}
С высот Своих с горы Синай
Святые Заповеди нам
Господь Отец наш даровал,
Чтоб каждый в сердце их слагал.
Kyrieleis.
{% endverse %}
{% verse "2" %}
Лишь только я, Господь-Отец,
Доверься – поведу тебя,
Всего прекрасного Творец,
Всем сердцем возлюби Меня.
Kyrieleis.
{% endverse %}
{% verse "3" %}
Пусть будет свято для тебя
Звучанье имени Творца,
Произноси его, любя
И уповая до конца.
Kyrieleis.
{% endverse %}
{% verse "4" %}
Воскресный день нам подарил
Господь, чтоб быть в покое нам.
Оставим все дела свои,
Чтоб волю Он Свою свершал.
Kyrieleis.
{% endverse %}
{% verse "5" %}
Тебе Господь отца и мать
Единственных в сей жизни дал.
Тебе их должно почитать –
Продлятся тем твои года.
Kyrieleis.
{% endverse %}
{% verse "6" %}
Из сердца злую мысль гони,
Своих врагов благословляй.
Молись за них, а не кляни.
Терпенье, кротость обретай.
Kyrieleis.
{% endverse %}
{% verse "7" %}
Свой брак ты в святости храни
И в сердце не впускай соблазн.
Да будет дух у вас един
И плоть единая у вас.
Kyrieleis.
{% endverse %}
{% verse "8" %}
Необходимым всем тебя
Господь Создатель одарил,
Чтоб мог ты мир сей созидать.
Его за всё благодари.
Kyrieleis.
{% endverse %}
{% verse "9" %}
Напрасных слов не говори,
Не лги на ближнего ни в чем.
Да будут лишь слова любви
Твоим даяньем для него.
Kyrieleis.
{% endverse %}
{% verse "10" %}
И не завидуй ты тому,
Кто больше в мире приобрел.
Пусть будет жизнь твоя ему
Примером веры, дел и слов.
Kyrieleis.
{% endverse %}
{% verse "11" %}
Закон сей Богом дан для нас,
Чтоб осознать сумели мы,
Что сердце в злобе каждый час,
Грехом полны все наши дни.
Kyrieleis.
{% endverse %}
{% verse "12" %}
Закон исполнить не сильны,
Иисус, нас милостью Своей
Спаси! К Тебе взываем мы,
О, радость нашей жизни всей.
Kyrieleis.
{% endverse %}
