---
name: 452
section: Катехизис
title: Мы в Бога веруем Отца
authors:
- Мартин Лютер, 1524
- Перевод: Общество изучения истории лютеранской музыки, 2007
---
{% verse "1" %}
Мы в Бога веруем Отца.
Пусть Его святится имя!
Он истинный великий Бог,
Нас назвал детьми своими.
Нас хранит во всех невзгодах
Преблагой и Всемогущий.
Хлеб дарует нам насущный
Господь год за годом.
Свою защиту нам Господь всегда дает.
Нас к вечной радости ведет.
В Иисуса веруем Христа.
Божий Сын Единородный
За грех наш жертвою предстал,
От греха нам дал свободу.
Был рожден Марией Девой,
Духа силою Святого.
Человеком стал Он, как и мы,
Дал нам радость жизни новой,
Своею кровью нам спасенье даровал
И к вечной жизни нас призвал.
И во Святого Духа веруем:
Нас хранит от искушений
И нам среди земных сует
Он дарует утешенье.
Он Свою Святую Церковь
День и ночь оберегает,
Телу и душе дарует мир,
К свету верных направляет.
Святым Духом мы к Отцу приведены,
Единой верой спасены.
Аминь. Аминь.
{% endverse %}