---
name: 453
section: Катехизис
title: О Отче наш на Небесах!
authors:
- Мартин Лютер, 1539
- Мартин Лютер, 1539
- Перевод: Михаил Левин (Россия, совр.)
---
{% verse "1" %}
О Отче наш на Небесах!
Все наша жизнь в Твоих руках.
Своими нас назвал детьми,
Хвалу из грешных уст прими!
Мольба не от одних лишь уст,
От сердца вознесется пусть!
{% endverse %}
{% verse "2" %}
Святится имя пусть Твое,
Мы Словом лишь Твоим живем,
Дай сердце чистым сохранить,
В ученье истинном пребыть,
Все обольщенья отведи,
От лжеучений огради!
{% endverse %}
{% verse "3" %}
Твое пусть Царствие придет,
Где верующий оживет,
Пребудь же в нас, о Дух Святой,
Свои дары для нас открой
И князя тьмы Ты отгони,
Святую Церковь сохрани!
{% endverse %}
{% verse "4" %}
И воле преблагой Твоей
Пусть покорится на земле
Всё так же, как на небесах!
Терпенье в наших дай скорбях!
Христа Святая Плоть и Кровь
Пусть даст нам мир Твой и любовь!
{% endverse %}
{% verse "5" %}
О, дай насущный хлеб для нас
Сегодня и во всякий час,
Нас охрани Своей рукой
От распрей, голода и войн!
В забвении мирских хлопот
Наш дух покой да обретет!
{% endverse %}
{% verse "6" %}
Прости долги, о Боже, нам,
Как мы прощаем должникам.
Дай помнить нам в беде любой,
Как велика Твоя любовь,
Ты все обиды и грехи
Своею Кровью искупил.
{% endverse %}
{% verse "7" %}
Нас в искушенье не введи,
Скорей на помощь к нам приди,
Когда нас дух терзает злой,
Грех отведи Своей рукой!
Дай Духа Твоего принять
И в вере твердой устоять!
{% endverse %}
{% verse "8" %}
От всяких зол Ты нас избавь,
В греховном тленье не оставь,
От вечной смерти сбереги,
В последней скорби помоги,
Покой и радость дай сердцам,
Даруй Свою защиту нам!
{% endverse %}
{% verse "9" %}
Аминь! Теперь и впредь всегда
Будь, Боже, с нами до конца,
Своим нас Словом наставляй,
Любовь и веру укрепляй.
Молитвы наши не отринь.
Тебе хвалу поем. Аминь.
{% endverse %}
