---
name: 454
section: Катехизис
title: Пришел Господь на Иордан
authors:
- Виттенберг, 1524
- Мартин Лютер, 1541
---
{% verse "1" %}
Пришел Господь на Иордан
По воле Вышнего, Отца,
Крестил Его там Иоанн,
Исполнив правду до конца.
Святое омовенье
Нас очистит всех от скверны.
Бог нас Своею кровью спас,
Об этом знаем верно.
Любовь Его безмерна.
{% endverse %}
{% verse "2" %}
Познаем сердцем и душой,
Что Бог дает в Крещенье.
Оно для нас – завет святой
И щит от лжеученья.
Должны креститься мы водой,
Но не вода – основа:
Дух Божий здесь в воде со мной,
Его Святое Слово.
Господь – один Креститель мой!
{% endverse %}
{% verse "3" %}
Всё это Бог нам показал
И словом, и явленьем,
Над Иорданом глас звучал,
Глас Отчий при Крещенье.
Сказал: «Вот Мой любимый Сын,
И в Нем Моя к вам милость,
Ко Мне ведет лишь Он один,
В Нем жизнь для вас явилась.
Он правде вас научит».
{% endverse %}
{% verse "4" %}
Сам Божий Сын в воде стоит,
Принявший немощь тела,
И Дух Святой с небес летит –
В сиянье голубь белый.
Сомненье всякие отбрось,
Ведь при Святом Крещенье
В Трех Лицах предстает Господь,
Он в нас чрез омовенье
Свою творит обитель.
{% endverse %}
{% verse "5" %}
Он повелел ученикам:
«Идите в мир с ученьем,
Сердца людей объяла тьма,
Несите им спасенье.
Пусть каются и верят все:
Мир обретут в Крещенье,
Рожденный свыше человек
Пройдет чрез плоти тленье
И встретит воскресенье».
{% endverse %}
{% verse "6" %}
Кто отвергает благодать,
В грехах тот губит сердце,
Лишь смерти может ожидать,
И ад его наследство.
Спасенья нет в людских делах,
Напрасны все старанья:
Адамов грех сметает в прах
Пустое упованье
На самооправданье.
{% endverse %}
{% verse "7" %}
Наш плотский глаз лишь воду зрит
В купели омовенья,
Но в Духе вера мощь таит
И подвиг искупленья.
С души моей смывает грех
Поток Господней крови,
Меня Он спас от бедствий всех,
Адам же ветхий тонет
С наследием греховным.
{% endverse %}
