---
name: 455
section: Катехизис
title: Смертью смерть попрал Спаситель наш Иисус
authors:
- Эрфурт, 1524
- Предположительно Архиепископ Праги Ян II из Йенштейна (1347-1400)
- Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Смертью смерть попрал Спаситель наш Иисус,
Грех наш уничтожил, спас от смертных уз.
Волею Своею смерть избрал
И, воскреснув, дал нам вечной жизни дар.
{% endverse %}
{% verse "2" %}
Вспоминаем мы теперь Твои слова:
«Тело предается, льется Кровь за вас».
Тело дал нам в хлебе, кровь – в вине.
Дар Твой драгоценный мы вкушаем все.
{% endverse %}
{% verse "3" %}
Духом нас утешь и все грехи прости,
Будь надеждой нашей на земном пути.
Пусть скорбящий брат в Тебе найдет
Горя разрешенье и любви оплот.
{% endverse %}
{% verse "4" %}
Подходя к Дарам, испытывай себя.
Иисус, коль веришь, укрепит тебя.
Если и в сомненьях ты в сей час,
Господу доверься, милует Он нас.
{% endverse %}
{% verse "5" %}
Не надейся ты на праведность свою,
Все грехи в смиренье принеси Христу.
«Жаждущий, иди ко Мне и пей», -
Так сказал Господь по милости Своей.
{% endverse %}
{% verse "6" %}
Так смирись же в упованье на Него.
Умер на кресте Он только для того,
Жизни чтоб венец тебе вручить
И в Небесном Царстве в теле воскресить.
{% endverse %}
{% verse "7" %}
Весь грех мира взял Он и на крест вознес,
Жизни обещанье в падший мир принес:
«Грешник, приходи теперь ко Мне,
Веруй непреложно, все прощу тебе».
{% endverse %}
{% verse "8" %}
Вот склоняюсь я к святому Алтарю,
С верою вкушаю и благодарю.
Дай, Господь, мне с радостью принять
От Тебя прощенье, Духа благодать.
{% endverse %}
{% verse "9" %}
Иисус Господь, Собой питаешь нас,
Здесь Твои мы братья в сей блаженный час.
Слава и хвала Тебе вовек
В племенах и родах, Бог и Человек!
{% endverse %}
