---
name: 456
section: Катехизис
title: Из сердца глубины мой глас
authors:
- Мартин Лютер, 1524
- Мартин Лютер, 1524 (в основу положен текст Пс. 129)
---
{% verse "1" %}
Из сердца глубины мой глас
К Тебе, Господь, взывает.
Услышь мой вопль. В сей трудный час
Весь дух мой изнывает.
Коль станешь Ты на грех взирать,
Кто в состоянье устоять,
Господь, перед Тобою?
{% endverse %}
{% verse "2" %}
Твоей лишь милостью мы все
Спасенье обретаем,
И в самом праведном житье
Всё тщетно, что свершаем.
Хвалиться нечем пред Тобой.
Но Ты прощаешь – лишь одной
Мы милости той чаем.
{% endverse %}
{% verse "3" %}
На Бога буду уповать,
Не на свои дела я,
Его святую благодать
Всем сердцем сознавая.
Мне в Слове благодать сия
Обещана, и верю я:
Она моя отрада.
{% endverse %}
{% verse "4" %}
Хотя б с утра до тьмы ночной
Я ждал Тебя, томился,
В Твоей бы власти надо мной
В душе не усомнился.
И снова Духом возрожден,
И снова верою силен –
На Бога уповаю.
{% endverse %}
{% verse "5" %}
Как в нас вина ни велика,
Нас Бог не оставляет,
И грех любой Его рука
С души моей снимает.
Один лишь верный Пастырь Он!
Мир грешный будет Им спасен
От зла и беззаконья.
{% endverse %}
