---
name: 46
section: Рождество
title: Придите к Младенцу
authors:
  - На основе латинского гимна Adeste fideles
  - Дж. Ф. Вейд, 1743 
  - Перевод: Д. А. Ясько
---
{% macro chorus() %}
{% verse "Припев" %}
Придите поклониться,
Придите поклониться,
Придите поклониться,
Господу!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Придите к Младенцу,
Верные, с весельем!
Придите скорее к Нему в Вифлеем!
Царь нам родился,
Царь всего творенья!
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Небесные хоры,
Пойте с ликованьем,
Небесные силы, звучите хвалой!
Слава во веки,
Слава в вышних Богу!
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Иисус наш, с молитвой
Мы к Тебе приходим,
Тебе честь и славу от сердца поем,
Вечное Слово
К нам пришло во плоти.
{% endverse %}
{{ chorus() }}
