---
name: 47
section: Рождество
title: О, пречудное! О, блаженное!
authors:
  - И. Д. Фальк, 1819
  - Германия, 1779
  - Перевод: Рабочая группа ЕЛЦИ,
  - на основе перевода Б. Казачкова, 1992
---
{% verse "1" %}
О, пречудное! О, блаженное,
Благодатное Рождество!
Мир во тьме томился,
Но Христос родился!
Возликуй же, возликуй, Христов народ!
{% endverse %}
{% verse "2" %}
О, пречудное! О, блаженное,
Благодатное Рождество!
В мир Христос явился,
Божий свет открылся!
Возликуй же, возликуй, Христов народ!
{% endverse %}
{% verse "3" %}
О, пречудное! О, блаженное,
Благодатное Рождество!
Ангельское пенье
Воздает хваленье.
Возликуй же, возликуй, Христов народ!
{% endverse %}
