---
name: 48
section: Рождество
title: С небес сошел я, чтоб принесть
authors:
  - Германия, 1539
  - Мартин Лютер, 1535
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
С небес сошел я, чтоб принесть
Благую радостную весть;
Повсюду эту весть мою
Поведаю и воспою.
{% endverse %}
{% verse "2" %}
Вас, грешных, ради воплощен,
Пречистой Девою рожден
Младенец чудный, жизни клад,
Источник ваших всех отрад.
{% endverse %}
{% verse "3" %}
Младенец сей, Иисус Христос,
Пусть вас хранит от бед и слез;
Он Искупитель ваш и Спас,
Он от греха избавит вас.
{% endverse %}
{% verse "4" %}
Внемлите все: Младенец тот,
Который всех людей спасет,
Дарован нам, лежит в яслях
На сене, в скромных пеленах.
{% endverse %}
{% verse "5" %}
Хвала Отцу на небесах!
Он побеждает смерть и страх.
И сердце будет ликовать:
Дарована нам благодать!
{% endverse %}
