---
name: 49
section: Рождество
title: Христов народ, хвали Творца
authors:
  - Музыка: Николай Герман, 1554
  - Слова: Николай Герман, 1560
  - Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Христов народ, хвали Творца
На троне в небесах,
Открыл Он ныне Царство нам
И Сына нам послал,
И Сына нам послал.
{% endverse %}
{% verse "2" %}
Он от Отца к нам снизошел,
Ребенком малым стал.
В яслях пастух Его нашел,
Как Ангел возвещал,
Как Ангел возвещал.
{% endverse %}
{% verse "3" %}
Всю мощь Свою с Себя сложил
И вид раба принял,
Унижен Тот, Кто создал мир,
Царь славы скорбь избрал,
Царь славы скорбь избрал!
{% endverse %}
{% verse "4" %}
Для нас Он чудо совершил:
Одним из нас Он стал,
А нам мир Царствия вручил,
Вдохнул в нас Дух Отца,
Вдохнул в нас Дух Отца.
{% endverse %}
