---
name: 5
section: Адвент
title: Всей душой Тебя мы жаждем
authors:
  - Е. Коско (Польша, совр.)
  - с. Имельда М. (Польша, совр.)
---
{% macro chorus() %}
{% verse "Припев" %}
Ты – Господь, Ты – наш Бог,
Ищем мы Тебя,
Ты – Господь, Ты – наш Бог,
Ищем мы Тебя.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Всей душой Тебя мы жаждем
И с тоскою ожидаем.
Как воды земля сухая,
Наше сердце ждет Тебя.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Славу и Твое величье
Мы желаем видеть в Церкви,
Ведь любовь Твоя, о, Боже,
Нам дороже жизни всей.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Мы Тебя, о, Боже правый,
В этой жизни будем славить.
Пусть наполнит душу радость –
Сердце вознесем к Тебе.
{% endverse %}
{{ chorus() }}
