---
name: 50
section: Рождество
title: Сегодня славят все Творца
authors:
  - Музыка: Германия, 1533
  - Текст: Латинско-немецкий гимн In dulci jubilo, 14 век
  - Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Сегодня славят все Творца,
Ликуют и поют сердца:
Близко к нам спасенье,
Блаженство наше здесь в яслях!
Воздадим хваленье!
Он у Марии на руках –
Иисус Христос, Иисус Христос.
{% endverse %}
{% verse "2" %}
Сын Божий в высоте небес,
О, как тоскую по Тебе,
Ты мне Утешенье.
Младенец чистый и святой,
К Тебе мое стремленье.
Господь, приди, пребудь со мной,
Снизойди ко мне, снизойди ко мне!
{% endverse %}
{% verse "3" %}
Отец нам милость сотворил:
Сын Божий грех наш искупил.
Все мы погибали
Во лжи, пороках и грехах,
Но нас освободил Он
Для царства радости в веках.
С Ним пребудем там, с Ним пребудем там.
{% endverse %}
