---
name: 51
section: Рождество
title: Стерегших стадо пастухов
authors:
  - Музыка: Г. В. Финк, 1842
  - Текст: Наум Тейт, 1700
  - Перевод: Д. А. Ясько
---
{% verse "1" %}
Стерегших стадо пастухов,
Сидевших в тьме ночной,
Господень Ангел озарил
Вдруг славой неземной.
«Не бойтесь!» - Ангел ободрял
Дрожавших перед ним. –
Я возвещаю радость вам:
Христос явился в мир!
{% endverse %}
{% verse "2" %}
Давидов город славным стал:
Спаситель там рожден,
Явился в мир Христос Господь,
Владыка всех племен.
И вот вам знак: найдете вы
Не царской славы вид:
Повит Младенец в пелены
И в яслях Он лежит".
{% endverse %}
{% verse "3" %}
Явились ангелы с небес
И в тишине ночной
Пропели радостную песнь
Над скорбною землей:
"О, слава в вышних Богу сил!
Мир людям на земле:
Благоволенье Бог явил
К томящимся во мгле!"
{% endverse %}
