---
name: 52
section: Рождество
title: О малый город Вифлеем
authors:
  - Музыка: Л. Г. Реднер, 1868
  - Текст: Филлипс Брукс, 1868
---
{% verse "1" %}
О малый город Вифлеем,
Ты спал спокойным сном,
Когда рождался новый день
В безмолвии ночном.
Внезапно тьму рассеял
Небесный дивный свет:
Родился Тот, кого народ
Ждал много, много лет.
{% endverse %}
{% verse "2" %}
Сошел Христос в долину слез,
Чтоб в небо нас привесть,
И в мир земной с небес пришла
Евангельская весть.
О звезды, весть о Чудном
Несите вдаль и вширь
И пойте песнь Тому, Кто есть,
Кто всем дарует мир.
{% endverse %}
{% verse "3" %}
В тиши ночной дар неземной
Спустился к нам с высот,
Людским сердцам Господь всегда
Дары в тиши дает.
Неслышно и незримо,
Средь шума, бурь и гроз
В мир, смертной тьмой объятый,
Является Христос.
{% endverse %}
{% verse "4" %}
О Божий Сын, нас не отринь,
Приди в любви Своей,
Грех изгони и в наши дни
Родись в сердцах людей!
Хор ангелов небесных
Поет о Боге сил.
Явись сейчас, пребудь средь нас,
Иисус-Эммануил!
{% endverse %}
