---
name: 53
section: Рождество
title: У яслей я Твоих стою
authors:
  - Музыка: И. С. Бах, 1736
  - Текст: Пауль Герхардт, 1653
  - Перевод: Рабочая группа ЕЛЦИ, 2013, на основе перевода Н. Юргенсон
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
У яслей я Твоих стою,
Христос, мой покровитель,
И в дар Тебе все отдаю,
Что Ты мне дал, Спаситель!
Прими мой ум, мой дух прими
И душу, сердце все возьми
Ты в вечное владенье.
{% endverse %}
{% verse "2" %}
Ведь раньше, чем я был рожден,
Ты для меня родился,
Во имя я Твое крещен,
Ты дивно мне открылся.
Ты до рожденья моего
С любовию обдумал всё
И стал моим спасеньем.
{% endverse %}
{% verse "3" %}
Я тьмой ночною был объят, -
Ты для меня стал Светом,
И Твой Завет всегда мне свят
Повсюду в мире этом.
Ты - солнце, что мне веры свет
Дало, которым я согрет;
Лучи Твои прекрасны!
{% endverse %}
{% verse "4" %}
Пред дивным Светом тем - ничто
Все радости земные,
Ты снизошел к нам для того,
Чтоб дать блага иные:
Страданья наши умалить
И утешеньем одарить.
Хвала Тебе, Спаситель!
{% endverse %}
{% verse "5" %}
В одном, Христос, надеюсь я,
Отказа мне не будет:
Пусть впредь всегда душа моя
Твоим жилищем будет.
Чтоб Ты вовек во мне мог жить,
Дай яслями Твоими быть,
Пребудь со мной, Спаситель!
{% endverse %}
