---
name: 54
section: Рождество
title: Во тьму веков та ночь уж отступила
authors:
  - Шведская мелодия, 16 век
  - В. Соловьев (1853-1900), «Имману-Эль»
---
{% verse "1" %}
Во тьму веков та ночь уж отступила,
Когда, устав от злобы и тревог,
Земля в объятиях неба опочила,
И в тишине родился С-Нами-Бог.
{% endverse %}
{% verse "2" %}
И многое уж невозможно ныне:
Цари на небо больше не глядят,
И пастыри не слушают в пустыне,
Как ангелы про Бога говорят.
{% endverse %}
{% verse "3" %}
Но вечное, что в эту ночь открылось,
Несокрушимо временем оно,
И Слово вновь в душе твоей родилось,
Рожденное под яслями давно.
{% endverse %}
{% verse "4" %}
Да! С нами Бог – не там, в шатре лазурном,
Не за пределами бесчисленных миров,
Не в злом огне и не в дыханье бурном,
И не в уснувшей памяти веков.
{% endverse %}
{% verse "5" %}
Он здесь, теперь, - средь суеты случайной,
В потоке мутном жизненных тревог.
Владеешь ты всерадостною тайной:
Бессильно зло; мы вечны; с нами Бог!
{% endverse %}
