---
name: 55
section: Рождество
title: Святая, радостная песнь
authors:
  - Р. Виллис, 1850
  - Э. Сирс, 1849
  - Перевод: Н. Волкославская, 1994
---
{% verse "1" %}
Святая, радостная песнь
Лилась с небес ночных:
Играли ангелы хвалу
На арфах золотых.
Внимала тихо вся земля
Аккордам неземным,
Мерцали звезды в вышине,
Дивясь словам святым.
{% endverse %}
{% verse "2" %}
Всем людям – мир и благодать,
Прощенье и покой:
Пришел Сын Божий в грешный мир
Избавить род людской.
Летели ангелы в ночи,
И в волнах песни их
Тонули звуки всех забот
И всех тревог людских.
{% endverse %}
{% verse "3" %}
О вы, уставшие в пути
Под бременем невзгод,
Послушайте, как в этот час
Хор ангелов поет.
Настал тот долгожданный час,
Склонились небеса –
Для всех страдальцев ныне Бог
Свершает чудеса!
{% endverse %}
