---
name: 56
section: Рождество
title: Царь мира родился не в царских дворах
authors:
  - В. Киркпатрик
  - Из “Little Children’s Book”, 1885
  - Перевод: Н. Щеглова, 1994
---
{% verse "1" %}
Царь мира родился не в царских дворах,
Не в шумной столице, а в тихих краях.
Колючее сено Младенца постель,
Овечья кормушка - его колыбель.
{% endverse %}
{% verse "2" %}
Спаситель родился в убогом хлеву,
Небесные ангелы пели Ему,
И тихие звезды глядели с высот,
Как Первенца в ясли Мария кладет.
{% endverse %}
{% verse "3" %}
Спаситель и ныне живет не в дворцах,
А в кротких, смиренных и чутких сердцах.
Чтоб вечное царство наследовать мне,
Он нищим родился на грешной земле.
{% endverse %}
