---
name: 57
section: Рождество
title: Весть несется над землей. Аллилуйя!
authors:
  - Богемия, 15 век
  - Богемия, 15 век
---
{% verse "1" %}
Весть несется над землей. Аллилуйя!
В мир родился Царь царей. Аллилуйя!
Бог спасенье ныне
Подарил нам в Сыне,
Подарил нам в Сыне.
{% endverse %}
{% verse "2" %}
Слава Богу в небесах! Аллилуйя!
Сын оставил трон Отца. Аллилуйя!
Бог спасенье ныне
Подарил нам в Сыне,
Подарил нам в Сыне.
{% endverse %}
{% verse "3" %}
Радуйся, земля, и пой! Аллилуйя!
Бог нас примирил с Собой. Аллилуйя!
Он спасенье ныне
Подарил нам в Сыне,
Подарил нам в Сыне.
{% endverse %}
