---
name: 58
section: Рождество
title: Радуйся, мир! Господь грядет
authors:
  - Г. Ф. Гендель, 1742
  - И. Уоттс, 1719
  - Перевод: Д. А. Ясько
---
{% verse "1" %}
Радуйся, мир! Господь грядет.
Земля, ликуй пред ним!
Прими скорей Царя царей,
Прими скорей Царя царей,
И пойте новый гимн,
И пойте новый гимн,
И пойте, пойте новый гимн!
{% endverse %}
{% verse "2" %}
Радуйся, мир! Христос пришел.
В церквах поют о Нем.
Поля, сады, леса, холмы,
Поля, сады, леса, холмы
Им вторят с торжеством,
Им вторят с торжеством,
Им вторят, вторят с торжеством.
{% endverse %}
{% verse "3" %}
Чтоб грех не ослеплял народ,
Чтоб терны не росли,
Он жизнь дает, снимает гнет,
Он жизнь дает, снимает гнет
Во всех концах земли,
Во всех концах земли,
Во всех, во всех концах земли.
{% endverse %}
{% verse "4" %}
Принес Он мир и благодать,
Чтоб все могли познать,
Как Бог велик и справедлив,
Как Бог велик и справедлив,
Как нас Он возлюбил,
Как нас Он возлюбил,
Как нас, как нас Он возлюбил.
{% endverse %}
