---
name: 59
section: Новый год
title: Как светел Твой предвечный лик
authors:
  - Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% macro chorus() %}
{% verse "Припев" %}
Тебе и слава, и хвала,
Премудры все твои дела,
О Боже безначальный.
{% endverse %}
{% endmacro %}
{% verse "1" %}
Как светел Твой предвечный лик,
Господь, миров Создатель.
Ты бесконечен и велик,
Всех благостей податель.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Вот новый год открыл врата,
И каждый ожидает,
Что имя вечное Христа
Над нами воссияет.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Тебе покорны все века
И этот год грядущий,
И всех ведет Твоя рука,
Ты Царь, от века сущий.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Господь, пусть этот год для нас
Не будет дар напрасный,
Пусть станут каждый день и час
Во всем Тебе подвластны.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Благослови грядущий год
И нас, Тебе покорных,
И пусть он всех к Тебе ведет
Тропой нерукотворной.
{% endverse %}
{{ chorus() }}
