---
name: 6
section: Адвент
title: Всем, кто в мире слезы льет
authors:
  - Германия, конец 17 – начало 18 вв
  - Ф. Дёрр (Германия, 1908-1993)
  - Перевод: А. Койгерова-Назаренко (Россия, совр.)
---
{% verse "1" %}
Всем, кто в мире слезы льет,
Весть благую возвещайте:
Скоро наш Господь придет,
Бога радостно встречайте.
Бог спасение дает, тем кто ждет
{% endverse %}
{% verse "2" %}
Бог с любовью к нам грядет.
Обратитесь и покайтесь!
Он избрал нас в Свой народ.
С ликованьем приближайтесь!
Бог спасение дает всем, кто ждет.
{% endverse %}
{% verse "3" %}
Он пустыню наших душ
Оросит живой водою.
Горькую слезу отрет
И возьмет Он нас с Собою.
Бог спасение дает всем, кто ждет.
{% endverse %}
