---
name: 60
section: Новый год
title: Великий Бог, рукой Своей
authors:
  - Германия, 1828
  - Ф. Додридж, 1755
---
{% verse "1" %}
Великий Бог, рукой Своей
Ты нас хранил от юных дней,
Храни и в наступивший год
От всяких бедствий и невзгод.
{% endverse %}
{% verse "2" %}
Вдали, вблизи, мы день за днем
Твоей лишь благостью живем,
Ты посылаешь снег и дождь
И хлеб насущный нам даешь.
{% endverse %}
{% verse "3" %}
За прошлое благодарим,
Что будет с нами - знаешь Ты.
Слагаем всё к ногам Твоим:
Надежды, планы и мечты.
{% endverse %}
{% verse "4" %}
В счастливых днях или в беде
Ты - наша радость и покой...
Не оставляешь Ты в стыде
Того, кто льнет к Тебе душой.
{% endverse %}
