---
name: 61
section: Новый год
title: О Иисусе милосердный
authors:
  - Иоганн Шоп, 1642
  - Иоганн Рист, 1642
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисусе милосердный,
В этот год, что наступил,
Помоги найти путь верный,
В новый год дай новых сил,
Дай нам в горести смиренье,
Послушанье и терпенье.
{% endverse %}
{% verse "2" %}
Направляй Твоим желаньем
Все поступки и слова,
Мысли наши и деянья,
Огради нас ото зла;
Дай нам силы и уменье
Исполнять Твои веленья.
{% endverse %}
{% verse "3" %}
Год сей годом обновленья,
Боже, сделай Ты для нас;
Не о смерти – о прощенье
Говорит пусть каждый час,
Ведь отчаяньем, тоскою
Я свои грехи не смою.
{% endverse %}
{% verse "4" %}
Нас от бед, от искушенья
Охранит Твоя любовь;
К новой жизни нас от тленья
Возрождает вера вновь,
И, расставшись с сей землею,
Будем вечно мы с Тобою.
{% endverse %}
