---
name: 62
section: Новый год
title: Хвала Тебе да будет
authors:
  - Мельхиор Вульпиус, 1609
  - Иоганн Герман, 1591
  - Перевод: Рабочая группа ЕЛЦИ, 2013, на основе перевода Б. Казачкова, 1993
---
{% verse "1" %}
Хвала Тебе да будет,
Господь, в сей новый год,
Пусть мир Твой в нас пребудет
В трудах и средь забот,
Чтобы мы не забывали:
Все будет позади,
Все скорби и печали.
Блаженство впереди!
Чтоб в тишине и бденье,
В святом с Тобой общенье
Тобою пламенели
Теперь и впредь всегда,
Чтоб нас не одолели
Ни скорбь, ни теснота.
{% endverse %}
{% verse "2" %}
Дай год начать нам новый
С одним Тобой в сердцах,
Чтоб Ты нам был основой
И в мыслях, и в делах.
Одним Тобой свершаем
Короткий жизни путь;
Господь, даруй нам силы
И с нами Ты пребудь.
Направь Твою к нам благость
И мир даруй и радость,
Твое Святое Слово
Дай в чистоте хранить,
Коварного и злого
Врага дай посрамить.
{% endverse %}
