---
name: 63
section: Богоявление
title: О Слово вечное
authors:
  - Майнинген, 1693
  - Иоганн Герман, 1630
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Слово вечное,
Господь, всего начало,
Христос, от Бога Бог,
О ком душа мечтала!
Хвала Тебе, хвала,
О Иисус Христос,
Что грешным всем и мне
Спасенье Ты принес.
{% endverse %}
{% verse "2" %}
Ты к нам с Небес сошел,
Ты царский трон оставил,
Явился в грешный мир,
Нас к истине направил.
Любовию Христос,
Узрев, что гибну я,
Страх смерти превозмог,
Чтоб искупить меня.
{% endverse %}
{% verse "3" %}
Ты направляй меня,
Чтоб все мои стремленья
Я посвятить желал
Тебе на прославленье.
Мне душу обновляй,
Даруй мне благодать
За жизнию земной
Блаженно смерть принять.
{% endverse %}
{% verse "4" %}
Я следовать хочу
Путем, Тебе угодным,
Ты отврати меня
От помыслов греховных.
Лукавого врага
Дай мне преодолеть,
Даруй мне, Боже, сил,
Чтоб духом не скорбеть.
{% endverse %}
{% verse "5" %}
Вся жизнь лишь от Тебя,
Господь, проистекает:
Ты – наш насущный хлеб,
Что душу нам питает.
О, просвети меня
И дай узреть потом
Тебя, Христос, во всем
Сиянии Святом!
{% endverse %}
