---
name: 64
section: Богоявление
title: О утра яркая звезда!
authors:
  - Германия, 1599
  - Филипп Николаи, 1599
  - Перевод: Рабочая группа ЕЛЦИ, 2013; на основе перевода Н. Юргенсон
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О утра яркая звезда!
Твое сияние всегда –
Надежды луч от Бога!
О Иисус, Спаситель мой,
Ты мой Господь и мой покой,
Мой путь, моя дорога!
Верный, славный,
Вечно ясный
И прекрасный,
Благодатный,
В милосердье необъятный!
{% endverse %}
{% verse "2" %}
О Иисус, мой Господин,
Ты Бога и Марии Сын,
Царь Божеского рода!
Души чудеснейший цветок,
Твоя Благая весть - поток
И молока, и меда!
Крепкий, Чудный!
О, Осанна!
Неба манна,
Что вкушаю, Я Тебя не забываю!
{% verse "3" %}
{% endverse %}
О мой Спаситель, сердце тронь
И в нем зажги святой огонь
Любви Твоей небесной!
Прости мне все грехи мои,
Своею Кровью напои,
Дай Хлеб мне Свой телесный!
Видишь, слышишь,
Как я стражду
Здесь и жажду
Лишь спасенья
И в Раю с Тобой общенья!
{% endverse %}
{% verse "4" %}
Ликуйте все! Пусть арфы звон
Звучит, и пусть повсюду он
С хвалением сольется!
Спаситель мой, о мой Иисус,
С Тобой вовек не разлучусь,
Покуда сердце бьется!
Громко, звонко
Воспевая,
Иисуса
Прославляйте,
Богу славу воздавайте!
{% endverse %}
{% verse "5" %}
Любовью Бога я согрет.
Его глаза - как солнца свет,
Так ласково сияют!
Иисус Христос, Твоя любовь,
Твой Дух, Твоя Святая Кровь
Страданья утоляют.
Сыне Божий,
Будь со мною.
Пред Тобою
Преклоняюсь,
Лишь Тобою освящаюсь!
{% endverse %}
