---
name: 65
section: Великий пост
title: Христос, Твое распятье
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ. – Новосибирск, 2002
---
{% verse "1" %}
Христос, Твое распятье
Душе моей яви
И призови в объятья
Божественной любви.
Пусть сердце сокрушает
Страдающий Твой взор,
Ведь Бога распинает
Мой грех и мой позор.
{% endverse %}
{% verse "2" %}
В Твоих руках простертых –
Прощенья полнота.
Ты воскрешаешь мертвых
Заслугою креста.
Когда в святых селеньях
Увижу я Твой лик,
Воскликну в восхищенье:
"Как свят Ты и велик!"
{% endverse %}
