---
name: 66
section: Великий пост
title: Господь, за нас страдающий
authors:
  - На основе григорианского песнопения
---
{% verse "1" %}
Господь, за нас страдающий,
Ты наше упование.
Веди нас ко спасению,
Даруй нам покаяние!
{% endverse %}
{% verse "2" %}
Вину прости великую
Своею благодатию,
С Отеческой заботою
Прими в Свои объятия.
{% endverse %}
{% verse "3" %}
Воззри с великой милостью
На Церковь Ты скорбящую,
На кающихся грешников,
В смирении молящихся.
{% endverse %}
