---
name: 67
section: Великий пост
title: К Тебе взываем, Господи
authors:
  - Адаптированное григорианское песнопение
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ. – Новосибирск, 2002
---
{% verse "1" %}
К Тебе взываем, Господи,
Услышь молитвы грешников.
Сердца людей исследуя,
Ты знаешь наши слабости.
{% endverse %}
{% verse "2" %}
Даруй к Тебе взывающим
Ты благодать прощения.
Хоть много согрешали мы –
Над гибнущими смилуйся.
{% endverse %}
{% verse "3" %}
Не оставляй нас, Господи,
Святым Своим присутствием,
Чтоб разум прояснившийся
Был неподвластен гибели.
{% endverse %}
{% verse "4" %}
Даруй, Святая Троица,
В единстве вечно сущая,
Чрез пост и покаяние
Идти к пасхальной радости!
{% endverse %}
