---
name: 68
section: Великий пост
title: Взойдем на холм, скорбя душой
---
{% verse "1" %}
Взойдем на холм, скорбя душой,
Туда, где три креста стоят.
Там пред изменчивой толпой
Господь наш на кресте распят.
{% endverse %}
{% verse "2" %}
Пойдем, приблизимся к Нему.
Слова мольбы за всех звучат.
В них мир душе, покой уму.
Господь наш на кресте распят.
{% endverse %}
{% verse "3" %}
Святая кровь, потоки слез,
Что пролил Он, нам жизнь дарят.
Он искупленье нам принес.
Господь наш на кресте распят.
{% endverse %}
{% verse "4" %}
О, благодать! Умолк Закон.
Искуплен грех, враги молчат.
Нет осужденья, ибо Он
За нас был на кресте распят.
{% endverse %}
