---
name: 69
section: Великий пост
title: О Иисус, в Твоей крови
authors:
  - Кенигсберг, 1602
  - Иоганн Олеариус, 1671
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
О Иисус, в Твоей крови
Залог спасенья и любви.
Твоею кровью я омыт
И Дух надежду мне дарит.
{% endverse %}
{% verse "2" %}
Она - мой праздничный наряд,
Мой самый драгоценный клад,
Меня, как грех мой ни велик,
Узреть сподобит Божий лик.
{% endverse %}
{% verse "3" %}
В предсмертный час, Спаситель мой,
Души страданья успокой:
Дай помнить, что Христова кровь
Меня омыла от грехов.
{% endverse %}
