---
name: 7
section: Адвент
title: Возрадуйся, христианин!
authors:
  - Николаус Херман, 1560
  - Перевод: Ю. Высоцкая
---
{% verse "1" %}
Возрадуйся, христианин!
Придет к нам скоро Божий Сын.
Став братом нам, от смерти нас
Иисус Христос, Господь наш, спас.
{% endverse %}
{% verse "2" %}
Уж близок день тот впереди,
О, Боже, поскорей приди!
День каждый мы живем с мольбой,
О, как желаем быть с Тобой!
{% endverse %}
{% verse "3" %}
Рукой спасенные Твоей,
Ждем Сына Твоего скорей.
О Нем сказал нам Даниил.
Приди же, о Эммануил!
{% endverse %}
{% verse "4" %}
Господства жаждет сатана,
И ярость так его сильна.
Нас хочет подчинить себе,
Но Ты поможешь нам в борьбе.
{% endverse %}
{% verse "5" %}
О, Господи, спеши на суд!
Пусть слуги дьявола падут,
А мы узрим Твой чудный лик.
О, как блажен тот будет миг!
{% endverse %}
