---
name: 70
section: Великий пост
title: Есть холм высокий там, вдали
authors:
  - Вильям Хорслей, 1774-1858
  - Сесиль Александр
  - Лютеранский сборник Литургии и гимнов. – Алматы, Казахстан, 1999
---
{% verse "1" %}
Есть холм высокий там, вдали
От городской стены,
Где был распят за грех земли
Тот, Кем мы спасены.
{% endverse %}
{% verse "2" %}
Какие муки перенес,
Не в силах описать,
Но верим, что страдал за нас,
Чтоб жизнь нам даровать.
{% endverse %}
{% verse "3" %}
Спаситель умер на кресте,
Чтоб дать прощенье нам,
Чтоб мы, доверившись Ему,
Шли по Его стопам.
{% endverse %}
{% verse "4" %}
Лишь Он Один способен был
Нас, грешных, искупить,
Врата небесные лишь Он
Мог людям отворить.
{% endverse %}
