---
name: 71
section: Великий пост
title: О Агнец Божий, что за преступленье
authors:
  - Старинная церковная мелодия, Руан
  - Иоганн Германн (1585-1647)
  - Перевод: Роман Туренко, 2009
---
{% verse "1" %}
О Агнец Божий, что за преступленье
Ты совершил, за что же осужденье?
Предан, отвержен, принял поруганье,
Скорбь и страданье.
{% endverse %}
{% verse "2" %}
Чья в том вина, что Ты в сие облекся?
 Что за предатель от Тебя отрекся?
И кто Тебя бил, вел на крест распятья?
Всё это был я.
{% endverse %}
{% verse "3" %}
Стал за овец Сам Пастырь приношеньем,
Мира грехи взяв, Сам избрал мученье,
Чтоб человек стал праведным пред Богом
Делом Христовым.
{% endverse %}
{% verse "4" %}
Ради меня Ты в мире воплотился,
Жить свято и страдать здесь Сам явился,
И умер Ты, став жертвой искупленья,
В тяжких мученьях.
{% endverse %}
{% verse "5" %}
О мой Спаситель, нечем мне хвалиться,
Перед Тобою лишь могу склониться.
Я недостоин, но Ты любишь верно
И так безмерно.
{% endverse %}
