---
name: 72
section: Великий пост
title: О Христос, Господь любимый
authors:
  - Польша, начало 19 века (?)
  - А. Ружнятовский (Польша, конец 16 – начало 17 вв.)
  - Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
О Христос, Господь любимый,
Агнец Божий терпеливый,
Ныне, ныне на кресте страдаешь,
Руки, руки к людям простираешь.
{% endverse %}
{% verse "2" %}
Смолкла речь, угасла сила,
Голова на грудь склонилась.
Матерь, Матерь у креста стояла,
В скорби, в скорби слезы проливала.
{% endverse %}
{% verse "3" %}
Вся природа ужаснулась,
Твердь земная содрогнулась.
Сотник, сотник кличет: «Вот Сын Бога!»
Люди, люди в страхе и тревоге.
{% endverse %}
{% verse "4" %}
Сталь копья в ребро вонзилась,
Кровь с водой струей излилась.
Плачьте, плачьте, люди в сокрушенье,
Боже, Боже, нам даруй прощенье.
{% endverse %}
{% verse "5" %}
Плачь же, грешный, в сокрушенье,
Плачь пред жертвой искупленья.
Агнец, Агнец умер в муке крестной,
Солнце, солнце скрыло лик небесный.
{% endverse %}
