---
name: 73
section: Великий пост
title: Лейтесь, слезы сокрушенья
authors:
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Лейтесь, слезы сокрушенья,
Сердце, плачь в тоске своей!
За какие преступленья
Бога страдает, как злодей?
Что ты сделал людям злого,
Милосердный Иисус?
За преступника какого
Носишь бремя тяжких уз?
{% endverse %}
{% verse "2" %}
Бит и тернием увенчан,
К страшной казни осужден,
Окровавлен и измучен,
 К древу смерти пригвожден!
Что причиною мученья?
Ах, столь страшно страждет Он
За мои лишь прегрешенья,
Я виновен - Он казнен.
{% endverse %}
{% verse "3" %}
Я грехов и зла исполнен,
Нет совсем добра во мне,
Я страдать бы вечно должен
За вину свою в огне,
Но Он принял наказанье,
Добрый Пастырь за овец,
Сам подверг Себя страданьям,
Жизнь отдал за нас Творец.
{% endverse %}
{% verse "4" %}
О, любви неизмеримой
Подвиг чудный, мудрый путь!
Благости непостижимой
Ум не может досягнуть.
Агнец, в жертву принесенный,
Как Тебя благодарить
Мне за дар неизреченный?
Ты велишь добро творить.
{% endverse %}
{% verse "5" %}
Я молю: о, дай мне силы 
Твой завет принять святой, 
Дай с любовью до могилы
На кресте зреть образ Твой.
Дай мне веру, упованье, 
Дай надежды дивный свет, 
Дай в душе Твое страданье
Навсегда запечатлеть.
{% endverse %}
