---
name: 74
section: Великий пост
title: О, кровью обагренный
authors:
  - Х. Л. Хасслер, 1601
  - Пауль Герхардт, 1656
  - Русский сборник гимнов, 1915
---
{% verse "1" %}
О, кровью обагренный,
Израненный Твой лик!
Страданьем изнуренный,
Ты на кресте поник!
О лик в венце терновом,
Где красота твоя?
И сердцем всем, и словом
К Тебе взываю я.
{% endverse %}
{% verse "2" %}
О, лик святой, чьим взором
Мир сильных потрясен!
Ты удручен позором,
Поруган, осквернен!
И кто на истязанье
Такое посягнул?
Очей Твоих сиянье
Кто омрачить дерзнул?
{% endverse %}
{% verse "3" %}
О Боже, всё то бремя,
Что так Тебя гнетет,
Моих проступков семя,
Моих грехов то плод.
С душою сокрушенной
Стою перед Тобой.
Грехами изъязвленный,
Жду казни над собой.
{% endverse %}
{% verse "4" %}
Источник всех даяний,
Господь, Ты - мой оплот.
Средь совести терзаний
Мой дух Тебя зовет!
Как много благ доныне
Я принял от Тебя!
Молю, о Боже-Сыне, 
Приди, спаси меня!
{% endverse %}
{% verse "5" %}
Земной Ты жизни ношу
Нести мне облегчай.
Когда ее я сброшу,
Меня не оставляй.
В час смерти, пред могилой,
Коль я не устою,
Твоих страданий силой
Смерть облегчи мою.
{% endverse %}
{% verse "6" %}
Пребудь же, Утешитель,
Всегда моим щитом.
Дай образ Твой, Спаситель,
Узреть мне и, крестом
Здесь душу утешая,
Все муки претерпеть,
Дай мне блаженство рая 
На небесах узреть!
{% endverse %}
