---
name: 75
section: Великий пост
title: Когда я поднимаю взор
authors:
  - Англия, 1780
  - Исаак Уоттс, 1707
---
{% verse "1" %}
Когда я поднимаю взор
На крест, где Божий Сын страдал,
Я сознаю греха позор,
Стыжусь того, что почитал.
{% endverse %}
{% verse "2" %}
Господь! Храни меня, чтоб я
Здесь тленной славы не искал,
Чтоб подвиг Твой, чтоб смерть Твоя
Была венцом моих похвал.
{% endverse %}
{% verse "3" %}
Горя любовью, Ты, Христос,
За нас страдал и кровь пролил,
Среди вражды, среди угроз
Нам милосердие явил.
{% endverse %}
{% verse "4" %}
Когда б я целый мир отдал,
То дар мой был бы слишком мал.
Что за любовь Твою я дам?
Ничто! Я Твой всецело сам.
{% endverse %}
