---
name: 76
section: Великий пост
title: Невинный Агнец вот идет
authors:
  - Вольфганг Дахштейн, 1525
  - Пауль Герхардт, 1647
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Невинный Агнец вот идет,
Смотри, людское племя.
Он на Себе один несет
Твоих грехов всё бремя.
Судом неправым осужден,
Крестом тяжелым изнурен,
Он кротко путь Свершает.
Насмешки злые и позор,
Толпы ужасный приговор
Смиренно принимает.
{% endverse %}
{% verse "2" %}
Он жизнь нам смертью даровал
И всех грехов прощенье.
В мир Бог-Отец Его послал
Как жертву искупленья:
«Людей от гнева сохрани, 
За грех осуждены они 
На смерть и гибель Мною.
Тяжка вина и казнь страшна,
Тебе ж спасти их власть дана,
Пожертвовав Собою».
{% endverse %}
{% verse "3" %}
«Да, Отче, это я свершу, 
Устам Твоим внимая. 
Твою лишь волю Я творю
И Слово исполняю».
Как велика любовь Творца!
Отъять ей Сына от Отца
Становится под силу.
О, как любовь Твоя сильна,
Господь! Всесильного Тебя
Низвергнула в могилу!
{% endverse %}
{% verse "4" %}
О Господи, Твоя любовь
Дарует мне спасенье!
За то Тебе я вновь и вновь 
Пою благодаренье.
Хочу всю жизнь Тебе принесть
И людям о спасенье весть 
Поведать, как сумею.
Всё то великое добро,
Что мне Тобой сотворено,
В душе запечатлею.
{% endverse %}
{% verse "5" %}
О сердце грешное мое,
Отбрось же всё земное!
Отныне ты вмещать должно
Сокровище иное.
Пред ним всё тлен, ничтожный прах,
Ни на земле и ни в морях
Оно не уместится.
Мое сокровище - мой Спас
И кровь, которая за нас
Из ран Его струится.
{% endverse %}
{% verse "6" %}
Пока сокровище при мне,
Пойду я смело всюду,
И в искушеньях, и в борьбе 
Неуязвим я буду.
Спаситель мой, Христос, Тебя 
Я призову во всех скорбях,
Ты будешь мне охраной.
Возжажду ли - Ты напоишь,
Взалкаю - голод утолишь
Святой небесной манной.
{% endverse %}
{% verse "7" %}
Врата небесные открыл
Ты для меня с любовью,
Мои одежды убелил
Своей святою кровью.
Наградой будет мне она, 
Душа ей будет спасена 
Для славы жизни вечной. 
Войду на Агнца брачный пир.
Там, где царят любовь и мир
Пребуду бесконечно.
{% endverse %}
