---
name: 77
section: Великий пост
title: В Гефсиманский сад пойди
authors:
  - Ричард Редхед, 1853
  - Джеймс Монтгомери, 1820
  - Перевод: Д. А. Ясько
---
{% verse "1" %}
В Гефсиманский сад пойди,
В искушенье чтоб не впасть.
На Спасителя гляди,
На его тяжелый час.
Слушай вздохи, плач и стон,
Научись просить, как Он.
{% endverse %}
{% verse "2" %}
В суд неправедный пойди,
Посмотри, что там творят,
Как Владыку всей земли
Люди грешные казнят.
Больно на Него смотреть,
Научись, как Он, терпеть.
{% endverse %}
{% verse "3" %}
На Голгофу поспеши,
Крестный путь уразумей,
Агнец Божий на кресте
Умер в жертву за людей.
"Совершилось!" - произнес.
Пострадал за нас Христос.
{% endverse %}
{% verse "4" %}
К гробу Господа пойди,
Где Спаситель пребывал.
Сбросив смерти пелены,
Он в нетлении восстал.
Он воскрес, Он смерть попрал,
Нам надежду даровал.
{% endverse %}
