---
name: 78
section: Великий пост
title: Честь Тебе, Иисус распятый
authors:
  - Галле, 1704
  - Неизвестный автор, ок. 1757
---
{% verse "1" %}
Честь Тебе, Иисус распятый,
Преданный народом Царь!
Ты страдал за тьмой объятых,
Ты даешь спасенья дар.
Честь Тебе, Господь Всесильный,
Взявший грех наш и позор!
К погибающим ты дивно
Руку милости простер.
{% endverse %}
{% verse "2" %}
Агнец, посланный от Бога,
Все грехи взял на Себя,
Претерпел страданий много,
Принял смерть, нас возлюбя.
Людям Ты даешь спасенье,
Грех Адама Ты простил,
Жертвой умилостивленья
Землю с небом примирил.
{% endverse %}
{% verse "3" %}
Честь Тебе, вошедший в славу,
Пребывающий с Отцом!
Сонмы ангелов по праву
Славят мощь Твою во всем.
Перед Богом наш Ходатай,
Ты готовишь место нам,
Ободряешь нас всегда Ты,
Воздаешь не по делам.
{% endverse %}
{% verse "4" %}
Слава, честь и поклоненье
Агнцу, Господу Христу!
Пусть к Нему в благоговенье
Все народы припадут!
Ангелы чудесным пеньем
Не устанут восхвалять
Бога, давшего спасенье,
Мир душе и благодать!
{% endverse %}
