---
name: 79
section: Великий пост
title: Невинный Агнец Божий
authors:
  - Николаус Дециус, ок. 1522
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
Невинный Агнец Божий,
О Иисус распятый,
Грехи наши омывший,
За нас всех пострадавший.
Прими наши моленья,
Нас не лиши спасенья.
Помилуй нас, о Боже.
{% endverse %}
