---
name: 8
section: Адвент
title: У двери сердца твоего
authors:
  - Швеция, 1697
  - Георг Вейссель, 1642
  - Русский лютеранский сборник гимнов, 1915
---
{% verse "1" %}
У двери сердца твоего
Господь стучит, и стук Его
Услышь в смиренье и открой,
Господу дай войти в покой.
Радости песнь звучит в сердцах.
Об этом слава в небесах.
Хвала тебе, Христос, стократ;
Источник вечный всех отрад.
{% endverse %}
{% verse "2" %}
Принес Христос тебе блага
И полон милости всегда.
Он путеводною звездой
Светит над грешною землей,
Он нам прощение несет,
Ликуя, мир да воспоет:
«Хвала Тебе, Спаситель наш,
Что в бедах утешаешь нас!»
{% endverse %}
{% verse "3" %}
Блажен народ и та страна,
Где власть Его водворена,
Блаженно сердце, в коем Он
Установил любви закон.
Нет блага без Него ни в чем,
Всё от Него, и всё лишь в Нем.
Хвала Тебе, Спаситель наш,
Пред Богом искупил Ты нас.
{% endverse %}
{% verse "4" %}
Готовьте путь Его стопам,
В сердце своем готовя храм,
И ваш светильник пусть горит,
И, ожидая, сердце бдит,
Ибо и к вам сей Царь идет
И вам спасение несет.
Хвала Тебе, Спаситель наш,
От века возлюбил Ты нас.
{% endverse %}
{% verse "5" %}
Врата открыты для Царя,
Идет Он, нам Себя даря,
Сердца готовы воспринять
Его любовь и благодать.
Своим нас Духом освятит
И слезы в радость обратит.
Хвала, Христос, Тебе всегда,
Повсюду, ныне и в века.
{% endverse %}
