---
name: 80
section: Великий пост
title: О Иисус, Твое в чем преступленье
authors:
  - Йохан Крюгер, 1640
  - Иоганн Герман, 1630
  - Перевод: Рабочая группа ЕЛЦИ, 2013;
  - на основе перевода Б. Казачкова, 1992
---
{% verse "1" %}
О Иисус, Твое в чем преступленье,
Чем заслужил столь тяжкое мученье?
В чем же вина, за чье Ты злодеянье
Терпишь страданье?
{% endverse %}
{% verse "2" %}
Был Ты избит и тернием увенчан,
Смехом, плевками был Ты обесчещен,
Уксусом с желчью в жажде напоённый,
Сын осужденный!
{% endverse %}
{% verse "3" %}
Так отчего жестоки столь мученья?
Ах, это грех мой, мира преступленья,
О Иисус, Тебя так зло сразили,
К кресту прибили.
{% endverse %}
{% verse "4" %}
Нам жизнь и свет та мука обещает!
Наш Добрый Пастырь за овец страдает,
Платит за грех наш праведною кровью,
Своей любовью.
{% endverse %}
{% verse "5" %}
ога любовь великая безмерна: 
Сына ведет в долину тени смертной.
Хоть грешны мы, Он жертву принимает –
Сын умирает!
{% endverse %}
{% verse "6" %}
И хоть я слаб и телом и душою,
Чтобы идти, Спаситель, за Тобою,
Духа мне дай, от зла чтоб удалиться,
К Тебе стремиться.
{% endverse %}
{% verse "7" %}
О Иисус, когда пред Божьим троном
Буду стоять, увенчанный короной,
Хвала Тебе раздастся неземная
В высотах Рая!
{% endverse %}
