---
name: 82
section: Великий пост
title: Есть далеко в чужой стране
authors:
  - Англия, 1734
  - С. Ф. Александр, 1848
  - Перевод: Б. Казачков, 1992
---
{% verse "1" %}
Есть далеко в чужой стране
Скалистая гора,
И вся вершина той горы –
Подножие креста.
{% endverse %}
{% verse "2" %}
О Иисус, могу ль познать
Страдания Твои?
Но верю: смертью искупил
Ты все грехи мои.
{% endverse %}
{% verse "3" %}
Ты умер здесь, чтоб сыном стал
Я Богу, как Отцу,
И шел с Тобою по пути
К небесному венцу.
{% endverse %}
{% verse "4" %}
Ворота неба распахнул
Ты, смертью смерть поправ.
Я так люблю Тебя, Иисус!
Ты жизнь мне даровал!
{% endverse %}
