---
name: 83
section: Великий пост
title: О Иисус, источник благ
authors:
  - Средневековая мелодия
  - Элиас Лённрот, на основе старинного песнопения
  - Перевод: Ольга Крутикова, 2011
---
{% verse "1" %}
О Иисус, источник благ,
Весть мир Ты к вечности призвал.
На крест взошел Ты за меня
И горечь смерти испытал.
{% endverse %}
{% verse "2" %}
Ты на Себя, страдая, взял
Грехи и немощи мои,
Когда на суд Себя отдал,
На поругание людьми.
{% endverse %}
{% verse "3" %}
Ты молча муки перенес,
Своих помиловав врагов,
Тебя на крестный путь вели
Лишь милосердье и любовь.
{% endverse %}
{% verse "4" %}
Ты на кресте людей простил,
Смирил жестокие сердца.
В великой жертве
Ты явил К нам милость и любовь Отца.
{% endverse %}
{% verse "5" %}
В смирении благодарю
За искупление грехов,
За милость вечную Твою
И за Твою ко мне любовь.
{% endverse %}
{% verse "6" %}
Дай силы за Тобой идти
И в послушании пребыть,
Познать небесные пути,
Чтоб веру и любовь явить.
{% endverse %}
{% verse "7" %}
Даруй, чтоб крестный подвиг Твой,
 Как солнце, путь мне освещал
И, как звезда во тьме ночной,
К заветной цели направлял.
{% endverse %}
{% verse "8" %}
Чтоб защищал меня в беде
И в испытаньях укреплял,
Был утешеньем на земле
И в смертный час надежду дал.
{% endverse %}
