---
name: 84
section: Пасха
title: Ныне наш Господь воскрес, аллилуйя!
authors:
  - Англия, 1708
  - Латинский гимн Christus surrexit hodie, 16 век
---
{% verse "1" %}
Ныне наш Господь воскрес, аллилуйя!
Эта весть пришла с небес, аллилуйя!
Силу Господа хваля, аллилуйя!
Пойте, небо и земля, аллилуйя!
{% endverse %}
{% verse "2" %}
Гимны славы воспоем, аллилуйя!
Сердца к Богу вознесем, аллилуйя!
Претерпел Он муки все, аллилуйя!
За нас умер на кресте, аллилуйя!
{% endverse %}
{% verse "3" %}
Был Он в жертву принесен, аллилуйя!
Грешный мир теперь спасен, аллилуйя!
В небесах Царь ныне Он, аллилуйя!
Ангелами окружен, аллилуйя!
{% endverse %}
{% verse "4" %}
Пойте Богу в высотах, аллилуйя!
Милость явлена в делах, аллилуйя!
Все полны к Тебе хвалой, аллилуйя!
Триединый Бог Святой, аллилуйя!
{% endverse %}
