---
name: 85
section: Пасха
title: Хотим возрадоваться мы
authors:
  - 1410 г
  - 1 куплет – Мединген, 1380;
  - 2-5 куплеты – К. Шпагенберг, 1568,
  - на основе Resurrexit Dominus, 16 век
  - Перевод: Л. Н. Назаренко, Ю. А. Голубкин
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя, аллилуйя, аллилуйя, аллилуйя!
Христе, будь славен, Марии Сын!
{% endverse %}
{% endmacro %}
{% verse "1" %}
Хотим возрадоваться мы
В Пасхальные святые дни,
Ведь Господом мы спасены.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Воскрес Ты, Господи Христе!
За нас Ты умер на кресте,
Тебе хвалу возносят все.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Разбил врата Ты ада вмиг,
Оттуда вывел всех Своих
И спас от вечной смерти их.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
Христе, во славе воссияй! -
Разносится из края в край,
Ведь выстрадал для нас Он рай.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Ликуй, мир христианский, пой
Во славу Троицы Святой.
Отныне мы навек с Тобой.
{% endverse %}
{{ chorus() }}
