---
name: 86
section: Пасха
title: Я знаю жив Спаситель мой
authors:
  - Сборник гимнов Прихода Христа Спасителя ЕЛЦИ – Новосибирск, 2002
---
{% verse "1" %}
Я знаю: жив Спаситель мой,
Ходатай пред отцом.
Его любовь дает покой,
Ведет в отцовский дом.
{% endverse %}
{% verse "2" %}
Он поднял голову мою,
С души оковы снял.
Ему хвалу теперь пою:
Он спас и оправдал.
{% endverse %}
{% verse "3" %}
Ведет Он к славной вышине,
Где вечный день горит.
Начавший доброе во мне,
Чудесно совершит.
{% endverse %}
{% verse "4" %}
Его словам люблю внимать
И твердо верю я:
Христос придет в наш мир опять,
К Себе возьмет меня.
{% endverse %}
{% verse "5" %}
Где Бог со мной и с Богом я,
Там возвращенный рай.
Ликуй и пой, душа моя,
Иисуса прославляй!
{% endverse %}
