---
name: 87
section: Пасха
title: Ангел, с неба снизойдя
authors:
  - Каарло Войпио
  - Яакко Хаавио (1904-1984),
  - Ниило Раухала (р. 1936)
---
{% verse "1" %}
Ангел, с неба снизойдя,
Камень сдвинул с места.
Люди к гробу подойдя,
Спрашивали вместе:
{% endverse %}
{% verse "2" %}
«Где ж Иисус? Его здесь нет!
Здесь Его могила?»
Молвил ангел: «Знай, весь свет:
Смерти власть сразил Он!»
{% endverse %}
{% verse "3" %}
«Смерть поправ, Господь воскрес! –
Ангел возглашает, -
Наш Спаситель, Царь небес,
Жизнь вам обещает!»
{% endverse %}
{% verse "4" %}
Радость эту возвестим
Ныне мы всем людям!
Жив Спаситель наш! Мы с Ним
В вечности пребудем!
{% endverse %}
