---
name: 88
section: Пасха
title: Христос воскрес, наш Дивный Бог!
authors:
  - Филипп Николаи, 1556-1608
  - Джордж Рей, 1860-1942
  - Перевод: Екатерина Шалухина (Казахстан, совр.)
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999
---
{% verse "1" %}
Христос воскрес, наш Дивный Бог!
Он ужас ада превозмог,
Врата небес открыты!
Грехов разрушена стена,
Во прах повержен сатана,
Полки его разбиты!
Все внемлите: ныне нам
Воскрес Спаситель, жизнь дающий –
Иисус, вовек живущий!
{% endverse %}
