---
name: 89
section: Пасха
title: О, воскресенья утро
authors:
  - Автор: неизв.
  - Перевод: Екатерина Шалухина (Казахстан, совр.)
  - Лютеранский сборник Литургии и гимнов – Алматы, Казахстан, 1999 г.
---
{% verse "1" %}
О, воскресенья утро,
Когда Господь любви воскрес!
Сиянья, счастья утро!
Дарован свет с небес!
Минуло время скорби,
День радости пришел к нам вновь.
Христос принес победу,
Явил Свою любовь!
{% endverse %}
{% verse "2" %}
О, воскресенья утро,
Ликует и поет народ!
Отныне смерть нам не страшна,
Бог за Собой ведет.
Не властен грех над нами,
О Всемогущий Царь и Спас,
Великий Искупитель,
Прими хвалу от нас!
{% endverse %}
{% verse "3" %}
О утро благодати,
Тебя светлей и ярче нет,
Ведь в Сыне Божьем, во Христе
Исполнен был завет!
Ворота в рай открыты,
Да не страшит могила вас,
Воскрес Христос Спаситель,
Он воскресит и нас!
{% endverse %}
