---
name: 9
section: Адвент
title: Осанна Сыну Давида
authors:
  - Г. И. Воглер, ок. 1795
  - Х. Л. Хасслер, 1601
  - (на основании Мф. 21:9)
  - Перевод: В. Л. Благинин, 1990
---
{% verse "1" %}
Осанна Сыну Давида,
Благословен будет Он!
Благославен Сын Давидов,
Грядущий во имя Господне!
Осанна, осанна, осанна, осанна!
Благославен Сын Давидов,
Грядущий во имя Господне!
{% endverse %}
