---
name: 90
section: Пасха
title: Придите, люди верные
authors:
  - Франция, 13 век
  - Гимн O filii et filiae, Ж. Тиссеран (Франция, 15 век)
  - Перевод: В. Ковальджи, П. Сахаров
---
{% macro chorus() %}
{% verse "Припев" %}
Аллилуйя, аллилуйя, аллилуйя!
{% endverse %}
{% endmacro %}
{{ chorus() }}
{% verse "1" %}
Придите, люди верные,
Узрим Царя Небесного,
От смертных уз воскресшего!
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "2" %}
Вот жены-мироносицы
Приходят с ароматами
Помазать тело Господа.
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "3" %}
Суббота лишь окончилась –
Чуть свет идут апостолы
Ко гробу Иисусову.
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "4" %}
И ангел возвещает им:
 «Направьте в Галилею путь.
Там вас воскресший ждет Господь!»
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "5" %}
Собравшимся апостолам
Явился Сам Христос Господь,
«Мир вам!» - сказал ученикам.
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "6" %}
Фома средь них отсутствовал,
Узнав о воскресении,
Остался он в сомнении.
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "7" %}
«Узри, Фома, следы гвоздей,
Узри же Мой пронзенный бок,
Узрев, оставь неверие».
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "8" %}
Увидев раны Господа,
Фома ответил с трепетом:
«Ты мой Господь и Ты мой Бог!»
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "9" %}
Блажен, блажен не видевший,
Который твердо верует:
Он жизнь имеет вечную.
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "10" %}
Во дни святого праздника
Да будем с благодарностью
Хвалить и славить Господа!
Аллилуйя.
{% endverse %}
{{ chorus() }}
{% verse "11" %}
Да будем мы, смиренные,
Песнь возносить достойную
Воскресшему Спасителю!
Аллилуйя.
{% endverse %}
