---
name: 91
section: Пасха
title: День счастливый, день желанный
authors:
  - Польша, 16 век
  - Польша, 17 век;
  - Перевод: Е. Перегудова (Россия, Латвия, 1913-1996)
---
{% verse "1" %}
День счастливый, день желанный,
День издревле долгожданный,
День Христова воскресенья,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "2" %}
Царь небес воскрес сегодня,
Победитель преисподней.
Славьте подвиг искупленья.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "3" %}
Иисус Христос – Царь славы!
Сокрушен Им враг лукавый,
В небеса врата открыты.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "4" %}
Он – Посредник наш великий,
Царь небес и душ Владыка,
Наша радость и защита.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "5" %}
В Отчем Царствии во славе
Он незримо миром правит
И людским молитвам внемлет.
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "6" %}
В час от века сокровенный
Божий Сын, Судья Вселенной,
Вновь сойдет с небес на землю.
Аллилуйя, аллилуйя!
{% endverse %}
