---
name: 92
section: Пасха
title: Душа моя, ликуй и пой
authors:
  - Йохан Крюгер (Германия, 1598-1662)
  - В. Кюхельбекер (Россия, 1797-1846)
---
{% verse "1" %}
Душа моя, ликуй и пой,
Наследница небес:
Христос воскрес, Спаситель твой,
Воистину воскрес!
{% endverse %}
{% verse "2" %}
Так! Ад пред сильным изнемог:
Из гробовых вериг,
Из ночи смерти Сына Бог
И с Ним тебя воздвиг.
{% endverse %}
{% verse "3" %}
Из света вечного Господь
Сошел в жилище тьмы;
Облекся в персть, оделся в плоть,
Да не погибнем мы!
{% endverse %}
{% verse "4" %}
Неизреченная любовь,
Всех таинств высота!
За нас Свою святую кровь
Он пролил со креста.
{% endverse %}
{% verse "5" %}
Чистейшей Кровию Своей
Нас, падших, искупил
От мук и гроба, из сетей
И власти темных сил.
{% endverse %}
{% verse "6" %}
Христос воскрес, Спаситель мой,
Воистину воскрес!
Ликуй, душа: Он пред тобой
Раскрыл врата небес.
{% endverse %}
