---
name: 93
section: Пасха
title: Ликуйте, пойте все сердца
authors:
  - Английская мелодия
  - Г. Роббинс
  - Перевод: А. Никешина, 1996
---
{% verse "1" %}
Ликуйте, пойте все сердца:
Спаситель наш воскрес!
Внимайте звукам торжества
Сияющих небес!
Он смерть навеки сокрушил,
Повержен ад во прах;
И можем мы спокойны быть
В Его святых руках.
{% endverse %}
{% verse "2" %}
Христос воскрес! Христос воскрес!
Он небо нам открыл,
От власти смерти и греха
Навек освободил.
Христос воскрес! Христос воскрес!
Он Царь, Творец и Бог!
Народ спасенный Он введет
В небесный Свой чертог.
{% endverse %}
