---
name: 94
section: Пасха
title: Христос, Спаситель наш, воскрес!
authors:
  - Средневековая мелодия
  - Латинский гимн Surrexit Christus hodie, 14 в.
  - Перевод: В. Л. Благинин
---
{% verse "1" %}
Христос, Спаситель наш, воскрес!
Аллилуйя, аллилуйя!
В сердцах звучит Благая весть!
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "2" %}
Лишь во Христе сияет свет,
Аллилуйя, аллилуйя!
Ни в ком другом спасенья нет,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "3" %}
На третий день гробницу Он,
Аллилуйя, аллилуйя!
Расторг, и грех был побежден,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "4" %}
Не удержала смерть Тебя,
Аллилуйя, аллилуйя!
И с нами до сего Ты дня,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "5" %}
Пойдем мы вместе за Христом,
Аллилуйя, аллилуйя!
Неся Благую весть о Нем,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "6" %}
Всем людям весть ту понесем,
Аллилуйя, аллилуйя!
Христа победу воспоем,
Аллилуйя, аллилуйя!
{% endverse %}
{% verse "7" %}
Душа полна к Тебе хвалой,
Аллилуйя, аллилуйя!
Отец и Сын и Дух Святой,
Аллилуйя, аллилуйя!
{% endverse %}
