---
name: 95
section: Пасха
title: Христос воскрес! Христос Воскрес!
authors:
  - С. Коханец
---
{% verse "1" %}
Христос воскрес! Христос Воскрес!
Поют леса и горы.
Христос воистину воскрес!
Спасенных вторят хоры.
{% endverse %}
{% verse "2" %}
Христос воскрес! Нам жизнь дана
И на бессмертье право!
Душа веселием полна,
Творцу возносит славу.
{% endverse %}
{% verse "3" %}
Христос воскрес! – Воскреснем мы,
И каждому, кто верит
И не живет в объятьях тьмы,
Христос откроет двери.
{% endverse %}
