---
name: 96
section: Пасха
title: Пусть знают все, что в этот час
authors:
  - Йохан Крюгер (1598-1662)
---
{% verse "1" %}
Пусть знают все, что в этот час
Иисус Христос воскрес.
И новь Господь живет средь нас,
И вечен свет с небес.
{% endverse %}
{% verse "2" %}
И радость новая светла,
Справляет торжество,
И жизнь к нам новая пришла
Из добрых рук Его.
{% endverse %}
{% verse "3" %}
В пучину моря смерти тень
Скользнула глубоко,
И мы встречаем новый день
Свободно и легко.
{% endverse %}
{% verse "4" %}
Христос воскрес, и каждый рад,
И вечен неба свет.
И с верой мы в небесный сад
Войдем Ему вослед.
{% endverse %}
