---
name: 97
section: Пасха
title: Христос на смерть Себя отдал
authors:
  - Мартин Лютер, 1524 (на основе секвенции Victimae Pashali Laudes)
  - Перевод: Михаил Левин
---
{% verse "1" %}
Христос на смерть Себя отдал
За наши прегрешенья.
Из царства мертвых Он восстал,
Нам возвестив спасенье.
Радость да исполнит нас!
Воспрянем и в сей светлый час
Воскликнем: Аллилуйя!
Аллилуйя!
{% endverse %}
{% verse "2" %}
Кто из людей сумел бы сам
Бой выиграть у смерти?
Греховность воспретила нам
Быть в святости и чести.
О, как смерть быстра была
И власть над нами обрела,
И нас в плену томила!
Kyrieleis!
{% endverse %}
{% verse "3" %}
В наш грешный мир Бог ниспослал
Возлюбленного Сына.
Весь грех наш на Себя Он взял,
Чтоб жили мы доныне.
В царство смерти Он сошел,
И духа тьмы Он поборол,
И жало смерти победил.
Аллилуйя!
{% endverse %}
{% verse "4" %}
Была чудесной битва та:
В бой жизнь и смерть вступили.
Смерть Жизнью в плен была взята,
Свой жребий получила.
В Библии возвещено
О том, что смерти суждено
Презренной стать навеки.
Аллилуйя!
{% endverse %}
{% verse "5" %}
Придем к подножию креста,
С любовью и смиреньем,
Ведь Агнец истинный восстал,
Пролив кровь во спасенье.
Богом избранный народ
По крестному пути идет.
Кровь Агнца в том порука.
Аллилуйя!
{% endverse %}
{% verse "6" %}
Так будем же святить теперь
Чудесный праздник этот!
Иисус Христос открыл нам дверь
В мир радости и света.
Ярче солнца светит Он,
И мрак навеки побежден,
Сердца ликуют наши!
Аллилуйя!
{% endverse %}
{% verse "7" %}
С закваской старою порвем
Порока и лукавства,
Ведь хлебом новым мы живем:
Христос есть наша Пасха.
Сам Господь - Он жизни хлеб,
И не умрет душа вовек,
В сей вере пребывая.
Аллилуйя!
{% endverse %}
