---
name: 98
section: Пасха
title: Иисус Христос Спаситель
authors:
  - Германия, 1529
  - Перевод: Михаил Левин
---
{% verse "1" %}
Иисус Христос Спаситель
Смертью смерть превозмог,
Воскрес из мертвых,
Взяв наши прегрешенья.
Kyrie eleison!
{% endverse %}
{% verse "2" %}
Без греха Он здесь рожден был,
Гнев Отца Он отвел,
Нас примирил с Ним,
Явив любовь святую.
Kyrie eleison!
{% endverse %}
{% verse "3" %}
Жизнь, смерть, милость и спасенье –
Всё взял в руки Свои.
Каждый спасется,
Живущий в вере твердой.
Kyrie eleison!
{% endverse %}
