---
name: 99
section: Пасха
title: Днесь воскрес Спаситель
authors:
  - Виттенберг, 1529
---
{% verse "1" %}
Днесь воскрес Спаситель,
Смертью смерть поправший,
Жизни бесконечность
Смертным даровавший.
Kyrieleis!
{% endverse %}
{% verse "2" %}
Верные, придите,
Богу поклонитесь
И Христа святое
Пойте воскресенье!
Kyrieleis!
{% endverse %}
{% verse "3" %}
Бог крестом дарует
Радость всему миру,
Претерпев распятье,
Смертью смерть разрушив.
Kyrieleis!
{% endverse %}
{% verse "4" %}
О Христе Иисусе,
Ты - Господь и Бог наш,
Нет для нас превыше
Имени Христова!
Kyrieleis!
{% endverse %}
{% verse "5" %}
Чудо воскресенья
В духе созерцая,
Поклонимся Богу –
Агнцу без порока.
Kyrieleis!
{% endverse %}
{% verse "6" %}
Мы Кресту Христову
Ныне поклонимся,
Воскресенье Божье
В песнопеньях славя.
Kyrieleis!
{% endverse %}
{% verse "7" %}
Господи предвечный!
Гроб Твой живоносный
Обрати в источник
Нашего спасенья!
Kyrieleis!
{% endverse %}
{% verse "8" %}
И Отцу и Сыну
И Святому Духу
Честь и поклоненье
Ныне и вовеки!
Kyrieleis!
{% endverse %}
