<a href="/" class="navbar-item">
    <span class="has-text-dark has-text-weight-semibold">ДОМОЙ</span>
</a>
<a href="/hymns" class="navbar-item">
    <span class="has-text-dark has-text-weight-semibold">ГИМНЫ</span>
</a>