<div class="navbar-item">
    <div class="field">
        <input id="showMusicSheet" type="checkbox" name="showMusicSheet" class="switch is-info is-medium"/>
        <label for="showMusicSheet">Ноты</label>
    </div>
</div>