<h3>ОТПУЩЕНИЕ ГРЕХОВ</h3>
<p class="is-italic">После того как литург объявил прощение грехов.</p>
<div>
    <b>Приход:</b>
    <div class="music-sheet">
        <div id="ameno-lyrics" class="lyrics">Аминь.</div>
        <div id="ameno-paper" class="paper"></div>
        <div id="ameno-abc" class="abcString" hidden>
M:4/4
L:1/4
K:F
F2-E2 | F4 |]
w: А - минь.
        </div>
    </div>
</div>