p
    b Литург: 
    | Слава в вышних Богу!
div
    b Приход:
    div.music-sheet
        div#gloria-abc.abcString(hidden).
            M:4/4
            L:1/4
            K:F
            z A A A | c2-A2 | G F G A | B2 A G | F2 E2 | F4 |]
            w: И на зем-ле _ мир, и в~лю-дях бла-го-во-ле-ни-е.
        div#gloria-paper.paper
        div#gloria-lyrics.lyrics И на земле мир, и в людях благоволение.