<h6>LAUDAMUS</h6>
<div>
    <div class="music-sheet">
        <div id="laudamus-lyrics" class="lyrics">
            Мы хвалим Тебя, Тебя благословляем, Тебе поклоняемся,
            Тебя славословим, Тебя благодарим ради славы великой Твоей,
            Господи Боже, Царь Небесный, Отче всемогущий,
            Господи, Единородный Сын Всевышнего, Иисус Христос.
            Господи Боже, Агнец Божий, Отчий Сын, 
            Ты, принявший грехи мира, помилуй нас, прими молитву нашу,
            Ибо Ты Един Свят, Ты Единый Господь, Ты Единый Всевышний, Иисус Христос,
            со Святым Духом во славе Бога Отца. Аминь. 
        </div>
        <div id="laudamus-paper" class="paper"></div>
        <div id="laudamus-abc" class="abcString" hidden>
M:4/4
L:1/4
K:D
D | F2 G B | A3 !breath! D  | F D G B |\
A2 A !breath! F | G F/ F/ E F | G F E F/ D/ |\
B4 | A3 !breath! A | ^G A B A | d c/ c/ B c/ d/ |\
c2 B B | A2 z2 | A A/ A/ d-B |\
A2 !breath! A B | (A2 G F) | E2 z2 | F G A A |\
(D2 E2) | F2 !breath! A A | A2 z2 | z A d B |\
A A D D | G3/2 G/ F D/ E/ | F3 F |\
F3 z | F2 F F | G2 F2 | F2 F2 | (G2 B2) | ^A4 !breath! |\
(d2 ^A2) | (B2 G2) | F2 !breath! F F | F2 E E | (E2 D2) |\
D4 | C4 !breath! | (D2 E C) | C3 C | B,2 z B,|\
D B, D E | F2 F2 | z D/ E/ F D |\
[M:3/2] (F G) A2 z D/ E/ |\
[M:4/2] (F D) F G A2 !breath! F G |\
A2 B c d2 A D/ D/ | [M:4/4] G3 G | F4 !breath! |\
B B (A G) | F2 F !breath! G | A2 A2 |\
(A B) G F | E2 !breath! E2 | D4 |]
w: Мы хва-лим Те-бя, Те-бя бла-го-сло-вля-ем, Те-бе по-кло-ня-ем-ся, Те-бя сла-во-сло-вим, Те-бя бла-го-да-рим ра-ди сла-вы ве- ли-кой Тво-ей, Гос-по-ди Бо - же, Царь Не-бе - - сный, От-че все-мо-гу - щий, Гос-по-ди, Е-ди-но-род-ный Сын Все-выш-не-го, И-и-сус Хрис-тос. Гос-по-ди Бо-же, Аг-нец Бо - жий, От - чий _ Сын, Ты, при-няв-ший гре-хи _ ми-ра, по - - ми-луй нас, при-ми мо-лит-ву на-шу, и-бо Ты Е-дин _ Свят, Ты Е-ди - ный Гос-подь, Ты Е-ди-ный Все-выш-ний, И-и-сус Хрис-тос, со Свя-тым _ Ду-хом во сла-ве Бо - га От-ца. А-минь. 
        </div>
    </div>
</div>