<p>
    <b>Литург:</b> Слава в вышних Богу!
</p>
<div>
    <b>Приход:</b>
    <div class="music-sheet">
        <div id="gloria-abc" class="abcString" hidden>
M:4/4
L:1/4
K:F
z A A A | c2-A2 | G F G A | B2 A G | F2 E2 | F4 |]
w: И на зем-ле _ мир, и в~лю-дях бла-го-во-ле-ни-е.
            </div>
        <div id="gloria-paper" class="paper"></div>
        <div id="gloria-lyrics" class="lyrics">И на земле мир, и в людях благоволение.</div>
    </div>
</div>